{% extends 'page.html' %}

{% block canonical %}<meta name="robots" content="noindex,noarchive">{% endblock %}

{% block bodyclass %}narrow{% endblock %}

{% block content %}

{% load static %}

    <h1>{{ object }}</h1>

    <form>
        <input type="date" name="date" aria-label="Date" value="{{ date.isoformat }}">
        <input type="submit" value="Go">
    </form>

    <h2>{{ date }}</h2>

    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <th scope="col" colspan="3"></th>
                    <th scope="col">To</th>
                </tr>
            </thead>
            <tbody>

    {% for trip in trips %}
        <tr>
            <td>{{ trip.route.line_name }}</td>
            <td class="link">
                <a href="{{ trip.get_absolute_url }}">{{ trip }}</a>
            </td>
            <td>{{ trip.ticket_machine_code }}</td>
            <td>{{ trip.destination.locality }}</td>
            <td class="link">
                {% for j in trip.vehicle_journeys %}
                    <a href="{{ j.get_absolute_url }}">{{ j.vehicle }}</a>
                {% endfor %}
            </td>
        </tr>
    {% endfor %}

            </tbody>
        </table>
    </div>

    <p class="credit">Timetable data from {{ trip.route.source.credit }}</p>

{% endblock content %}
