{% extends 'page.html' %}

{% block content %}

<h1>{{ object }}</h1>

<p>{{ object.code }}</p>

<p><a href="{{ object.service.get_absolute_url }}">{{ object.service }}</a></p>

<ul class="bulleted">
{% for trip in trips %}
<li>
    {{ trip.start }} – {{ trip.end }}<br>
    {{ trip.calendar.start_date }} – {{ trip.calendar.end_date }}:<br>
    {% if trip.calendar.mon %}mon{% endif %}
    {% if trip.calendar.tue %}tue{% endif %}
    {% if trip.calendar.wed %}wed{% endif %}
    {% if trip.calendar.thu %}thu{% endif %}
    {% if trip.calendar.fri %}fri{% endif %}
    {% if trip.calendar.sat %}sat{% endif %}
    {% if trip.calendar.sun %}sun{% endif %}
    <ul class="bulleted">
    {% for d in trip.calendar.calendardate_set.all %}
        <li>{{ d.start_date }} - {{ d.end_date }}: {{ d.operation }}</li>
    {% endfor %}
    </ul>
</li>
{% endfor %}
</ul>

{% if timetable %}
    <form class="timetable-date">
        <select onchange="this.form.submit()" name="date" aria-label="Date">
            {% for option in timetable.date_options %}
                <option{% if option == timetable.date %} selected{% endif %} value="{{ option.isoformat }}">{{ option }}</option>
            {% endfor %}
        </select>
        <noscript><input type="submit" /></noscript>
    </form>

    {% for grouping in timetable.groupings %}

        {% if forloop.first != forloop.last %}<h2>{{ grouping }}</h2>{% endif %}

        <div class="timetable-wrapper-wrapper">
            {% if grouping.has_minor_stops %}
                <input type="checkbox" id="show-all-stops-{{ forloop.counter }}" />
                <label for="show-all-stops-{{ forloop.counter }}">Show all stops</label>
            {% endif %}
            <div class="timetable-wrapper">
                <table class="timetable">
                    <tbody>
                        {% for row in grouping.rows %}
                            <tr class="{{ row.timing_status }}">
                                <th>
                                    {% if row.stop.pk %}
                                        <a href="{{ row.stop.get_absolute_url }}">{{ row.stop.get_qualified_name }}</a>
                                    {% else %}{{ row.stop }}{% endif %}
                                </th>
                            {% for cell in row.times %}
                                {% if cell.colspan %}
                                    <td{% if grouping.heads or grouping.column_feet %} colspan="{{ cell.colspan }}"{% endif %} rowspan="{{ cell.rowspan }}">{{ cell }}</td>
                                {% else %}
                                    <td>{{ cell }}{% if not cell.last and cell.stoptime.activity == 'setDown' %}<abbr title="sets down only">s</abbr>{% endif %}</td>
                                {% endif %}
                            {% endfor %}
                            </tr>
                            {% if row.has_waittimes %}
                                <tr>
                                    <th>
                                        {% if row.part.stop.stop %}
                                            <a href="{{ row.part.stop.stop.get_absolute_url }}">{{ row.part.stop.stop.get_qualified_name }}</a>
                                        {% else %}
                                            {{ row.part.stop }}
                                        {% endif %}
                                    </th>
                                    {% for cell in row.times %}
                                        <td>{% if cell.wait_time or not cell.last %}{{ cell.departure_time }}{% endif %}</td>
                                    {% endfor %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {% if not forloop.last and grouping.rows|length > 20 %}
            <!--[if gte IE 9]><!-->
                <div class="banner-ad">
                    <div class="ad-label">Advertisement</div>
                    <ins class="adsbygoogle" data-ad-client="ca-pub-4420219114164200" data-ad-slot="5070920457" data-ad-format="horizontal"></ins>
                </div>
                <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
            <!--<![endif]-->
        {% endif %}

    {% empty %}
        <p>Sorry, no journeys found for {{ timetable.date }}</p>

        {% include 'route.html' %}
    {% endfor %}

    {% if timetable.has_set_down_only %}
        <p>Times marked <strong>s</strong> – “sets down only” – the {{ object.mode }} will only stop to drop passengers off</p>
    {% endif %}
{% endif %}

{% endblock %}
