{% extends 'page.html' %}

{% block title %}{{ object.route.line_name }} – bustimes.org{% endblock %}

{% block canonical %}<meta name="robots" content="noindex,noarchive">{% endblock %}

{% block head %}
    <style>
    .breadcrumb {
        border: 0;
    }

    @media (min-width: 48em) {
        main:has(#content + div) #content {
            height: calc(100vh - 146px);
            margin: 0;
        }

        footer ul {
            border: 0;
        }

        footer .user {
            display: none;
        }

        footer {
            bottom: 0;
            position: absolute;
            width: 100%;

        }
    }

    </style>
{% endblock %}

{% block bodyclass %}{% endblock %}

{% block content %}

    <div id="map">
        <div class="trip-map"></div>
    </div>

{% endblock %}

{% load static %}

{% block foot %}
    <script>
        window.STOPS = {{ stops_json }};
        {% if object.route.service.tracking %}
            window.SERVICE = {{ object.route.service_id }};
            window.TRIP_ID = {{ object.id }};
        {% endif %}
    </script>
    <link rel="stylesheet" href="{% static 'js/dist/app.css' %}">
    <script src="{% static 'js/dist/app.js' %}"></script>
    {% if object.route.service.tracking %}
        <link rel="stylesheet" href="/liveries.{{ liveries_css_version }}.css">
    {% endif %}
{% endblock %}
