{% extends 'page.html' %}

{% block title %}{{ object.route.service }} – bustimes.org{% endblock %}

{% block canonical %}<meta name="robots" content="noindex,noarchive">{% endblock %}

{% block bodyclass %}{% endblock %}

{% block content %}

<h2>{% for stop in stops %}{% if forloop.first or forloop.last %}{{ stop.stop.locality }}{% if forloop.first %} to {% endif %}{% endif %}{% endfor %}</h2>

<p>{{ trip.calendar }}</p>

{% for note in trip.notes_set.all %}
    <p>{{ note }}</p>
{% endfor %}

<table class="trip-timetable">
    <th></th><th>Timetable</th>
    <tbody>
{% for stop in stops %}
    {% if stop.arrival %}
        <tr{% if stop.is_minor %} class="minor"{% endif %}>
            <td><a href="{{ stop.stop.get_absolute_url }}">{{ stop.stop.get_qualified_name }}</a></td>
            <td>{{ stop.arrival_time }}</td>
        </tr>
    {% endif %}
    {% if stop.departure and stop.departure != stop.arrival %}
        <tr{% if stop.is_minor %} class="minor"{% endif %}>
            <td><a href="{{ stop.stop.get_absolute_url }}">{{ stop.stop.get_qualified_name }}</a></td>
            <td>{{ stop.departure_time }}</td>
        </tr>
    {% endif %}
{% endfor %}
</tbody>
</table>

{% if trip.garage %}
    <p>Depot: {{ trip.garage }}</p>
{% endif %}

<script>
    (function() {
        if (document.referrer.indexOf('/stops/') > -1) {
            var links = document.querySelectorAll('.trip-timetable a');
            links.forEach(function(link) {
                if (link.href === document.referrer) {
                    link.parentNode.parentNode.classList.add('referrer');
                }
            });
        }
    })();

</script>

{% endblock %}

{% block ad %}{% endblock %}
