{% extends 'page.html' %}

{% block title %}{% if not object.code %}Vehicles – {% endif %}{{ object }} – Bus Times{% endblock %}

{% block canonical %}<meta name="robots" content="noindex, nofollow" />{% endblock %}

{% block content %}

<h1>{{ object }}</h1>

{% if object.vehicle_type %}
    <p>{{ object.vehicle_type }}</p>
{% endif %}

{% if object.colours %}
    <p>{% if vehicle.colours %}<div class="bus" style="background:{{ vehicle.get_livery }}"></div>{% endif %}</p>
{% endif %}

{% if object.notes %}
    <p>{{ object.notes }}</p>
{% endif %}

<form>
    <p>
        <label>
            Date:
            <input type="date" name="date" value={{ date.isoformat }}>
        </label>
        <input type="submit" value="Show journeys">
    </p>
</form>

{% if journeys %}
    <table>
        <tr>
            <th scope="col">{% if object.region_id %}Vehicle{% else %}Service{% endif %}</th>
            <th scope="col" colspan="2">Journey</th>
            <th scope="col">To</th>
            <th scope="col"></th>
        </tr>
    {% for journey in journeys %}
        <tr>
            <td>
                {% if object.region_id %}
                    <a href="{{ journey.vehicle.get_absolute_url }}?date={{ journey.datetime|date:"Y-m-d" }}">{{ journey.vehicle }}</a>
                {% elif journey.service %}
                    <a href="{{ journey.service.get_absolute_url }}/vehicles?date={{ journey.datetime|date:"Y-m-d" }}">{{ journey.service.line_name }}</a>
                {% endif %}
            </td>
            <td>{{ journey.datetime|time }}</td>
            <td>{{ journey.code }}</td>
            <td>{{ journey.destination }}</td>
            <td>
                {% if journey.locations %}
                    <button data-journey-id="{{ journey.id }}">Show map</button>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>

    {% load static %}
    <link rel="stylesheet" href="/static/js/bower_components/leaflet/dist/leaflet.css" />
    <script src="/static/js/bower_components/leaflet/dist/leaflet.js"></script>
    <script src="/static/js/bower_components/reqwest/reqwest.min.js"></script>
    <script async src="{% static 'js/history.js' %}"></script>

{% else %}
    <p>Sorry, nothing found for {{ date }}</p>
{% endif %}

{% endblock %}

{% block ad %}{% endblock %}
