[run]
plugins =
    django_coverage_plugin
source =
    accounts
    api
    buses
    busstops
    bustimes
    departures
    disruptions
    timetables
    vehicles
    vosa
omit =
    busstops/migrations/*
    busstops/static/*
    buses/wsgi.py
