[run]
plugins =
    django_coverage_plugin
source =
    accounts
    api
    buses
    busstops
    bustimes
    departures
    disruptions
    fares
    transxchange
    vehicles
    vosa
omit =
    */migrations/*
    busstops/static/*
    buses/asgi.py
    buses/wsgi.py
