.git/
.parcel-cache/
.ruff-cache/
config/deploy.yml
data/
node_modules/
staticfiles/
.venv/
*.sql
fly.toml
dist
busstops/management/tests/fixtures/
bustimes/management/tests/fixtures/
fares/data/
fixtures/vcr/
