.DS_Store
.metadata_never_index
*.pyc
config/gunicorn.py
data/TNDS/*.zip
data/*.zip
data/*.xml
data/Arriva UK Bus_*
data/Lynx_*
data/trentbarton_*
data/*.csv
data/NPTG
node_modules
htmlcov
.env
.coverage
slim-bustimes.sql
