.DS_Store
.metadata_never_index
*.pyc
config/gunicorn.py
data/TNDS/*.zip
data/*.zip
data/bod
data/journeys
data/ticketer/*.zip
data/gtfs/*.zip
data/*.xml
data/*_*_*_*
data/*.csv
data/NPTG
node_modules
htmlcov
busstops/static/css/*.css
busstops/static/css/*.css.map
.env
.coverage
slim-bustimes.sql
.idea
