.DS_Store
.metadata_never_index
*.pyc
/data
/node_modules/
/staticfiles/
/busstops/static/js/dist
/busstops/static/css/*.css
/busstops/static/css/*.css.map
/.env
/.coverage
/slim-bustimes.sql
/.idea
dist/

/manage.sh
/credentials.sh

# Sentry Auth Token
.env.sentry-build-plugin
