exclude: (\.xml$|\/migrations\/)

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.9.2
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/adamchainz/djade-pre-commit
    rev: "1.3.2"
    hooks:
      - id: djade
        args: [--target-version, "5.1"] # Django version

  - repo: https://github.com/biomejs/pre-commit
    rev: v0.6.1
    hooks:
      - id: biome-check
        additional_dependencies:
          - '@biomejs/biome@1.9.4'
        files: frontend
        exclude: ^frontend/js/(maps|bigmap-classic).js$
        args: ['--unsafe']
