[[source]]
url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true

[packages]
"beautifulsoup4" = "*"
"ciso8601" = "*"
django = "*"
django-email-obfuscator = "*"
django-haystack = "*"
django-pipeline = "*"
lxml = "*"
ddtrace = "*"
django-template-minifier = "*"
elasticsearch = ">=2.0.0,<3.0.0"
gunicorn = "*"
python-memcached = "*"
setproctitle = "*"
raven = "*"
multigtfs = "*"
requests = "*"
titlecase = "*"
uk-postcode-utils = "*"
python-dateutil = "*"
"psycopg2-binary" = "*"
requests-html = "*"
django-antispam = {git = "https://github.com/mixkorshun/django-antispam",editable = true}
django-autoslug = {git = "https://github.com/justinmayer/django-autoslug",editable = true}
websockets = "*"
isodate = "*"
webcolors = "*"

[dev-packages]
django-debug-toolbar = "*"
"flake8" = "*"
freezegun = "*"
vcrpy = "*"
mock = "*"
coveralls = "*"
coverage = "*"
django-coverage-plugin = "*"
ipython = "*"
