[[source]]
url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true

[packages]
"beautifulsoup4" = "*"
"ciso8601" = "*"
django = "*"
django-email-obfuscator = "*"
lxml = "*"
django-template-minifier = "*"
gunicorn = "*"
python-memcached = "*"
setproctitle = "*"
requests = "*"
titlecase = "*"
uk-postcode-utils = "*"
python-dateutil = "*"
"psycopg2-binary" = "*"
requests-html = "*"
django-antispam = ">=1.0.3"
django-autoslug = "*"
websockets = "*"
isodate = "*"
webcolors = "*"
sentry-sdk = "*"
gtfs-realtime-bindings = "*"
# django-multidb-router = "*"
celery = {extras = ["redis"],version = "*"}
requests-toolbelt = "*"
pyyaml = "*"
asgiref = "*"
polyline = "*"
pid = "*"
xmltodict = "*"
channels = "*"
channels-redis = "*"

[dev-packages]
django-debug-toolbar = "*"
django-debug-toolbar-force = "*"
"flake8" = "*"
freezegun = "*"
pytest-django = "*"
pytest-asyncio = "*"
vcrpy = "*"
mock = "*"
coverage = "*"
django-coverage-plugin = "*"
django-slowtests = "*"
ipython = "*"
