beautifulsoup4==4.6.0
Django==1.11.7
django-autoslug==1.9.3
django-email-obfuscator==0.1.5
django-haystack==2.6.1
django-pipeline==1.6.13
lxml==4.1.1
multigtfs==1.1.1
psycopg2==2.7.3.2
python-dateutil==2.6.1
pytz==2017.3
raven==6.3.0
requests==2.18.4
titlecase==0.12.0
