beautifulsoup4==4.5.3
Django==1.10.6
django-email-obfuscator==0.1.5
git+https://github.com/django-haystack/django-haystack@master
django-pipeline==1.6.11
lxml==3.7.3
psycopg2==2.7
python-dateutil==2.6.0
pytz==2016.10
raven==6.0.0
requests==2.13.0
titlecase==0.8.2
