beautifulsoup4==4.5.1
Django==1.10.3
django-email-obfuscator==0.1.4
django-haystack==2.5.1
django-pipeline==1.6.9
lxml==3.6.4
psycopg2==2.6.2
python-dateutil==2.6.0
pytz==2016.7
requests==2.11.1
titlecase==0.8.1
