{% extends 'page.html' %}

{% block title %}Vehicle tracking report – bustimes.org{% endblock %}

{% block canonical %}{% endblock %}

{% block content %}

<h1>Vehicle tracking report</h1>

<p>This list lists bus operators and their services for which live vehicle tracking has been available in the last 7 days.</p>

<p>Some services (marked *) only track when someone is viewing the map and timetable page for that service.</p>

{% for operator in operators %}
    <details>
        <summary>{{ operator }}</summary>

        <table>
            <thead>
                <tr>
                    <th>Service</th>
                    <th>Tracking?</th>
                </tr>
            </thead>
            <tbody>
                {% for service in operator.service_set.all %}
                    <tr>
                        <td><a href="{{ service.get_absolute_url }}">{{ service }}</a></td>
                        <td>
                            {% if service.tracking %}
                                <a href="{{ service.get_absolute_url }}/vehicles">Yes</a>{% if not service.full_tracking %}*{% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </details>
{% endfor %}

{% endblock %}

{% block ad %}{% endblock %}
