{% extends 'page.html' %}

{% block title %}Debugger – bustimes.org{% endblock %}

{% block canonical %}<meta name="robots" content="noindex,noarchive">{% endblock %}

{% block bodyclass %}{% endblock %}

{% block content %}

<h1>Debuggerer</h1>

<form method="POST">
    {{ form.as_p }}

    {% csrf_token %}

    <input type="submit">
</form>

{% if result %}
    <p>Vehicle: <a href="{{ result.vehicle.get_absolute_url }}">{{ result.vehicle }}</a></p>
    <p>Journey: {{ result.journey }}
    <p>Service: {{ result.journey.service }}
    <p>Trip: {{ result.journey.trip }}
    <table>
        <thead><th scope="col">SQL</th><th scope="col">Time</th></thead>
        <tbody>
        {% for query in result.queries %}
            <tr><td><code>{{ query.sql }}</code></td><td>{{ query.time }}</td></tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

{% endblock content %}
