{% extends 'page.html' %}

{% block title %}{% if not vehicle %}Vehicles – {% endif %}{{ object }} – Bus Times{% endblock %}

{% block bodyclass %}narrow{% endblock %}

{% block canonical %}
    {% if object.get_absolute_url %}
        <link rel="canonical" href="https://bustimes.org{{ object.get_absolute_url }}{% if not vehicle %}/vehicles{% endif %}" />
    {% endif %}
{% endblock %}

{% block content %}

<h1>{{ object }}</h1>

{% if vehicle %}
    {% if vehicle.vehicle_type %}
        <p>{{ vehicle.vehicle_type }}</p>
    {% endif %}

    {% if vehicle.colours or vehicle.livery %}
        <div class="livery" style="background:{{ vehicle.get_livery }}"></div>
        {% if vehicle.livery %}{{ vehicle.livery }}{% endif %}
    {% endif %}

    {% if vehicle.branding %}
        <p>{{ vehicle.branding }}</p>
    {% endif %}

    {% if vehicle.name %}
        <p>{{ vehicle.name }}</p>
    {% endif %}

    {% if vehicle.notes %}
        <p>{{ vehicle.notes }}</p>
    {% endif %}

    {% for feature in vehicle.features.all %}
        <p>{{ feature }}</p>
    {% endfor %}

    <p><a class="button" href="{{ vehicle.get_absolute_url }}/edit">Edit</a>{% if vehicle.vehicleedit_set.exists %}*{% endif %}</p>

    <p>{{ vehicle.get_flickr_link }}</p>
{% endif %}

{% if date %}

    <p>
        <form class="timetable-date">
            <select onchange="this.form.submit()" name="date" aria-label="Date">
                {% for option in dates %}
                    <option{% if option == date %} selected{% endif %} value="{{ option.isoformat }}">{{ option }}</option>
                {% endfor %}
            </select>
            <noscript><input type="submit" /></noscript>
        </form>
    </p>

    {% if journeys %}
        <table>
            <thead>
                <tr>
                    <th scope="col">{% if not vehicle %}Vehicle{% else %}Service{% endif %}</th>
                    <th scope="col">Journey</th>
                    <th scope="col">To</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for journey in journeys %}
                    <tr>
                        <td>
                            {% if not vehicle %}
                                <a href="{{ journey.vehicle.get_absolute_url }}?date={{ journey.datetime|date:'Y-m-d' }}">{{ journey.vehicle }}</a>
                            {% elif journey.service %}
                                <a href="{{ journey.service.get_absolute_url }}/vehicles?date={{ journey.datetime|date:'Y-m-d' }}">{{ journey.service.get_line_name_and_brand }}</a>
                            {% elif journey.route_name  %}
                                <a href="{{ vehicle.operator.get_absolute_url }}/services/{{ journey.route_name }}/vehicles?date={{ journey.datetime|date:'Y-m-d' }}">{{ journey.route_name }}</a>
                            {% endif %}
                        </td>
                        <td>{{ journey.datetime|time }}</td>
                        <td>{{ journey.destination }}</td>
                        <td>
                            {% if journey.calls %}
                                <a href="{{ journey.get_absolute_url }}">Times</a>
                            {% elif journey.locations %}
                                <button data-journey-id="{{ journey.id }}">Map</button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% load static %}
        <link rel="stylesheet" href="{% static 'js/leaflet/leaflet.css' %}" />
        <script src="{% static 'js/leaflet/leaflet.js' %}"></script>
        <script src="{% static 'js/reqwest.min.js' %}"></script>
        <script async src="{% static 'js/history.js' %}"></script>
    {% endif %}

{% endif %}

{% if previous %}
    <p class="previous"><a href="{{ previous.get_absolute_url }}">&larr; {{ previous }}</a></p>
{% endif %}

{% if next %}
    <p class="next"><a href="{{ next.get_absolute_url }}">{{ next }} &rarr;</a></p>
{% endif %}

{% endblock %}

{% block ad %}{% endblock %}
