{% extends 'page.html' %}

{% block title %}{% if not vehicle %}Vehicles – {% endif %}{{ object }}{% if vehicle.operator %} – {{ vehicle.operator }}{% endif %} – bustimes.org{% endblock %}

{% block bodyclass %}narrow{% endblock %}

{% block content %}

<h1>{{ object }}</h1>

{% if vehicle %}
    {% if vehicle.vehicle_type %}
        <p>{{ vehicle.vehicle_type }}</p>
    {% endif %}

    {% if vehicle.colours and vehicle.colours != 'Other' or vehicle.livery %}
        <div class="livery" style="background:{{ vehicle.get_livery }}"></div>
        {% if vehicle.livery and vehicle.branding != 'None' %}{{ vehicle.livery }}{% endif %}
    {% endif %}

    {% if vehicle.branding and vehicle.branding != 'None' %}
        <p>Branding: {{ vehicle.branding }}</p>
    {% endif %}

    {% if vehicle.name %}
        <p>Name: {{ vehicle.name }}</p>
    {% endif %}

    {% if vehicle.notes %}
        <p>{{ vehicle.notes }}</p>
    {% endif %}

    {% for key, value in vehicle.data_get %}
        {% if value %}
            <p>{{ key }}: {{ value }}</p>
        {% endif %}
    {% endfor %}

    {% if vehicle.features.all %}
        <p>Features: {{ vehicle.features.all|join:", " }}</p>
    {% endif %}

    {% if garage %}
        <p>{{ garage }}</p>
    {% endif %}

    {% if vehicle.editable %}
        <ul class="horizontal">
            <li><a href="{{ vehicle.get_absolute_url }}/edit">Edit{% if pending_edits %}<abbr title="pending edits">*</abbr>{% endif %}</a></li>
            {% if vehicle.vehiclerevision_set.exists %}
                <li><a href="{{ vehicle.get_absolute_url }}/history">History</a></li>
            {% endif %}
            <li>{{ vehicle.get_flickr_link }}</li>
        </ul>
    {% endif %}
{% else %}
    {% if garages %}
        <p>{% for garage in garages %}{{ garage }}{% if not forloop.last %}/{% endif %}{% endfor %}</p>
    {% endif %}

    <ul class="tabs">
        <li><a href="{{ object.get_absolute_url }}">Timetable</a></li>
        <li>Vehicles</li>
    </ul>
{% endif %}

{% if date %}

    <form class="timetable-date">
        <select onchange="this.form.submit()" name="date" id="date" aria-label="Date">
            {% for option in dates %}
                <option{% if option == date %} selected{% endif %} value="{{ option.isoformat }}">{{ option }}</option>
            {% endfor %}
        </select>
        <noscript><input type="submit"></noscript>
    </form>

    {% if journeys %}
        <div class="table-wrapper">
        <table{% if not vehicle %} class="sortable"{% endif %}>
            <thead>
                <tr>
                    <th scope="col">{% if not vehicle %}Vehicle{% else %}Service{% endif %}</th>
                    {% if block_column %}<th scope="col">Block</th>{% endif %}
                    <th scope="col" colspan="2">Journey</th>
                    <th scope="col">To</th>
                </tr>
            </thead>
            <tbody>
                {% for journey in journeys %}
                    <tr>
                        <td>
                            {% if not vehicle %}
                                <a href="{{ journey.vehicle.get_absolute_url }}?date={{ journey.datetime|date:'Y-m-d' }}">{{ journey.vehicle }}</a>
                            {% elif journey.service %}
                                <a href="{{ journey.service.get_absolute_url }}/vehicles?date={{ journey.datetime|date:'Y-m-d' }}">{{ journey.service.get_line_name_and_brand }}</a>
                            {% else %}
                                {{ journey.route_name }}
                            {% endif %}
                        </td>
                        {% if block_column %}<td>{% if journey.block %}{{ journey.block }}{% endif %}</td>{% endif %}
                        {% if journey.trip %}
                            <td colspan="2"><a href="{{ journey.trip.get_absolute_url }}">{{ journey.trip.start_time }}</a></td>
                        {% elif journey.code and journey.code|length < 40 and '_' not in journey.code %}
                            <td>{{ journey.datetime|time }}</td>
                            <td>{{ journey.code }}</td>
                        {% else %}
                            <td colspan="2">{{ journey.datetime|time }}</td>
                        {% endif %}
                        <td>{% firstof journey.destination journey.direction %}</td>
                        {% if journey.locations %}
                            <td><a href="#journeys/{{ journey.id }}">Map</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>

        {% for journey in journeys %}
            {% if journey.locations %}
                <div class="journey" id="journeys/{{ journey.id }}"{% if journey.trip_id %} data-trip="{{ journey.trip_id }}"{% endif %}>
                    <div class="details">
                        <a class="button" href="#">Close</a>
                        <p>{% if not vehicle %}
                                {{ journey.vehicle }}{% else %}{% firstof journey.service.get_line_name_and_brand journey.route_name %}
                            {% endif %} – {{ journey.datetime|time }}
                            {% if journey.destination %} to {{ journey.destination }}{% endif %}
                        </p>
                        {% if journey.previous %}
                            <p class="previous"><a href="#journeys/{{ journey.previous.id }}">&larr; {{ journey.previous.datetime|time }}</a></p>
                        {% endif %}
                        {% if journey.next %}
                            <p class="next"><a href="#journeys/{{ journey.next.id }}">{{ journey.next.datetime|time }} &rarr;</a></p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

{% endif %}

{% if next or previous %}
    <nav>
        {% if previous %}
            <p class="previous"><a href="{{ previous.get_absolute_url }}">&larr; {{ previous }}</a></p>
        {% endif %}

        {% if next %}
            <p class="next"><a href="{{ next.get_absolute_url }}">{{ next }} &rarr;</a></p>
        {% endif %}
    </nav>
{% endif %}

{% endblock %}

{% block ad %}{% endblock %}

{% block foot %}
    {% load static %}
    {% if not vehicle %}
        <script src="{% static 'js/sorttable.js' %}"></script>
    {% endif %}
    {% if journeys %}
        <link rel="stylesheet" href="{% static 'js/leaflet/leaflet.css' %}">
        <script src="{% static 'js/leaflet/leaflet.js' %}"></script>
        <script src="{% static 'js/leaflet.locatecontrol/L.Control.Locate.min.js' %}"></script>
        <script src="{% static 'js/reqwest.min.js' %}"></script>
        <script src="{% static 'js/maps.js' %}"></script>
        <script async src="{% static 'js/history.js' %}"></script>
    {% endif %}
{% endblock %}
