interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://www.gov.uk/bank-holidays.json
    response:
      body:
        string:
          "{\"england-and-wales\":{\"division\":\"england-and-wales\",\"events\"\
          :[{\"title\":\"New Year\u2019s Day\",\"date\":\"2019-01-01\",\"notes\":\"\"\
          ,\"bunting\":true},{\"title\":\"Good Friday\",\"date\":\"2019-04-19\",\"notes\"\
          :\"\",\"bunting\":false},{\"title\":\"Easter Monday\",\"date\":\"2019-04-22\"\
          ,\"notes\":\"\",\"bunting\":true},{\"title\":\"Early May bank holiday\",\"\
          date\":\"2019-05-06\",\"notes\":\"\",\"bunting\":true},{\"title\":\"Spring\
          \ bank holiday\",\"date\":\"2019-05-27\",\"notes\":\"\",\"bunting\":true},{\"\
          title\":\"Summer bank holiday\",\"date\":\"2019-08-26\",\"notes\":\"\",\[...]
