interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://data.bus-data.dft.gov.uk/api/v1/dataset/?api_key=0123456789abc19abc190123456789abc19abc19&status=published&limit=100&noc=LYNX
  response:
    body:
      string: '{"count":1,"next":null,"previous":null,"results":[{"id":35,"created":"2020-02-14T11:01:53.572735Z","modified":"2020-04-01T15:14:24.912585+01:00","operatorName":"Lynx","noc":["LYNX"],"name":"Lynx_Clenchwarton_54_20200330","description":"Service
        54 (King''s Lynn to The Walpoles)","comment":"Revised timetable due to COVID-19
        outbreak","status":"published","url":"https://data.bus-data.dft.gov.uk/category/dataset/35/download/","lines":["54"],"firstStartDate":"2020-03-30T00:00:00+01:00","firstEndDate":null,"lastEndDate":null,"adminAreas":[{"atco_code":"290","name":"Norfolk"}],"localities":[{"gazetteer_id":"E0048538","name":"Clenchwarton"},{"gazetteer_id":"E0017891","name":"Hay
        Green"},{"gazetteer_id":"E0017902","name":"Kings Lynn"},{"gazetteer_id":"E0017942","name":"Shepherds
        Gate"},{"gazetteer_id":"E0017948","name":"South Lynn"},{"gazetteer_id":"E0048602","name":"Tilney
        All Saints"},{"gazetteer_id":"E0048608","name":"Walpole Cross Keys"},{"gazetteer_id":"E0017987","name":"Walpole
        St Andrew"},{"gazetteer_id":"E0017988","name":"Walpole St Peter"},{"gazetteer_id":"E0017996","name":"West
        Lynn"}]}]}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://data.bus-data.dft.gov.uk/category/dataset/35/download/
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<TransXChange\
        \ xmlns=\"http://www.transxchange.org.uk/\" xmlns:ns2=\"http://www.govtalk.gov.uk/people/bs7666\"\
        \ xmlns:ns3=\"http://www.govtalk.gov.uk/people/AddressAndPersonalDetails\"\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" LocationSystem=\"\
        Grid\" RegistrationDocument=\"true\" xml:lang=\"en\" CreationDateTime=\"2020-03-31T14:44:54+01:00\"\
        \ ModificationDateTime=\"2020-03-31T14:44:54+01:00\" Modification=\"revise\"\
        \ RevisionNumber=\"18\" FileName=\"54_CO_54_20200330.xml\" SchemaVersion=\"\
        2.1\" MappingSystem=\"TOID\" xsi:schemaLocation=\"http://www.transxchange.org.uk/\
        \ http://www.transxchange.org.uk/schema/2.1/TransXChange_registration.xsd\"\
        >\n    <StopPoints>\n        <AnnotatedStopPointRef>\n            <StopPointRef>2900C181</StopPointRef>\n\
        \            <CommonName>school</CommonName>\n            <Indicator>opp</Indicator>\n\
        \            <LocalityName>Clenchwarton</LocalityName>\n        </AnnotatedStopPointRef>\n\
        \        <AnnotatedStopPointRef>\n            <StopPointRef>2900C1810</StopPointRef>\n\
        \            <CommonName>Ferry Road</CommonName>\n            <Indicator>adj</Indicator>\n\
        \            <LocalityName>Clenchwarton</LocalityName>\n        </AnnotatedStopPointRef>\n\
        \        <AnnotatedStopPointRef>\n            <StopPointRef>2900C1811</StopPointRef>\n\
        \            <CommonName>Ferry Road[...]
[...]
