interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.opendatani.gov.uk/api/3/action/package_show?id=ulsterbus-and-goldline-timetable-data-from-08-11-2023
  response:
    body:
      string: '{"help": "https://www.opendatani.gov.uk/api/3/action/help_show?name=package_show",
        "success": true, "result": {"license_title": "UK Open Government Licence",
        "maintainer": null, "relationships_as_object": [], "private": false, "maintainer_email":
        null, "num_tags": 5, "frequency": "irregular", "contact_name": "Open Data
        Translink", "additional_info": "Additional information to the data files has
        been supplied in a separate document entitled __''Additional Information''__.
        This mainly refers to exceptions - e.g. validity dates for journeys highlighted
        as public holidays or school holidays and information about through services
        and guaranteed connections. ", "metadata_created": "2016-06-28T07:49:51.516946",
        "metadata_modified": "2021-07-01T09:11:19.793130", "author": null, "author_email":
        null, "id": "c1acee5b-a400-46bd-a795-9bf7637ff879", "state": "active", "version":
        null, "license_id": "uk-ogl", "type": "dataset", "resources": [{"mimetype":
        null, "cache_url": null, "hash": "", "description": "This is a common interface
        file of Ulsterbus and Goldline Timetable information - ATCO.cif. The ATCO
        specification is a standard used widely within the Public Transport Industry.",
        "name": "Ulsterbus Timetables", "format": "ATCO.CIF", "url": "https://www.opendatani.gov.uk/dataset/c1acee5b-a400-46bd-a795-9bf7637ff879/resource/291cbb54-7bb3-4df7-8599-0c8f49a20be6/download/ulb--goldline-opendata.zip",
        "datastore_active": false, "cache_last_updated": null, "package_id": "c1acee5b-a400-46bd-a795-9bf7637ff879",
        "created": "2016-09-26T08:42:41.817605", "state": "active", "mimetype_inner":
        null, "last_modified": "2020-12-10T16:12:51.334368", "position": 0, "revision_id":
        "cc66900c-6df3-4678-8be0-bfaf3b72383e", "url_type": "upload", "id": "291cbb54-7bb3-4df7-8599-0c8f49a20be6",
        "resource_type": null, "size": null}, {"mimetype": null, "cache_url": null,
        "hash": "", "description": "Ulsterbus Timetable valid from 01 July 2021",
        "name": "Ulsterbus Timetables valid from 01 July 2021", "format": "ATCO.CIF",
        "url": "https://www.opendatani.gov.uk/dataset/c1acee5b-a400-46bd-a795-9bf7637ff879/resource/6c040b78-9fbe-439f-b359-38fb21c882ca/download/ulsterbus--goldline.zip",
        "datastore_active": false, "cache_last_updated": null, "package_id": "c1acee5b-a400-46bd-a795-9bf7637ff879[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.opendatani.gov.uk/api/3/action/package_show?id=metro-timetable-data-valid-from-18-june-until-31-august-2016
  response:
    body:
      string: '{"help": "https://www.opendatani.gov.uk/api/3/action/help_show?name=package_show",
        "success": true, "result": {"license_title": "UK Open Government Licence",
        "maintainer": null, "relationships_as_object": [], "private": false, "maintainer_email":
        null, [...]
