interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.unilinkbus.co.uk/open-data
  response:
    body:
      string: "<!DOCTYPE html>\n<html class=\"no-js\">\n    <head>\n        <title>Our
        Data</title>\n\n        <!-- _31C926B6_ -->\n<meta charset=\"UTF-8\" /><script
        type=\"text/javascript\">(window.NREUM||(NREUM={})).loader_config={licenseKey:\"b9a63eed5e\",applicationID:\"143057620\"};window.NREUM||(NREUM={}),__nr_require=function(e,n,t){function
        r(t){if(!n[t]){var i=n[t]={exports:{}};e[t][0].call(i.exports,function(n){var
        i=e[t][1][n];return r(i||n)},i,i.exports)}return n[t].exports}if(\"function\"==typeof
        __nr_require)return __nr_require;for(var i=0;i<t.length;i++)r(t[i]);return
        r}({1:[f[...]
