interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://data.discoverpassenger.com/operator/unilink
  response:
    body:
      string: "<!doctype html>\n<!--[if lt IE 9]><html class=\"no-js ie lt-ie9 lt-ie8
        lt-ie7\" lang=\"en-GB\"> <![endif]-->\n<!--[if IE 9]><html class=\"no-js ie
        ie9 lt-ie9 lt-ie8\" lang=\"en-GB\"> <![endif]-->\n<!--[if gt IE 9]><!--><html
        class=\"no-js\" lang=\"en-GB\"> <!--<![endif]-->\n    <head>\n                <!--
        _31C926B6_ -->\n        <meta charset=\"UTF-8\">\n        <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1\">\n        <title>\n            Open
        data from Unilink - Passenger Open Data Hub        </title>\n        <link
        rel=\"apple-touch-icon\" sizes=\"180x180\" href=\"/build/images/favicon/apple-touch-icon.37a02611.png\">\n
        \       <link rel=\"icon\" type=\"image/png\" sizes=\"32x32\" href=\"/build/images/favicon/favicon-32x32.65f6481c.png\">\n
        \       <link rel=\"icon\" type=\"image/png\" sizes=\"16x16\" href=\"/build/images/favicon/favicon-16x16.2f7f9e56.png\">\n
        \       <link rel=\"mask-icon\" href=\"/build/images/favicon/safari-pinned-tab.cd71fae7.svg\"
        color=\"#20303b\">\n        <link href=\"https://fonts.googleapis.com/css?family=Merriweather:300,400,700%7CRoboto:400,400i,700,700i&display=fallback\"
        rel=\"stylesheet\">\n        <script>document.documentElement.className =
        document.documentElement.className.replace(\"no-js\",\"js\");</script>\n        <meta
        name=\"theme-color\" content=\"#20303b\">\n                <link rel=\"stylesheet\"
        href=\"/build/app.a459bda2.css\" integrity=\"sha384-wOS6bKHjJ758SPFegMufXaKcRHCNTQnQDpeuXc+d5EoHZUFK3zTgVW14q4bRgvjL\">\n
        \       \n        <meta property=\"og:site_name\" content=\"Open data from
        Passenger\">\n        <meta property=\"og:type\" content=\"website\">\n        <meta
        property=\"og:image\" content=\"http://data.discoverpassenger.com/build/images/opengraph.19a90345.png\">\n
        \           <meta property=\"og:title\" content=\"Open data from Unilink\">\n
        \   <meta property=\"og:url\" content=\"http://data.discoverpassenger.com/operator/unilink\">\n
        \   <meta property=\"og:description\" content=\"Download open data from Unilink,
        used across their digital services.\">\n    </head>\n    <body class=\"body--operator\">\n
        \       <a class=\"sr-only sr-only-focusable\" href=\"#content\">Skip to content</a>\n
        \       <header id=\"header\">\n            <!--[if lt IE 9]> <div class=\"alert
        alert-danger mb-0\"> <strong>Warning!</strong> You're using an older, unsupported
        browser, which means your experience using this site will be limited. <a href=\"https://browsehappy.com/\"
        class=\"text-success\"\n            target=\"_blank\">See suggested browsers</a>.
        </div> <![endif]-->\n\n                <div class=\"billboard-wrapper billboard-wrapper--normal\">\n
        \   <div class=\"billboard-wrapper__background\"></div>\n\n    <nav class=\"navbar
        navbar-expand\">\n    <div class=\"container\">\n        <a class=\"navbar-brand\"
        href=\"https://www.discoverpassenger.com/\"><span class=\"sr-only\">Passenger</span></a>\n
        \       <ul class=\"navbar-nav\">\n                    </ul>\n    </div>\n</nav>\n\n
        \   <div class=\"billboard\">\n        <div class=\"billboard-nav-spacer\"></div>\n
        \       <div class=\"container billboard__container\">\n                        <div
        class=\"row\">\n                <div class=\"col-lg-8\">\n                    <h1
        class=\"display-1\"><strong>Open data</strong> from Unilink</h1>\n                </div>\n
        \           </div>\n                </div>\n    </div>\n</div>\n        </header>\n
        \               <section id=\"content\" role=\"main\" class=\"content-wrapper\">\n
        \           <div class=\"container\">\n                    <div class=\"row\">\n
        \       <div class=\"col-lg order-lg-1\">\n            <div class=\"after-billboard-content\">\n
        \               <div class=\"card-ticket card-ticket--normal\">\n    <div
        class=\"card-ticket__wrap\">\n        <div class=\"card-ticket__content\">\n
        \                                                                                       <div\n
        \                               class=\"operator-preview__logo mb-4\"\n                                style=\"background-image:
        url(/build/images/tenants/unilink.40cc6992.svg);\"\n                            >\n
        \                           </div>\n                                                <div
        class=\"prose\">\n                            <h2 class=\"h3\">Background</h2>\n
        \                           <p>Welcome to our open data portal, where you
        can download the source data that we use in operator digital services. 'Open
        data' is data that has been made available to the public, for personal, educational
        or commercial use.</p>\n\n                            <p>The data on this
        page is updated automatically when Unilink updates Passenger Cloud, our digital
        service platform, for example when they make a change to their timetables
        or network. Downloads are currently available as either .CSV or .XML files.</p>\n\n
        \                           <p>If you have any questions about the data, please
        drop us a line at <a href=\"/cdn-cgi/l/email-protection#761e131a06360617050513181113040213171b5815191b\"><span
        class=\"__cf_email__\" data-cfemail=\"acc4c9c0dcecdccddfdfc9c2cbc9ded8c9cdc182cfc3c1\">[email&#160;protected]</span></a>.</p>\n
        \                       </div>\n                            </div>\n    </div>\n
        \   <div class=\"card-ticket__stub\"></div>\n</div>\n            </div>\n
        \       </div>\n        <div class=\"col-lg-8 prose mt-3\">\n                <h2
        class=\"h3\">Network Data</h2>\n\n    <ul>\n        <li>Describes the network
        in terms of stops, lines, journeys, and schedules.</li>\n        <li>Used
        to generate timetable information, and used in journey planning.</li>\n                    <li>Available
        in two different formats, TXC (xml or zip) and GTFS.</li>\n            </ul>\n\n
        \   <h3 class=\"h5\">Current Data (2022-03-27 to 2022-04-24)</h3>\n    <p>\n
        \                   <a class=\"btn btn-rounded btn--empty mb-2\" href=\"/operator/unilink/dataset/current/download/txc\"
        title=\"unilink_1648047602\">Download TransXChange</a>\n        \n                    <a
        class=\"btn btn-rounded btn--empty mb-2\" href=\"/operator/unilink/dataset/current/download/gtfs\"
        title=\"unilink_1648047602\">Download GTFS</a>\n            </p>\n\n                      [...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://data.discoverpassenger.com/operator/unilink/dataset/current/download/txc
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - https://s3-eu-west-1.amazonaws.com/passenger-sources/unilink/txc/unilink_1648047602.zip
    status:
      code: 302
      message: Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://s3-eu-west-1.amazonaws.com/passenger-sources/unilink/txc/unilink_1648047602.zip
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/zip
      ETag:
      - '"19401caab7c81f6087bba98caedd6746"'
      Last-Modified:
      - Wed, 23 Mar 2022 15:01:36 GMT
      x-amz-request-id:
      - F5X05B64K9YC6758
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://s3-eu-west-1.amazonaws.com/passenger-sources/unilink/txc/unilink_1648047686.zip
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/zip
      ETag:
      - '"19401caab7c81f6087bba98caedd6746"'
      Last-Modified:
      - Wed, 23 Mar 2022 15:01:36 GMT
      x-amz-request-id:
      - ZE8T26P37NFBY5J0
    status:
      code: 200
      message: OK
version: 1
