{% include 'header.html' %}

<div id="breadcrumb">
    <a href="/">Home</a>
    ›
    <a href="{{ adminarea.region.get_absolute_url }}">{{ adminarea.region }}</a>
    ›
</div>

<h1>{{ adminarea }}</h1>

{% if districts %}
    <h2>Districts in {{ adminarea }}</h2>

    <ul class="long">
    {% for d in districts %}
        <li><a href="{{ d.get_absolute_url }}">{{ d }}</a></li>
    {% endfor %}
    </ul>
{% endif %}


{% if localities %}
    <h2>Localities in {{ adminarea }}</h2>

    <ul class="long">
    {% for l in localities %}
        <li><a href="{{ l.get_absolute_url }}">{{ l }}</a></li>
    {% endfor %}
    </ul>
{% endif %}

{% if stops %}
    <h2>Stops in {{ adminarea }}</h2>

    <ul class="long">
    {% for s in stops %}
        <li><a href="{{ s.get_absolute_url }}">{{ s }}</a></li>
    {% endfor %}
    </ul>
{% endif %}

{% include 'footer.html' %}
