{% extends 'page.html' %}

{% block title %}Timetable sources{% endblock %}

{% block canonical %}<meta name="robots" content="noindex,noarchive">{% endblock %}

{% block bodyclass %}{% endblock %}

{% block content %}

<style>
    table {
        table-layout: fixed;
        width: 100%;
    }

    .routes {
        width: 60px;
    }

    td {
        overflow: hidden;
    }
</style>

<h1>Timetable data sources</h1>

<p>The "L" and "GB" datasets are downloaded from<br><code>https://tfl.gov.uk/tfl/syndication/feeds/journey-planner-timetables.zip</code><br>and<br><code>http://www.basemap.co.uk/data/NCSD/NCSD.zip</code><br>respectively,<br>not from the TNDS FTP site</p>

<p>Compare to the <a href="https://www.travelinedata.org.uk/traveline-open-data/data-reporting/">Traveline data reporting page</a></p>

<table>
    <thead>
        <th scope="col">dataset</th>
        <th scope="col">url</th>
        <th scope="col" class="routes">routes</th>
        <th scope="col">updated</th>
    </thead>
    <tbody>
    {% for object in object_list %}
        <tr>
            <td class="link nowrap"><a href="/sources/{{ object.id }}">{{ object }}</a></td>
            <td class="nowrap">
                {% if ".bus-data.dft." in object.url %}
                    👑
                    {{ object.get_nice_url|urlize }}
                {% else %}
                    {% if ".transportforireland." in object.url %}
                        🇮🇪
                    {% endif %}
                    {{ object.url|urlize }}
                {% endif %}
            </td>
            <td class="link"><a href="/sources/{{ object.id }}">{{ object.routes }}</a></td>
            <td>{{ object.datetime }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock content %}
