{% include 'header.html' %}

<h1>{{ locality }}</h1>

{% if localities %}

<h2>Localities in {{ locality }}</h2>

<ul>
{% for l in localities %}
    <li><a href="{{ l.get_absolute_url }}">{{ l }}</a></li>
{% endfor %}
</ul>

{% endif %}

<h2>Stops in {{ locality }}</h2>

<div id="map"></div>

<ul>
{% for stop in stops %}
    <li itemscope itemtype="https://schema.org/BusStop">
        <a href="{{ stop.get_absolute_url }}">
            <span itemprop="name">{{ stop }}</span>
            <span itemprop="geo" itemscope itemtype="https://schema.org/GeoCoordinates">
                <meta itemprop="latitude" content="{{ stop.latlong.y }}" />
                <meta itemprop="longitude" content="{{ stop.latlong.x }}" />
            </span>
        </a>
    </li>
{% endfor %}
</ul>

{% include 'footer.html' %}
