{% extends 'page.html' %}

{% block content %}

<h1>{{ locality.get_qualified_name }}</h1>

{% if localities %}
    <h2>Places in {{ locality }}</h2>

    {% include 'list.html' with list=localities %}
{% endif %}

{% if stops %}
    <h2>Stops in {{ locality }}</h2>

    <div class="map-wrapper"><div id="map"></div></div>

    {% include 'stops.html' with stops=stops %}
{% endif %}

{% if services %}
    <h2>{% include 'modes.html' with modes=modes noun='services' %}</h2>

    <ul>
        {% for service in services %}
            <li>
                <a href="{{ service.get_absolute_url }}">{{ service }}</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if adjacent %}
    <h2>Near {{ locality }}</h2>

    <ul>
        {% for locality in adjacent %}
            <li>
                <a href="{{ locality.get_absolute_url }}">{{ locality }}</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}
