{% extends 'page.html' %}

{% block content %}

<h1>{{ locality.get_qualified_name }}</h1>

{% if localities %}

<h2>Places in {{ locality }}</h2>

<ul class="long">
{% for l in localities %}
    <li><a href="{{ l.get_absolute_url }}">{{ l }}</a></li>
{% endfor %}
</ul>

{% endif %}

{% if stops %}

<h2>Stops in {{ locality }}</h2>

<div class="map-wrapper"><div id="map"></div></div>

{% include 'stops.html' with stops=stops %}

{% endif %}

{% if services %}

<h2>Services</h2>

<ul>
{% for service in services %}
    <li>
        <a href="{{ service.get_absolute_url }}">{{ service }}</a>
    </li>
{% endfor %}
</ul>

{% endif %}


{% endblock %}
