{% extends amp|yesno:'page_amp.html,page.html' %}

{% load urlise %}

{% block head %}
    <link rel="amphtml" href="https://bustimes.org{{ object.get_absolute_url }}?amp" />
    <link rel="shortlink" href="https://bustimes.org/operators/{{ object.id }}" />
{% endblock %}

{% block content %}

<div itemscope itemtype="http://schema.org/LocalBusiness">

<h1 itemprop="name">{{ object }}</h1>

<p>{{ object.get_a_mode }} operating company in <a href="{{ object.region.get_absolute_url }}">{{ object.region.the }}</a></p>

{% for note in notes %}
    <p class="warning">{{ note|safe }}</p>
{% endfor %}

<h2>{% include 'modes.html' with modes=modes noun='services' %} operated by {{ object }}</h2>

{% include 'services.html' with services=services %}

{% if object.address or object.url or object.email or object.phone %}
    <h2>Contact {{ object }}</h2>

    <div class="contact-details">
    {% if object.address %}
        <p itemprop="address">{{ object.address|linebreaksbr }}</p>
    {% endif %}
    {% if object.url %}
        <p itemprop="url">{{ object.url|urlise }}</p>
    {% endif %}
    {% if object.email %}
        {% load email_obfuscator %}
        <p itemprop="email">{{ object.email|obfuscate_mailto }}</p>
    {% endif %}
    {% if object.phone %}
        <p itemprop="telephone">{{ object.phone }}</p>
    {% endif %}
    </div>
{% endif %}

</div>

{% endblock %}
