{% extends 'page.html' %}

{% block content %}

<h1>{{ object }}</h1>

<p>{{ object.get_a_mode }} operator in <a href="{{ object.region.get_absolute_url }}">{{ object.region.the }}</a></p>

<h2>Services operated by {{ object }}</h2>

<ul class="services">
{% for s in services %}
    <li>
        <a href="{{ s.get_absolute_url }}">
            <span class="name{% if not s.has_long_line_name %} is-short{% endif %}">{{ s.line_name }}</span>
            <span class="description">{{s.description }}</span>
        </a>
    </li>
{% endfor %}
</ul>

{% if object.address or object.url or object.email or object.phone %}
    <h2>Contact {{ object }}</h2>

    <div class="contact-details">
    {% if object.address %}
        {{ object.address|linebreaks }}
    {% endif %}
    {% if object.url %}
        <p>{{ object.url|urlize }}</p>
    {% endif %}
    {% if object.email %}
        <p>{{ object.email|urlize }}</p>
    {% endif %}
    {% if object.phone %}
        <p>{{ object.phone }}</p>
    {% endif %}
    </div>
{% endif %}

{% endblock %}
