{% extends 'page.html' %}

{% block content %}

<h1>{{ region }}</h1>

{% if areas and region.id != 'GB' and region.id != 'NI' %}
    <h2>Areas in {{ region.the }}</h2>

    {% include 'list.html' with list=areas %}

{% elif districts %}
    <h2>Districts in {{ region.the }}</h2>

    {% include 'list.html' with list=districts %}
{% endif %}

{% if services %}
    <h2>Bus services in {{ region.the }}</h2>

    {% include 'services.html' with services=services %}
{% endif %}

{% if operators %}

    <div class="ad-wrapper">
        <div id="AFM_inContentTop_ad"></div>
    </div>

    <h2>Operators in {{ region.the }}</h2>

    {% include 'list.html' with list=operators %}
{% endif %}

{% endblock content %}
