{% extends 'page.html' %}

{% block content %}

<h1>{{ object }}</h1>

<p>
    {{ object.get_a_mode }}
    service
    {% if operators %}
        operated by
        {% for operator in operators %}{% if not forloop.first %}{% if forloop.last %} and {% else %}, {% endif %}{% endif %}<a href="{{ operator.get_absolute_url }}">{{ operator }}</a>{% endfor %}
    {% endif %}
</p>

{% if object.net != '' and object.net != 'tfl' or object.region_id == 'S' %}

    <h2>Timetable</h2>

    <p><a href="{{ object.get_traveline_url }}">View timetable {% if object.region_id == 'S' %}(PDF) on the Traveline Scotland{% else %}on the Traveline{% endif %} website</a></p>

{% endif %}

{% if timetable.journeys %}{% for journey in timetable.journeys %}
    <h2>{{ journey }}</h2>

    <table class="timetable">
    <tbody>
    {% for row in journey.rows %}
        <tr>
        <th><a href="{{ row.stop.get_absolute_url }}">{{ row.stop }}</a></th>
        <td>{{ row.time }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endfor %}{% else %}

<h2>Stops serviced</h2>

<div id="map"></div>

<ul>
{% for stop in stops %}
    <li itemscope itemtype="https://schema.org/BusStop">
        <a href="{{ stop.get_absolute_url }}">
            <span itemprop="name">{{ stop }}</span>
            <span itemprop="geo" itemscope itemtype="https://schema.org/GeoCoordinates">
                <meta itemprop="latitude" content="{{ stop.latlong.y }}" />
                <meta itemprop="longitude" content="{{ stop.latlong.x }}" />
            </span>
        </a>
    </li>
    </tbody>
    </table>
{% endfor %}
</ul>

{% endif %}

{% endblock %}
