{% include 'header.html' %}

<h1>{{ object }}</h1>

<p>Operated by <a href="{{ object.operator.get_absolute_url }}">{{ object.operator }}</a></p>

<!-- {% for version in timetable %}

<h3>{{ version.profile }}</h3>

<table>
<tbody>
{% for row in version.patterns %}
<tr>
    <th>
    {{ row.stop.locality }} <a href="{{ row.stop.get_absolute_url }}">{{ row.stop }}</a>
    </th>
    {% for time in row.times %}
    <td>
    {{ time|time:"H:i" }}
    </td>
    {% endfor %}
</tr>
{% endfor %}
</tbody>
</table>

{% endfor %} -->

<h2>Stops serviced</h2>

<div id="map"></div>

<ul>
{% for stop in stops %}
    <li itemscope itemtype="https://schema.org/BusStop">
        <a href="{{ stop.get_absolute_url }}">
            <span itemprop="name">{{ stop.locality }} {{ stop }}</span>
            <span itemprop="geo" itemscope itemtype="https://schema.org/GeoCoordinates">
                <meta itemprop="latitude" content="{{ stop.latlong.y }}" />
                <meta itemprop="longitude" content="{{ stop.latlong.x }}" />
            </span>
        </a>
    </li>
{% endfor %}
</ul>

{% include 'footer.html' %}
