{% extends 'page.html' %}

{% block content %}

<h1>{{ object }}</h1>

<p>
    {{ object.get_a_mode }}
    service operated by
    {% for operator in operators %}{% if not forloop.first %}{% if forloop.last %} and {% else %}, {% endif %}{% endif %}<a href="{{ operator.get_absolute_url }}">{{ operator }}</a>{% endfor %}
</p>

{% if object.net != '' or object.region_id == 'S' %}

    <h2>Timetable</h2>

    <p><a href="{{ object.get_traveline_url }}">View timetable {% if object.region_id == 'S' %}(PDF) on the Traveline Scotland{% else %}on the Traveline{% endif %} website</a></p>

{% endif %}

<!-- {% for version in timetable %}

<h3>{{ version.profile }}</h3>

<table>
<tbody>
{% for row in version.patterns %}
<tr>
    <th>
    {{ row.stop.locality }} <a href="{{ row.stop.get_absolute_url }}">{{ row.stop }}</a>
    </th>
    {% for time in row.times %}
    <td>
    {{ time|time:"H:i" }}
    </td>
    {% endfor %}
</tr>
{% endfor %}
</tbody>
</table>

{% endfor %} -->

<h2>Stops serviced</h2>

<div id="map"></div>

<ul>
{% for stop in stops %}
    <li itemscope itemtype="https://schema.org/BusStop">
        <a href="{{ stop.get_absolute_url }}">
            <span itemprop="name">{{ stop }}</span>
            <span itemprop="geo" itemscope itemtype="https://schema.org/GeoCoordinates">
                <meta itemprop="latitude" content="{{ stop.latlong.y }}" />
                <meta itemprop="longitude" content="{{ stop.latlong.x }}" />
            </span>
        </a>
    </li>
{% endfor %}
</ul>

{% endblock %}
