{% include 'header.html' %}

<div id="breadcrumb">
    <a href="/">Home</a>
    ›
    <a href="{{ stoppoint.admin_area.region.get_absolute_url }}">{{ stoppoint.admin_area.region }}</a>
    ›
    <a href="{{ stoppoint.admin_area.get_absolute_url }}">{{ stoppoint.admin_area }}</a>
    ›
    {% if stoppoint.locality.district %}
        <a href="{{ stoppoint.locality.district.get_absolute_url }}">{{ stoppoint.locality.district }}</a>
        ›
    {% endif %}
    <a href="{{ stoppoint.locality.get_absolute_url }}">{{ stoppoint.locality }}</a>
    ›
</div>

<h1 itemprop="name">{{ stoppoint }}</h1>

{% if not stoppoint.active %}
<p>This stop is no longer active</p>
{% endif %}

<div id="map"></div>

<img alt="" width="460" height="300" src="https://maps.googleapis.com/maps/api/streetview?size=460x300&amp;location={{ stoppoint.latlong.y }},{{ stoppoint.latlong.x }}&amp;heading={{ stoppoint.heading }}" />


{% if stoppoint.street %}
<p>On {{ stoppoint.street }}{% if stoppoint.crossing %}, near {{ stoppoint.crossing }}{% endif %}</p>
{% endif %}

{% if stoppoint.landmark %}
<p>Near {{ stoppoint.landmark }}</p>
{% endif %}

<span itemprop="geo" itemscope itemtype="https://schema.org/GeoCoordinates">
    <meta itemprop="latitude" content="{{ stoppoint.latlong.y }}" />
    <meta itemprop="longitude" content="{{ stoppoint.latlong.x }}" />
</span>


{% if nearby %}
<aside>
    <h2>Other stops in {{ stoppoint.locality }}</h2>
    <ul>
    {% for s in nearby %}
        <li><a href="{{ s.get_absolute_url }}">{{ s }}</a></li>
    {% endfor %}
    </ul>
</aside>
{% endif %}

{% include 'footer.html' %}
