{% extends 'page.html' %}

{% block content %}

<div itemscope itemtype="https://schema.org/BusStop">

<h1 itemprop="name">{{ stoppoint.get_qualified_name }}</h1>

{% if text %}
<p>{{ text }}</p>
{% endif %}

{% if stoppoint.bearing %}
<p>Buses travel {{ stoppoint.get_bearing_display }} from here</p>
{% endif %}

{% if stoppoint.latlong %}
    <span itemprop="geo" itemscope itemtype="https://schema.org/GeoCoordinates">
        <meta itemprop="latitude" content="{{ stoppoint.latlong.y }}" />
        <meta itemprop="longitude" content="{{ stoppoint.latlong.x }}" />
    </span>

    <div class="stop-map" id="map" data-indicator="{{ stoppoint.indicator }}"{% if stoppoint.get_heading is not None %} data-heading="{{ stoppoint.get_heading }}"{% endif %}></div>
{% endif %}

<div class="asides">

{% include 'departures.html' with departures=departures %}

{% if services %}
    <div class="aside box">
    <h2>{% include 'modes.html' with modes=modes noun='services' %}</h2>
    <ul>
    {% for s in services %}
        <li><a href="{{ s.get_absolute_url }}">{{ s }}</a></li>
    {% endfor %}
    </ul>
    </div>
{% endif %}

{% if nearby %}
<div class="aside box">
    <h2>Nearby stops</h2>
    {% include 'stops.html' with stops=nearby %}
</div>
{% endif %}

</div>

</div>

{% endblock %}
