{% extends 'page.html' %}

{% block canonical %}<meta name="robots" content="noindex">{% endblock %}

{% block content %}

<h1>{{ stoppoint.get_long_name }}</h1>

{% if text %}
    <p>{{ text }}</p>
{% endif %}

{% if stoppoint.bearing %}
    <p>Buses point {{ stoppoint.get_bearing_display }}</p>
{% endif %}

{% for suspension in suspensions %}
    <div class="situation">
        {% load date_range %}
        <h2>{{ suspension.dates|date_range }}</h2>
        {{ suspension.text|linebreaks }}
    </div>
{% endfor %}

{% if stoppoint.latlong %}
    <ul class="horizontal">
        <li><a href="/map#16/{{ object.latlong.y|floatformat:4 }}/{{ object.latlong.x|floatformat:4 }}">Map</a></li>
        <li><a href="https://www.google.com/maps?layer=c&cbll={{ object.latlong.y|floatformat:7 }},{{ object.latlong.x|floatformat:7 }}{% if object.heading or object.bearing %}&cbp=0,{{ object.get_heading|add:'-90' }},,,{% endif %}">Street View</a></li>
    </ul>
{% endif %}

<div class="asides">

{% include 'departures.html' with departures=departures %}

{% if services %}
    <div class="aside">
    <h2>{% include 'modes.html' with modes=modes noun='services' %}</h2>
    <ul class="has-smalls">
    {% for s in services %}
        <li>
            <a href="{{ s.get_absolute_url }}">
                <span>{{ s }}</span>
                <small>{{ s.operator.all|join:", " }}</small>
            </a>
        </li>
    {% endfor %}
    </ul>
    </div>
{% endif %}

{% if nearby %}
<div class="aside">
    <h2>Nearby stops</h2>
    {% include 'stops.html' with stops=nearby %}
</div>
{% endif %}

</div>

{% endblock %}
