{% extends 'page.html' %}

{% block content %}

<h1>{{ object }}</h1>

<table>
    <th>#</th>
    <th>Received</th>
    <th>Effective date</th>
    <th>Status</th>
    <th></th>
    {% for variation in object_list %}
        <tr>
            <td>{{ variation.variation_number }}</td>
            <td>{% firstof variation.date_received '' %}</td>
            <td>{% firstof variation.effective_date '' %}</td>
            <td>{{ variation.registration_status }}</td>
            <td>{{ variation.publication_text|linebreaksbr }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
