{% extends 'page.html' %}

{% block title %}{{ object_list.0.registration.registration_number }} – Bus Times{% endblock %}

{% block content %}

<h1>{{ object_list.0.registration.registration_number }}</h1>

<table>
    <tr>
        <th scope="row"></th>
        <td>{{ object_list.0.registration.service_number }}</td>
    </tr>
    <tr>
        <th scope="row">From</th>
        <td>{{ object_list.0.registration.start_point }}</td>
    </tr>
    <tr>
        <th scope="row">To</th>
        <td>{{ object_list.0.registration.finish_point }}</td>
    </tr>
    <tr>
        <th scope="row">Via</th>
        <td>{{ object_list.0.registration.via }}</td>
    </tr>
</table>

<h2>History</h2>

<table>
    <th scope="col">#</th>
    <th scope="col">Received</th>
    <th scope="col">Effective date</th>
    <th scope="col">Status</th>
    <th scope="col">Details</th>
    <th scope="col">Publication text</th>
    {% for variation in object_list %}
        <tr>
            <td>{{ variation.variation_number }}</td>
            <td>{% firstof variation.date_received|date:"j M y" '' %}</td>
            <td>{% firstof variation.effective_date|date:"j M y" '' %}</td>
            <td>{{ variation.registration_status }}</td>
            <td>{{ variation.service_type_other_details }}</td>
            <td>{{ variation.publication_text|linebreaksbr }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
