{% extends 'page.html' %}

{% block content %}

<h1>{{ object }}</h1>

{% if object.vehicle_type %}
    <p>{{ object.vehicle_type }}</p>
{% endif %}

<table>
{% for journey in vehicle.get_journeys %}
    <tr>
        <td>{% ifchanged journey.0.datetime.date %}{{ journey.0.datetime }}{% else %}{{ journey.0.datetime.time }}{% endifchanged %}</td>
        <td>{% if journey.0.service %}<a href="{{ journey.0.service.get_absolute_url }}">{{ journey.0.service }}</a>{% endif %}</td>
    </tr>
{% endfor %}
</table>

{% endblock %}
