header {
    ul a {
        padding-left: 1em;
    }

    .search {
        padding-right: .5em;
        position: relative;
        top: .7em;

        label {
            float: left;
            padding: 0;
            position: relative;
            width: 8em;

            input {
                border: 1px solid $brand-color-darker;
                left: 0;
                top: 0;
                width: 100%;
            }

            input:focus {
                border-width: 1px;
            }
        }

        input[type=submit] {
            background: $brand-color-darker;
            border: 1px solid $brand-color-darker;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            display: block;
            float: right; // work around transient Chrome bug?
            margin: 0;
            top: 0;
        }
    }
}

.long {
    column-count: 2;
}

.long.wide {
    column-count: 1;
}

.asides {
    margin: 0 -1.5%;
    overflow: hidden;
}

.aside {
    float: left;
    margin: 0 1.5%;
    width: 47%;
}

#regions ul {
    width: 33.333%;
}

#svgmap {
    left: 33.333%;
    right: auto;
}
