.long {
    column-count: 2;
}

.asides {
    margin: 0 -1.5%;
}

.aside {
    float: left;
    margin: 1em 1.5% 0;
    width: 47%;
}

#regions ul {
    width: 33.333%;
}

#svgmap {
    left: 33.333%;
    right: auto;
}
