.long {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

.aside {
    max-width: 48%;
    width: 48%;
    float: left;
    margin-left: 4%;
}

.asides .aside:first-child {
    clear: left;
    margin-left: 0;
}

#regions ul {
    width: 33.333%;
}

#svgmap {
    left: 33.333%;
    right: auto;
}
