header div,
main {
    margin: 0 auto;
}

.narrow {
    #cookie-message {
        width: 60.5em;
    }

    header div {
        width: 45.5em + 2em;
    }

    main {
        width: 45.5em;
    }
}

h1 {
    font-size: 2em;
}

.map-wrapper {
    display: block;
    float: right;
    margin-bottom: 1em;
    margin-left: 3%;
    padding-top: 48.5% * .75;
    position: relative;
    width: 48.5%;
}

#sidebar {
    left: 67%;
    top: 0;
    width: 33%;
}

#hugemap {
    height: 100%;
    left: 0;
    width: 67%;
}

#regions ul {
    width: 25%;
}

.services {
    column-count: 2;
    column-gap: 1em;
}

.contact-details {
    margin: 0 -.5em;
    overflow: hidden;

    p {
        box-sizing: border-box;
        float: left;
        margin: .5em 0;
        padding: 0 .5em;
        width: 50%;
    }
}

.banner-ad {
    min-height: 7.125em;
}

[amphtml] .banner-ad {
    height: auto;
}
