// 728px

header .search label {
    width: 10em;
}

.narrow {
    header div {
        width: 45.5em + 2em;
    }

    main {
        width: 45.5em;
    }
}

h1 {
    font-size: 2em;
}

.panes {
    display: flex;
    margin: -1em 0;
    justify-content: space-between;
}

.services,
.contact-details {
    column-count: 2;
    column-gap: 1em;
}

.contact-details {
    margin-top: 1em;

    p {
        break-inside: avoid;
        margin-top: 0;
    }
}

.aside {
    float: left;
    margin-top: 0;
    width: 48.5%;
}

.aside:first-child {
    margin-right: 3%;
}

.fleet {
    .trivia {
        display: table-cell;
    }
}

.sidebar {
    overflow: hidden;
    margin-bottom: 1em;

    p {
        width: 30%;
        margin: 0 3% 1em 0;
        float: left;
    }

    p:last-child {
        margin-top: 1.5em;
    }
}

.journey {
    .trip {
        top: 96px;
        height: auto;
        width: 420px;
    }

    .trip + .map {
        bottom: 0;
        left: 420px;
    }

}

.trip-map-wrapper {
    float: right;
    margin: 1em 0 0 1em;
    width: 50%;
}

.trip-map {
    height: 400px;
}
