header .search label {
    width: 10em;
}

.narrow {
    #cookie-message {
        width: 60.5em;
    }

    header div {
        width: 45.5em + 2em;
    }

    main {
        width: 45.5em;
    }
}

h1 {
    font-size: 2em;
}

#regions ul {
    width: 25%;
}

.services,
.contact-details {
    column-count: 2;
    column-gap: 1em;
}

.contact-details {
    margin-top: 1em;

    p {
        break-inside: avoid;
        margin-top: 0;
    }
}
