header .search label {
    width: 10em;
}

.narrow {
    header div {
        width: 45.5em + 2em;
    }

    main {
        width: 45.5em;
    }
}

h1 {
    font-size: 2em;
}

.panes {
    display: flex;
    margin: -1em 0;
    justify-content: space-between;
}

.services,
.contact-details {
    column-count: 2;
    column-gap: 1em;
}

.contact-details {
    margin-top: 1em;

    p {
        break-inside: avoid;
        margin-top: 0;
    }
}

.adsbygoogle {
    height: 90px;
}

#cookie-message {
    margin: 1em;
    left: auto;
}

.edit-vehicle p:first-child {
    float: left;
    width: 24%;
    margin-top: 0;
    margin-right: 2%;

    + p {
        width: 74%;
        float: right;
        margin-top: 0;
    }
}

.fleet {
    .trivia {
        display: table-cell;
    }
}

.journey {
    .trip + .map {
        bottom: 0;
        left: 30em;
    }

    .trip {
        top: 6.125em;
        height: auto;
        width: 24.25em;
    }
}
