// 960px

.wide-ad {
    min-height: 90px;
}

.narrow main .wide-ad {
    margin: 1em -121px;
}

.has-sideburns {
    main {
        padding: 0 11em;
    }

    .wide-ad {
        margin: 1em -11em;
    }
}

[data-fuse="22699655446"],
[data-fuse="22699655440"],
{
    position: absolute;
    display: block;
}

[data-fuse="22699655446"] { // stop_vrec
    left: 0;
}

[data-fuse="22699655440"] { // stop_vrec
    right: 0;
}

[data-fuse="22699655449"] { // stop_footer
    display: none;
}

footer,
.service-map {
    margin-bottom: 90px;
}
