// 960px

.narrow main [data-fuse] {
    margin: 1em -121px;
}

.has-sideburns main {
    padding: 0 12em;
}

[data-fuse="22699655446"] {
    float: left;
    margin-left: -11em;
    margin-bottom: 1em;
}

[data-fuse="22699655440"] {
    float: right;
    margin-right: -20em;
    margin-bottom: 1em;
}
