header {
    div {
        padding: 0 1em;
    }
}

main {
    padding-left: 2em;
    padding-left: calc(env(safe-area-inset-left) + 2em);
    padding-right: 2em;
    padding-right: calc(env(safe-area-inset-right) + 2em);
}

.breadcrumb {
    margin: 0 -2em;
    padding-left: 2em;

}

.wide {
    header {
        div {
            width: 62.5em;
        }
    }

    main {
        max-width: 60.5em;
    }
}

#svgmap {
    left: 25%;
}

.timetable-wrapper {
    margin-right: -2.28em;
}

.timetable {
    padding-right: 2.28em;
}

.long {
    column-count: 3;
}

.long.wide {
    column-count: 2;
}

.contact-details {
    column-count: 3;
}

.asides {
    margin: 0 -1.25%;
}

.aside {
    margin: 0 1.25%;
    width: 30.83%;
}
