.wide {
    header div {
        width: 62em;
    }

    main {
        width: 60em;
    }
}

#svgmap {
    left: 25%;
}

main img {
    width: 48.75%;
}

.timetable-wrapper {
    margin: 1em 0;
    padding: 0;
}

.image-wrapper {
    padding-top: 48.75% * .75;
    width: 48.75%;
}

.map-wrapper {
    margin-left: 2.5%;
    padding-top: 48.75% * .75;
    width: 48.75%;
}

.long {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}

.contact-details p {
    width: 33.3%;
}

.asides {
    margin: 0 -1.25%;
}

.aside {
    margin: 1em 1.25% 0;
    width: 30.83%;
}
