.wide {
    header div {
        width: 62.5em;
    }

    #cookie-message {
        width: 80.66em;
    }

    main {
        max-width: 60.5em;
    }
}

#svgmap {
    left: 25%;
}

/*
main img {
    width: 48.75%;
}
*/

.timetable-wrapper {
    margin-right: 0;
}

.timetable {
    padding: 0;
}

.map-wrapper {
    margin-left: 2.5%;
    padding-top: 48.75% * .75;
    width: 48.75%;
}

.long {
    column-count: 3;
}

.contact-details p {
    width: 33.3%;
}

.asides {
    margin: 0 -1.25%;
}

.aside {
    margin: 1em 1.25% 0;
    width: 30.83%;
}
