@import 'variables';

body {
    // http://blog.55minutes.com/2012/04/iphone-text-resizing/
    -webkit-text-size-adjust: 100%;
    color: $text-color;
    font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    margin-bottom: env(safe-area-inset-bottom);
}

.skip {
    display: block;
    height: 0;
    overflow: hidden;
    text-align: center;
}

.skip:focus {
    height: auto;
}

header,
main,
footer {
    display: block;
}

#cookie-message {
    display: none;
    font-size: .75em;
    margin: auto;
    padding: 1.2em 1.33em;
}

.bunting,
main {
    margin: 0 auto;
    padding: 0 1em;
    padding-left: calc(env(safe-area-inset-left) + 1em);
    padding-right: calc(env(safe-area-inset-right) + 1em);
}

.bunting {
    padding-bottom: 1em;
    padding-top: 1em;
}

a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        text-decoration-skip: ink;
    }

    &:focus,
    &:active {
        background-color: $brand-color;
        color: $active-link-color;
    }
}

abbr {
    cursor: help;
    font-weight: bold;
    text-decoration: none;
}

kbd {
    border: 1px solid #ccc;
    border-radius: .5em;
    font: inherit;
    padding: .25em;
}

label {
    cursor: pointer;
}

summary {
    font-weight: bold;
    margin: 1em 0;
}

@import '../js/accessible-autocomplete/accessible-autocomplete.min';

.autocomplete__hint {
    font: inherit;
}

.autocomplete__hint,
.autocomplete__input {
    border: 1px solid $border-color;
    margin: 0;  // for Safari
}

.autocomplete__menu {
    border: 1px solid $border-color;
    border-top: 0;
    width: calc(100% - 2px);
}

.autocomplete__input--focused {
    box-shadow: none;
}

.autocomplete__hint,
.autocomplete__input,
.autocomplete__option {
    font-size: 1em;
    padding: 4px;
}

.autocomplete__option {
    border-color: $border-color;
}

.autocomplete__option--odd {
    background: none;
}

.autocomplete__option--focused,
.autocomplete__option:hover {
    background: $brand-color;
    border-color: $brand-color-darker;
    color: $text-color;
}

form ul {
    margin-top: -1em;
}

#id_colours {
    margin-top: -.5em;

    li {
        margin: .5em 0;
    }

    div {
        display: inline-block;
        margin-right: .25em;
        vertical-align: middle;
    }

    input {
        margin-right: .75em;
    }
}

#id_reg,
#id_previous_reg {
    text-transform: uppercase;
}

header {
    background: $brand-color;
    overflow: hidden;
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    position: relative;

    a {
        color: $black;
        display: inline-block;
        line-height: 1;
        padding: .66667em;

        &:hover {
            background-color: $brand-color-darker;
            text-decoration: none;
        }
    }

    .site-name {
        font-size: 1.5em;
    }

    div {
        margin: 0 auto;

        .site-name {
            position: absolute;
        }
    }

    ul {
        float: right;
        margin: 0;

        li {
            display: inline;
        }

        a {
            line-height: 1.5em;
            padding: 1em;
            padding-left: .5em;
        }
    }

    .search {
        float: right;

        label {
            display: block;
            line-height: 1.5;
            padding: 1em .5em;
            padding-left: 0;

            input {
                margin: 0;
                position: absolute;
                top: -3em;

                &:focus {
                    border-width: .75em 1em;
                    left: 0;
                    top: 0;
                    width: 100%;
                }
            }
        }

        label + input {
            display: none;
        }
    }
}

@media (min-width: 22em) {
    .site-name:after {
        content: url('/static/svg/bus.svg');
        display: inline-block;
        margin-left: .66667em;
    }

    .ferry:after {
        content: url('/static/svg/boat.svg');
        margin-top: -1em;
    }
}

h1,
h2 {
    line-height: 1.2em;
    margin: .5em 0;
}

h1 {
    font-size: 1.75em;
}

h2 {
    font-size: 1.25em;
    margin-top: 1em;
}

h3 {
    font-size: 1em;
    margin: .25em 0;
}

.bulleted li {
    list-style: disc;
    margin-left: 1em;
}

.button,
button,
input[type='submit'] {
    appearance: none;
    background: $brand-color;
    border: 0;
    border-bottom: .0625em solid $brand-color-darker;
    border-radius: .5em;
    color: inherit;
    display: inline-block;
    font: inherit;
    margin-bottom: .0625em;
    padding: .25em .5em;
    position: relative;
    top: .0625em;

    &:hover {
        border-bottom-width: .125em;
        margin-bottom: 0;
        text-decoration: none;
        top: 0;
    }

    &:focus,
    &:active {
        background-color: $brand-color-darker;
        border-bottom: 0;
        margin-bottom: .125em;
        top: .0625em;
    }
}

input[type='text'],
input[type='url'],
input[type='email'],
input[type='number'],
textarea {
    display: block;
    width: 100%;
}

.errorlist {
    color: #f00;
    float: right;
    font-size: .875em;
    margin: 0 0 -1em;
}

input[type='text'],
input[type='url'],
input[type='number'],
input[type='email'],
input[type='search'],
textarea {
    appearance: none;
    border: 1px solid $border-color;
    border-radius: 0;
    box-sizing: border-box;
    font: inherit;
    outline: 0;
    padding: .25em;
    padding-right: 0;

    &:focus {
        border-color: $border-color-darker;
    }

    .errorlist:not(.nonfield) + p & {
        border-color: $red;
    }
}

select {
    background: none;
    border: 1px solid $border-color;
    border-radius: .5em;
    font: inherit;
    height: 2.5em;
    padding: 0 1.5em 0 .5em;
    position: relative;
    vertical-align: top;

    &::-ms-expand {
        display: none;
    }
}

form p select {
    border-radius: 0;
    box-sizing: content-box;
    display: block;
    height: 2em;
    width: 100%;
}

select[multiple] {
    box-sizing: border-box;
    height: auto;
}

.helptext {
    font-size: .875em;
}

.timetable-date {
    display: inline-block;
    position: relative;

    select {
        appearance: none;
    }

    &:after {
        border: .25em solid $background-color;
        border-bottom: 0;
        border-top: .5em solid $text-color;
        content: '';
        height: 0;
        position: absolute;
        right: .5em;
        top: 1em;
    }

    + table {
        margin-top: 1em;
    }
}

input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

ul,
ol,
li {
    list-style: none;
    padding: 0;
}

ul,
ol {
    margin: 1em 0;
}

main li {
    break-inside: avoid;

    a {
        display: block;
        overflow: hidden;
        padding: .125em 0;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.has-smalls {
    li {
        a {
            text-decoration: none;
        }

        a:hover span {
            text-decoration: underline;
        }
    }

    span {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    small {
        color: $text-color;
        display: block;
        float: left;
        font-size: .75em;
        margin-right: .5em;
    }

    a small:last-child {
        margin: 0;
        padding-bottom: .33em;
    }
}

.bulleted,
main p,
table {
    a {
        display: inline;
        padding: 0;
    }
}

.bulleted a {
    white-space: normal;
}

.breadcrumb {
    border-bottom: 1px solid $brand-color-darker;
    margin: 0 -1em;
    overflow: hidden;
    padding: .5em 0 0 1em;

    li {
        float: left;
        margin: 0;
        margin-top: -.5em;

        &:after {
            color: $border-color-darker;
            content: '\203A';
            float: left;
            padding: .75em .5em;
        }

        &:last-child:after {
            padding-right: 0;
            width: 0;
        }
    }

    a {
        float: left;
        padding: .75em 0;
    }

}

.services {
    a {
        align-items: center;
        display: flex;
        margin-bottom: 1em;
        white-space: normal;
    }

    a:hover {
        text-decoration: none;

        .description {
            text-decoration: underline;
        }
    }

    a:focus,
    a:active {
        color: $black;
    }

    .name {
        color: $brand-color-darker-darker;
        float: left;
        margin-right: 1em;

        &.is-short {
            font-size: 2.5em;
            font-variant-numeric: tabular-nums;
            line-height: 1em;
            margin-right: .4em;
        }
    }

    a:focus .name,
    a:active .name {
        color: inherit;
    }
}

#regions {
    position: relative;
}

#svgmap {
    bottom: 0;
    height: 100%;
    max-width: 50%;
    position: absolute;
    right: 0;
    width: auto;

    path {
        fill: $brand-color-darker;
        stroke: $white;
    }

    a {
        cursor: pointer;
    }

    .highlight,
    a:focus,
    a:hover {
        outline: 0;

        path {
            fill: $brand-color-darker-darker;
        }
    }
}

#buses-online {
    .button {
        margin-right: .5em;
    }
}

#map {
    bottom: 0;
    left: 0;
    position: relative;
    right: 0;
    top: 0;

    &.service-map.expanded,
    &.full-screen {
        position: fixed;
    }
}

.journey {
    background: #fff;
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;

    &:target {
        display: block;
    }

    .map {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 7em;
    }

    .leaflet-popup-content {
        margin: 10px;
    }

    .details {
        padding: 1em;

        p {
            margin-top: 0;
        }
    }
}

.service-map {
    display: none;

    &.expanded {
        display: block;
        height: auto;
        margin: 0;
        z-index: 1;
    }
}

.livery {
    display: inline-block;
    height: 1.5em;
    margin-right: .5em;
    vertical-align: text-top;
    width: 2.25em;
}

.leaflet-marker-icon {
    // journey history
    &.just-arrow {
        .arrow {
            border: 2px solid #000;
            border-left-color: transparent;
            border-top-color: transparent;
            height: 6px;
            transform-origin: 8px 8px;
            width: 6px;
        }
    }

    &.leaflet-div-icon {
        background: none;
        border: 0;
        color: $text-color;
        font-size: 10px;
        text-align: center;
        white-space: nowrap;

        .bus {
            background: $white;
            border: 1px solid rgba(0, 0, 0, .2);
            height: 12px;
            line-height: 12px;
            margin-top: 3px;
            overflow: hidden;
        }

        .coloured {
            border-color: $white;
        }

        .white-text {
            color: $white;
        }

        .arrow {
            border: 4px solid transparent;
            border-bottom: 5px solid $black;
            border-top: 0;
            left: 6px;
            position: absolute;
            top: -6px;
            transform-origin: 4px 16px;
        }
    }

    &.stop {
        color: #fff;
        font-size: 9px;
        line-height: 16px;
        text-align: center;

        .stop-arrow {
            background: $black;
            border: 1px solid $white;
            border-radius: 0 8px 8px;
            height: 15px;
            position: absolute;
            top: 0;
            width: 15px;
            z-index: -1;
        }

        .no-direction {
            border-radius: 8px;
        }
    }

    &.stop-0 {
        .stop-arrow {
            height: 13px;
            left: 1px;
            top: 1px;
            width: 13px;
        }
    }

    &.stop-1 {
        font-size: 11px;
    }

}

.leaflet-bar {
    img {
        border: 0;
        padding-top: 5px;

        .leaflet-touch & {
            padding-top: 7px;
        }
    }
}

@keyframes materialize {
    0% {
        opacity: 100%;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

.leaflet-bar .working {
    animation: materialize 3s infinite alternate ease-in-out;
}

body {
    .leaflet-container {
        font-family: inherit;
        font-size: .875em;
    }
}

.leaflet-popup-content a {
    display: block;
    font-size: 1em;
    overflow: hidden;

    span {
        display: block;
    }

    small {
        color: $text-color;
        display: block;
        float: left;
        font-size: .75em;
        margin-right: .5em;
    }
}

.leaflet-left {
    margin-left: env(safe-area-inset-left);
}

.leaflet-right {
    margin-right: env(safe-area-inset-right);
}

table {
    border-collapse: collapse;
}

.fleet {
    font-size: .875em;

    .livery-cell {
        padding-left: 3.25em;
        position: relative;
    }

    .livery {
        left: .5em;
        position: absolute;
        top: .2em;
    }

    th {
        background: $white;
        border-bottom: 1px solid $border-color;
        position: sticky;
        top: 0;
        white-space: normal;
        z-index: 1;
    }

    td {
        max-width: 12em;
        overflow: hidden;
        vertical-align: top;
    }

    .number {
        text-align: right;
    }

    .last-seen {
        max-width: 5em;
    }

    tbody {
        white-space: nowrap;
    }
}

td {
    border-top: 1px solid $border-color;
}

th,
td {
    border-left: 1px solid $border-color;
    padding: .25em .5em;
    text-align: left;

    &:first-child {
        border-left: 0;
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;
    }
}

thead {
    th {
        padding-top: 0;
        vertical-align: bottom;
    }
}

.timetable-wrapper-wrapper {
    font-size: .875em;
    margin: 1em 0;

    input {
        vertical-align: top;
    }
}

.timetable-wrapper {
    margin-right: -1.14em;
    margin-right: calc(env(safe-area-inset-left) * -1 - 1.14em);
    margin-top: 1em;
    overflow: auto;
}

input:not(:checked) + label {
    + .timetable-wrapper,
    + .route {
        .minor {
            display: none;
        }

        .referrer {
            display: table-row;
        }
    }
}

.timetable {
    border-collapse: separate;
    border-spacing: 0;
    font-variant-numeric: tabular-nums;
    padding-right: 1.14em;
    padding-right: calc(env(safe-area-inset-left) + 1.14em);
    table-layout: fixed;

    td {
        border-left: 0;
    }

    td,
    th {
        height: 1.5em;
    }

    tbody tr:first-child {
        td,
        th {
            border-top: 0;
        }
    }

    td:first-child {
        padding: 0;
    }

    .referrer {
        td,
        th {
            background: $brand-color;
        }

        td[colspan] {
            background: none;
        }

        a {
            color: $active-link-color;
        }
    }

    th {
        border-right: 1px solid $border-color;
        border-top: 1px solid $border-color;
        font-weight: normal;
        padding-right: 0;
        white-space: nowrap;

        a {
            display: block;
            margin: -.25em 0;
            max-width: calc(100vw - 12em);
            overflow: hidden;
            padding: .25em .5em;
            padding-left: 0;
            text-overflow: ellipsis;
        }
    }

    thead {
        td {
            border: 1px solid $border-color;
            border-width: 0 1px 1px 0;
            text-align: center;

            &:first-child {
                border-bottom: 0;
            }

            &:last-child {
                border-right: 0;
            }
        }
    }

    tfoot {
        td {
            border: 1px solid $border-color;
            border-width: 1px 1px 0 0;
            vertical-align: top;

            &:last-child {
                border-right: 0;
            }

        }
    }

    .dep,
    .minor + .minor {
        th,
        td {
            border-top: 0;
        }
    }

    .minor {
        th {
            a {
                padding-left: 1em;
            }
        }
    }
}

.fancy {
    th {
        position: absolute;

        a {
            max-width: inherit;
        }
    }
}

.route {
    a {
        margin-left: 1em;
    }

    li:before {
        border: 2px solid $border-color;
        border-width: 2px 0 0 2px;
        content: " ";
        display: block;
        position: absolute;
        margin-top: .85em;
        height: 1.75em;
        width: .5em;
    }

    li:last-child:before {
        height: 0;
    }

    .minor {
        a {
            font-size: .875em;
            margin-left: 2em;
        }

        &:before {
            border-top-width: 1px;
            width: 1em;
        }
    }
}

.credit {
    font-size: .875em;
}

.aside {
    margin-top: 1em;

    table {
        margin: 0 -.5em;
    }

    td {
        border: 0;
        padding: .125em .5em;
        vertical-align: top;

        &:nth-child(2) {
            width: 100%;
        }

        &:last-child {
            white-space: nowrap;
        }

        a {
            display: block;
            margin: -.125em -.5em;
            padding: .125em .5em;
        }
    }

    h2 {
        margin: .25em 0 .5em;
    }

    ul {
        margin: 0;
    }

    .credit {
        font-size: .75em;
        margin: .3em 0 0;
        text-align: right;
    }
}

#hugemap {
    height: 100%;
}

.leaflet-container .leaflet-control.hugemap-status {
    background: $white;
    background: rgba(255, 255, 255, .8);
    margin: 0;
    padding: 0 5px;
}

.message {
    border: 1px solid $brand-color;
    padding: 1em;
}

.contact-details {
    word-wrap: break-word;
}

.previous {
    float: left;
}

.next {
    float: right;
}

nav {
    overflow: hidden;
}

.ad {
    margin: 1em auto;
}

main {
    position: relative;
}

.side-ad {
    display: none;
}

.wide {
    .side-ad {
        @media (min-width: 90em) {
            bottom: 1em;
            display: block;
            position: absolute;
            top: 1em;
            width: 10em;

            .adsbygoogle {
                height: 100%;
                position: absolute;
                width: 100%;
            }

            &.left {
                left: -12em;
            }

            &.right {
                right: -12em;
            }
        }

        @media (min-width: 95em) {
            width: 12.5em;

            &.left {
                left: -14.5em;
            }

            &.right {
                right: -14.5em;
            }
        }
    }
}


.adsbygoogle {
    display: block;
    margin: 0 auto;
    max-width: 60.5em;
}

.horizontal {
    li {
        display: inline;

        a {
            display: inline;
        }

        &:before {
            color: $brand-color-darker;
            content: '  \2022  ';
        }

        &:first-child::before {
            display: none;
        }
    }
}

footer {
    @extend .horizontal;
    clear: both;
    margin-top: 1.5em;
    text-align: center;

    ul {
        border-top: 1px solid $brand-color-darker;
        clear: both;
        margin: 0;
        padding: 1em .625em;
    }

    ul {
        font-size: .75em;
        padding: 1em;

        a {
            padding: 1.2em .25em;
        }
    }

}

@media print {
    @import 'print';
}
