@import 'variables';
@import 'webfonts';

body {
    color: #222;
    font-family: 'Transport New', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    // http://blog.55minutes.com/2012/04/iphone-text-resizing/
    -webkit-text-size-adjust: 100%;
}

header,
main,
footer {
    display: block;
}

main {
    padding: 0 1em;
}

a {
    color: $link-color;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:focus,
a:active {
    color: #000;
    background-color: $brand-color;
}

label {
    cursor: pointer;
}

header {
    background: $brand-color;
    overflow: hidden;

    a {
        color: #000;
        display: inline-block;
        padding: .66667em;
        line-height: 1;
    }

    a:hover {
        background-color: $brand-color-darker;
        text-decoration: none;
    }

    .site-name {
        font-size: 1.5em;
        float: left;
    }

    .site-name:after {
        content: url("/static/svg/bus.svg");
        display: inline-block;
        margin-left: .66667em;
    }

    ul {
        float: right;
        margin: 0;

        li {
            display: inline;
        }

        a {
            line-height: 1.66667em;
            padding: 1em;
        }
    }
}

h1,
h2 {
    line-height: 1.2em;
    margin: .5em 0;
}

h1 {
    font-size: 1.75em;
}

h2 {
    font-size: 1.25em;
    margin-top: 1em;
}

h3 {
    font-size: 1em;
    margin: .25em 0;
}

.bulleted li {
    list-style: disc inside;
}

.button,
input[type=submit] {
    background: $brand-color;
    border: 0;
    border-bottom: .0625em solid $brand-color-darker;
    border-radius: .5em;
    color: inherit;
    display: inline-block;
    font: inherit;
    margin-top: .0625em;
    margin-bottom: .5em;
    padding: .5em;
    padding-bottom: .4em;
    vertical-align: bottom;
    -webkit-appearance: none;

    &:hover {
        border-bottom-width: .125em;
        margin-top: 0;
        text-decoration: none;
    }

    &:focus,
    &:active {
        background-color: $brand-color-darker;
        border-bottom: 0;
        margin-top: .125em;

        &:after {
            content: "\2026";
        }
    }
}

input[type=text],
input[type=email],
textarea {
    display: block;
    width: 100%;
}

.errorlist {
    color: red;
    float: right;
    font-size: 0.875em;
    margin: 0 0 -1em;
}

input[type=text],
input[type=email],
input[type=search],
textarea {
    border: 1px solid $brand-color;
    border-radius: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font: inherit;
    outline: 0;
    padding: .25em;
    padding-right: 0;
    -webkit-appearance: none;

    &:focus {
        border-color: $brand-color-darker;
    }

    .errorlist + p & {
        border-color: red;
    }
}

input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

.search {
    input[type=submit] {
        margin-bottom: -.125em;
        outline: 0;
    }
}

.button-locate + .search {
    display: inline-block;
    position: relative;
    margin-bottom: .6em;

    input[type=search] {
        width: 11.5em;
    }
}

ul, ol, li {
    list-style: none;
    padding: 0;
}

ul, ol {
    margin: 1em 0;
}

main li {
    -webkit-column-break-inside: avoid;
    break-inside: avoid;

    a {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: .125em 0;
        white-space: nowrap;
    }
}

.bulleted,
main p,
table {
    a {
        display: inline;
        padding: 0;
    }

    a[href^=http]:after {
        content: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='10' width='10'%3E%3Cpath d='M4.3 3.5H.5v6h6V5.7M4.5.5v1l1 1-3 3 2 2 3-3 1 1h1v-5z' fill='white' stroke='%2361c'/%3E%3C/svg%3E");
        margin-left: .25em;
        vertical-align: top;
    }
}

.bulleted a {
    white-space: normal;
}

.breadcrumb {
    border-bottom: 1px solid $brand-color;
    margin: 0 -1em;
    padding: .5em 1em 0;
    overflow: hidden;

    li {
        float: left;
        margin: 0;
        margin-top: -.5em;
    }

    a {
        float: left;
        padding: .75em 0;
    }

    li:after {
        content: "\203A";
        float: left;
        padding: .75em .5em;
        color: $brand-color-darker;
    }
}

.services {
    a {
        white-space: normal;
    }

    .name {
        color: #dc7;
        float: left;
        margin-bottom: .5em;
        margin-right: 1em;

        &.is-short {
            font-size: 3em;
            margin-bottom: 0;
            margin-right: .33em;
            line-height: 1.2em;
        }
    }

    a:focus .name,
    a:active .name {
        color: inherit;
    }
}

#regions {
    margin-top: -.5em;
    position: relative;
}

#svgmap {
    bottom: 0;
    height: 100%;
    position: absolute;
    right: 0;
    width: auto;
    max-width: 50%;

    path {
        fill: white;
    }

    a {
        cursor: pointer;
    }

    a path {
        fill: $brand-color-darker;
    }

    .highlight,
    a:focus,
    a:hover {
        outline: 0;

        path {
            fill: #dc7;
        }
    }

    a path.outline {
        fill: none;
        stroke: $brand-color-darker;
        stroke-width: 1px;
    }
}

.map-wrapper {
    display: none;
}

.asides {
    clear: both;
    overflow: hidden;
}

.aside {
    margin-top: 1em;
}

.box {
    padding: .5em .75em;
    border: 1px solid $brand-color;
    box-sizing: border-box;
}

.box h2 {
    margin: .25em 0 .5em;
}

.box ul {
    margin: 0;
}

.image-wrapper {
    margin-bottom: 1em;
    padding-top: 75%;
    position: relative;

    img {
        height: auto;
        width: 100%;
        position: absolute;
        top: 0;
    }
}

#sidebar {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    padding: 0 1em;
    width: 100%;
    overflow: auto;
}

#hugemap {
    height: 50%;

    .leaflet-control.hugemap-status {
        background: #fff;
        background: rgba(255, 255, 255, 0.8);
        margin: 0;
        padding: 0 5px;
    }

    .marker-cluster {
        // background-clip: padding-box;
        background: $brand-color;
        border-radius: 20px;
        box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    }

    .marker-cluster div {
        background: #fff;
        width: 30px;
        height: 30px;
        margin-left: 5px;
        margin-top: 5px;

        text-align: center;
        border-radius: 15px;
        font-size: 12px;
    }

    .marker-cluster span {
        line-height: 30px;
    }
}

table {
    border-collapse: collapse;

    tbody tr {
        border-bottom: 1px solid $brand-color;
    }
}

th,
td {
    padding: .25em .5em;
    text-align: left;

    &:first-child {
        padding-left: 0;
    }
}

.timetable-wrapper {
    font-size: .875em;
    margin: 1em 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    input {
        vertical-align: top;
    }
}

input:not(:checked) + label {
    + .timetable,
    + .route {
        .OTH {
            display: none;
        }
    }
}

.timetable {
    tr:first-child td {
        border-left: 1px solid $brand-color;

        &:first-child {
            border-left: 0;
        }
    }

    th {
        border-right: 1px solid $brand-color;
        font-weight: normal;
        white-space: nowrap;

        a {
            display: block;
            margin: -.25em -.5em;
            margin-left: 0;
            padding: .25em .5em;
            padding-left: 0;
            max-width: 60vw;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.aside {
    table {
        margin: 0 -.5em;
    }

    tr {
        border: 0;
    }

    td {
        padding: .125em .5em;
        vertical-align: top;

        &:first-child {
            white-space: nowrap;
        }

        a {
            display: block;
            margin: -.125em -.5em;
            padding: .125em .5em;
        }
    }

    .credit {
        font-size: .75em;
        margin: .3em 0 0;
        text-align: right;
    }
}

.contact-details {
    word-wrap: break-word;
}

.banner-ad-hole {
    display: none;
}

footer {
    margin-top: 1.5em;

    ul,
    .banner-ad {
        border-top: 1px solid $brand-color;
        clear: both;
        text-align: center;
        margin: 0;
    }

    .banner-ad {
        min-height: 3.125em;
        overflow: hidden;
        padding: 1em 0;

        img {
            border: 0;
        }
    }

    .adsbygoogle {
        display: block;
        margin: 0 auto;
    }

    .megabus {
        background: url(https://www.awin1.com/cshow.php?s=260973&v=2678&q=124736&r=242611);
        display: block;
        height: 250px;
        margin: 0 auto;
        overflow: hidden;
        text-indent: 100%;
        width: 300px;
    }

    .birmingham {
        background: url(https://www.awin1.com/cshow.php?s=259848&v=2678&q=124173&r=242611);
    }

    .bristol {
        background: url(https://www.awin1.com/cshow.php?s=259856&v=2678&q=124173&r=242611);
    }

    .leeds {
        background: url(https://www.awin1.com/cshow.php?s=259857&v=2678&q=124173&r=242611);
    }

    .manchester {
        background: url(https://www.awin1.com/cshow.php?s=259858&v=2678&q=124173&r=242611);
    }

    ul {
        color: #555;
        font-size: .75em;
        padding: 1em;

        a {
            padding: 1.33em .25em;
        }
    }

    li {
        display: inline;

        &:before {
            color: $brand-color-darker;
            content: "  \2022  ";
        }

        &:first-child:before {
            display: none;
        }
    }
}
