@charset "UTF-8";

@import 'variables';

body {
    // http://blog.55minutes.com/2012/04/iphone-text-resizing/
    -webkit-text-size-adjust: 100%;
    color: $text-color;
    font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    margin-bottom: env(safe-area-inset-bottom);
}

.skip {
    display: block;
    height: 0;
    overflow: hidden;
    text-align: center;
}

.skip:focus {
    height: auto;
}

header,
main,
footer {
    display: block;
}

main {
    margin: 0 auto;
    padding: 0 1em;
    padding-left: calc(env(safe-area-inset-left) + 1em);
    padding-right: calc(env(safe-area-inset-right) + 1em);
}

a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        text-decoration-skip-ink: auto;
    }

    &:focus,
    &:active {
        background-color: $brand-color;
        color: $active-link-color;
    }
}

abbr {
    cursor: help;
    font-weight: bold;
    text-decoration: none;
}

kbd {
    border: 1px solid #ccc;
    border-radius: .5em;
    font: inherit;
    padding: .25em;
}

label {
    cursor: pointer;
}

summary {
    font-weight: bold;
    margin: 1em 0;
}

@import '../js/accessible-autocomplete/accessible-autocomplete.min';

.autocomplete__hint {
    font: inherit;
}

.autocomplete__hint,
.autocomplete__input {
    border: 1px solid $border-color;
    margin: 0;  // for Safari
}

.autocomplete__menu {
    border: 1px solid $border-color;
    border-top: 0;
    width: calc(100% - 2px);
}

.autocomplete__input--focused {
    box-shadow: none;
}

.autocomplete__hint,
.autocomplete__input,
.autocomplete__option {
    font-size: 1em;
    padding: 4px;
}

.autocomplete__option {
    border-color: $border-color;
}

.autocomplete__option--odd {
    background: none;
}

.autocomplete__option--focused,
.autocomplete__option:hover {
    background: $brand-color;
    border-color: $brand-color-darker;
    color: $text-color;
}

form ul {
    margin-top: -1em;
}

#id_colours {
    margin-top: -.5em;

    li {
        margin: .5em 0;
    }

    div {
        display: inline-block;
        margin-right: .25em;
        vertical-align: middle;
    }

    input {
        margin-right: .75em;
    }
}

#id_reg,
#id_previous_reg {
    text-transform: uppercase;
}

header {
    background: $brand-color;
    overflow: hidden;
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    position: relative;

    a {
        color: $black;
        display: inline-block;
        line-height: 1;
        padding: .66667em;

        &:hover {
            background-color: $brand-color-darker;
            text-decoration: none;
        }
    }

    .site-name {
        font-size: 1.5em;
    }

    div {
        margin: 0 auto;

        .site-name {
            position: absolute;
        }
    }

    ul {
        float: right;
        margin: 0;

        li {
            display: inline;
        }

        a {
            line-height: 1.5em;
            padding: 1em;
            padding-left: .5em;
        }
    }

    .search {
        float: right;

        label {
            display: block;
            line-height: 1.5;
            padding: 1em;
            padding-left: 0;

            input {
                margin: 0;
                position: absolute;
                top: -3em;

                &:focus {
                    border-width: .75em 1em;
                    left: 0;
                    top: 0;
                    width: 100%;
                }
            }
        }

        label + input {
            display: none;
        }
    }

    ul + .search {
        label {
            padding-right: .5em;
        }
    }
}

.search {
    p {
        display: flex;
    }

    input[type='search'] {
        flex-grow: 1;
        margin-right: .5em;
    }
}

h1,
h2 {
    line-height: 1.2em;
    margin: .5em 0;
}

h1 {
    font-size: 1.75em;
}

h2 {
    font-size: 1.25em;
    margin-top: 1em;
}

h3 {
    font-size: 1em;
    margin: .25em 0;
}

.bulleted li {
    list-style: disc;
    margin-left: 1em;
}

.button,
button,
input[type='submit'] {
    appearance: none;
    background: $brand-color;
    border: 0;
    border-bottom: .0625em solid $brand-color-darker;
    border-radius: .5em;
    color: inherit;
    display: inline-block;
    font: inherit;
    margin-bottom: .0625em;
    padding: .25em .5em;
    position: relative;
    top: .0625em;

    &:hover {
        border-bottom-width: .125em;
        margin-bottom: 0;
        text-decoration: none;
        top: 0;
    }

    &:focus,
    &:active {
        background-color: $brand-color-darker;
        border-bottom: 0;
        margin-bottom: .125em;
        top: .0625em;
    }
}

input[type='text'],
input[type='url'],
input[type='email'],
input[type='password'],
input[type='number'],
textarea {
    display: block;
    width: 100%;
}

.errorlist {
    color: #f00;
    float: right;
    font-size: .875em;
    margin: 0 0 -1em;
}

input[type='text'],
input[type='url'],
input[type='number'],
input[type='email'],
input[type='password'],
input[type='search'],
textarea {
    appearance: none;
    border: 1px solid $border-color;
    border-radius: 0;
    box-sizing: border-box;
    font: inherit;
    outline: 0;
    padding: .25em;
    padding-right: 0;

    &:focus {
        border-color: $border-color-darker;
    }

    .errorlist:not(.nonfield) + p & {
        border-color: $red;
    }
}

select {
    appearance: none;
    background: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 16 8' width='16' height='8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,0 4,8 8,0'/%3E%3C/svg%3E") no-repeat;
    background-position: right;
    border: 1px solid $border-color;
    border-radius: 0;
    font: inherit;
    padding: .25em 1.5em .25em .25em;

    &::-ms-expand {
        display: none;
    }
}

form p select {
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.helptext {
    font-size: .875em;
}

.loading {
    opacity: .5;
}

.timetable-date {
    select {
        border-radius: .5em;
        padding: .5em 1.5em .5em .5em;
    }

    + .table-wrapper {
        margin-top: 1em;
    }
}

input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

ul,
ol,
li {
    list-style: none;
    padding: 0;
}

ul,
ol {
    margin: 1em 0;
}

main li {
    break-inside: avoid;

    a {
        display: block;
        overflow: hidden;
        padding: .125em 0;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.has-smalls {
    li {
        a,
        a:hover .name {
            text-decoration: none;
        }

        a:hover span {
            text-decoration: underline;
        }
    }

    span {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    small {
        color: $text-color;
        display: block;
        float: left;
        font-size: .75em;
        margin-right: .5em;
    }

    a small:last-child {
        margin: 0;
        padding-bottom: .33em;
    }
}

.bulleted,
main p,
table {
    a {
        display: inline;
        padding: 0;
    }
}

.bulleted a {
    white-space: normal;
}

.breadcrumb {
    border-bottom: 1px solid $brand-color-darker;
    margin: 0 -1em;
    overflow: hidden;
    padding: .5em 0 0 1em;

    li {
        float: left;
        margin: 0;
        margin-top: -.5em;

        &:after {
            color: $border-color-darker;
            content: '\203A';
            float: left;
            padding: .75em .5em;
        }

        &:last-child:after {
            padding-right: 0;
            width: 0;
        }
    }

    a {
        float: left;
        padding: .75em 0;
    }

}

.services {
    a {
        align-items: center;
        display: flex;
        margin-bottom: 1em;
        white-space: normal;

        small {
            color: $text-color;
            white-space: nowrap;
            margin-left: 1em;
        }
    }

    a:hover {
        text-decoration: none;

        .description {
            text-decoration: underline;
        }
    }

    a:focus,
    a:active {
        color: $black;
    }
}

.name {
    border: 1px solid $border-color;
    color: $text-color;
    float: left;
    margin-right: 1em;
    padding: .125em .5em;
    text-align: center;

    &.is-short {
        font-size: 2em;
        font-variant-numeric: tabular-nums;
        line-height: 1em;
        margin-right: .5em;
        padding: .3125em .25em;
    }

    + .name {
        border-left: 0;
        margin-left: -1em;
    }
}

.has-smalls .name {
    margin-right: .75em;

    + .name {
        margin-left: -.75em;
    }

}

#buses-online {
    .button {
        margin-right: .5em;
    }
}

#map {
    bottom: 0;
    left: 0;
    position: relative;
    right: 0;
    top: 0;

    &.service-map.expanded,
    &.full-screen {
        position: fixed;
    }
}

.journey {
    background: #fff;
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;

    &:target {
        display: block;
    }

    .map {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 7em;
    }

    .leaflet-popup-content {
        margin: 10px;
    }

    .details {
        padding: 1em;

        p {
            margin-top: 0;
        }

        .button {
            position: absolute;
            top: 1em;
            right: 1em;
        }
    }

    .trip + .map {
        bottom: 200px;
    }

    .trip {
        background: #fff;
        bottom: 0;
        height: 168px;
        overflow-y: auto;
        position: absolute;
        padding: 1em;

        table {
            table-layout: fixed;
        }

        th,
        td {
            border-left: 0;
        }

        td {
            padding: .25em 0;
            text-align: right;
            vertical-align: bottom;
        }

        th:first-child,
        td:first-child {
            text-align: left;
            width: 100%;
        }
    }
}

.service-map {
    display: none;

    &.expanded {
        display: block;
        height: auto;
        margin: 0;
        z-index: 1;
    }
}

.livery {
    display: inline-block;
    height: 1.5em;
    margin-right: .5em;
    vertical-align: text-top;
    width: 2.25em;
}

table .livery {
    margin: 0;
}

.bus {
    background: $white;
    border: 1px solid $white;
    height: 12px;
    line-height: 12px;
    margin-top: 3px;
    overflow: hidden;
}

.leaflet-marker-icon {
    // journey history
    &.just-arrow {
        .arrow {
            border: 1px solid $white;
            border-left-color: transparent;
            border-top-color: transparent;
            box-shadow: 1px 1px $black;
            height: 5px;
            transform-origin: 8px 8px;
            width: 6px;
        }
    }

    &.leaflet-div-icon {
        background: none;
        border: 0;
        color: $text-color;
        font-size: 10px;
        text-align: center;
        white-space: nowrap;

        &:hover .bus,
        .selected {
            box-shadow: rgba(0, 0, 0, .5) 0 0 5px;
        }

        .white-text {
            color: $white;
        }

        .arrow {
            border: 4px solid transparent;
            border-bottom: 5px solid $black;
            border-top: 0;
            left: 6px;
            position: absolute;
            top: -6px;
            transform-origin: 4px 16px;
        }
    }

    .stop-arrow {
        background: rgba(0, 0, 0, .6);
        border: 1px solid $white;
        border-radius: 0 8px 8px;
        height: 9px;
        width: 9px;

        &.no-direction {
            border-radius: 8px;
        }
    }
}

#hugemap {
    .stop-arrow {
        position: absolute;
        top: 0;
        z-index: -1; // reveal indicator
        width: 14px;
        height: 14px;
    }

    .stop {
        color: #fff;
        font-size: 9px;
        line-height: 16px;
        text-align: center;

        &.stop-0 {
            .stop-arrow {
                height: 10px;
                left: 2px;
                top: 2px;
                width: 10px;
            }
        }
        
        &.stop-1 {  // one character - bigger text
            font-size: 11px;
        }
    }
}

.service-map {
    .stop-arrow {
        background: #fff;
        border: 2px solid #87f;
        height: 5px;
        width: 5px;
    }
}

.leaflet-bar {
    img {
        border: 0;
        padding-top: 5px;

        .leaflet-touch & {
            padding-top: 7px;
        }
    }
}

@keyframes materialize {
    0% {
        opacity: 100%;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

.leaflet-control-locate {
    a {
        background: url('/static/locate.png');
        background-size: 16px;
    }

    &.requesting a {
        animation: materialize 3s infinite alternate ease-in-out;
    }
}

.leaflet-control-locate-location circle {
    animation: leaflet-control-locate-throb 4s ease infinite;
}

@keyframes leaflet-control-locate-throb {
    0% {
        stroke-width: 1;
    }
    50% {
        stroke-width: 3;
        transform: scale(0.8, 0.8);
    }
    100% {
        stroke-width: 1;
    }
}

body {
    .leaflet-container {
        font-family: inherit;
        font-size: .875em;

        // a {
        //     color: $link-color;
        // }
    }
}

.leaflet-popup-content {
    img {
        vertical-align: middle;
    }

    a {
        display: block;
        font-size: 1em;
        overflow: hidden;

        span {
            display: block;
        }

        small {
            color: $text-color;
            display: block;
            float: left;
            font-size: .75em;
            margin-right: .5em;
        }
    }
}

.leaflet-left {
    margin-left: env(safe-area-inset-left);
}

.leaflet-right {
    margin-right: env(safe-area-inset-right);
}

table {
    border-collapse: collapse;
}

table.sortable th {
    cursor: pointer;
}

.fleet {
    font-size: .875em;

    .livery-cell {
        padding-left: 3.25em;
        position: relative;
        max-width: 0;

        .livery {
            left: .5em;
            position: absolute;
            top: .2em;
        }
    }

    .trivia {
        display: none;
    }

    th {
        white-space: normal;
    }

    td {
        max-width: 10em;
        overflow: hidden;
        vertical-align: top;
    }

    .number {
        text-align: right;
    }

    .last-seen {
        max-width: 5em;
    }

    tbody {
        white-space: nowrap;
    }
}

td {
    border-top: 1px solid $border-color;
}

table a {
    display: block;
    margin: -.25em -.5em;
    padding: .25em .5em;
}

th,
td {
    border-left: 1px solid $border-color;
    padding: .25em .5em;
    text-align: left;

    &:first-child {
        border-left: 0;
        padding-left: 0;

        a {
            margin-left: 0;
            padding-left: 0;
        }
    }

    &:last-child {
        padding-right: 0;

        a {
            margin-right: 0;
            padding-right: 0;
        }
    }
}

thead {
    th {
        padding-top: 0;
        vertical-align: bottom;
    }
}

.table-wrapper {
    margin-left: calc(env(safe-area-inset-left) * -1 - 1em);
    margin-right: calc(env(safe-area-inset-right) * -1 - 1em);
    overflow-x: auto;

    table {
        border-collapse: separate;
        border-spacing: 0;
        padding-left: calc(env(safe-area-inset-left) + 1rem);
        padding-right: calc(env(safe-area-inset-right) + 1rem);
        white-space: nowrap;
    }
}

.timetable-wrapper-wrapper {
    font-size: .875em;
    margin: 1em 0;

    input {
        vertical-align: top;
    }
}

.timetable-wrapper {
    margin-left: -1.14em;
    margin-left: calc(env(safe-area-inset-left) * -1 - 1.14em);
    margin-right: -1.14em;
    margin-right: calc(env(safe-area-inset-right) * -1 - 1.14em);
    margin-top: 1em;
    overflow-x: auto;
    position: relative;

    &--wide {
        margin-left: 0;
    }
}

input:not(:checked) + label {
    + .timetable-wrapper,
    + .route {
        .minor:not(:first-child):not(:last-child):not(.referrer) {
            display: none;
        }
    }
}

.timetable {
    border-collapse: separate;
    border-spacing: 0;
    font-variant-numeric: tabular-nums;
    padding: 0 1.14em;
    padding-left: calc(env(safe-area-inset-left) + 1.14em);
    padding-right: calc(env(safe-area-inset-right) + 1.14em);

    .timetable-wrapper--wide & {
        padding-left: 0;
    }

    td {
        border-left: 0;
    }

    td,
    th {
        height: 1.5em;
    }

    tbody tr:first-child {
        td,
        th {
            border-top: 0;
        }
    }

    .referrer {
        td,
        th {
            background: $brand-color;
        }

        .then-every {
            background: none;
        }

        a {
            color: $active-link-color;
        }
    }

    thead {
        th {
            border-top: 0;
        }

        td {
            border: 1px solid $border-color;
            border-width: 0 1px 1px 0;
            text-align: center;

            &:first-child {
                border-bottom: 0;
            }

            &:last-child {
                border-right: 0;
            }
        }
    }

    tfoot {
        td {
            border: 1px solid $border-color;
            border-width: 1px 1px 0 0;
            vertical-align: top;

            &:last-child {
                border-right: 0;
            }

        }
    }

    .dep,
    .minor + .minor {
        th,
        td {
            border-top: 0;
        }
    }

    .minor {
        th {
            a {
                padding-left: 1em;
            }
        }
    }

    th {
        background: #fff;
        border-right: 1px solid $border-color;
        border-top: 1px solid $border-color;
        font-weight: normal;
        padding-right: 0;
        white-space: nowrap;

        a {
            margin-right: 0;
        }
    }
}

.timetable-wrapper--wide {
    th {
        left: 0;
        overflow: hidden;
        position: sticky;
        max-width: calc(100vw - 12em);
    }

    td:first-child {
        background: #fff;
        left: 0;
        position: sticky;
    }
}

tfoot a {
    display: inline;
}

.route {
    a {
        margin-left: 1em;
    }

    li:before {
        border: 2px solid $border-color;
        border-width: 2px 0 0 2px;
        content: " ";
        display: block;
        position: absolute;
        margin-top: .85em;
        height: 1.75em;
        width: .5em;
    }

    li:last-child:before {
        height: 0;
    }

    .minor {
        a {
            font-size: .875em;
            margin-left: 2em;
        }

        &:before {
            border-top-width: 1px;
            width: 1em;
        }
    }
}

.trip-timetable {
    td {
        padding: .25rem .5rem;
    }

    td:first-child {
        padding-left: 0;
    }

    td:first-child a {
        margin: -.25rem -.5rem;
        margin-left: 0;
        padding: .25rem .5rem;
        padding-left: 0;
    }

    .minor {
        font-size: .875em;

        td a {
            padding-left: 1em;
        }

        + .minor {
            th,
            td {
                border-top: 0;
            }
        }
    }

    .referrer {
        background: $brand-color;

        a {
            color: $active-link-color;
        }
    }
}

.credit {
    font-size: .875em;
}

.aside {
    margin-top: 1em;

    table {
        margin: 0 -.5em;
    }

    td {
        border: 0;
        padding: .125em .5em;
        vertical-align: top;

        &:nth-child(2) {
            width: 100%;
        }

        &:last-child {
            white-space: nowrap;
        }

        a {
            margin: -.125em -.5em;
            padding: .125em .5em;
        }
    }

    h2 {
        margin: .25em 0 .5em;
    }

    ul {
        margin: 0;
    }

    .credit {
        font-size: .75em;
        margin: .3em 0 0;
        text-align: right;
    }
}

#hugemap {
    height: 100%;
}

.leaflet-container .leaflet-control.hugemap-status {
    background: $white;
    background: rgba(255, 255, 255, .8);
    margin: 0;
    padding: 0 5px;
}

.message {
    border: 1px solid $border-color;
    padding: 1em;
}

.situation {
    border: 1px solid $border-color;
    border-radius: .5em;
    margin: 1em 0;
    padding: 1em;
    padding-top: .5em;

    .reason {
        background: $brand-color;
        border-radius: .5em 0 .5em 0;
        float: left;
        margin: -.5em 1em 0 -1em;
        padding: .5em 1em;
    }

    h2 {
        font-size: 1em;
        display: inline;
    }

    p:first-child {
        margin-top: .5em;
    }

    p:last-child {
        margin-bottom: 0;
    }
}

.contact-details {
    word-wrap: break-word;
}

.previous {
    float: left;
}

.next {
    float: right;
}

nav {
    margin: 1em auto;
    overflow: hidden;

    p {
        margin: 0;
    }
}

.ad {
    text-align: center;
}

.adsbygoogle {
    margin: 1em auto;
    display: block;
    max-width: 60.5em;
    height: 100px;
    width: 100%;
}

.adsbygoogle[style="width: 0px; height: 0px;"] {
    display: none;
}

.horizontal {
    li {
        display: inline;

        a {
            display: inline;
        }

        &:before {
            color: $brand-color-darker;
            content: '  \2022  ';
        }

        &:first-child::before {
            display: none;
        }
    }
}

.tabs {
    box-shadow: inset 0 -1px $brand-color-darker;
    overflow: hidden;

    li {
        background: #fff;
        border: 1px solid $brand-color-darker;
        border-bottom: 0;
        float: left;
        margin-right: -1px;
        padding: .75em 1em;

        a {
            box-shadow: inset 0 -1px $brand-color-darker;
            float: left;
            margin: -.75em -1em;
            padding: .75em 1em;
        }
    }
}

.regions {
    ul {
        margin: .25em 0 .25em 1em;
    }
}

footer {
    @extend .horizontal;
    clear: both;
    margin-top: 1.5em;
    text-align: center;

    ul {
        border-top: 1px solid $brand-color-darker;
        clear: both;
        margin: 0;
        padding: 1em .625em;
    }

    ul {
        font-size: .75em;
        padding: 1em;

        a {
            padding: 1.2em .25em;
        }
    }
}
