header,
.breadcrumb,
.button,
input,
label,
.ad,
footer {
    display: none;
}

body,
a {
    color: $black;
}

main {
    margin: 0;
    padding: 0;
    width: auto;
}

h1 {
    font-size: 1.75em;
    margin-top: 0;
}

.timetable-date {
    select {
        border: 0;
        height: auto;
        padding: 0;
    }

    &:after {
        display: none;
    }
}

.timetable-wrapper {
    margin-top: 0;
}

.timetable {
    thead td,
    td,
    th {
        border-color: #eee;
    }
}
