$brand-color: #9fa;
$brand-color-darker: #8e9;
$brand-color-darker-darker: #7d8;
$border-color: $brand-color;
$border-color-darker: $brand-color-darker;

$black: #000;
$white: #fff;
$red: #f00;

$background-color: $white;
$text-color: #222;

$link-color: #54c;
$active-link-color: $black;
