$brand-color: #ef9;
$brand-color-darker: #de8;
$brand-color-darker-darker: #cd7;
$border-color: $brand-color-darker;
$border-color-darker: $brand-color-darker-darker;

$black: #000;
$white: #fff;
$red: #f00;

$background-color: $white;
$text-color: #222;

$link-color: #54c;
$active-link-color: $black;
