@font-face {
    font-family: 'Transport New';
    src: url('../fonts/transportnew-light.eot');
    src: url('../fonts/transportnew-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/transportnew-light.woff2') format('woff2'),
         url('../fonts/transportnew-light.woff') format('woff'),
         url('../fonts/transportnew-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Transport New';
    src: url('../fonts/transportnew-medium.eot');
    src: url('../fonts/transportnew-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/transportnew-medium.woff2') format('woff2'),
         url('../fonts/transportnew-medium.woff') format('woff'),
         url('../fonts/transportnew-medium.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}
