body {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}

a {
    color: #4c2c92;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    position: relative;
    line-height: 1.2;
    z-index: 1;
}

h2 {
    clear: right;
    font-size: 24px;
    font-weight: normal;
    line-height: 24px;
    margin: 16px 0;
}

ul {
    margin: 16px 0;
    padding: 0;
}

ul li {
    margin: 0 0 0 20px;
    padding: 0;
    list-style: square;
}


header {
    background: #68D3FB;
}

header a {
    background: url(../bus.svg);
    background-size: 100px auto;
    background-repeat: no-repeat;
    background-position: 20px;
    color: black;
    display: block;
    font-size: 24px;
    line-height: 1.2;
    margin: 0 auto;
    padding: 20px;
    padding-left: 130px;
}

main {
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

#breadcrumb {
    border-bottom: 1px solid #68D3FB;
    margin: 0 -20px;
    padding: 20px 20px;
}

#map {
    display: none;
}

#svgmap {
    position: absolute;
    top: 0;
    left: 140px;
    bottom: 0;
    width: 218px;
    height: 388px;
}

#svgmap path {
    fill: #8c8;
}

#svgmap a:hover path {
    fill: #6a6;
}

@media (max-width: 767px) {
    img {
        max-width: 100%;
        height: auto;
    }
}

@media (min-width: 768px) {

    header a {
       width: 830px;
    }

    #breadcrumb,
    main {
        width: 940px;
    }

    #map {
        display: block;
        float: right;
        height: 300px;
        margin-left: 20px;
        margin-bottom: 20px;
        width: 460px;
    }

    aside {
        width: 260px;
    }
}

aside {
    padding: 0 19px;
    border: 1px solid #68D3FB;
}

.adsbygoogle,
footer {
    border-top: 1px solid #68D3FB;
    clear: both;
    margin-top: 24px;
    text-align: center;
}

.adsbygoogle {
    padding: 20px 0;
    margin-bottom: -24px;
}

footer {
    color: #555;
    font-size: 14px;
    padding: 18px 20px 22px;
}