body {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}

a {
    color: #4c2c92;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:focus, a:active {
    color: black;
    background-color: #68D3FB;
}

h1 {
    line-height: 1.2;
    margin: 20px 0;
    position: relative;
    z-index: 1;
}

h2 {
    clear: right;
    font-size: 24px;
    font-weight: normal;
    line-height: 24px;
    margin: 20px 0 16px;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    line-height: 21px;
    list-style: none;
    margin: 0;
}

ul a {
    display: block;
    padding: 3px 0 4px;
}

header {
    background: #68D3FB;
}

header a {
    background: url(../bus.svg);
    background-size: 100px auto;
    background-repeat: no-repeat;
    background-position: right;
    color: black;
    display: inline-block;
    font-size: 24px;
    padding: 16px 16px 20px;
    padding-right: 110px;
}

main {
    padding: 0 16px;
    position: relative;
}

.breadcrumb {
    border-bottom: 1px solid #68D3FB;
    margin: 0 -16px;
    overflow: hidden;
    padding: 16px;
}

.breadcrumb li {
    display: inline;
}

.breadcrumb li:after {
    color: #68D3FB;
    content: '\203A';
    margin: 0 .5em;
}

.breadcrumb li:after,
.breadcrumb a {
    display: block;
    float: left;
}

#map {
    display: none;
}

#svgmap {
    bottom: -10px;
    height: 440px;
    left: 50%;
    position: absolute;
    right: 0;
    width: 50%;
}

#svgmap path {
    fill: #8c8;
}

#svgmap .highlight path,
#svgmap a:focus path,
#svgmap a:hover path {
    fill: #6a6;
}

.locate {
    background-color: #68D3FB;
    background-image: url(../location.svg);
    background-repeat: no-repeat;
    background-position: 10px 10px;
    background-size: 16px 16px;
    border-bottom: 2px solid #68bbfb;
    border-radius: 7px;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font: inherit;
    margin-top: 1px;
    padding: 5px 10px 7px 32px;
    vertical-align: bottom;
}

.locate:hover {
    text-decoration: none;
    margin-top: 0;
    border-bottom-width: 3px;
}

.locate:active {
    margin-top: 3px;
    border-bottom-width: 1px;
    background-color: #68f8fb;
    border: 0;
}

.asides {
    margin: 20px 0;
    clear: both;
}

.aside {
    margin-bottom: 20px;
}

.box {
    padding: 8px 15px;
    border: 1px solid #68D3FB;
}

.box h2 {
    font-size: 20px;
    line-height: 21px;
    margin: 4px 0 11px;
}

.box ul {
    margin-top: 0;
}

.aside img {
    width: 300px;
    height: 250px;
}

footer {
    margin-top: 20px;
}

footer .ad,
footer p {
    border-top: 1px solid #68D3FB;
    clear: both;
    text-align: center;
    margin: 0;
}


footer .ad {
    padding: 20px;
    overflow: hidden;
}

.adsbygoogle {
    display: block;
    margin: 0 auto;
    padding: 0;
}

footer p {
    color: #555;
    font-size: 14px;
    padding: 18px 20px 22px;
}


@media (max-width: 500px) {
    img {
        max-width: 100%;
        height: auto;
    }
}

@media (min-width: 480px) {
    .long {
        overflow: hidden;
    }

    .aside,
    .long li {
        max-width: 48%;
        width: 48%;
        float: left;
        margin-left: 4%;
        box-sizing: border-box;
    }

    .long li:nth-child(2n-1),
    .asides .aside:first-child {
        clear: left;
        margin-left: 0;
    }

    #svgmap {
        left: 33.333%;
        width: 66.667%;
    }
}

@media (min-width: 768px) {
    #map {
        display: block;
        float: right;
        height: 300px;
        margin-bottom: 20px;
        width: 48%;
        margin-left: 4%;
    }

    img {
        width: 48%;
        height: auto;
    }

    #svgmap {
        left: 25%;
        right: 50%;
        width:  25%%;
    }

    ul a {
        display: inline-block;
    }

    ul.long a {
        display: block;
    }
}

@media (min-width: 1000px) {
    header div {
        margin: 0 auto;
        width: 972px;
    }

    main {
        margin: 0 auto;
        width: 940px;
    }

    #map {
        width: 49%;
        margin-left: 2%;
    }

    img {
        width: 49%;
    }

    .long li,
    .long li:nth-child(2n-1),
    .asides .aside {
        clear: none;
        margin-left: 2%;
        width: 32%;
    }

    .long li:nth-child(3n-2),
    .asides .aside:first-child {
        clear: left;
        margin-left: 0;
    }

    .adsbygoogle {
        max-width: 728px;
    }
}

.leaflet-container .leaflet-control,
.leaflet-container .leaflet-popup-content {
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
}

#hugemap .leaflet-control.hugemap-status {
    background: #fff;
    background: rgba(255, 255, 255, 0.7);
    margin: 0;
    padding: 0 5px;
}
