@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/pt-sans-regular.eot');
    src: url('../fonts/pt-sans-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pt-sans-regular.woff') format('woff'),
         url('../fonts/pt-sans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/pt-sans-bold.eot');
    src: url('../fonts/pt-sans-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pt-sans-bold.woff') format('woff'),
         url('../fonts/pt-sans-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}

header,
main,
aside,
footer {
    display: block;
}

a {
    color: #4c2c92;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:focus,
a:active {
    color: #000;
    background-color: #68D3FB;
}

h1 {
    line-height: 1.2;
    margin: 20px 0;
}

h1, p {
    position: relative;
    z-index: 1;
}

h2 {
    clear: right;
    font-size: 24px;
    font-weight: normal;
    line-height: 24px;
    margin: 20px 0 16px;
}

ul {
    margin: 0;
    padding: 0;
}

main ul li {
    line-height: 21px;
    list-style: none;
    margin: 0;
}

main ul a {
    display: block;
    padding: 3px 0 4px;
}

.services a {
    display: block;
    overflow: hidden;
    padding: 6px 0 8px;
}

.services span {
    display: block;
}

.services .name {
    color: #68bbfb;
    float: left;
    margin-right: 14px;
}

.services .name.is-short {
    font-size: 40px;
    line-height: 42px;
}

.services a:focus .name,
.services a:active .name {
    color: inherit;
}

header {
    background: #68D3FB;
}

header a {
    color: #000;
    display: inline-block;
    font-size: 24px;
    line-height: 24px;
    padding: 12px 16px 16px;
}

header a:after {
    background: url(../bus.svg);
    background-size: 80px;
    content: " ";
    display: inline-block;
    height: 24px;
    margin-left: 10px;
    margin-bottom: -4px;
    width: 80px;
}

header a:hover {
    background-color: #68bbfb;
    text-decoration: none;
}

header a small {
    border-radius: 3px;
    bottom: 2px;
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    position: relative;
    text-decoration: none;
    vertical-align: top;
}

main {
    padding: 0 16px;
    position: relative;
}

.breadcrumb {
    border-bottom: 1px solid #68D3FB;
    margin: 0 -16px;
    overflow: hidden;
    padding: 16px;
}

.breadcrumb li {
    display: inline;
}

.breadcrumb li:after {
    color: #68D3FB;
    content: '\203A';
    margin: 0 .5em;
}

.breadcrumb li:after,
.breadcrumb a {
    display: block;
    float: left;
}

#map {
    display: none;
}

#svgmap {
    bottom: -10px;
    height: 440px;
    left: 50%;
    position: absolute;
    right: 0;
    width: 50%;
}

#svgmap path {
    fill: #8c8;
}

#svgmap .highlight path,
#svgmap a:focus path,
#svgmap a:hover path {
    fill: #6a6;
}

.locate {
    background-color: #68D3FB;
    background-image: url(../location.svg);
    background-repeat: no-repeat;
    background-position: 10px 10px;
    background-size: 16px 16px;
    border-bottom: 2px solid #68bbfb;
    border-radius: 7px;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font: inherit;
    margin-top: 1px;
    padding: 6px 10px 6px 32px;
    vertical-align: bottom;
}

.locate:hover {
    border-bottom-width: 3px;
    margin-top: 0;
    text-decoration: none;
}

.locate:focus,
.locate:active {
    background-color: #68bbfb;
    border: 0;
    margin-top: 3px;
}

.asides {
    margin: 20px 0;
    clear: both;
}

.aside {
    margin-bottom: 20px;
}

.box {
    padding: 8px 15px;
    border: 1px solid #68D3FB;
    box-sizing: border-box;
}

.box h2 {
    font-size: 20px;
    line-height: 21px;
    margin: 4px 0 11px;
}

.box ul {
    margin-top: 0;
}

.aside img {
    width: 300px;
    height: 250px;
}

footer {
    margin-top: 20px;
}

footer .banner-ad,
footer ul {
    border-top: 1px solid #68D3FB;
    clear: both;
    text-align: center;
    margin: 0;
}


footer .banner-ad {
    padding: 20px;
    overflow: hidden;
}

.adsbygoogle {
    display: block;
    margin: 0 auto;
    padding: 0;
}

footer ul {
    color: #555;
    font-size: 14px;
    padding: 18px 20px 22px;
}

footer li {
    display: inline;
}

footer li:before {
    content: "  \2022  ";
    margin: 0 4px;
}

footer li:first-child:before {
    display: none;
}

@media (max-width: 500px) {
    img {
        max-width: 100%;
        height: auto;
    }

}

@media (min-width: 480px) {
    .long {
        overflow: hidden;
    }

    .aside,
    .long li {
        max-width: 48%;
        width: 48%;
        float: left;
        margin-left: 4%;
    }

    .long li:nth-child(2n-1),
    .asides .aside:first-child {
        clear: left;
        margin-left: 0;
    }

    #svgmap {
        left: 33.333%;
        width: 66.667%;
    }
}

@media (min-width: 768px) {
    #map {
        display: block;
        float: right;
        height: 300px;
        margin-bottom: 20px;
        width: 48%;
        margin-left: 4%;
    }

    img {
        width: 48%;
        height: auto;
    }

    #svgmap {
        left: 25%;
        right: 50%;
        width:  25%%;
    }

    main ul a {
        display: inline-block;
    }

    ul.long a {
        display: block;
    }

    .services {
        overflow: hidden;
    }

    .services li {
        width: 48.5%;
        float: left;
        margin-left: 3%;
    }

    .services li:nth-child(2n-1) {
        clear: left;
        margin-left: 0;
    }

}

@media (min-width: 1000px) {
    header div {
        margin: 0 auto;
        width: 972px;
    }

    main {
        margin: 0 auto;
        width: 940px;
    }

    #map {
        width: 49%;
        margin-left: 2%;
    }

    img {
        width: 49%;
    }

    .long li,
    .long li:nth-child(2n-1),
    .asides .aside {
        clear: none;
        margin-left: 2%;
        width: 32%;
    }

    .long li:nth-child(3n-2),
    .asides .aside:first-child {
        clear: left;
        margin-left: 0;
    }

    .adsbygoogle {
        max-width: 728px;
    }
}

.leaflet-container div {
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
}

#hugemap .leaflet-control.hugemap-status {
    background: #fff;
    background: rgba(255, 255, 255, 0.8);
    margin: 0;
    padding: 0 5px;
}

#search {
    display: inline-block;
    position: relative;
    z-index: 1;
}

#search input {
    background: #fff;
    border: 1px solid #68D3FB;
    box-shadow: none;
    font: inherit;
    outline: none;
    padding: 5px 5px 7px;
    position: relative;
    width: 200px;
    z-index: 2;
}

#search input:focus {
    border-color: #68bbfb;
}

#results {
    background: #fff;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: #68D3FB 0 0 5px;
    position: absolute;
    top: 38px;
    width: 200px;
}

#results li {
    white-space: nowrap;
}

#results li a {
    border: 1px solid #68D3FB;
    border-top: 0;
    display: block;
    padding: 5px 5px 7px;
    overflow: hidden;
}

.asides img {
    max-width: 300px;
}

#hugemap {
    height: 640px;
    height: 90vh;
    margin: 20px 0;
}

.marker-cluster {
    background-clip: padding-box;
    background-color: #68d3fb;
    border-radius: 20px;
}

.marker-cluster div {
    background-color: #68bbfb;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;

    text-align: center;
    border-radius: 15px;
    font-size: 12px;
}

.marker-cluster span {
    line-height: 30px;
}
