@import 'base';

@media (min-width: 30em) {
    @import '30em';
}

@media (min-width: 48em) {
    @import '48em';
}

@media (min-width: 62.5em) {
    @import '62em';
}

@media print {
    @import 'print';
}

@media (min-width: 600px) {
    footer,
    .service-map {
        margin-bottom: 90px;
    }
}

@media (min-width: 960px) { // (60em)
    footer,
    .service-map {
        margin-bottom: 126px;
    }

    .service-map {
        margin-top: 90px;
    }

    .ad-wrapper {
        height: 90px;
    }
}

@media (min-width: 970px) {
    .narrow .ad-wrapper {
        margin: 1em -121px; // 970px
    }
}

@media (min-width: 1200px) {
    .narrow .ad-wrapper {
        margin: 1em -236px; // 1200
    }

    .wide .ad-wrapper {
        margin: 1em -116px;  // 1200px
    }
}
