@import 'base';

@media (min-width: 30em) {
    @import '30em';
}

@media (min-width: 48em) {
    @import '48em';
}

@media (min-width: 60em) {
    @import '60em';
}

@media (min-width: 62.5em) {
    @import '62em';
}

@media (min-width: 106.5em) {
    @import '99em';
}

@media print {
    @import 'print';
}

@media (min-width: 600px) {
    footer,
    .service-map {
        margin-bottom: 90px;
    }
}

@media (min-width: 960px) {
    footer,
    .service-map {
        margin-bottom: 126px;
    }

    .service-map {
        margin-top: 90px;
    }
}
