interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://lothianapi.com/vehicles/all
  response:
    body:
      string: '{"server":"LothianAPI","timeElapsed":13.9,"networkTime":"2025-12-18 02:48:11","vehicles":[
        {"id":"1120","tripID":"NovWedAL23907804","transitMode":"bus","coordinate":{"latitude":55.97748565673828,"longitude":-3.216128349304199},"status":"scheduled","isRealTime":true,"lastUpdated":"2025-12-18T02:47:49","bearing":171,"speed":5,"routeName":"N14","routeColor":"#0C1436","routeTextColor":"#FFFFFF","destination":"Surgeons'' Hall","nextStopCode":"36237267","vehicleID":"1120"},
        {"id":"1116","tripID":"NovWedAL23907850","transitMode":"bus","coordinate":{"latitude":55.92316436767578,"longitude":-3.1644489765167236},"status":"scheduled","isRealTime":true,"lastUpdated":"2025-12-18T02:47:49","bearing":310,"speed":14,"routeName":"N3","routeColor":"#0C1436","routeTextColor":"#FFFFFF","destination":"Haymarket","nextStopCode":"36235253","vehicleID":"1116"},
        {"id":"1130","tripID":"NovThurAL23977310","transitMode":"bus","coordinate":{"latitude":55.94731521[...]
