interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://tfe-opendata.com/api/v1/vehicle_locations
  response:
    body:
      string: '{"last_updated":1679587755,"vehicles":[

        {"vehicle_id":"454","last_gps_fix":1679587641,"last_gps_fix_secs":114,"source":"Icomera
        Wi-Fi","latitude":55.952787,"longitude":-3.191993,"speed":12,"heading":251,"service_name":"11","destination":"Hyvots
        Bank","journey_id":"6212","next_stop_id":"36232525","vehicle_type":"bus","ineo_gps_fix":1679587734,"icomera_gps_fix":1679591241},

        {"vehicle_id":"692","last_gps_fix":1679587733,"last_gps_fix_secs":22,"source":"Icomera
        Wi-Fi","latitude":55.974697,"longitude":-3.183474,"speed":18,"heading":77,"service_name":"11","destination":"Ocean
        Terminal","journey_id":"6093","next_stop_id":"36242938","vehicle_type":"bus","ineo_gps_fix":1679587734,"icomera_gps_fix":1679591333},

        {"vehicle_id":"873","last_gps_fix":1679580149,"last_gps_fix_secs":7606,"source":"MyBusTracker","latitude":49.7668,"lo[...]
