interactions:
- request:
    body: "\n            <soap12:Envelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n
      \           xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap12=\"http://www.w3.org/2003/05/soap-envelope\">\n
      \               <soap12:Body>\n                    <GetVehiclesNearPoint xmlns=\"http://www.acishorizon.com/\">\n
      \                       \n                        <maxResults>100</maxResults>\n
      \                   </GetVehiclesNearPoint>\n                </soap12:Body>\n
      \           </soap12:Envelope>\n        "
    headers:
      content-type: [application/soap+xml]
    method: POST
    uri: http://belfastapp.acishorizon.com/DataService.asmx
  response:
    body: {string: '<?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://www.w3.org/2003/05/soap-envelope"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetVehiclesNearPointResponse
        xmlns="http://www.acishorizon.com/"><GetVehiclesNearPointResult><ExtensionData
        /><ErrorCode>100</ErrorCode><PublicServices /><Stops /><Vehicles><VehicleRealtime><ExtensionData
        /><VehicleDestination>Wellington Place</VehicleDestination><VehicleDistance>6070958</VehicleDistance><VehicleId>95</VehicleId><VehicleJourneyId>8429</VehicleJourneyId><VehicleLastStopPassed>842</VehicleLastStopPassed><VehicleLateness>0</VehicleLateness><VehicleLatitude>54.53843139</VehicleLatitude><VehicleLinkProgress>-1</VehicleLinkProgress><VehicleLongitude>-6.01421833</VehicleLongitude><VehicleOperatorId>1</VehicleOperatorId><VehicleOperatorName>Translink
        Metro</VehicleOperatorName><VehiclePublicServiceCode>9A</VehiclePublicServiceCode><VehicleSsi>0</VehicleSsi><VehicleType>Scania
        Solar</VehicleType></VehicleRealtime><VehicleRealtime><ExtensionData /><VehicleDestination>Four
        Winds</VehicleDestination><VehicleDistance>6071500</VehicleDistance><VehicleId>363</VehicleId><VehicleJourneyId>8101</VehicleJourneyId><VehicleLastStopPassed>739</VehicleLastStopPassed><VehicleLateness>0</VehicleLateness><VehicleLatitude>54.55220056</VehicleLatitude><VehicleLinkProgress>-1</VehicleLinkProgress><VehicleLongitude>-5.89562333</VehicleLongitude><VehicleOperatorId>1</VehicleOperatorId><VehicleOperatorName>Translink
        Metro</VehicleOperatorName[...]
- request:
    body: "\n            <soap12:Envelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n
      \           xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap12=\"http://www.w3.org/2003/05/soap-envelope\">\n
      \               <soap12:Body>\n                    <GetVehiclesNearPoint xmlns=\"http://www.acishorizon.com/\">\n
      \                       <latitude>54.5957</latitude><longitude>-5.9169</longitude>\n
      \                       <maxResults>100</maxResults>\n                    </GetVehiclesNearPoint>\n
      \               </soap12:Body>\n            </soap12:Envelope>\n        "
    headers:
      content-type: [application/soap+xml]
    method: POST
    uri: http://belfastapp.acishorizon.com/DataService.asmx
  response:
    body: {string: '<?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://www.w3.org/2003/05/soap-envelope"
        xmlns:xsi="ht[...]
[...]
