interactions:
- request:
    body: null
    headers:
    method: GET
    uri: "https://api.stagecoach-technology.net/vehicle-tracking/v1/vehicles?services=:*:::"
  response:
    body:
      string: '{"header": {"requestId": "","returnedItemCount":
        "12","subscription_id": ""},"services":
        [{"fn":
        "19617","ut": "1573965060545","oc": "SCCM","sn": "12","dn": "OUTBOUND","sd":
        "XEAO012.O","so": "CA","sr": "Cambridge - Ely","cd": "False","vc": "False","la":
        "52.384655","lo": "0.2262839","hg": "0","cg": "","dd": "","or": "0500CCITY274","on":
        "Drummer St Bay 9","nr": "","nn": "","fr": "0500EELYY039","fs": "Market St
        Stop D","ao": "1573922100000","eo": "","an": "","en": "","ax": "","ex": "","af":
        "","ef": "","ku": "https://tis-kml-stagecoach.s3.amazonaws.com/kml/1c439dc8-87da-4cb1-961c-be195c6b9d86.kml","td":
        "18940","pr": "0500EELYY037","cs": "","ns": "0500EELYY127","jc": "True"},{"fn":
        "19618","ut": "1573999189302","oc": "SCCM","sn": "3","dn": "INBOUND","sd":
        "XEAO003.I","so": "CA","sr": "Fulbourn - Fison Road","cd": "False","vc": "False","la":
        "52.189003","lo": "0.1381378","hg": "0","cg": "","dd": "Fison Rd","or": "0500SFULB008","on":
        "Superstore","nr": "0500CCITY216","nn": "Clifton Road","fr": "0500CCITY137","fs":
        "Berghott Close","ao": "1573998420000","eo": "1573998420000","an": "1573999260000","en":
        "157399915[...]
