interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://vpos.translinkniplanner.co.uk/velocmap/vmi/VMI
  response:
    body:
      string: "[{    \"ID\": \"9f672527-a167-4be5-9e65-ac3816511891\",
        \   \"Operator\": \"Ulsterbus\",    \"JourneyIdentifier\": \"1002\",
        \   \"DayOfOperation\": \"27.09.2025\",    \"Delay\": 73,    \"MOTCode\":
        5,    \"X\": \"-6.361208\",    \"Y\": \"54.198292\",    \"Timestamp\":
        \"2025-09-27T06:40:42+01:00\",    \"XPrevious\": \"-6.361343\",    \"YPrevious\":
        \"54.190586\",    \"TimestampPrevious\": \"2025-09-27T06:40:09+01:00\",
        \   \"VehicleIdentifier\": \"ULB-1135\",    \"RealtimeAvailable\": 1,
        \   \"LineText\": \"X1\",    \"DirectionText\": \"Grand Central\"
        \ },  {    \"ID\": \"2bbf342a-5c67-4634-87dd-eff61f345564\",    \"Operator\":
        \"Metro\",    \"JourneyIdentifier\": \"0625\",    \"DayOfOperation\":
        \"27.09.2025\",    \"Delay\": 524,    \"MOTCode\": 5,    \"X\":
        \"-5.912418\",    \"Y\": \"54.666336\",    \"Timestamp\": \"2025-09-27T06:40:47+01:00\",
        \   \"XPrevious\": \"-5.912552\",    \"YPrevious\": \"54.666954\",
        \   \"TimestampPrevious\": \"2025-09-27T06:40:14+01:00\",    \"Ve[...]
