{% extends 'page.html' %}

{% block headerad %}{% endblock %}

{% block title %}Page not found – Bus Times{% endblock %}

{% block bodyclass %}narrow uncommercial{% endblock %}

{% block content %}

<h1>Page not found</h1>

{% if service %}
    <p>Sorry, it looks like the {{ service.mode }} service <strong>{{ service }}</strong> no longer exists. It might have been replaced by an equivalent service, or transferred to a different operator.</p>
    <p>Perhaps one of the following pages will be useful:</p>
    <ul>
    {% for operator in service.operator.all %}
        <li><a href="{{ operator.get_absolute_url }}">Services operated by {{ operator }}</a></li>
    {% endfor %}
    {% for locality in localities %}
        <li><a href="{{ locality.get_absolute_url }}">{{ locality }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Sorry, this page doesn’t exist.</p>
{% endif %}

{% endblock %}

{% block ad %}{% endblock %}
