{% extends 'page.html' %}

{% block title %}Error 500{% endblock %}

{% block bodyclass %}narrow{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block content %}

    <h1>oops!</h1>

    <p>something has gone wrong on our end. don't worry, you've not broke it (unlike calico)</p>

    {% if exception %}
        <details>
            <summary>Technical details</summary>

            <p><code>{{ exception }}</code></p>

            {% for line in traceback %}
                <pre>{{ line }}</pre>
            {% endfor %}
        </details>
    {% endif %}

{% endblock content %}
