{% extends 'page.html' %}

{% block title %}Error 500{% endblock %}

{% block bodyclass %}narrow{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block content %}

    <h1>Error</h1>

    <p>Sorry, something has gone wrong. Don’t worry, it’s not your fault</p>

    {% if exception %}
        <details>
            <summary>Technical details</summary>

            <p><code>{{ exception }}</code></p>

            {% for line in traceback %}
                <pre>{{ line }}</pre>
            {% endfor %}
        </details>
    {% endif %}

{% endblock content %}
