{% extends 'page.html' %}

{% block title %}Apps – Bus Times{% endblock %}

{% block bodyclass %}narrow{% endblock %}

{% block content %}

<h1>Apps</h1>

<p>Although there’s no official bustimes.org app, I’m happy to recommend these competitors’ apps for your phone, tablet or watch.<p>

{% load static %}

<h2>Citymapper</h2>

<p>If you're lucky enough to live in London, Birmingham or Manchester, Citymapper is a much-loved app for journey planning and live times covering all modes of public transport.</p>

<a href="https://redirect.viglink.com?key=63dc39b879576a255e9dcee17b6c1929&u=https%3A%2F%2Fitunes.apple.com%2Fgb%2Fapp%2Fcitymapper-transit-navigation%2Fid469463298"><img src="{% static 'svg/badge-download-on-the-app-store.svg' %}" alt="App Store" width="120" height="40" /></a>

<a href="https://play.google.com/store/apps/details?id=com.citymapper.app.release"><img src="{% static 'svg/google-play.svg' %}" alt="Google Play" width="136" height="40" /></a>

<h2>Transit</h2>

<p>Almost as nice as Citymapper. Covers London and Manchester.</p>

<a href="https://redirect.viglink.com?key=63dc39b879576a255e9dcee17b6c1929&u=https%3A%2F%2Fitunes.apple.com%2Fgb%2Fapp%2Ftransit-bus-subway-times%2Fid498151501"><img src="{% static 'svg/badge-download-on-the-app-store.svg' %}" alt="App Store" width="120" height="40" /></a>

<a href="https://play.google.com/store/apps/details?id=com.thetransitapp.droid"><img src="{% static 'svg/google-play.svg' %}" alt="Google Play" width="136" height="40" /></a>

<h2>UK Bus Checker</h2>

<p>Covers the whole of Great Britain.</p>

<a href="https://redirect.viglink.com?key=63dc39b879576a255e9dcee17b6c1929&u=https%3A%2F%2Fitunes.apple.com%2Fgb%2Fapp%2Fuk-bus-checker-premium%2Fid537981387"><img src="{% static 'svg/badge-download-on-the-app-store.svg' %}" alt="App Store" width="120" height="40" /></a>

<a href="https://play.google.com/store/apps/details?id=com.fatattitude.buscheckeruklite"><img src="{% static 'svg/google-play.svg' %}" alt="Google Play" width="136" height="40" /></a>

<h2>Stagecoach Bus</h2>

<p>Offers live times and exact ticket prices for Stagecoach buses. (If you need to use any other company’s bus services, this app won’t help you.)</p>

<a href="https://redirect.viglink.com?key=63dc39b879576a255e9dcee17b6c1929&u=https%3A%2F%2Fitunes.apple.com%2Fgb%2Fapp%2Fstagecoach-bus%2Fid1151110474"><img src="{% static 'svg/badge-download-on-the-app-store.svg' %}" alt="App Store" width="120" height="40" /></a>

<a href="https://play.google.com/store/apps/details?id=com.stagecoach.stagecoachbus"><img src="{% static 'svg/google-play.svg' %}" alt="Google Play" width="136" height="40" /></a>

<h2>

{% endblock %}
