{% extends 'page.html' %}

{% block title %}Contact – Bus Times{% endblock %}

{% block bodyclass %}narrow{% endblock %}

{% block content %}

{% if submitted %}

    <h1>Thank you</h1>

    <p>Your message has been sent.</p>

{% else %}

    <h1>Contact</h1>

    <p>I’m <strong>not</strong> a bus operating company –
    I just make this independent, unofficial website (bustimes.org).</p>

    <p>So I <strong>can’t</strong> help you with:</p>

    <ul class="bulleted">
        <li>lost property</li>
        <li>complaints about a bus</li>
        <li>ticket prices</li>
        <li>urgent enquiries</li>
    </ul>

    <p>Sorry.</p>

    {% load email_obfuscator %}

    <p>But to contact me <strong>about this website</strong>,
    you can email {{ 'contact@bustimes.org'|obfuscate_mailto }} or use this form:</p>

    <form action="/contact" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Send" />
    </form>

{% endif %}

{% endblock %}
