{% extends 'page.html' %}

{% block title %}Cookies – Bus Times{% endblock %}

{% block bodyclass %}narrow uncommercial{% endblock %}

{% block content %}

<h1>Cookies</h1>

<p>‘Cookies’ are small text files stored on your computer when you visit some websites, including this one.</p>

<table>
    <tr>
        <th scope="col">Name</th><th scope="col">Purpose</th><th scope="col">Expires after</th>
    </tr>
    <tr>
        <td>location</td><td>If you use <a href="/map">the map</a>, stores the last viewed location in ‘local storage’</td><td>na</td>
    </tr>
    <tr>
        <td>csrftoken</td><td>A random string used to prevent cross-site request forgery attacks</td><td>1 year</td>
    </tr>
</table>

<h2>Google Analytics cookies</h2>

<p>I use Google Analytics software to measure website traffic and performance, to help improve this website.</p>

<p>Google Analytics sets the following cookies:</p>

<table>
    <tr>
        <th scope="col">Name</th><th scope="col">Purpose</th><th scope="col">Expires after</th>
    </tr>
    <tr>
        <td>_ga</td><td>Lets me know if you’ve visited the site before</td><td>2 years</td>
    </tr>
    <tr>
        <td>_gid</td><td>Lets me know if you’ve visited the site before</td><td>24 hours</td>
    </tr>
    <tr>
        <td>_gat</td><td>Lets me control how frequently I record pageviews</td><td>10 minutes</td>
    </tr>
</table>

<p><a href="https://tools.google.com/dlpage/gaoptout">Opt out of Google Analytics cookies</a></p>

<h2>Advertising cookies</h2>

<p>I display adverts, using Google AdSense, to fund the cost of operating this website. Google and its partners use cookies.</p>

<p>You can still enjoy this website (with a tinge of guilt) while using an ad blocker to block adverts and other stuff. I use <a href="https://github.com/gorhill/uBlock">uBlock Origin</a> on my personal computer, and <a href="https://redirect.viglink.com?key=63dc39b879576a255e9dcee17b6c1929&u=https%3A%2F%2Fitunes.apple.com%2Fapp%2Fid1030156203">Purify</a> on my mobile phone.</p>

<p>From 25 May 2018, the adverts on this website won’t be ‘personalised’ using cookies. But cookies will still be used ‘for frequency capping, aggregated ad reporting, and to combat fraud and abuse.’</p>

<p><a href="http://www.google.com/ads/preferences">Opt out of Google advertising cookies</a></p>

{% endblock %}

{% block ad %}{% endblock %}
