{% extends 'page.html' %}

{% block title %}Cookies – Bus Times{% endblock %}

{% block bodyclass %}narrow uncommercial{% endblock %}

{% block content %}

<h1>Cookies</h1>

<p>‘Cookies’ are small text files stored on your computer when you visit some websites, including this one.</p>

<table>
    <tr>
        <th scope="col">Name</th><th scope="col">Purpose</th><th scope="col">Expires&nbsp;after</th>
    </tr>
    <tr>
        <td>location</td><td>Stores the last viewed <a href="/map">map</a> location in ‘local storage’</td><td>na</td>
    </tr>
    <tr>
        <td>seen_&#8203;cookie_&#8203;message</td><td>Remembers if you’ve seen the ‘this site uses cookies’ message</td><td>1 year</td>
    </tr>
    <tr>
        <td>csrftoken</td><td>A random string used to prevent cross-site request forgery attacks</td><td>1 year</td>
    </tr>
</table>

<h2>Google Analytics cookies</h2>

<p>I use Google Analytics software to measure website traffic and performance, to help improve this website.</p>

<p>Google Analytics sets the following cookies:</p>

<table>
    <tr>
        <th scope="col">Name</th><th scope="col">Purpose</th><th scope="col">Expires after</th>
    </tr>
    <tr>
        <td>_ga</td><td>Lets me know if you’ve visited the site before</td><td>2 years</td>
    </tr>
    <tr>
        <td>_gid</td><td>Lets me know if you’ve visited the site before</td><td>24 hours</td>
    </tr>
    <tr>
        <td>_gat</td><td>Lets me control how frequently I record pageviews</td><td>10 minutes</td>
    </tr>
</table>

<h2>Advertising cookies</h2>

<p>I display adverts, using Google AdSense, to fund the cost of operating this website.
Google and its partners use cookies ‘for frequency capping, aggregated ad reporting, and to combat fraud and abuse.’</p>

<p>You can use tools like <a href="https://github.com/gorhill/uBlock">uBlock Origin</a> and <a href="https://redirect.viglink.com?key=63dc39b879576a255e9dcee17b6c1929&u=https%3A%2F%2Fitunes.apple.com%2Fapp%2Fid1030156203">Purify</a> to block adverts, tracking and cookies.</p>


{% endblock %}

{% block ad %}{% endblock %}
