{% extends 'page.html' %}

{% block title %}Cookies – bustimes.org{% endblock %}

{% block bodyclass %}narrow{% endblock %}

{% block content %}

<h1>Cookies</h1>

<p>‘Cookies’ are small text files stored on your computer when you use some websites, including this one.</p>

<p>For example, we use cookies to remember your place on <a href="/map">the map</a>, and to remember if you’ve opted into seeing personalised advertisements.</p>

<h2>Google Analytics cookies</h2>

<p>I use Google Analytics software to measure website traffic and performance, to help improve this website.</p>

<p>Google Analytics sets the following cookies:</p>

<table>
    <thead>
        <tr>
            <th scope="col">Name</th><th scope="col">Purpose</th><th scope="col">Expires after</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>_ga</td><td>Lets me know if you’ve visited the site before</td><td>2 years</td>
        </tr>
        <tr>
            <td>_gid</td><td>Lets me know if you’ve visited the site recently</td><td>24 hours</td>
        </tr>
        <tr>
            <td>_gat</td><td>Lets me control how frequently I record pageviews</td><td>10 minutes</td>
        </tr>
    </tbody>
</table>

<h2>Advertising cookies</h2>

<p>I display adverts, using Google AdSense, to fund the cost of operating this website.
Google and its partners use cookies ‘for frequency capping, aggregated ad reporting, and to combat fraud and abuse.’</p>

<p>
    <label><input type="checkbox" id="personalise-adverts"> Show personalised adverts</label>
</p>

<script>
(function () {
    var personaliseAds = document.getElementById('personalise-adverts');
    if (document.cookie.indexOf('personalise_ads=yes') !== -1) {
        personaliseAds.checked = true;
    } else {
        personaliseAds.checked = false;
    }

    function handlePersonaliseAds(event) {
        if (event.target.checked) {
            document.cookie = 'personalise_ads=yes; max-age=31536000; path=/';
        } else {
            document.cookie = 'personalise_ads=no; max-age=31536000; path=/';
        }
    }

    personaliseAds.addEventListener('click', handlePersonaliseAds);
})();
</script>

<o><a href="https://www.google.com/settings/ads">Google Ads Settings</a></o>

{% endblock %}

{% block ad %}{% endblock %}
