{% extends 'page.html' %}

{% block title %}Data sources – Bus Times{% endblock %}

{% block bodyclass %}narrow{% endblock %}

{% block content %}

<h1>Data sources</h1>

<p>This website would be nothing without some useful third-party open data sources.<p>

<h2>Great Britain</h2>

<p>Data licensed under
<a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">version 3 of
the Open Government License</a>:</p>

<ul class="bulleted">
    <li><a href="https://data.gov.uk/dataset/nptg">The National Public Transport Gazetteer</a></li>
    <li><a href="https://data.gov.uk/dataset/naptan">The National Public Transport Access Node database</a></li>
    <li><a href="http://www.travelinedata.org.uk/traveline-open-data/transport-operations/about-2/">The National Operator Codes database</a></li>
    <li><a href="http://www.travelinedata.org.uk/traveline-open-data/traveline-national-dataset/">The Traveline National Dataset</a></li>
</ul>

<ul class="bulleted">
	<li><a href="https://api-portal.tfwm.org.uk/">Transport for West Midlands API</a></li>
	<li><a href="https://tfl.gov.uk/info-for/open-data-users/">Transport for London open data</a></li>
	<li><a href="http://www.transportapi.com/">Transport API</a></li>
</ul>

<p>Postcode search is powered by <a href="https://postcodes.io/about">Postcodes.io</a>.</p>

<h2>Northern Ireland</h2>

<ul class="bulleted">
    <li><a href="https://www.opendatani.gov.uk/organization/translink">Translink</a></li>
</ul>

<h2>Republic of Ireland</h2>

<ul class="bulleted">
    <li><a href="https://www.transportforireland.ie/transitData/PT_Data.html">Transport for Ireland</a></li>
    <li><a href="https://data.dublinked.ie/dataset/real-time-passenger-information-rtpi-for-dublin-bus-bus-eireann-luas-and-irish-rail">Dublinked</a></li>
</ul>

<h2>Jersey</h2>

<ul class="bulleted">
    <li><a href="https://opendata.gov.je/dataset/live-bus-times">States of Jersey</a></li>
</ul>

{% endblock %}
