{% if departures %}
<div class="aside box">
    <h2>Next departures</h2>
    {% for item in departures %}
        {% ifchanged item.time.date %}
            {% if item.time.date and not forloop.first  %}
                </tbody>
                </table>
            {% endif %}
            {% if item.time.date or forloop.first %}
                {% if today < item.time.date or not forloop.first %}
                    <h3>{{ item.time|date:"l" }}</h3>
                {% endif %}
                <table>
                <tbody>
            {% endif %}
        {% endifchanged %}
        <tr>
            <td>
            {% if item.service.line_name %}
                <a href={{ item.service.get_absolute_url }}>{{ item.service.line_name }}</a>
            {% elif item.service %}{{ item.service }}{% endif %}
            </td>
            <td>{{ item.destination }}</td>
            <td>
                {% if item.live %}
                    {{ item.live.time }}⚡
                {% else %}
                    {% firstof item.time.time item.time %}
                {% endif %}
            </td>
        </tr>
        {% if forloop.last %}
        </tbody>
        </table>
        {% endif %}
    {% endfor %}
    {% if live %}
        <p class="credit">⚡ denotes real-time times</p>
    {% endif %}
    {% if source %}
        <p class="credit">{{ source }}</p>
    {% endif %}
</div>
{% endif %}
