{% if departures %}
<div class="aside box">
    <h2>Next departures</h2>
    {% for item in departures %}
        {% ifchanged item.time.date %}
            {% if not forloop.first %}
                </tbody>
                </table>
                <h3>{{ item.time|date:"l" }}</h3>
            {% elif today < item.time.date %}
                <h3>{{ item.time|date:"l" }}</h3>
            {% endif %}
        <table>
        <tbody>
        {% endifchanged %}
        <tr>
            <td>{% firstof item.time.time item.time %}</td>
            <td>
            {% if item.service.line_name %}
                <a href={{ item.service.get_absolute_url }}>{{ item.service.line_name }}</a>
            {% elif item.service %}{{ item.service }}{% endif %}
            </td>
            <td>{{ item.destination }}</td>
            </tr>
        {% if forloop.last %}
        </tbody>
        </table>
        {% endif %}
    {% endfor %}
    <p class="credit">
    {% if source %}
        Data from <a href={{ source.url }}>{{ source.name }}</a>
    {% endif %}
    </p>
</div>
{% endif %}