{% extends 'page.html' %}

{% block title %}Update details – {{ vehicle }} – Bus Times{% endblock %}

{% block bodyclass %}narrow{% endblock %}

{% block content %}

{% if submitted %}

    <h1>Thank you</h1>

    <p>I’ll update those details shortly</p>

{% else %}

    <h1>Update vehicle details</h1>

    {% if vehicle.vehicleedit_set.exists %}
        <p class="message">❗ There’s already a pending update for this vehicle</p>
    {% endif %}

    <p>(You can also <a href="{{ vehicle.operator.get_absolute_url }}/vehicles/edit">update several {{ vehicle.operator }} vehicles at once</a>)</p>

    <form action="/vehicles/{{ vehicle.id }}/edit" method="POST">
        {{ form.as_p }}
        <input type="submit" value="Save changes" />
    </form>

{% endif %}

{% endblock %}

{% block ad %}{% endblock %}
