<!doctype html>
<html lang="en-GB">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{% if object %}{{ object }} – {% endif %}Bus Times</title>
{% load staticfiles %}
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans:400,700" />
<link rel="stylesheet" href="{% static "css/screen.css" %}" />
{% if object.get_absolute_url %}<link rel="canonical" href="https://bustimes.org.uk{{ object.get_absolute_url }}" />{% endif %}
</head>
<body>
<header>
<div>
<a href="/">Bus Times</a>
</div>
</header>
<main>
