{% extends 'page.html' %}

{% block bodyclass %}narrow{% endblock %}

{% block content %}

<h1>Bus stops, routes and times</h1>

<a class="button button-locate" href="/map">Find bus stops nearby</a>

<form method="get" action="/search" class="search">
    <label>
        or search:
        <input name="q" type="search" required />
    </label>
    <input type="submit" value="Search" />
</form>

<div id="regions">

    <h2>UK</h2>

    <ul>
        <li><a href="/regions/EA">East Anglia</a></li>
        <li><a href="/regions/EM">East Midlands</a></li>
        <li><a href="/regions/GB">Great Britain</a></li>
        <li><a href="/regions/L">London</a></li>
        <li><a href="/regions/NE">North East</a></li>
        <li><a href="/regions/NI">Northern Ireland</a></li>
        <li><a href="/regions/NW">North West</a></li>
        <li><a href="/regions/S">Scotland</a></li>
        <li><a href="/regions/SE">South East</a></li>
        <li><a href="/regions/SW">South West</a></li>
        <li><a href="/regions/W">Wales</a></li>
        <li><a href="/regions/WM">West Midlands</a></li>
        <li><a href="/regions/Y">Yorkshire</a></li>
    </ul>

    <h2>Ireland</h2>
    <ul>
        <li><a href="/regions/CO">Connacht</a></li>
        <li><a href="/regions/LE">Leinster</a></li>
        <li><a href="/regions/MU">Munster</a></li>
        <li><a href="/regions/UL">Ulster</a></li>
    </ul>

    <!--[if gte IE 9]><!-->
        {% include 'regions.svg' %}
    <!--<![endif]-->
</div>

<ul>
    <li><a href="/regions/GG">Guernsey</a></li>
    <li><a href="/regions/JE">Jersey</a></li>
    <li><a href="/regions/SG">Singapore</a></li>
</ul>

{% load pipeline %}
{% javascript 'frontpage' %}

{% endblock %}
