{% extends 'page.html' %}

{% block content %}

<h1>Bus stops and routes across Great Britain</h1>

<a class="button button-locate" href="/map">Find bus stops nearby</a>

<form method="get" action="/search" class="search">
    <label>
        or search:
        <input name="q" type="search" required />
        <input type="submit" value="Search" />
    </label>
</form>

<div id="regions">

    <h2>Regions</h2>

    <ul id="regions-list">
    {% for r in regions %}
        <li><a href="{{ r.get_absolute_url }}">{{ r }}</a></li>
    {% endfor %}
    </ul>

    {% include 'regions.svg' %}

</div>

{% endblock %}
