{% extends 'page.html' %}

{% block title %}Jobs – bustimes.org{% endblock %}

{% block canonical %}
    <link rel="canonical" href="https://bustimes.org/jobs">
{% endblock %}

{% block bodyclass %}narrow{% endblock %}

{% block content %}

{% load email_obfuscator %}

<h1>Jobs</h1>

<p>Come and work on bustimes.org – the #3 UK ground transportation website, according to <a href="https://www.similarweb.com/website/bustimes.org/#overview">SimilarWeb</a>. So far I’ve been a one-person company, but in 2024 it’s time to hire the first employee or two.</p>

<p>You should have:</p>

<ul class="bulleted">
    <li>some experience of web/software development.
        You don’t need to be familiar with all of our
        <a href="https://github.com/jclgoodwin/bustimes.org">technology stack</a>
        (Python, Django, TypeScript) or public transport data yet, but it might be relevant if you are
    <li>an interest in building fast, accessible websites or delightful apps
    <li>maybe some ideas for making bustimes.org better
    <li>the right to work in the UK
</ul>

<p>Depending on your particular specialisms, you might be working on (for example):</p>

<ul class="bulleted">
    <li>The bustimes.org API – it’s currently undocumented and incomplete, but could eventually power new apps, websites and hardware</li>
    <li>User experience improvements – the website is too often described as “clunky”</li>
    <li>Expanding coverage – more countries or modes of transport</li>
    <li>Mobile apps?</li>
    <li>Your own ideas</li>
    <li>New projects</li>
</ul>

<ul class="bulleted">
<li>
    Location: remote (UK) or hybrid (Norwich?)
<li>
    Full-time/part-time/freelance
</li>

<p>Standard employee benefits:</p>

<li>
    Annual salary: £33,000–£55,000+ depending on experience (pro-rated if part-time)
<li>
    30 days holiday per year, plus bank holidays and leap days (pro-rated if part-time)
</ul>

<p>Send a CV or equivalent, cover letter etc., to {{ 'jobs@bustimes.org'|obfuscate_mailto }} by 7 February</p>

{% endblock %}
