{% extends 'page.html' %}

{% block title %}{% if from and to %}{{ from.get_qualified_name }} to {{ to.get_qualified_name }}{% else %}Plan a journey{% endif %} – bustimes.org{% endblock %}

{% block bodyclass %}narrow{% endblock %}

{% block content %}

<h1>
    {% if from and to %}
        {{ from }} to {{ to }}
    {% else %}
        Plan a journey
    {% endif %}
</h1>

<form method="GET" action="/journey">
    <label>From <input name="from_q" value="{{ from_q }}"></label>
    {% if from %}
        <input name="from" value="{{ from.slug }}" type="hidden">
    {% elif from_options %}
        <ul>
            {% for option in from_options %}
                <li><a href="/journey?from={{ option.object.slug }}&amp;to{% if to %}={{ to.slug }}{% else %}_q={{ to_q }}{% endif %}">{{ option.object.get_qualified_name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    <label>to <input name="to_q" value="{{ to_q }}"></label>
    {% if to %}
        <input name="to" value="{{ to.slug }}" type="hidden">
    {% elif to_options %}
        <ul>
            {% for option in to_options %}
                <li><a href="/journey?from{% if from %}={{ from.slug }}{% else %}_q={{ from_q }}{% endif %}&amp;to={{ option.object.slug }}">{{ option.object.get_qualified_name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    <input type="submit" value="Search">
</form>

{% if journeys %}
    <ul>
        {% for journey in journeys %}
            <li>{{ journey }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock content %}
