{% extends 'page.html' %}

{% block title %}Map – Bus Times{% endblock %}

{% block head %}
<style>
.wide main {
    bottom: 0;
    max-width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 3.5em;
    width: 100%;
}
</style>
{% endblock %}

{% block cookies %}{% endblock %}

{% block header %}
<header><a href="/" class="site-name">Bus Times</a></header>
{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block content %}

<div id="hugemap"></div>
<div id="sidebar"></div>

{% load static %}
{% load pipeline %}
<link rel="stylesheet" href="{% static 'js/bower_components/leaflet/dist/leaflet.css' %}" />
<script src="{% static 'js/bower_components/leaflet/dist/leaflet.js' %}"></script>
{% javascript 'hugemap' %}

{% endblock %}

{% block footer %}{% endblock %}
