{% extends 'page.html' %}

{% block title %}Map – bustimes.org{% endblock %}

{% block head %}
    <style>
    .wide main {
        bottom: 50px;
        max-width: 100%;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 3.5em;
        width: 100%;
    }

    @media (min-width: 600px) {
        .wide main {
            bottom: 90px;
        }
    }
    </style>
{% endblock %}

{% block header %}
   <header>
        <a href="/" class="site-name">bustimes.org</a>

        <form method="GET" action="/search" class="search">
            <label>
                Search
                <input name="q" placeholder="Search" type="search" value="{{ query }}" required>
            </label>
            <input type="submit" value="Search">
        </form>
    </header>
{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block content %}
    <div id="hugemap">
        <noscript>Sorry, the map requires JavaScript. You can still use most of the rest of the website.</noscript>
    </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block foot %}
    {% load static %}
    {% include "maps_js.html" %}
    <script src="{% static 'js/reqwest.min.js' %}"></script>
    <script src="{% static 'js/bigmap2.js' %}"></script>
    <link rel="stylesheet" href="/liveries.{{ liveries_css_version }}.css">
{% endblock %}
