{% extends 'page.html' %}

{% block title %}Map – bustimes.org{% endblock %}

{% block head %}
    <meta property="og:title" content="Map – bustimes.org">
    <style>
        body {
            overflow: hidden;
        }

        .wide main {
            bottom: 0;
            max-width: 100%;
            margin: 0;
            padding: 0;
            position: absolute;
            top: 3.5em;
            width: 100%;
        }

        @media (min-height: 480px) {
            .wide main {
                bottom: 100px;
            }
        }
    </style>
{% endblock %}

{% block header %}
   <header>
        <a href="/" class="site-name">bustimes.org</a>

        <form method="GET" action="/search" class="search">
            <label>
                Search
                <input name="q" placeholder="Search" type="search" value="{{ query }}" required>
            </label>
            <input type="submit" value="Search">
        </form>
    </header>
{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block content %}
    <div id="hugemap">
        <noscript>Sorry, the map requires JavaScript. You can still use most of the rest of the website.</noscript>
    </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block foot %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'js/dist/app.css' %}">
    <script>
        INITIAL_VIEW_STATE = {
        {% if request.headers.cf_ipcountry == "IE" %}
            latitude: 53.45,
            longitude: -7.5,
        {% else %}
            latitude: 54,
            longitude: -2.9,
        {% endif %}
            zoom: 5,
        };
    </script>
    <script src="{% static 'js/dist/app.js' %}"></script>
    <link rel="stylesheet" href="/liveries.{{ liveries_css_version }}.css">
{% endblock %}
