{% extends 'page.html' %}

{% block title %}Debug – {{ object }} – bustimes.org{% endblock %}

{% block canonical %}<meta name="robots" content="noindex,noarchive">{% endblock %}

{% block content %}

<h1>{{ object }}</h1>

<table>
    <thead>
        <tr>
            <th scope="col">Service</th>
            <th scope="col">Current routes?</th>
            <th scope="col">Tracking?</th>
        </tr>
    </thead>
    <tbody>
        {% for service in services %}
            <tr>
                <td class="link">
                    <a href="{{ service.get_absolute_url }}">{{ service.get_line_name_and_brand }}</a>
                </td>
                <td>
                    {{ service.current_routes|yesno }}
                </td>
                <td class="link">
                    <a href="{{ service.get_absolute_url }}/vehicles">{{ service.last_tracked|yesno }}</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}
