{% extends 'page.html' %}

{% block title %}Operators – Bus Times{% endblock %}

{% block content %}

<h1>Operators</h1>

<table>
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Vehicle mode</th>
            <th>Parent</th>
            <th>Region</th>
        </tr>
    </thead>
    <tbody>
    {% for operator in operators %}
        <tr>
            <td>{{ operator.id }}</td>
            <td>
            {% if operator.service__count > 0 %}
                <a href="{{ operator.get_absolute_url }}">{{ operator.name }}</a>
            {% else %}
                {{ operator.name }}
            {% endif %}
            </td>
            <td>{{ operator.vehicle_mode }}</td>
            <td>{{ operator.parent }}</td>
            <td>{{ operator.region_id }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
