{% extends 'page.html' %}

{% block title %}Fleet list – {{ object }} – Bus Times{% endblock %}

{% block canonical %}
    <link rel="canonical" href="https://bustimes.org{{ object.get_absolute_url }}/vehicles" />
{% endblock %}

{% block content %}

<h1>{{ object }}</h1>

{% if edit %}
    {% if submitted %}

        <p class="message">Thank you. I’ll update those details ({{ submitted }} vehicle{{ submitted|pluralize }}) shortly</p>
    {% endif %}

    <p>Select vehicles to update:</p>
{% else %}
    <p>This is an incomplete, unofficial fleet list for {{ object }},
    only showing vehicles that have appeared in the live bus tracking system.</p>

    <p>Thanks to the marvels of modern technology,
    you can see where a particular vehicle has been recently,
    and which vehicles have operated a particular service.
    This isn’t always accurate,
    e.g. when ticket machines/tracking equipment are swapped between vehicles without being updated.</p>

    {% if user.is_authenticated %}
        <p><a href="{{ edit_url }}?o=2&amp;operator__id__exact={{ object.id }}">Edit</a></p>

        <p><button id="flickr-load">Load images from Flickr</button></p>
    {% endif %}
{% endif %}


{% if edit %}
    <form action="{{ object.get_absolute_url }}/vehicles/edit" method="POST">
{% endif %}

<table>
    <thead>
        <tr>
            {% if edit %}
                <th></th>
            {% endif %}
            <th scope="col"{% if code_column %} colspan="2"{% endif %}></th>
            <th scope="col">Last seen</th>
            <th scope="col">Type</th>
            <th scope="col">Colour</th>
            {% if notes_column %}<th scope="col">Notes</th>{% endif %}
        </tr>
    </thead>
    <tbody>
        {% for vehicle in vehicles %}
            <tr>
                {% if edit %}
                    <td>
                        <input type="checkbox" name="vehicle" value="{{ vehicle.id }}" />
                    </td>
                {% endif %}
                {% if code_column %}
                    <td>{{ vehicle.code }}</td>
                {% endif %}
                <td>
                    {% if vehicle.latest_location or vehicle.latest_journeys %}
                        <a href="{{ vehicle.get_absolute_url }}">{{ vehicle }}</a>
                    {% else %}
                        {{ vehicle }}
                    {% endif %}
                </td>
                <td>
                    {% if vehicle.latest_location %}
                        {% if vehicle.latest_location.journey.service %}
                            {{ vehicle.latest_location.journey.service.get_line_name_and_brand }}
                            <br>
                        {% elif vehicle.latest_location.journey.route_name %}
                            {{ vehicle.latest_location.journey.route_name }}
                            <br>
                        {% endif %}
                        {% if vehicle.latest_location.datetime.date == today %}
                            {{ vehicle.latest_location.datetime | time }}
                        {% else %}
                            {{ vehicle.latest_location.datetime }}
                        {% endif %}
                    {% else %}
                        {% for journey in vehicle.latest_journeys %}
                            {% if journey.service %}
                                {{ journey.service.get_line_name_and_brand }}
                                <br>
                            {% elif journey.route_name %}
                                {{ journey.route_name }}
                                <br>
                            {% endif %}
                            {% if journey.datetime.date == today %}
                                {{ journey.datetime | time }}
                            {% else %}
                                {{ journey.datetime }}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </td>
                <td>{% if vehicle.vehicle_type %}{{ vehicle.vehicle_type }}{% endif %}</td>
                <td>
                    {% if vehicle.colours or vehicle.livery %}
                        <div class="bus" style="background:{{ vehicle.get_livery }}"{% if vehicle.livery %} title="{{ vehicle.livery }}"{% endif %}></div>
                    {% endif %}
                </td>
                {% if notes_column %}<td>{{ vehicle.notes }}</td>{% endif %}
                <td>{{ vehicle.get_flickr_link }}</td>
                {% if not edit %}
                    <td>
                        <a class="button" href="{{ vehicle.get_absolute_url }}/edit">Edit</a>
                        {% if vehicle.pending_edits %}<abbr title="pending edits">*</abbr>{% endif %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>

{% if edit %}

    {{ form.as_p }}

    <input type="submit" value="Save changes" />

    </form>

{% elif user.is_authenticated %}
    <script>
        document.getElementById('flickr-load').onclick = function() {
            for (row of document.querySelectorAll('tbody tr')) {
                let cells = row.getElementsByTagName('td');
                let url = cells[cells.length - 2].querySelector('a').href;
                let text = new URL(url).searchParams.get('text')
                let td = row.appendChild(document.createElement('td'));
                fetch(
                    'https://www.flickr.com/services/rest/?api_key=c73bab2eb6d9be4a2e53d92d1452a645&format=json&nojsoncallback=1&sort=relevance&method=flickr.photos.search&per_page=5&text=' + text
                )
                .then(response => response.json())
                .then(json => {
                    for (photo of json.photos.photo) {
                        let src = `https://farm${photo.farm}.staticflickr.com/${photo.server}/${photo.id}_${photo.secret}_s.jpg`;
                        let href = `https://www.flickr.com/photos/${photo.owner}/${photo.id}`;
                        td.innerHTML += `<a href="${href}" title="${photo.title}"><img src="${src}" width="75" height="75" alt="" /></a> `;
                    }
                });
            }
        };
    </script>
{% endif %}

{% endblock %}

{% block ad %}{% endblock %}

{% block foot %}
    {% if edit %}
        {% load static %}
        <script src="{% static 'js/accessible-autocomplete/accessible-autocomplete.min.js' %}"></script>
        <script>
            window.addEventListener('DOMContentLoaded', function() {
                accessibleAutocomplete.enhanceSelectElement({
                    selectElement: document.getElementById('id_vehicle_type')
                });
            });
        </script>
    {% endif %}
{% endblock %}
