<!doctype html>
<html lang="en-GB">
<head>
<meta charset="utf-8" />
<title>{% block title %}{% if object %}{% firstof object.get_qualified_name object %} – {% endif %}Bus Times{% endblock %}</title>
<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1" />
<meta name="theme-color" content="#fe9" />
{% load pipeline %}
<!--[if gte IE 9]><!-->
{% stylesheet 'main' %}
<!--<![endif]-->
{% load staticfiles %}
<!--[if lt IE 9]>
{% stylesheet 'ie' %}
<script src="{% static "js/bower_components/html5shiv/dist/html5shiv-printshiv.min.js" %}"></script>
<![endif]-->
{% if object.get_absolute_url %}<link rel="canonical" href="https://bustimes.org.uk{{ object.get_absolute_url }}" />{% endif %}
<link rel="manifest" href="/manifest.json" />
{% block head %}{% endblock %}
<script type="application/ld+json">{"@context":"http://schema.org","@type":"WebSite","url":"https://bustimes.org.uk","name":"Bus Times","potentialAction":{"@type":"SearchAction","target":"https://bustimes.org.uk/search?q={q}","query-input":"required name=q"}}</script>
</head>
<body class="{% block bodyclass %}wide{% endblock %}">
{% block header %}
<header>
    <div>
        <a href="/" class="site-name{% if object.mode == 'ferry' %} ferry{% endif %}">{% if object.mode == 'ferry' %}Ferry{% else %}Bus{% endif %} Times</a>
        <ul>
            <li><a href="/map{% if object.latlong %}#{{ object.latlong.y }},{{ object.latlong.x }}{% endif %}">Map</a></li>
        </ul>
    </div>
</header>
{% endblock %}
<main>
{% block breadcrumb %}{% include 'breadcrumb.html' %}{% endblock %}
{% block content %}{% endblock %}
</main>
{% block footer %}

<footer>
    {% block ad %}
    <div class="banner-ad" id="ad">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle" data-ad-client="ca-pub-4420219114164200" data-ad-slot="5070920457" data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            (adsbygoogle = window.adsbygoogle || []).push({
                google_ad_client: "ca-pub-4420219114164200",
                enable_page_level_ads: true
            });
        </script>
    </div>
    {% endblock %}
    <ul>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/cookies">Cookie policy</a></li>
        <li><a href="/data">Data sources</a></li>
    </ul>
</footer>
{% endblock %}

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-65987478-1', 'auto');
{% if object.region_id %}ga('set', 'dimension1', '{{ object.region_id }}');{% endif %}
ga('send', 'pageview');
</script>
{% load raven %}
<script src="https://cdn.ravenjs.com/3.9.1/raven.min.js"></script>
<script>Raven.config('{% sentry_public_dsn %}', {
    whitelistUrls: [/bustimes\.org\.uk/]
}).install()</script>
{% if stopusages or stops or stoppoint %}
<link rel="stylesheet" property="styleseet" href="{% static 'js/bower_components/leaflet/dist/leaflet.css' %}" />
<script src="{% static 'js/bower_components/leaflet/dist/leaflet.js' %}"></script>
<script async src="{% static 'js/map.js' %}"></script>
{% if stoppoint and services %}
<esi:remove>
<script src="{% static 'js/bower_components/reqwest/reqwest.min.js' %}"></script>
<script async src="{% static 'js/departures.js' %}"></script>
</esi:remove>
{% endif %}
{% elif regions %}
{% javascript 'frontpage' %}
{% elif timetables %}
<script async src="{% static 'js/timetable.js' %}"></script>
{% endif %}
<script async src="{% static 'js/global.js' %}"></script>
<link rel="stylesheet" property="styleseet" media="print" href="{% static 'css/print.css' %}" />
</body>
</html>
