<!doctype html>
<html amp lang="en-GB">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1" />
<title>{% block title %}{% if object %}{{ object }} – {% endif %}Bus Times{% endblock %}</title>
<link rel="canonical" href="https://bustimes.org.uk{{ object.get_absolute_url }}" />
{% load inline_style %}
{% inline_stylesheet 'main' %}
<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
<script async src="https://cdn.ampproject.org/v0.js"></script>
<script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
<script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
</head>
<body class="wide">

<header>
<div>
<a href="/" class="site-name">Bus Times</a>
</div>
</header>

<main>
{% include 'breadcrumb.html' %}
{% block content %}{% endblock %}
</main>

<footer>
<div class="banner-ad">
<amp-ad width=300 height=250 type="adsense" data-ad-client="ca-pub-4420219114164200" data-ad-slot="5070920457"></amp-ad>
</div>
<ul>
<li><a href="/contact">Contact</a></li>
<li><a href="/cookies">Cookie policy</a></li>
<li><a href="/data">Data sources</a></li>
</ul>
</footer>

<amp-analytics type="googleanalytics">
<script type="application/json">
{
  "vars": {
    "account": "UA-65987478-1"
  },
  "triggers": {
    "trackPageview": {
      "on": "visible",
      "request": "pageview"
    }
  }
}
</script>
</amp-analytics>

</body>
</html>
