<!doctype html>
<html lang="en-GB">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1" />
<title>{% block title %}{% if object %}{% firstof object.get_qualified_name object %} – {% endif %}Bus Times{% endblock %}</title>
<meta name="theme-color" content="#fe9" />
{% load pipeline %}
<!--[if gte IE 9]><!-->
{% stylesheet 'main' %}
<!--<![endif]-->
{% load staticfiles %}
<!--[if lt IE 9]>
{% stylesheet 'ie' %}
<script src="{% static "js/bower_components/html5shiv/dist/html5shiv-printshiv.min.js" %}"></script>
<![endif]-->
{% if object.get_absolute_url %}<link rel="canonical" href="https://bustimes.org.uk{{ object.get_absolute_url }}" />{% endif %}
{% block head %}{% endblock %}
<script type="application/ld+json">{"@context":"http://schema.org","@type":"WebSite","url":"https://bustimes.org.uk","name":"Bus Times","potentialAction":{"@type":"SearchAction","target":"https://bustimes.org.uk/search?q={q}","query-input":"required name=q"}}</script>
</head>
<body>
{% block header %}
<header><div><a href="/">Bus Times</a></div></header>
{% endblock %}
<main>
{% block breadcrumb %}{% include 'breadcrumb.html' %}{% endblock %}
{% block content %}{% endblock %}
</main>
{% block footer %}

<footer>
    {% block ad %}
    <div class="banner-ad" id="ad">
        {% if breadcrumb.1.id == 'MEGA' %}
            <a href="https://www.awin1.com/cread.php?s=259863&v=2678&q=124178&r=242611" class="megabus" rel="nofollow">Megabus</a>
        {% elif breadcrumb.1.id == 42 %}
            <a href="https://www.awin1.com/cread.php?s=259863&v=2678&q=124178&r=242611" class="megabus plymouth" rel="nofollow">Megabus</a>
        {% elif breadcrumb.2.id == 255 %}
            <a href="https://www.awin1.com/cread.php?s=259862&v=2678&q=124178&r=242611" class="megabus newcastle" rel="nofollow">Megabus</a>
        {% elif breadcrumb.1.id == 83 %}
            <a href="https://www.awin1.com/cread.php?s=259861&v=2678&q=124178&r=242611" class="megabus manchester" rel="nofollow">Megabus</a>
        {% elif breadcrumb.2.id == 241 %}
            <a href="https://www.awin1.com/cread.php?s=259853&v=2678&q=124178&r=242611" class="megabus birmingham" rel="nofollow">Megabus</a>
        {% elif breadcrumb.1.id == 9 %}
            <a href="https://www.awin1.com/cread.php?s=259859&v=2678&q=124178&r=242611" class="megabus bristol" rel="nofollow">Megabus</a>
        {% elif breadcrumb.2.id == 252 %}
            <a href="https://www.awin1.com/cread.php?s=259860&v=2678&q=124178&r=242611" class="megabus leeds" rel="nofollow">Megabus</a>
        {% else %}
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle" data-ad-client="ca-pub-4420219114164200" data-ad-slot="5070920457" data-ad-format="auto"></ins>
            <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
        {% endif %}
    </div>
    {% endblock %}
    <ul>
        <li><script type="text/javascript">
//<![CDATA[
<!--
var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
"x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
" r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!84{)rt{y+xx=l;=+;" +
"lc}tahce({)}}of(r=i-l;1>i0=i;--{)+ox=c.ahAr(t)i};erutnro s.buts(r,0lo;)f}\\" +
"\"(9),3\\\"\\\\\\\\r5\\\\00\\\\\\\\17\\\\02\\\\03\\\\\\\\20\\\\07\\\\01\\\\" +
"\\\\0Q00\\\\\\\\22\\\\0F\\\\5Y00\\\\\\\\[MtG\\\\\\\\@UJIRV}Ui^77\\\\1z\\\\w" +
"ntw7(1H,Ncudz+xU(rcb(lvr,3e02\\\\\\\\24\\\\00\\\\01\\\\\\\\10\\\\07\\\\01\\" +
"\\\\\\33\\\\08\\\\03\\\\05\\\\02\\\\\\\\24\\\\00\\\\00\\\\\\\\34\\\\07\\\\0" +
"3\\\\\\\\\\\\rV\\\\05\\\\04\\\\03\\\\\\\\\\\\nr\\\\\\\\\\\\03\\\\0r\\\\\\\\" +
"\\\\0|00\\\\\\\\>g&3p:p/`h((4'NW6M02\\\\\\\\ZB]WO[LE\\\"\\\\f(;} ornture;})" +
")++(y)^(iAtdeCoarchx.e(odrChamCro.fngriSt+=;o27=1y%+;y+9)<3(iif){++;i<l;i=0" +
"(ior;fthnglex.l=\\\\,\\\\\\\"=\\\",o iar{vy)x,f(n ioctun\\\"f)\")"           ;
while(x=eval(x));
//-->
//]]>
</script>
</li>
        <li><a href="/cookies">Cookie policy</a></li>
        <li><a href="/data">Data sources</a></li>
    </ul>
</footer>
{% endblock %}

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-65987478-1', 'auto');
ga('send', 'pageview');
</script>
{% if stops and not timetables or stoppoint %}
<link rel="stylesheet" href="{% static 'css/leaflet.css' %}" />
<script src="{% static 'js/leaflet.js' %}"></script>
<script async src="{% static 'js/map.js' %}"></script>
{% if stoppoint and services %}
<script src="{% static 'js/bower_components/reqwest/reqwest.min.js' %}"></script>
<script async src="{% static 'js/departures.js' %}"></script>
{% endif %}
{% elif regions %}
{% javascript 'frontpage' %}
{% endif %}
</body>
</html>
