<div class="groupings">
{% for stopusage in stopusages %}
    {% ifchanged stopusage.direction %}
        {% if not forloop.first %}</ul></div>{% endif %}
        <div class="grouping">
        <h2>
            {{ stopusage.direction.capitalize }}
        </h2>
        {% if has_minor_stops %}
            <input type="checkbox" id="show-all-stops-{{ forloop.counter }}"{% if stopusages|length < 20 %} checked{% endif %}>
            <label for="show-all-stops-{{ forloop.counter }}">Show all stops</label>
        {% endif %}
        <ul class="route">
    {% endifchanged %}
    {% ifchanged stopusage.stop stopusage.direction %}{% if not stopusage.suspended %}
        <li{% if stopusage.is_minor %} class="minor"{% endif %}>
            <a href="{{ stopusage.stop.get_absolute_url }}">{% if stopusage.situation %}⚠️&#xfe0f; {% endif %}{{ stopusage.stop.get_qualified_name }}</a>
        </li>
    {% endif %}{% endifchanged %}
    {% if forloop.last %}
        </ul></div>
    {% endif %}
{% endfor %}
</div>
