{% extends 'page.html' %}

{% block title %}Rules & FAQ{% endblock %}

{% block canonical %}
    <link rel="canonical" href="https://bustimes.org/rules">
{% endblock canonical %}

{% block bodyclass %}narrow{% endblock %}

{% block content %}

<h1>Vehicle editing rules</h1>

<p>Vehicle details (type, colour etc.) are user-editable.
    If you want to get involved, great! But please follow these rules, so you don’t waste your time and others’:</p>

<ol class="rules">
    <li>If a vehicle’s <strong>tracking as the wrong vehicle</strong>
        (i.e. the “ticket machine code” is wrong), please
        <strong>don’t try to correct it</strong> on bustimes.org
        – instead, wait for the operator to correct their data.
    </li>
    <li>Don’t “remove from list” just because a vehicle’s been advertised for sale, was involved in an accident, or hasn’t tracked for a while.</li>
    <li>Don’t update a vehicle’s livery until it’s finished being repainted and you can share some evidence.</li>
    <li><p>Do use the “summary” field to link to some evidence, such as a picture you’ve <a href="https://imgur.com/upload">uploaded to Imgur</a>.
    But please don’t link to private Facebook groups – private means we can’t see them.</p>
    </li>
    <li>Edit sparingly – you don’t need to “tidy up” or make everything “consistent”.</li>
</ol>

<p>Users can <a href="/contact">report content</a> which they believe to be harmful, illegal, or or otherwise unsuitable.
    If we deem your content to be harmful, illegal, or otherwise unsuitable, we will permanently delete that content, and may ban your account from adding or editing content.</p>

{% if form %}
    <form method="POST">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Let me edit">
    </form>
{% else %}

<h2>FAQ</h2>

<h3>How do I add a vehicle?</h3>

<p>You can’t – the lists on bustimes.org are just a by-product of the <a href="/map">live bus tracker map</a>.
    Other websites like <a href="https://buslists.uk/">buslists.uk</a> are the future, and will always be more comprehensive.</p>

<h3>Can I use this data?</h3>

<p>Yes, it’s available <a href="/api/">in the API</a>. <a href="https://busmiles.uk/">Busmiles</a> is an example of a site that uses it.</p>

<h3>I have a different question, or maybe a comment</h3>

<p><a href="/contact">Ask me</a> or <a href="https://discord.com/invite/gY4PdDFau7">the Discord server</a>.</p>

{% endif %}

{% endblock content %}
