{% extends 'page.html' %}

{% block title %}Rules & FAQ{% endblock %}

{% block canonical %}
    <link rel="canonical" href="https://bustimes.org/rules">
{% endblock %}

{% block bodyclass %}narrow{% endblock %}

{% block content %}

<h1>Vehicle editing rules</h1>

<p>Vehicle details (type, colour etc.) are user-editable. If you want to get involved, great! But please follow these rules, to avoid wasting your own and others' time:</p>

<ol class="rules">
    <li>If a vehicle's <strong>tracking as the wrong vehicle</strong>
        (i.e. the "ticket machine code" is wrong),
        <strong>don't try to correct it</strong> on bustimes.org
        – just wait for the operator to correct the ticket machine.
    </li>
    <li>Don't "remove from list" just because a vehicle's been advertised for sale, was involved in an accident, or hasn't tracked for a while.</li>
    <li>Don't update a vehicle's livery until it's finished being repainted and you can share some evidence.</li>
    <li><p>Do use the "summary" field to link to some evidence, such as a picture you've <a href="https://imgur.com/upload">uploaded to Imgur</a>.
    But please don't link to private Facebook groups – private means we can't see them! (Screenshots are fine.)</p>
    </li>
    <li>
    <p>Don't use nonsense edits to try to "message" other users or "the admins". Instead, <a href="https://discord.com/invite/gY4PdDFau7">post in the Discord server</a> or <a href="/contact">send me an email</a>.
    <li>"Armchair editing" is strongly discouraged. We have users from all around who know more about their local buses than you do.</li>
    <li>It's OK to give people the benefit of the doubt sometimes. Don't undo/decline someone else's changes unless you're sure they're wrong.</li>
</ol>

{% if form %}
    <form method="POST">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Let me edit">
    </form>
{% else %}

<h2>FAQ</h2>

<h3>Why was my edit disapproved?</h3>

<p>To limit chaos, some users can approve/disapprove others' contributions. (This doesn't make them special or "admins" – there's no such thing!)
    I know some of the rules above are onerous, and they aren't written in stone, but if your edit was disapproved it probably broke one of them.</p>

<h3>Why haven't you designed a perfect system for handling edits, voting, moderation etc?</h3>

<p>Unfortunately it's hard, and a distraction from the main job of making a bus tracking and timetable website.
    It might be best to get rid of the whole thing, but it would be a shame to throw away everyone's collective work.</p>

<h3>How do I add a vehicle?</h3>

<p>You can't – the lists on bustimes.org are just a by-product of the <a href="/map">live bus tracker map</a>.
    Other websites like <a href="https://buslists.uk/">buslists.uk</a> will always be more comprehensive.</p>

<h3>How do I add or edit a livery?</h3>

<p>Sorry, only a few users can do that, on the basis that too many cooks spoil the broth, and the livery icons don't need to be any more detailed than they already are.</p>

<h3>Can I use this data?</h3>

<p>Yes, it's available <a href="/api/">in the API</a>. <a href="https://busmiles.uk/">Busmiles</a> is an example of a site that uses it.</p>

<h3>I have a different question, or maybe a comment</h3>

<p><a href="/contact">Ask me</a></p>

{% endif %}

{% endblock %}
