{% extends 'page.html' %}

{% block title %}Community guidelines{% endblock %}

{% block canonical %}
    <link rel="canonical" href="https://bustimes.org/rules">
{% endblock %}

{% block bodyclass %}narrow{% endblock %}

{% block content %}

<h1>Vehicle editing rules & FAQ</h1>

<ul class="bulleted">
<li>
    <p><strong>Assume good faith.</strong> Before you accuse someone of "spam" or "vandalism", consider whether they've just made a mistake or are medically gormless. (<a href="https://en.wikipedia.org/wiki/Wikipedia:Assume_good_faith">Wikipedia</a>)</p>

<li>
    <p><strong>If in doubt, wait.</strong> However thrilling it may be to be the first person to update this website with new information, be patient and wait until you can prove that (for example) a vehicle has been repainted.</p>

    <ul><li>
        <p>A link to a private Facebook group is <em>not</em> acceptable proof.</p>
    </ul>

<li>
    <p>On the other hand: <strong>it's not your duty to enforce these rules</strong>. Don't be haughty or bumptious. If you can't prove they're wrong, <strong>don't undo someone else's changes</strong>.</p>

<li>
    <p>Don't try to use the <em>edit vehicle details</em> feature to "message" other users or "the admins". If you must, <a href="/contact">contact bustimes.org</a>.</p>

</ul>

<h2>FAQ</h2>

<h3>Can I become an admin?</h3>

<p>There's no such thing! You might as well ask how to become a mermaid.</p>

<h3>How do I add a vehicle?</h3>

<p>You can't. The vehicle lists on bustimes.org are purely a by-product of the automatic vehicle tracking system (the <a href="/map">live map</a> etc.). There are <a href="https://buslists.uk/">other fine websites</a> devoted to listing vehicles for the sake of it.</p>

{% endblock %}
