{% extends 'page.html' %}

{% block title %}{% firstof query 'Search' %} – bustimes.org{% endblock %}

{% block content %}

<h1>Search</h1>

<p>Search for places, operators, services or UK postcodes</p>

<form method="get" action="/search" class="search">

<p>{{ form.q }} <input type="submit" value="Search"></p>

</form>

{% if form.is_valid %}
    {% if localities or operators or services %}
        <div class="ad-wrapper">
            <div id="AFM_inContentTop_ad"></div>
        </div>
    {% endif %}

    {% if postcode %}
        <section>
            <header>
                <h2>Places near {{ postcode.postcode }}</h2>
                <a href="/map#16/{{ postcode.latlong.y|floatformat:4 }}/{{ postcode.latlong.x|floatformat:4 }}">Map</a>
            </header>
            <ul>
                {% for locality in postcode.localities %}
                    <li><a href="{{ locality.get_absolute_url }}">{{ locality.get_qualified_name }}</a></li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}

    {% if localities %}
        <h2 id="places">{{ localities.paginator.count }} place{{ localities.paginator.count|pluralize }}</h2>

        <ul>
            {% for result in localities %}
                <li><a href="{{ result.get_absolute_url }}">{{ result.headline|safe }}{% if result.qualifier_name %}, {{ result.qualifier_name }}{% endif %}</a></li>
            {% endfor %}
        </ul>

        {% include 'pagination.html' with page=localities hash='#places' %}
    {% endif %}

    {% if operators %}
        <h2 id="operators">{{ operators.paginator.count }} operator{{ operators.paginator.count|pluralize }}</h2>

        <ul>
            {% for result in operators %}
                <li><a href="{{ result.get_absolute_url }}">{{ result.headline|safe }}</a></li>
            {% endfor %}
        </ul>

        {% include 'pagination.html' with page=operators hash='#operators' %}
    {% endif %}

    {% if services %}
        <h2 id="services">{{ services.paginator.count }} service{{ services.paginator.count|pluralize }}</h2>

        {% include 'service_list.html' with services=services class="has-smalls" %}

        {% include 'pagination.html' with page=services hash='#services' %}
    {% endif %}

    {% if vehicles %}
    <h2>{{ vehicles|length }} vehicle{{ vehicles|length|pluralize }}</h2>

    <ul class="has-smalls">
        {% for result in vehicles %}
            <li>
                <a href="{{ result.get_absolute_url }}">
                    <span>{% if result.withdrawn %}<del>{{ result }}</del>{% else %}{{ result }}{% endif %}</span>
                    {% if result.operator %}
                        <small>{{ result.operator }}</small>
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
    {% endif %}

{% endif %}


{% endblock content %}
