<ul class="services">
{% for service in services %}
    <li>
        <a href="{{ service.get_absolute_url }}">
            {% if service.line_name and service.line_name != service.description %}
                <span class="name{% if not service.has_long_line_name %} is-short{% endif %}">
                    {{ service.line_name }}
                </span>
            {% endif %}
            {% if service.line_brand %}
                <span class="name">{{ service.line_brand }}</span>
            {% endif %}
            <span class="description">
                {{ service.description }}
            </span>
        </a>
    </li>
{% endfor %}
</ul>
