{% extends 'page.html' %}

{% block title %}{{ object }} – Bus Times{% endblock %}

{% block content %}

<h1>{{ object }}</h1>

<pre><code>{{ object.pk }}:
    line_name: {{ object.line_name }}
    line_brand: {{ object.line_brand }}
    description: {{ object.description }}
    outbound_description: {{ object.outbound_description }}
    inbound_description: {{ object.inbound_description }}
    current: {{ object.current }}
    show_timetable: {{ object.show_timetable }}</code></pre>

<h2>Service codes</h2>

<table>
    <thead>
        <tr><th>Scheme</th><th>Code</th><th>siri_one_shot</th></tr>
    </thead>
    <tbody>
        {% for code in codes %}
            <tr><td>{{ code.scheme }}</td><td>{{ code.code }}</td><td>{{ code.siri_one_shot }}</td></tr>
        {% endfor %}
    </tbody>
</table>

<h2>Routes</h2>

{% for route in service.route_set.all %}

<h3><a href="/services/{{ route.source }}/{{ route.code }}">{{ route.code }}</a></h3>

<table>
    <thead>
        <tr>
            <th scope="col">jp</th>
            <th scope="col">dest</th>
            <th scope="col">start</th>
            <th scope="col">end</th>
            <th scope="col">start</th>
            <th scope="col">end</th>
            <th scope="col">days</th>
            <th scope="col">dates</th>
        </tr>
    </thead>
    <tbody>
{% for trip in route.trip_set.all %}
<tr>
    <td>{{ trip.journey_pattern }}</td>
    <td>{{ trip.destination_id }}</td>
    <td>{{ trip.start }}</td>
    <td>{{ trip.end }}</td>
    <td>{{ trip.calendar.start_date }}</td>
    <td>{{ trip.calendar.end_date }}</td>
    <td>
        {% if trip.calendar.mon %}mon{% endif %}
        {% if trip.calendar.tue %}tue{% endif %}
        {% if trip.calendar.wed %}wed{% endif %}
        {% if trip.calendar.thu %}thu{% endif %}
        {% if trip.calendar.fri %}fri{% endif %}
        {% if trip.calendar.sat %}sat{% endif %}
        {% if trip.calendar.sun %}sun{% endif %}
    </td>
    <td>
        <ul class="bulleted">
        {% for d in trip.calendar.calendardate_set.all %}
            <li>{{ d.start_date }} - {{ d.end_date }}: {{ d.operation }}</li>
        {% endfor %}
        </ul>
    </td>
</tr>
{% endfor %}
</tbody>
</table>
{% endfor %}

{% endblock %}
