{% extends 'page.html' %}

{% block title %}{{ object }} – bustimes.org{% endblock %}

{% block content %}

<h1>{{ object }}</h1>

<ul class="tabs">
    <li><a href="{{ object.get_absolute_url }}">Timetable</a></li>
    <li><a href="{{ object.get_absolute_url }}/vehicles">Vehicles</a></li>
    <li>Debug</li>
    <li><a href="{% url 'admin:busstops_service_change' object.pk %}">Edit</a></li>
</ul>

<pre>{{ object.yaml }}</pre>

{% if service.servicecode_set.all %}
    <h2>Service codes</h2>

    <table>
        <thead>
            <tr><th>Scheme</th><th>Code</th>
        </thead>
        <tbody>
            {% for code in service.servicecode_set.all %}
                <tr><td>{{ code.scheme }}</td><td>{{ code.code }}</td></tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

<h2>Routes</h2>

{% for route in service.route_set.all %}

<details{% if forloop.first and forloop.last %} open{% endif %}>
    <summary>
        <a href="{{ route.get_absolute_url }}">{{ route.code }}</a><br>{{ route.start_date }}–{{ route.end_date }}
    </summary>

    <a href="{% url 'admin:bustimes_route_change' route.id %}">Edit</a>

<table>
    <thead>
        <tr>
            <th scope="col">block</th>
            <th scope="col">code</th>
            <th scope="col">direction</th>
            <th scope="col">time</th>
            <th scope="col">dates</th>
            <th scope="col">days</th>
            <th scope="col">dates</th>
        </tr>
    </thead>
    <tbody>
{% for trip in route.trip_set.all %}
<tr>
    <td>{{ trip.block }}</td>
    <td>{{ trip.ticket_machine_code }}</td>
    <td>{% if trip.inbound %}In{% else %}Out{% endif %}bound</td>
    <td>{{ trip.start }}–{{ trip.end }}</td>
    <td>{{ trip.calendar.start_date }}–{{ trip.calendar.end_date }}</td>
    <td>{{ trip.calendar }}</td>
    <td>
        <ul class="bulleted">
        {% for d in trip.calendar.calendardate_set.all %}
            <li>{% if d.special %}Also {% endif %}{% if not d.operation %}Not {% endif %}{{ d.start_date }}{% if d.start_date != d.end_date %}–{{ d.end_date }}{% endif %}</li>
        {% endfor %}
        </ul>
    </td>
</tr>
{% endfor %}
</tbody>
</table>
</details>
{% endfor %}

{% endblock %}

{% block ad %}{% endblock %}
