{% extends 'page.html' %}

{% block bodyclass %}narrow{% endblock %}

{% block content %}

<h1>Settings</h1>

<p>
    <label><input type="checkbox" id="show-adverts"> Show adverts</label>
</p>

<p class="helptext">Adverts pay the bills, but they are annoying. You could <a href="https://ko-fi.com/bustimes">buy us a coffee</a> instead</p>

<script>
(function () {
    var input = document.getElementById('show-adverts');
    if (localStorage && localStorage.hideAds) {
        input.checked = false;
    } else {
        input.checked = true;
    }

    function handleBoxCheck(event) {
        if (event.target.checked) {
            localStorage.removeItem('hideAds');
        } else {
            localStorage.setItem('hideAds', '1');
        }
    }

    input.addEventListener('click', handleBoxCheck);
})();

</script>

{% endblock %}

{% block ad %}{% endblock %}
