{% load urlise %}

{% if situations %}
<div class="situations">
{% for situation in situations %}
    {% if situation.summary != 'Does not stop here' %}

        {% if situation.summary %}
            <details class="situation"{% if forloop.first and forloop.last and situation.text|length < 100 %} open{% endif %}>
            <summary>
                {{ situation.summary }}
                {% for validity_period in situation.list_validity_periods %}
                    <div class="dates">{{ validity_period }}</div>
                {% endfor %}
            </summary>
        {% else %}<div class="situation">{% endif %}

        {% if situation.text %}
            {{ situation.text|linebreaks|urlise }}
        {% endif %}
        {% for consequence in situation.consequences %}
            {% ifchanged consequence.text %}{% if consequence.text and consequence.text != situation.text %}
                {{ consequence.text|linebreaks|urlise }}
            {% endif %}{% endifchanged %}
        {% endfor %}
        {% for link in situation.link_set.all %}
            {{ link.url|urlise }}
        {% endfor %}
    {% endif %}
    {% if situation.summary %}</details>{% else %}</div>{% endif %}
{% endfor %}
</div>
{% endif %}
