{% extends 'page.html' %}

{% block title %}Site status – bustimes.org{% endblock %}

{% block bodyclass %}narrow{% endblock %}

{% block content %}

<h1>Site status</h1>

<h2>Bus Open Data AVL</h2>

<table>
    <thead>
        <tr>
            <th scope="col">Timestamp</th>
            <th scope="col">Items</th>
            <th scope="col">Changed items</th>
        </tr>
    </thead>
    <tbody>
        {% for item in bods_stats %}
            <tr>
                <td>{{ item.0 }}</td>
                <td>{{ item.1 }}</td>
                <td>{{ item.2 }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<h2>TNDS timetables</h2>

<table>
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Services</th>
            <th scope="col">Updated</th>
            <!-- <th scope="col">URL</th> -->
        </tr>
    </thead>
    <tbody>
        {% for source in tnds %}
            <tr>
                <td>{{ source.get_nice_link }}</td>
                <td>{{ source.count }}</td>
                <td>{{ source.datetime|date:"j M"|default:"" }}</td>
                <!-- <td>{{ source.url }}</td> -->
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
