<ul class="has-smalls{{ class }}">
{% for stop in stops %}
    <li>
        <a href="{{ stop.get_absolute_url }}">
            <span>
                {% if stop.indicator and object.common_name == stop.common_name %}
                    {{ stop.indicator }}
                    {% if stop.indicator in stop.prepositions %}
                        {{ stop.common_name }}
                    {% endif %}
                    {{ stop.get_arrow }}
                {% else %}
                    {{ stop }}
                {% endif %}
            </span>
            {% for line_name in stop.get_line_names %}
                <small>{{ line_name }}</small>
            {% endfor %}
        </a>
    </li>
{% endfor %}
</ul>
