<ul class="has-smalls{{ class }}">
{% for stop in stops %}
    {% if stop.current_services %}
        <li itemscope itemtype="https://schema.org/BusStop" data-indicator="{{ stop.indicator }}"{% if stop.get_heading is not None %} data-heading="{{ stop.get_heading }}"{% endif %}>
            <a href="{{ stop.get_absolute_url }}">
                <span itemprop="name">
                    {% if stop.indicator and object.common_name == stop.common_name %}
                        {{ stop.indicator }}
                        {% if stop.indicator in stop.prepositions %}
                            {{ stop.common_name }}
                        {% endif %}
                    {% else %}
                        {{ stop }}
                    {% endif %}
                </span>
                {% for line_name in stop.get_line_names %}
                    <small>{{ line_name }}</small>
                {% endfor %}
            </a>
            {% if stop.latlong %}
                <span itemprop="geo" itemscope itemtype="https://schema.org/GeoCoordinates">
                    <meta itemprop="latitude" content="{{ stop.latlong.y }}" />
                    <meta itemprop="longitude" content="{{ stop.latlong.x }}" />
                </span>
            {% endif %}
        </li>
    {% endif %}
{% endfor %}
</ul>
