<ul>
{% for stop in stops %}
    <li itemscope itemtype="https://schema.org/BusStop">
        <a href="{{ stop.get_absolute_url }}">
            <span itemprop="name">{{ stop }}</span>
            {% if stop.latlong %}
            <span itemprop="geo" itemscope itemtype="https://schema.org/GeoCoordinates">
                <meta itemprop="latitude" content="{{ stop.latlong.y }}" />
                <meta itemprop="longitude" content="{{ stop.latlong.x }}" />
            </span>
            {% endif %}
        </a>
    </li>
{% endfor %}
</ul>
