{% load urlise %}
{% load cache %}

{% if timetable %}
    <form class="timetable-date" autocomplete="off" onchange="this.submit()">
        {% if timetable.calendar_options %}
            <select name="calendar" aria-label="Date">
                {% for id, description in timetable.calendar_options %}
                    <option{% if id == timetable.calendar.id %} selected{% endif %} value="{{ id }}">
                        {{ description }}
                    </option>
                {% endfor %}
            </select>
        {% elif timetable.calendar %}
            <p>{{ timetable.calendar.describe_for_timetable }}</p>
        {% elif timetable.date_options %}
            <select name="date" aria-label="Date">
                {% for option in timetable.date_options %}
                    <option{% if option == timetable.date %} selected{% endif %} value="{{ option.isoformat }}">{{ option }}</option>
                {% endfor %}
            </select>
        {% elif timetable.date %}
            <input type="date" name="date" aria-label="Date" value="{{ timetable.date.isoformat }}">
        {% endif %}
        {% if timetable.detailed %}
            <label>{{ form.detailed }} {{ form.detailed.label }}</label>
            <label>{{ form.vehicles }} {{ form.vehicles.label }}</label>
        {% endif %}
        {{ form.service }}
        <noscript><input type="submit"></noscript>
    </form>

    {% cache 3600 timetable object.id object.modified_at timetable.detailed form.vehicles.value timetable.calendar_ids timetable.calendar.id form.cleaned_data.service %}

    {% for grouping in timetable.render.groupings %}
        {% if forloop.first %}<div class="groupings">{% endif %}

        <div class="grouping">

        {% if forloop.first != forloop.last %}
            <h2>{{ grouping|linebreaksbr }}</h2>
        {% endif %}

        <div class="timetable-wrapper-wrapper">
            {% if grouping.has_minor_stops and grouping.rows|length > 15 %}
                <input type="checkbox" id="show-all-stops-{{ forloop.counter }}">
                <label for="show-all-stops-{{ forloop.counter }}">Show all stops</label>
            {% endif %}
            <div class="timetable-wrapper{% if grouping.width > 3 %} timetable-wrapper--wide{% endif %}">
                <table class="timetable">
                    {% if grouping.routes or timetable.detailed or timetable.has_operators %}
                        <thead>
                            {% if grouping.routes %}<tr class="link">
                                <th></th>
                                {% for head in grouping.routes %}
                                    <td{% if head.span > 1 %} colspan="{{ head.span }}"{% endif %}>
                                        {% if object.id != head.content.service_id %}
                                            <a href="{{ head.content.service.get_absolute_url }}">{{ head.content.line_name }}</a>
                                        {% else %}
                                            {{ head.content.line_name }}
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            </tr>
                            {% endif %}
                            {% if timetable.has_operators %}
                                <tr>
                                    <th scope="row">Operator</th>
                                    {% for head in grouping.get_operators %}
                                        <td{% if head.span > 1 %} colspan="{{ head.span }}"{% endif %}>
                                            {{ head.content }}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endif %}
                            {% if timetable.detailed %}
                                {% if timetable.has_blocks %}
                                    <tr class="link">
                                        <th scope="col">Block</th>
                                        {% for trip in grouping.trips %}
                                            <td><a href="{{ trip.get_absolute_url }}/block">{{ trip.block }}</a></td>
                                        {% endfor %}
                                    </tr>
                                {% endif %}
                                {% if timetable.has_vehicle_types %}
                                    <tr>
                                        <th scope="col">Vehicle type</th>
                                        {% for head in grouping.get_vehicle_types %}
                                            {{ head.get_html }}
                                        {% endfor %}
                                    </tr>
                                {% endif %}
                                {% if timetable.has_garages %}
                                    <tr>
                                        <th scope="col">Garage</th>
                                        {% for head in grouping.get_garages %}
                                            {{ head.get_html }}
                                        {% endfor %}
                                    </tr>
                                {% endif %}
                                {% if timetable.has_ticket_machine_codes %}
                                    <tr class="link">
                                        <th scope="col">Ticket machine code</th>
                                        {% for trip in grouping.trips %}
                                            <td><a href="{{ trip.get_absolute_url }}">{{ trip.ticket_machine_code }}</a></td>
                                        {% endfor %}
                                    </tr>
                                {% endif %}
                                {% if timetable.has_vehicle_journey_codes %}
                                    <tr>
                                        <th scope="col">Vehicle journey code</th>
                                        {% for trip in grouping.trips %}
                                            <td>{{ trip.vehicle_journey_code }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endif %}
                                {% if form.vehicles.value %}{% for date, vjs in grouping.vehicles_by_date %}
                                    <tr>
                                        <th scope="col" >{{ date }}</th>
                                        {% for vj in vjs %}
                                            <td class="link">{% if vj %}<a href="{{ vj.get_absolute_url }}">{{ vj.vehicle }}</a>{% endif %}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}{% endif %}
                            {% endif %}
                        </thead>
                    {% endif %}
                    <tbody>
                        {% for row in grouping.rows %}
                            <tr{% if row.is_minor %} class="minor{% if row.od %} od{% endif %}"{% endif %}>
                                <th{% if row.has_waittimes %} rowspan="2"{% endif %} class="stop-name" scope="row">
                                    {% if row.stop.pk %}<a href="{{ row.stop.get_absolute_url }}">{% if row.stop.situation %}⚠️&#xfe0f; {% endif %}{{ row.stop.get_qualified_name }}</a>{% else %}{{ row.stop }}{% endif %}
                                </th>
                            {% for cell in row.times %}{% if cell.colspan %}<td{% if grouping.routes or grouping.column_feet or timetable.has_operators %} colspan="{{ cell.colspan }}"{% endif %} rowspan="{{ cell.rowspan }}" class="then-every">{{ cell }}</td>{% else %}<td{% if row.has_waittimes and not cell.wait_time and not cell.first and not cell.last %} rowspan="2"{% endif %}>{% if not row.has_waittimes or cell.wait_time or not cell.first %}{{ cell }}{% if cell.set_down_only %}<abbr title="set down only">s</abbr>{% endif %}{% endif %}</td>{% endif %}{% endfor %}
                            </tr>
                            {% if row.has_waittimes %}
                                <tr class="{% if row.is_minor %}minor {% if row.od %}od {% endif %}{% endif %}dep">
                                    {% for cell in row.times %}{% if cell.wait_time or cell.first or cell.last %}<td>{% if cell.wait_time or not cell.last %}{{ cell.departure_time }}{% if cell.set_down_only %}<abbr title="set down only">s</abbr>{% endif %}{% endif %}</td>{% endif %}{% endfor %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                {% if grouping.column_feet %}<tfoot>
                    {% for row in grouping.column_feet.values %}
                        <tr>
                            {% if row|length > 1 %}
                                <th></th>
                            {% endif %}
                            {% for foot in row %}
                                <td{% if foot.span > 1 or row|length == 1 %} colspan="{% if row|length == 1 %}{{ foot.span|add:1 }}{% else %}{{ foot.span }}{% endif %}"{% endif %}>
                                    {% if foot.notes %}{{ foot.notes|urlise }}{% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tfoot>{% endif %}
                </table>
            </div>
        </div>

        </div>

        {% if forloop.last %}</div>{% endif %}
    {% empty %}
        {% if timetable.date %}
            <p>Sorry, no journeys found</p>
        {% endif %}

        {% if timetable.expired %}
            <p>Try a previous date like <a href="?date={{ timetable.expired.isoformat }}">{{ timetable.expired }}</a>?</p>
        {% endif %}

        {% include 'route.html' %}
    {% endfor %}

    {% if timetable.has_set_down_only %}
        <p>Times marked <strong>s</strong> – “set down only” – the {{ object.mode }} will only stop to drop passengers off</p>
    {% endif %}

    {% for credit in timetable.credits %}{% if forloop.first %}
        <p class="credit">Timetable data from {% else %}, {% endif %}{{ credit }}{% if forloop.last %}{% if 'bus-data.dft.gov.uk' in credit %}.
        We’re not endorsed by, affiliated with or supported by them, and they don’t warrant the accuracy or quality of the information.{% endif %}
    </p>{% endif %}{% endfor %}

    {% endcache %}

{% else %}
    {% include 'route.html' %}
{% endif %}
