{% load urlise %}

{% if timetable %}
    {% if timetable.calendar_options %}
        <form class="timetable-date">
            <select onchange="this.form.submit()" name="calendar" id="id_date" aria-label="Date">
                {% for option in timetable.calendar_options %}
                    <option{% if option == timetable.calendar %} selected{% endif %} value="{{ option.id }}">{{ option }}</option>
                {% endfor %}
            </select>
            <noscript><input type="submit"></noscript>
        </form>
    {% elif timetable.calendar %}
        <p>
            {{ timetable.calendar }}
            {% if timetable.start_date %}
                from {{ timetable.start_date }}
            {% endif %}
            {% if timetable.calendar.end_date <= timetable.today %}
                until {{ timetable.calendar.end_date }}
            {% endif %}
        </p>
    {% elif timetable.date_options|length > 1 %}
        <form class="timetable-date" autocomplete="off">
            <select onchange="this.form.submit()" name="date" id="id_date" aria-label="Date">
                {% for option in timetable.date_options %}
                    <option{% if option == timetable.date %} selected{% endif %} value="{{ option.isoformat }}">{{ option }}</option>
                {% endfor %}
            </select>
            <noscript><input type="submit"></noscript>
        </form>
    {% elif timetable.date %}
        <form class="timetable-date" autocomplete="off">
            <input type="date" onchange="this.form.submit()" name="date" id="id_date" aria-label="Date" value="{{ timetable.date.isoformat }}">
            <noscript><input type="submit"></noscript>
        </form>
    {% endif %}

    {% for grouping in timetable.groupings %}

        {% if forloop.first != forloop.last %}
            <h2>
                {% if grouping.inbound %}
                    {% for origin, destination, via in timetable.origins_and_destinations %} 
                        {{ destination }} - {{ origin }}{% if via %} via {{ via }}{% endif %}{% if not forloop.last %}<br>{% endif %}
                    {% empty %}{% firstof object.inbound_description grouping %}{% endfor %}
                {% else %}
                    {% for origin, destination, via in timetable.origins_and_destinations %} 
                        {{ origin }} - {{ destination }}{% if via %} via {{ via }}{% endif %}{% if not forloop.last %}<br>{% endif %}
                    {% empty %}{% firstof object.outbound_description grouping %}{% endfor %}
                {% endif %}
            </h2>
        {% endif %}

        <div class="timetable-wrapper-wrapper">
            {% if grouping.has_minor_stops and grouping.rows|length > 15 %}
                <input type="checkbox" id="show-all-stops-{{ forloop.counter }}">
                <label for="show-all-stops-{{ forloop.counter }}">Show all stops</label>
            {% endif %}
            <div class="timetable-wrapper{% if grouping.width > 3 %} timetable-wrapper--wide{% endif %}">
                <table class="timetable">
                    {% if grouping.heads or timetable.detailed %}
                        <thead>
                            {% if grouping.heads %}<tr>
                                <th></th>
                                {% for head in grouping.heads %}
                                    <td{% if head.span > 1 %} colspan="{{ head.span }}"{% endif %}>
                                        {% if object.id != head.route.service_id %}
                                            <a href="{{ head.route.service.get_absolute_url }}">{{ head.route.line_name }}</a>
                                        {% else %}
                                            {{ head.route.line_name }}
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            </tr>
                            {% endif %}
                            {% if timetable.detailed %}
                                <tr>
                                    <th scope="col">Block</th>
                                    {% for trip in grouping.trips %}
                                        <td>{{ trip.block }}</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <th scope="col">Garage</th>
                                    {% for trip in grouping.trips %}
                                        <td title="{{ trip.garage.name }}">{{ trip.garage.code }}</td>
                                    {% endfor %}
                                </tr>
                            {% endif %}
                        </thead>
                    {% endif %}
                    <tbody>
                        {% for row in grouping.rows %}
                            <tr{% if row.is_minor %} class="minor{% if row.od %} od{% endif %}"{% endif %}>
                                <th{% if row.has_waittimes %} rowspan="2"{% endif %} class="stop-name" scope="row">
                                    {% if row.stop.pk %}
                                        <a href="{{ row.stop.get_absolute_url }}">{% if row.stop.situation %}⚠️ {% endif %}{{ row.stop.get_qualified_name }}</a>
                                    {% else %}{{ row.stop }}{% endif %}
                                </th>
                            {% for cell in row.times %}
                                {% if cell.colspan %}
                                    <td{% if grouping.heads or grouping.column_feet %} colspan="{{ cell.colspan }}"{% endif %} rowspan="{{ cell.rowspan }}" class="then-every">{{ cell }}</td>
                                {% else %}
                                    <td{% if row.has_waittimes and not cell.wait_time and not cell.first and not cell.last %} rowspan="2"{% endif %}>{% if not row.has_waittimes or cell.wait_time or not cell.first %}{{ cell }}{% if cell.set_down_only %}<abbr title="set down only">s</abbr>{% endif %}{% endif %}</td>
                                {% endif %}
                            {% endfor %}
                            </tr>
                            {% if row.has_waittimes %}
                                <tr class="{% if row.is_minor %}minor {% if row.od %}od {% endif %}{% endif %}dep">
                                    {% for cell in row.times %}{% if cell.wait_time or cell.first or cell.last %}
                                        <td>{% if cell.wait_time or not cell.last %}{{ cell.departure_time }}{% if cell.set_down_only %}<abbr title="set down only">s</abbr>{% endif %}{% endif %}</td>
                                    {% endif %}{% endfor %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                {% if grouping.column_feet %}<tfoot>
                    {% for row in grouping.column_feet.values %}
                        <tr>
                            {% if row|length > 1 %}
                                <th></th>
                            {% endif %}
                            {% for foot in row %}
                                <td{% if foot.span > 1 or row|length == 1 %} colspan="{% if row|length == 1 %}{{ foot.span|add:1 }}{% else %}{{ foot.span }}{% endif %}"{% endif %}>
                                    {% if foot.notes %}{{ foot.notes|urlise }}{% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tfoot>{% endif %}
                </table>
            </div>
        </div>

        {% if not forloop.last %}
            <!-- 71161633/services_incontent_1/services_incontent_1 --> 
            <div class="wide-ad" data-fuse="22699655419" id="services-incontent"></div>
        {% endif %}

    {% empty %}
        <p>Sorry, no journeys found for {{ timetable.date }}</p>

        {% if timetable.expired %}
            <p>The timetable data for this service was valid until {{ timetable.expired }}. But it might still be valid – try selecting an earlier date</p>
        {% endif %}

        {% include 'route.html' %}
    {% endfor %}

    {% if timetable.has_set_down_only %}
        <p>Times marked <strong>s</strong> – “set down only” – the {{ object.mode }} will only stop to drop passengers off</p>
    {% endif %}

    {% for credit in timetable.credits %}{% if forloop.first %}
        <p class="credit">Timetable data from {% else %}, {% endif %}{{ credit }}{% if forloop.last %}{% if 'bus-data.dft.gov.uk' in credit %}.
        We’re not endorsed by, affiliated with or supported by them, and they don’t warrant the accuracy or quality of the information.{% endif %}
    </p>{% endif %}{% endfor %}

{% else %}
    {% include 'route.html' %}
{% endif %}
