<table class="trip-timetable">
    <thead>
        <th></th>
        <th scope="row">Timetable</th>
        {% if trip_update %}<th scope="row">Expected</th>{% endif %}
    </thead>
    <tbody>
{% for stop in stops %}
    {% if stop.arrival is not None %}
        <tr{% if stop.is_minor %} class="minor"{% endif %} id="stop-time-{{ stop.id }}">
            <td {% if stop.departure is not None and stop.departure != stop.arrival %} rowspan="2"{% endif %} class="stop-name">
                {% if stop.stop %}
                    <a href="{{ stop.stop.get_absolute_url }}">{{ stop.stop.get_name_for_timetable }}</a>
                {% else %}
                    {{ stop.stop_code }}
                {% endif %}
            </td>
            <td>
                {{ stop.arrival_time }}
            </td>
            {% if stop.update %}
                <td>{{ stop.expected_arrival }}</td>
            {% endif %}
        </tr>
    {% endif %}
    {% if stop.departure is not None and stop.departure != stop.arrival %}
        <tr{% if stop.is_minor %} class="minor"{% endif %}{% if stop.arrival is None %} id="stop-time-{{ stop.id }}"{% endif %}>
            {% if stop.arrival is None %}
                <td class="stop-name">
                    {% if stop.stop %}
                        <a href="{{ stop.stop.get_absolute_url }}">{{ stop.stop.get_name_for_timetable }}</a>
                    {% else %}
                        {{ stop.stop_code }}
                    {% endif %}
                </td>
                {% endif %}
            <td>
                {{ stop.departure_time }}
            </td>
            {% if stop.update %}
                <td>{{ stop.expected_departure }}</td>
            {% endif %}
        </tr>
    {% endif %}
{% endfor %}
</tbody>
</table>

{% load urlise %}

{% for note in trip.notes.all %}
    <p>{{ note.text|urlise }}</p>
{% endfor %}
