{% extends 'map.html' %}

{% block title %}Vehicles – Bus Times{% endblock %}

{% block content %}

<style>
#hugemap {
height: 100%;
width: 100%;
}
</style>

<div id="hugemap"></div>

{% load static %}
{% load pipeline %}
<link rel="stylesheet" href="{% static 'js/bower_components/leaflet/dist/leaflet.css' %}" />
<script src="{% static 'js/bower_components/leaflet/dist/leaflet.js' %}"></script>
{% javascript 'vehicles' %}

{% endblock %}
