{% extends 'map.html' %}

{% block title %}Vehicles – Bus Times{% endblock %}

{% block content %}

<div id="hugemap"></div>
<div id="sidebar">
    <p>This is a live map of some of the buses in Norfolk. How cool is that?</p>
    <h2>How ‘live’?</h2>
    <p>I’m not sure. I fetch the information up to every 10 seconds, but the underlying data seems to change a bit less frequently than that.</p>
    <p>Click on a bus to see when its position last changed.</p>
    <h2>Why only some?</h2>
    <p>I don’t know. Not all vehicles probably have the right satellite tracking equipment.</p>
	<p>Only Simonds, Sanders, Lynx, Our Bus, West Norfolk Community Transport and First buses ever appear. I’ve noticed Sanders’ Coasthopper routes don’t appear, although Coasthopper-liveried buses do appear when they’re operating on other routes.</p>
</div>

{% load staticfiles %}
{% load pipeline %}
<link rel="stylesheet" href="{% static 'js/bower_components/leaflet/dist/leaflet.css' %}" />
<script src="{% static 'js/bower_components/leaflet/dist/leaflet.js' %}"></script>
{% javascript 'vehicles' %}

{% endblock %}
