interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tfl.gov.uk/Vehicle/LTZ1243/Arrivals
  response:
    body:
      string: '[{"$type":"Tfl.Api.Presentation.Entities.Prediction, Tfl.Api.Presentation.Entities","id":"1566189989","operationType":1,"vehicleId":"LTZ1243","naptanId":"490004215M","stationName":"Bow
        Church","lineId":"8","lineName":"8","platformName":"null","direction":"outbound","bearing":"61","destinationNaptanId":"","destinationName":"Tottenham
        Court Road","timestamp":"2021-03-17T18:39:58.54552Z","timeToStation":582,"currentLocation":"","towards":"Stratford
        or Bromley-By-Bow Station.","expectedArrival":"2021-03-17T18:49:40Z","timeToLive":"2021-03-17T18:50:10Z","modeName":"bus","timing":{"$type":"Tfl.Api.Presentation.Entities.PredictionTiming,
        Tfl.Api.Presentation.Entities","countdownServerAdjustment":"00:00:04.1541400","source":"2021-03-17T18:06:15.231Z","insert":"2021-03-17T18:40:01.46Z","read":"2021-03-17T18:40:05.617Z","sent":"2021-03-17T18:39:58Z","received":"0001-01-01T00:00:00Z"}},{"$type":"Tfl.Api.Presentation.Entities.Prediction,
        Tfl.Api.Presentation.Entities","id":"-81658957","operationType":1,"vehicleId":"LTZ1243","naptanId":"490011654N","stationName":"Roman
        Road Market","lineId":"8","lineName":"8","platformName":"OA","direction":"outbound","bearing":"325","destinationNaptanId":"","destinationName":"Tottenham
        Court Road","timestamp":"2021-03-17T18:39:58.54552Z","timeToStation":862,"currentLocation":"","towards":"Bethnal[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tfl.gov.uk/Vehicle/LJ53NHP/Arrivals
  response:
    body:
      string: '[]'
    headers:
      Api-Entity-Payload:
      - Prediction
      Content-Type:
      - application/json; charset=utf-8
      X-API:
      - Vehicle
      X-Backend:
      - api
      X-Operation:
      - Vehicle_GetByPathIds
      X-Proxy-Connection:
      - unset
      X-TTL:
      - '60.000'
      X-TTL-RULE:
      - '0'
    status:
      code: 200
      message: OK
version: 1
