interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://transportapi.com/v3/uk/bus/stop/2900M114/live.json?app_key=&group=no&app_id=
  response:
    body: {string: '{"atcocode":"2900M114","smscode":"NFODGJTG","request_time":"2017-03-16T21:20:06+00:00","bearing":"W","stop_name":"Bus
        Shelter","departures":{"all":[{"mode":"bus","line":"X8A","line_name":"X8A","direction":"Oak
        Street (Fakenham)","operator":"NFKG","operator_name":"Stagecoach Norfolk (for","date":"2017-03-17","aimed_departure_time":"07:25","expected_departure_date":null,"expected_departure_time":null,"best_departure_estimate":"07:25","dir":"inbound","id":"http://transportapi.com/v3/uk/bus/route/NFKG/X8A/inbound/2900M114/2017-03-17/07:25/timetable.json","source":"Traveline
        timetable (nextbuses disabled)"},{"mode":"bus","line":"9","line_name":"9","direction":"Oak
        Street (Fakenham)","operator":"SNDR","operator_name":"Sanders Coaches","date":"2017-03-17","aimed_departure_time":"08:02","expected_departure_date":null,"expected_departure_time":null,"best_departure_estimate":"08:02","dir":"inbound","id":"http://transportapi.com/v3/uk/bus/route/SNDR/9/inbound/2900M114/2017-03-17/08:02/timetable.json","source":"Traveline
        timetable (nextbu[...]
