interactions:
- request:
    body: !!python/unicode '{"clusterID": 791}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: http://cardiff.acisconnect.com/ConnectService.svc/GetStopsForCluster
  response:
    body: {string: !!python/unicode '{"d":"MapStopResponse={\"Stops\":[{\"AltStopNameLong\":\"\",\"ClusterCount\":1,\"ClusterId\":0,\"IsTimingPoint\":false,\"Latitude\":51.51761,\"Longitude\":-3.15159,\"StopNameLong\":\"Coed-Y-Gores\",\"StopSequenceIndex\":0,\"Type\":0,\"ExtensionData\":{},\"AltStopName\":\"\",\"PublicAccessCode\":\"cdijgpw\",\"StopId\":7814,\"StopName\":\"Coed-Y-Gores
        (W1)\",\"StopRef\":\"5710AWA10324\"},{\"AltStopNameLong\":\"\",\"ClusterCount\":1,\"ClusterId\":0,\"IsTimingPoint\":false,\"Latitude\":51.51757,\"Longitude\":-3.15133,\"StopNameLong\":\"Coed-Y-Gores\",\"StopSequenceIndex\":0,\"Type\":0,\"ExtensionData\":{},\"AltStopName\":\"\",\"PublicAccessCode\":\"cdijgta\",\"StopId\":7815,\"StopName\":\"Coed-y-Gores
        (W2)\",\"StopRef\":\"5710AWA10325\"},{\"AltStopNameLong\":\"\",\"ClusterCount\":1,\"ClusterId\":0,\"IsTimingPoint\":false,\"Latitude\":51.52049,\"Longitude\[...]
