interactions:
- request:
    body: !!python/unicode '{"zoomLevel": 5, "topLeft": {"lat": 100, "CLASS_NAME":
      "OpenLayers.LonLat", "lon": -100}, "bottomRight": {"lat": -100, "CLASS_NAME":
      "OpenLayers.LonLat", "lon": 100}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: http://cardiff.acisconnect.com/ConnectService.svc/GetClusteredStops
  response:
    body: {string: !!python/unicode '{"d":"MapStopResponse={\"Stops\":[{\"AltStopNameLong\":\"\",\"ClusterCount\":1,\"ClusterId\":345,\"IsTimingPoint\":false,\"Latitude\":51.49254,\"Longitude\":-3.55504,\"StopNameLong\":\"Waterton\",\"StopSequenceIndex\":0,\"Type\":0,\"ExtensionData\":{},\"AltStopName\":\"\",\"PublicAccessCode\":\"vglgpjd\",\"StopId\":2017,\"StopName\":\"Keepers
        Lodge Bridg\",\"StopRef\":\"5720AWA12434\"},{\"AltStopNameLong\":null,\"ClusterCount\":2,\"ClusterId\":346,\"IsTimingPoint\":false,\"Latitude\":51.48658,\"Longitude\":-3.54258,\"StopNameLong\":null,\"StopSequenceIndex\":0,\"Type\":1,\"ExtensionData\":{},\"AltStopName\":null,\"PublicAccessCode\":null,\"StopId\":0,\"StopName\":null,\"StopRef\":null},{\"AltStopNameLong\":null,\"ClusterCount\":2,\"ClusterId\":347,\"IsTimingPoint\":false,\"Latitude\":51.48279,\"Longitude\":-3.53521,\"StopNameLong\":null,\"StopSequenceIndex\":[...]
