interactions:
- request:
    body: "\n            <Envelope xmlns=\"http://schemas.xmlsoap.org/soap/envelope/\">\n
      \               <Body>\n                    <GetRealTimeStopData xmlns=\"http://dublinbus.ie/\">\n
      \                       <stopId>7602</stopId>\n                    </GetRealTimeStopData>\n
      \               </Body>\n            </Envelope>\n        "
    headers:
      content-type: [text/xml]
    method: POST
    uri: http://rtpi.dublinbus.ie/DublinBusRTPIService.asmx
  response:
    body: {string: '<?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetRealTimeStopDataResponse
        xmlns="http://dublinbus.ie/"><GetRealTimeStopDataResult><xs:schema id="NewDataSet"
        xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata"><xs:element
        name="NewDataSet" msdata:IsDataSet="true" msdata:MainDataTable="StopData"
        msdata:UseCurrentLocale="true"><xs:complexType><xs:choice minOccurs="0" maxOccurs="unbounded"><xs:element
        name="StopData"><xs:complexType><xs:sequence><xs:element name="ServiceDelivery_ResponseTimestamp"
        type="xs:dateTime" minOccurs="0" /><xs:element name="ServiceDelivery_ProducerRef"
        type="xs:string" minOccurs="0" /><xs:element name="ServiceDelivery_Status"
        type="xs:boolean" minOccurs="0" /><xs:element name="ServiceDelivery_MoreData"
        type="xs:boolean" minOccurs="0" /><xs:element name="StopMonitoringDelivery_Version"
        type="xs:string" minOccurs="0" /><xs:element name="StopMonitoringDelivery_ResponseTimestamp"
       [...]
