interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://data.dublinked.ie/cgi-bin/rtpi/realtimebusinformation?stopid=7602
  response:
    body: {string: "{\"errorcode\":\"0\",\"errormessage\":\"\",\"numberofresults\"\
        :12,\"stopid\":\"7602\",\"timestamp\":\"05\\/06\\/2017 12:20:08\",\"results\"\
        :[{\"arrivaldatetime\":\"05\\/06\\/2017 12:21:48\",\"duetime\":\"1\",\"departuredatetime\"\
        :\"05\\/06\\/2017 12:21:48\",\"departureduetime\":\"1\",\"scheduledarrivaldatetime\"\
        :\"05\\/06\\/2017 12:10:00\",\"scheduleddeparturedatetime\":\"05\\/06\\/2017\
        \ 12:10:00\",\"destination\":\"Dublin Airport\",\"destinationlocalized\":\"\
        Aerfort\",\"origin\":\"Brehon Field Rd\",\"originlocalized\":\"Brehon Field\
        \ Rd\",\"direction\":\"Inbound\",\"operator\":\"bac\",\"additionalinformation\"\
        :\"\",\"lowfloorstatus\":\"no\",\"route\":\"16\",\"sourcetimestamp\":\"05\\\
        /06\\/2017 12:20:00\",\"monitored\":\"true\"},{\"arrivaldatetime\":\"05\\\
        /06\\/2017 12:24:00\",\"duetime\":\"3\",\"departuredatetime\":\"05\\/06\\\
        /2017 12:24:00\",\"departureduetime\":\"3\",\"scheduledarrivaldatetime\":\"\
        05\\/06\\/2017 12:26:00\",\"scheduleddeparturedatetime\":\"05\\/06\\/2017\
        \ 12:26:00\",\"destination\":\"Shanard Road\",\"destinationlocalized\":\"\
        \ \",\"origin\":\"Park Avenue\",\"originlocalized\":\"Park Avenue\",\"direction\"\
        :\"Inbound\",\"operator\":\"bac\",\"additionalinformation\":\"\",\"lowfloorstatus\"\
        :\"no\",\"route\":\"1\",\"sourcetimestamp\":\"05\\/06\\/2017 12:20:00\",\"\
        monitored\":\"true\"},{\"arrivaldatetime\":\"05\\/06\\/2017 12:29:54\",\"\
        duetime\":\"9\",\"departuredatetime\":\"05\\/06\\/2017 12:29:54\",\"departureduetime\"\
        :\"9\",\"scheduledarrivaldatetime\":\"05\\/06\\/2017 12:30:00\",\"scheduleddeparturedatetime\"\
        :\"05\\/06\\/2017 12:30:00\",\"destination\":\"Swords Manor\",\"destinationlocalized\"\
        :\"M[...]
