interactions:
- request:
    body: null
    headers:
      opco: [eastangliabuses]
    method: GET
    uri: http://api.otrl-bus.io/api/bus/nearby?lat=52.6&lng=1.3
  response:
    body: {string: '{"success":true,"statusCode":200,"data":[{"ref":"R09FQS02MzB8NTQy","vehicleRef":"GOEA-630","datedVehicleJourney":542,"geo":{"distance":1.55,"longitude":1.2768639,"latitude":52.6174583,"bearing":240},"lineRef":"501","direction":"inbound","destination":{"name":"Park
        & Ride","ref":"2900H2258"},"vehicleMake":"","stopProgress":0.05,"recordedTime":"2019-03-17T16:24:20.000Z","updatedAtUTC":"2019-03-17T16:24:27.000Z"},{"ref":"R09FQS02MTF8MzA4","vehicleRef":"GOEA-611","datedVehicleJourney":308,"geo":{"distance":1.7,"longitude":1.2911969,"latitude":52.6239471,"bearing":138},"lineRef":"3","direction":"inbound","destination":{"name":"Norwich
        Bus Stn","ref":"2900N12902"},"vehicleMake":"","stopProgress":0.85,"recordedTime":"2019-03-17T16:24:10.000Z","updatedAtUTC":"2019-03-17T16:24:27.000Z"},{"ref":"R09FQS00NDN8NTE0","vehicleRef":"GOEA-443","datedVehicleJourney":514,"geo":{"distance":5.05,"longitude":1.3715339,"latitude":52.5412636,"bearing":252},"lineRef":"87","direction":"outbound","destination":{"name":"Shelter","ref":"390070360"},"vehicleMake":"","stopProgress":0.91,"recordedTime":"2019-03-17T16:23:40.000Z","updatedAtUTC":"2019-03-17T16:23:57.000Z"}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"487-K2z22HsDjXsvItZS7rGrF6Izoqc"]
    status: {code: 200, message: OK}
version: 1
