interactions:
- request:
    body: "\n                <Siri xmlns=\"http://www.siri.org.uk/siri\">\n                    <ServiceRequest><VehicleMonitoringRequest/></ServiceRequest>\n
      \               </Siri>\n            "
    headers:
    method: POST
    uri: http://essex.jmwrti.co.uk:8080/RTI-SIRI-Server/SIRIHandler
  response:
    body: {string: '<?xml version="1.0" encoding="UTF-8"?><Siri xmlns="http://www.siri.org.uk/siri"
        version="1.3"><ServiceDelivery><ResponseTimestamp>2018-08-06T22:43:21+01:00</ResponseTimestamp><ProducerRef>JMW</ProducerRef><VehicleMonitoringDelivery
        version="1.3"><ResponseTimestamp>2018-08-06T22:43:21+01:00</ResponseTimestamp>
        <VehicleActivity><RecordedAtTime>2018-08-06T21:44:32+01:00</RecordedAtTime><ValidUntilTime>2018-08-06T21:44:32+01:00</ValidUntilTime><MonitoredVehicleJourney><LineRef>73</LineRef><FramedVehicleJourneyRef><DataFrameRef>2018-44-06</DataFrameRef><DatedVehicleJourneyRef>14</DatedVehicleJourneyRef></FramedVehicleJourneyRef><PublishedLineName>73</PublishedLineName><OperatorRef>FE</OperatorRef><Monitored>true</Monitored><VehicleLocation><Longitude>0.466871</Longitude><Latitude>51.736295</Latitude></VehicleLocation><Delay>P0Y0M0DT0H7M51.000S</Delay><VehicleRef>FE-69532</VehicleRef></MonitoredVehicleJourney></VehicleActivity>
        <VehicleActivity><RecordedAtTime>2018-08-06T21:44:59+01:00</RecordedAtTime><ValidUntilTime>2018-08-06T21:44:59+01:00</ValidUntilTime><MonitoredVehicleJourney><LineRef>351</LineRef><FramedVehicleJourneyRef><DataFrameRef>2018-44-06</DataFrameRef><DatedVehicleJourneyRef>56</DatedVehicleJourneyRef></FramedVehicleJourneyRef><PublishedLineName>351</PublishedLineName><OperatorRef>FE</OperatorRef><Monitored>true</Monitored><Vehicl[...]
