interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tfl.gov.uk/Line/Mode/bus/Route
  response:
    body: {string: '[{"$type":"Tfl.Api.Presentation.Entities.Line,
        Tfl.Api.Presentation.Entities","id":"rv1","name":"RV1","modeName":"bus","disruptions":[],"created":"2018-07-31T12:11:08.477Z","modified":"2018-07-31T12:11:08.477Z","lineStatuses":[],"routeSections":[{"$type":"Tfl.Api.Presentation.Entities.MatchedRoute,
        Tfl.Api.Presentation.Entities","name":"Tower Gateway Station - Covent Garden
        / Catherine Street","direction":"inbound","originationName":"Tower Gateway
        Station","destinationName":"Covent Garden / Catherine Street","originator":"490002076RV","destination":"490015764C","serviceType":"Regular","validTo":"2018-12-23T00:00:00Z","validFrom":"2018-07-28T00:00:00Z"},{"$type":"Tfl.Api.Presentation.Entities.MatchedRoute,
        Tfl.Api.Presentation.Entities","name":"Covent Garden / Catherine Street -
        Tower Gateway Station","direction":"outbound","originationName":"Covent Garden
        / Catherine Street","destinationName":"Tower Gateway Station","originator":"490015764C","destination":"490002076RV","serviceType":"Regular","validTo":"2018-12-23T00:00:00Z","validFrom":"2018-07-28T00:00:00Z"}],"serviceTypes":[{"$type":"Tfl.Api.Presentation.Entities.LineServiceTypeInfo,
        Tfl.Api.Presentation.Entities","name":"Regular","uri":"/Line/Route?ids=RV1&serviceTypes=Regular"}],"crowding":{"$type":"Tfl.Api.Presentation.Entities.Crowding,
        Tfl.Api.Presentation.Entities"}},{"$type":"Tfl.Api.Presentation.Entities.Line,
        Tfl.Api.Presentation.Entities","id":"s1","name":"S1","modeName":"bus","disruptions":[],"created":"2018-07-31T12:11:08.47Z","modified":"2018-07-31T12:11:08.47Z","lineStatuses":[],"routeSections":[{"$type":"Tfl.Api.Presentation.Entities.MatchedRoute,
        Tfl.Api.Presentation.Entities","name":"Banstead / Marks & Spencer - Victoria
        Road / Lavend[...]
