interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.bustim.es/2900M115
  response:
    body: {string: '{"timestamp": "2018-01-04T09:58:42.2054703+00:00", "producer":
        "HOGIA", "departures": [{"service": "9", "destination_name": "Holt", "destination_code":
        "2900H393", "aimed_time": "2018-01-04T10:02:00", "expected_time": "2018-01-04T10:03:21"},
        {"service": "9", "destination_name": "Holt", "destination_code": "2900H393",
        "aimed_time": "2018-01-04T11:32:00", "expected_time": null}, {"service": "9",
        "destination_name": "Holt", "destination_code": "2900H393", "aimed_time":
        "2018-01-04T13:32:00", "expected_time": null}, {"service": "9", "destination_name":
        "Holt", "destination_code": "2900H393", "aimed_time": "2018-01-04T14:32:00",
        "expected_time": null}]}'}
    headers:
      Content-Type: [application/json]
      x-amzn-RequestId: [d83d5bee-f135-11e7-a16d-31ebd2971d0a]
    status: {code: 200, message: OK}
version: 1
