interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.bustim.es/1800SB04611
  response:
    body: {string: '{"timestamp": "2018-05-14T18:36:50Z", "producer": "Trapeze_First_Manchester",
        "departures": [{"service": "42", "destination_name": "Manchester Piccadilly",
        "destination_code": "1800SB04611", "aimed_time": null, "expected_time": null},
        {"service": "42", "destination_name": "East Didsbury", "destination_code":
        "1800SB14291", "aimed_time": "2018-05-14T18:47:00Z", "expected_time": "2018-05-14T18:47:00Z"},
        {"service": "42", "destination_name": "Manchester Piccadilly", "destination_code":
        "1800SB04611", "aimed_time": null, "expected_time": null}, {"service": "42",
        "destination_name": "East Didsbury", "destination_code": "1800SB14291", "aimed_time":
        "2018-05-14T19:06:00Z", "expected_time": "2018-05-14T19:06:00Z"}, {"service":
        "42", "destination_name": "Manchester Piccadilly", "destination_code": "1800SB04611",
        "aimed_time": null, "expected_time": null}, {"service": "42", "destination_name":
        "East Didsbury", "destination_code": "1800SB14291", "aimed_time": "2018-05-14T19:26:00Z",
        "expected_time": "2018-05-14T19:26:00Z"}, {"service": "42", "destination_name":
        "Manchester Piccadilly", "destination_code": "1800SB04611", "aimed_time":
        null, "expected_time": null}]}'}
    headers:
      Content-Type: [application/json]
      x-amz-apigw-id: [G46XmHDlLPEFtzA=]
      x-amzn-RequestId: [d7e613ad-57a5-11e8-a92b-b7afe52daa2c]
    status: {code: 200, message: OK}
version: 1
