interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://datamall2.mytransport.sg/ltaodataservice/BusArrivalv2?BusStopCode=53341
  response:
    body: {string: '{"odata.metadata":"http://datamall2.mytransport.sg/ltaodataservice/$metadata#BusArrivalv2/@Element","BusStopCode":"53341","Services":[{"ServiceNo":"162M","Operator":"SBST","NextBus":{"OriginCode":"55509","DestinationCode":"55509","EstimatedArrival":"2018-01-04T20:16:36+08:00","Latitude":"1.3581576666666666","Longitude":"103.8449985","VisitNumber":"1","Load":"SEA","Feature":"WAB","Type":"SD"},"NextBus2":{"OriginCode":"55509","DestinationCode":"55509","EstimatedArrival":"2018-01-04T20:28:27+08:00","Latitude":"1.3691086666666665","Longitude":"103.84568666666667","VisitNumber":"1","Load":"SEA","Feature":"WAB","Type":"SD"},"NextBus3":{"OriginCode":"55509","DestinationCode":"55509","EstimatedArrival":"2018-01-04T20:31:26+08:00","Latitude":"0","Longitude":"0","VisitNumber":"1","Load":"SEA","Feature":"WAB","Type":"SD"}},{"ServiceNo":"410W","Operator":"SBST","NextBus":{"OriginCode":"53009","DestinationCode":"53009","EstimatedArrival":"2018-01-04T20:18:01+08:00","Latitude":"1.3546003333333334","Longitude":"103.84690016666667","VisitNumber":"1","Load":"SDA","Feature":"WAB","Type":"SD"},"NextBus2":{"OriginCode":"53009","Destination[...]
