interactions:
- request:
    body: '{"StopMonitorRequest": {"header": {"retailOperation": "", "channel": ""},
      "stopMonitorQueries": {"stopMonitorQuery": [{"stopPointLabel": "64803000", "servicesFilters":
      {}}]}}}'
    headers:
      Content-Type: [application/json]
      X-SC-apiKey: [ukbusprodapi_9T61Jo3vsbql#!]
      X-SC-securityMethod: [API]
    method: POST
    uri: https://api.stagecoachbus.com/adc/stop-monitor
  response:
    body: {string: '{"stopMonitors":{"stopMonitor":[{"stopPointLabel":"64803000","monitoredCalls":{"monitoredCall":[{"operatorRef":"SCFI","datedVehicleJourneyRef":"28","visitNumber":25,"lineRef":"17","stopPointLabel":"64803000","stopPointName":"Prison","destinationDisplay":"Perth","timingPoint":false,"direction":"INBOUND","vehicleRef":"12304","cancelled":false,"expectedArrivalTime":"2017-03-14T20:59:10Z","expectedDepartureTime":"2017-03-14T20:59:10Z","aimedArrivalTime":"2017-03-14T21:00:00Z","aimedDepartureTime":"2017-03-14T21:00:00Z"},{"operatorRef":"SCFI","datedVehicleJourneyRef":"17","visitNumber":43,"lineRef":"56","stopPointLabel":"64803000","stopPointName":"Prison","destinationDisplay":"Perth","timingPoint":false,"direction":"OUTBOUND","vehicleRef":"12451","cancelled":false,"expectedArrivalTime":"2017-03-14T21:16:18Z","expectedDepartureTime":"2017-03-14T21:16:18Z","aimedArrivalTime":"2017-03-14T21:17:00Z","aimedDepartureTime":"2017-03-14T21:17:00Z"}]}}]}}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
