interactions:
- request:
    body: '{"StopMonitorRequest": {"header": {"retailOperation": "", "channel": ""},
      "stopMonitorQueries": {"stopMonitorQuery": [{"stopPointLabel": "64801092", "servicesFilters":
      {}}]}}}'
    headers:
      Content-Type: [application/json]
      X-SC-apiKey: [ukbusprodapi_9T61Jo3vsbql#!]
      X-SC-securityMethod: [API]
    method: POST
    uri: https://api.stagecoachbus.com/adc/stop-monitor
  response:
    body: {string: '{"stopMonitors":{"stopMonitor":[{"stopPointLabel":"64801092","monitoredCalls":{"monitoredCall":[{"operatorRef":"SCOX","datedVehicleJourneyRef":"42","visitNumber":32,"lineRef":"15","stopPointLabel":"64801092","stopPointName":"South
        Methven Stree","destinationDisplay":"Perth","timingPoint":true,"direction":"INBOUND","vehicleRef":"SCOX-12205","cancelled":false,"expectedArrivalTime":"2017-03-14T20:37:51Z","expectedDepartureTime":"2017-03-14T20:37:51Z","aimedArrivalTime":"2017-03-14T20:23:00Z","aimedDepartureTime":"2017-03-14T20:23:00Z"},{"operatorRef":"SCOX","datedVehicleJourneyRef":"137","visitNumber":25,"lineRef":"7","stopPointLabel":"64801092","stopPointName":"South
        Methven Stree","destinationDisplay":"Hillend","timingPoint":false,"direction":"OUTBOUND","vehicleRef":"SCOX-12371","cancelled":false,"expectedArrivalTime":"2017-03-14T21:17:28Z","expectedDepartureTime":"2017-03-14T21:17:28Z","aimedArrivalTime":"2017-03-14T21:17:00Z","aimedDepartureTime":"2017-03-14T21:17:00Z"},{"operatorRef":"SCOX","datedVehicleJourneyRef":"46","visitNumber":44,"lineRef":"15","stopPointLabel":"64801092","stopPointName":"South
        Methven Stree","destinationDisplay":"Perth","timingPoint":true,"direction":"INBOUND","vehicleRef":"SCOX-12210","cancelled":false,"expectedArrivalTime":"2017-03-14T21:38:21Z","expectedDepartureTime":"2017-03-14T21:38:21Z","aimedArrivalTime":"2017-03-14T21:23:00Z","aimedDepartureTime":"2017-03-14T21:23:00Z"}]}}]}}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
