interactions:
- request:
    body: '{"StopMonitorRequest": {"stopMonitorQueries": {"stopMonitorQuery": [{"servicesFilters":
      {}, "stopPointLabel": "64801092"}]}, "header": {"channel": "", "retailOperation":
      ""}}}'
    headers:
      Content-Type: [application/json]
      X-SC-apiKey: [ukbusprodapi_9T61Jo3vsbql#!]
      X-SC-securityMethod: [API]
    method: POST
    uri: https://api.stagecoachbus.com/adc/stop-monitor
  response:
    body:
      string: '{"stopMonitors":{"stopMonitor":[{"stopPointLabel":"64801092","monitoredCalls":{"monitoredCall":[
        {"operatorRef":"SCOX","datedVehicleJourneyRef":"129","visitNumber":27,"lineRef":"7","stopPointLabel":"64801092","stopPointName":"South Methven Stree","destinationDisplay":"Hillend","timingPoint":false,"direction":"OUTBOUND","vehicleRef":"SCOX-12379","cancelled":false,"expectedArrivalTime":"2017-03-28T17:53:25Z","expectedDepartureTime":"2017-03-28T17:53:25Z","aimedArrivalTime":"2017-03-28T17:53:00Z","aimedDepartureTime":"2017-03-28T17:53:00Z"},
        {"operatorRef":"SCOX","datedVehicleJourneyRef":"131","visitNumber":27,"lineRef":"7","stopPointLabel":"64801092","stopPointName":"South Methven Stree","destinationDisplay":"Hillend","timingPoint":false,"direction":"OUTBOUND","vehicleRef":"SCOX-12376","cancelled":false,"expectedArrivalTime":"2017-03-28T18:08:25Z","expectedDepartureTime":"2017-03-28T18:08:25Z","aimedArrivalTime":"2017-03-28T18:08:00Z","aimedDepartureTime":"2017-03-28T18:08:00Z"},
        {"operatorR[...]
