interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://transportapi.com/v3/uk/train/station/tiploc:FLKSTNC/live.json
  response:
    body: {string: '{"date":"2018-05-28","time_of_day":"17:54","request_time":"2018-05-28T17:54:42+01:00","station_name":"Folkestone
        Central","station_code":"tiploc:FLKSTNC","departures":{"all":[{"mode":"train","service":"24605004","train_uid":"W43747","platform":null,"operator":"SE","operator_name":"Southeastern","aimed_departure_time":"17:58","aimed_arrival_time":"17:57","aimed_pass_time":null,"origin_name":"Ashford
        International","destination_name":"Ramsgate","source":"Network Rail","category":"OO","service_timetable":{"id":"http://transportapi.com/v3/uk/train/service/train_uid:W43747/2018-05-28/timetable.json?app_id=7f071c25&app_key=dfc613243505a7f32156c1adfb6d7be5&live=true"},"status":"CANCELLED","expected_arrival_time":null,"expected_departure_time":null,"best_arrival_estimate_mins":null,"best_departure_estimate_mins":null},{"mode":"train","service":"24648004","train_uid":"W42086","platform":null,"operator":"SE","operator_name":"Southeastern","aimed_departure_time":"18:00","aimed_arrival_time":"17:59","aimed_pass_time":null,"origin_name":"London
        St Pancras International","destination_name":"London St Pancras International","source":"Network
        Rail","category":"XX","service_timetable":{"id":"http://transportapi.com/v3/uk/train/service/train_uid:W42086/2018-05-28/timetable.json?app_id=7f071c25&app[...]
