interactions:
- request:
    body: "\n            <Siri version=\"1.3\" xmlns=\"http://www.siri.org.uk/siri\">\n
      \               <ServiceRequest>\n                    <RequestTimestamp>2019-02-09T10:45:45</RequestTimestamp>\n
      \                   <RequestorRef>Traveline_To_Trapeze</RequestorRef>\n                    <StopMonitoringRequest
      version=\"1.3\">\n                        <RequestTimestamp>2019-02-09T10:45:45</RequestTimestamp>\n
      \                       <MonitoringRef>2000G000106</MonitoringRef>\n                    </StopMonitoringRequest>\n
      \               </ServiceRequest>\n            </Siri>\n        "
    headers:
      Content-Type: [application/xml]
    method: POST
    uri: http://worcestershire-rt-http.trapezenovus.co.uk:8080/
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><Siri xmlns=\"http://www.siri.org.uk/siri\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.siri.org.uk/siri
        http://www.siri.org.uk/schema/1.3/siri.xsd\" version=\"1.3\"><ServiceDelivery><ResponseTimestamp>2019-02-09T11:00:55Z</ResponseTimestamp><ProducerRef>Traveline</ProducerRef><Status>true</Status><StopMonitoringDelivery
        version=\"1.3\">
        <ResponseTimestamp>2019-02-09T11:00:55Z</ResponseTimestamp>
        <Status>true</Status>
        <ValidUntil>2019-02-09T23:00:55Z</ValidUntil>
        <ShortestPossibleCycle>PT30S</ShortestPossibleCycle>
        <MonitoringRef>2000G000106</MonitoringRef>
        <MonitoredStopVisit><RecordedAtTime>2019-02-09T11:00:55Z</RecordedAtTime><ItemIdentifier>311_135509_20190209</ItemIdentifier><MonitoringRef>2000G000106</MonitoringRef><MonitoredVehicleJourney><LineRef>44</LineRef><DirectionRef>I</DirectionRef><FramedVehicleJourneyRef><DataFrameRef>2019_02_09_311_3892_127</DataFrameRef><DatedVehicleJourneyRef>311_3892_127</DatedVehicleJourneyRef></FramedVehicleJourneyRef><OperatorRef>FMR</OperatorRef><OriginRef>2000G009503</OriginRef><OriginName>Shelter Link Top</OriginName><DestinationRef>2000G500904</DestinationRef><DestinationName>Sixth Form College</DestinationName><OriginAimedDepartureTime>2019-02-09T10:21:00Z</OriginAimedDepartureTime><Monitored>true</Monitored><Delay>PT5M40S</Delay><VehicleRef>FMR-63362</VehicleRef><MonitoredCall><AimedArrivalTime>2019-02-09T11:09:00Z</AimedArrivalTime><ExpectedArrivalTime>2019-02-09T11:14:40Z</ExpectedArrivalTime><ArrivalStatus>delayed</ArrivalStatus><AimedDepartureTime>2019-02-09T11:14:00Z</AimedDepartureTime><ExpectedDepartureTime>2019-02-09T11:14:40Z</ExpectedDepartureTime><DepartureStatus>onTime</DepartureStatus></MonitoredCall></MonitoredVehicleJourney></MonitoredStopVisit>
        <MonitoredStopVisit><RecordedAtTime>2019-02-09T11:00:55Z</RecordedAtTime><ItemIdentifier>311_156236_20190209</ItemIdentifier><MonitoringRef>2000G000106</MonitoringRef><MonitoredVehicleJourney><LineRef>X50</LineRef><DirectionRef>O</DirectionRef><FramedVehicleJourneyRef><DataFrameRef>2019_02_09_311_4553_220</DataFrameRef><DatedVehicleJourneyRef>311_4553_220</DatedVehicleJourneyRef></FramedVehicleJourney[...]
