{% extends 'page.html' %}

{% block title %}{% firstof query 'Search' %} – Bus Times{% endblock %}

{% block content %}

<h1>Search</h1>

<form method="get" action="/search" class="search">

<p>{{ form.q }} <input type="submit" value="Search" /></p>

{% if query %}
    <h2>{{ paginator.count }} result{{ paginator.count|pluralize }} found for ‘{{ query }}’</h2>
    {% if page.object_list %}
        <ul>
        {% for result in page.object_list %}
            <li><a href="{{ result.object.get_absolute_url }}">{% firstof result.object.get_qualified_name result.object %}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
{% endif %}

</form>

{% endblock %}
