interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://nominatim.openstreetmap.org/reverse?format=json&lon=-6.045230527&lat=54.55282813
  response:
    body: {string: "{\"place_id\":\"206415455\",\"licence\":\"Data \xA9 OpenStreetMap\
        \ contributors, ODbL 1.0. http:\\/\\/www.openstreetmap.org\\/copyright\",\"\
        osm_type\":\"node\",\"osm_id\":\"4687835550\",\"lat\":\"54.5528467\",\"lon\"\
        :\"-6.0451509\",\"display_name\":\"Mount Eagles, Lagmore, Lisburn, County\
        \ Antrim, Northern Ireland, UK\",\"address\":{\"bus_stop\":\"Mount Eagles\"\
        ,\"road\":\"Mount Eagles\",\"locality\":\"Lagmore\",\"city\":\"Lisburn\",\"\
        county\":\"County Antrim\",\"state\":\"Northern Ireland\",\"country\":\"UK\"\
        ,\"country_code\":\"gb\"},\"boundingbox\":[\"54.5527467\",\"54.5529467\",\"\
        -6.0452509\",\"-6.0450509\"]}"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://nominatim.openstreetmap.org/reverse?format=json&lon=-5.92369963&lat=54.60095409
  response:
    body: {string: "{\"place_id\":\"51868726\",\"licence\":\"Data \xA9 OpenStreetMap\
        \ contributors, ODbL 1.0. http:\\/\\/www.openstreetmap.org\\/copyright\",\"\
        osm_type\":\"node\",\"osm_id\":\"3953491994\",\"lat\":\"54.6010518\",\"lon\"\
        :\"-5.9238543\",\"display_name\":\"Custom House Square Water Feature, Queen's\
        \ Square, Town Parks, Belfast, County Antrim, Northern Ireland, BT1 1AA, UK\"\
        ,\"address\":{\"address29\":\"Custom House Square Water Feature\",\"pedestrian\"\
        :\"Queen's Square\",\"locality\":\"Town Parks\",\"city\":\"Belfast\",\"county\"\
        :\"County Antrim\",\"state\":\"Northern Ireland\",\"postcode\":\"BT1 1AA\"\
        ,\"country\":\"UK\",\"country_code\":\"gb\"},\"boundingbox\":[\"54.6009518\"\
        ,\"54.6011518\",\"-5.9239543\",\"-5.9237543\"]}"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://nominatim.openstreetmap.org/reverse?format=json&lon=-6.042831962&lat=54.55514336
  response:
    body: {string: "{\"place_id\":\"206415470\",\"licence\":\"Data \xA9 OpenStreetMap\
        \ contributors, ODbL 1.0. http:\\/\\/www.openstreetmap.org\\/copyright\",\"\
        osm_type\":\"way\",\"osm_id\":\"474930673\",\"lat\":\"54.5539293\",\"lon\"\
        :\"-6.0447956\",\"display_name\":\"Mount Eagles, Lagmore, Lisburn, County\
        \ Antrim, Northern Ireland, UK\",\"address\":{\"road\":\"Mount Eagles\",\"\
        locality\":\"Lagmore\",\"city\":\"Lisburn\",\"county\":\"County Antrim\",\"\
        state\":\"Northern Ireland\",\"country\":\"UK\",\"country_code\":\"gb\"},\"\
        boundingbox\":[\"54.5529357\",\"54.555326\",\"-6.045085\",\"-6.0423674\"]}"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://nominatim.openstreetmap.org/reverse?format=json&lon=-5.905080292&lat=54.59979164
  response:
    body: {string: "{\"place_id\":\"114532477\",\"licence\":\"Data \xA9 OpenStreetMap\
        \ contributors, ODbL 1.0. http:\\/\\/www.openstreetmap.org\\/copyright\",\"\
        osm_type\":\"way\",\"osm_id\":\"216627844\",\"lat\":\"54.5998928\",\"lon\"\
        :\"-5.9046985443727\",\"display_name\":\"Dr Pitt Memorial Park, Newtownards\
        \ Road, Ballymacarret, County Down, Northern Ireland, BT4 1AD, UK\",\"address\"\
        :{\"park\":\"Dr Pitt Memorial Park\",\"road\":\"Newtownards Road\",\"locality\"\
        :\"Ballymacarret\",\"county\":\"County Down\",\"state\":\"Northern Ireland\"\
        ,\"postcode\":\"BT4 1AD\",\"country\":\"UK\",\"country_code\":\"gb\"},\"boundingbox\"\
        :[\"54.5997079\",\"54.6000883\",\"-5.9051889\",\"-5.9042098\"]}"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://nominatim.openstreetmap.org/reverse?format=json&lon=-6.03280128&lat=54.55414505
  response:
    body: {string: "{\"place_id\":\"63365757\",\"licence\":\"Data \xA9 OpenStreetMap\
        \ contributors, ODbL 1.0. http:\\/\\/www.openstreetmap.org\\/copyright\",\"\
        osm_type\":\"way\",\"osm_id\":\"15808417\",\"lat\":\"54.5545711\",\"lon\"\
        :\"-6.0368006\",\"display_name\":\"Lagmore Avenue, Lagmore, Lisburn, County\
        \ Antrim, Northern Ireland, UK\",\"address\":{\"road\":\"Lagmore Avenue\"\
        ,\"locality\":\"Lagmore\",\"city\":\"Lisburn\",\"county\":\"County Antrim\"\
        ,\"state\":\"Northern Ireland\",\"country\":\"UK\",\"country_code\":\"gb\"\
        },\"boundingbox\":[\"54.5509142\",\"54.5569259\",\"-6.0456739\",\"-6.0277881\"\
        ]}"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
