interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://m.buses.gg/Timetables
  response:
    body: {string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\"/>\n<meta
        http-equiv=\"Content-Language\" content=\"en\"/>\n<title>Guernsey Buses</title>\n<meta
        name=\"title\" content=\"Welcome to Guernsey Buses\"/>\n<meta name=\"description\"
        content=\"Mobile website for Guernsey Buses\"/>\n<meta name=\"MSSmartTagsPreventParsing\"
        content=\"true\"/>\n<meta name=\"Copyright\" content=\"(c) Guernsey Buses.
        All rights reserved.\"/>\n<meta http-equiv=\"imagetoolbar\" content=\"no\"/>\n<meta
        name=\"Rating\" content=\"General\"/>\n<meta http-equiv=\"X-UA-Compatible\"
        content=\"chrome=1\"/>\n<link rel=\"home\" href=\"/\"/>\n<link rel=\"copyright\"
        href=\"#copyright\"/>\n<!-- Icons -->\n<link rel=\"shortcut icon\" href=\"favicon.ico\"
        />\n<link rel=\"apple-touch-icon\" sizes=\"129x129\" href=\"apple-touch-icon-129x129.png\"
        />\n<link rel=\"apple-touch-icon\" sizes=\"114x114\" href=\"apple-touch-icon-114x114.png\"
        />\n<link rel=\"apple-touch-icon\" sizes=\"72x72\" href=\"apple-touch-icon-72x72.png\"
        />\n<link rel=\"apple-touch-icon\" href=\"apple-touch-icon.png\" />\n<!--
        Device stuff -->\n<link rel=\"apple-touch-icon\" href=\"app-icon.png\"/>\n<meta
        name=\"viewport\" content=\"width=device-width,initial-zoom=1\"/>\n<meta name=\"format-detection\"
        content=\"telephone=no,address=no,email=no\" />\n<link rel=\"stylesheet\"
        href=\"stylesheets/screen.css\"/>\n<script type=\"text/javascript\" src=\"http://buses.gg/js/auto.js\"></script>\n<script
        type=\"text/javascript\" src=\"http://fast.fonts.com/jsapi/90d97285-1d5e-4a87-aec2-c5f4463d6715.js\"></script>\n
        \  \n<style>\n .scroll {\n  display: block;\n  overflow: auto;\n  padding-bottom:
        5px;\n}\n.headers {\n  border-right: 1px solid #dfc0a8;\n  float: left;\n
        \ width: 25%;\n  min-width: 139px;\n}\n.timetables-styling-single .t-table
        table {\n  border: 0 none;\n  border-collapse: collapse;\n  line-height: 1em;\n
        \ margin: 0;\n  padding: 1px;\n}\n .StopHeader{\n  display: none;\n} \n.t-table
        td, .t-table th{\n\theight:22px;\n} \n@media only screen and (max-width: 400px)
        {\n\t.t-table td, .t-table th{\n\t\theight:46px;\n\t} \n}\n\n.pebble {\n\tbackground-color:
        #dfc0a8;\n}\n.sky {\n\tbackground-color: #80d2ee;\n}\n\n.gold {\n\tbackground-color:
        #fadf99 !important;\n}\n.dusk {\n\tbackground-color: #d2b1d0 !important;;\n}\n.active
        {\n    background-image: url(\"http://guernseybuses.org/img/tt_alert.png\");\n
        \   background-position:center;\n\tbackground-size:cover;\n    background-repeat:
        no-repeat;\n    cursor: pointer;\n\t\n}\n\n.active-soon {\n  background-image:
        url(\"http://guernseybuses.org/img/tt_alert_soon.png\");\n   background-position:center;\n\tbackground-size:cover;\n
        \ background-repeat: no-repeat;\n  cursor: pointer;\n}\n</style>\n</head>\n<body
        \ class=\"tpt-inner \" >\n<header id=\"top\" role=\"banner\">\n  <h1 id=\"logo\"><a
        href=\"/\" title=\"Go to Guernsey Buses homepage\"><img src=\"m_img/gg_header_logo.png\"
        alt=\"Guernsey Buses\" width=\"174\" height=\"75\" /></a></h1>\n  <a id=\"jump\"
        href=\"#nav\"><img src=\"m_img/jump.png\" width=\"35\" height=\"35\" alt=\"show
        navigation\"></a> </header>\n<div id=\"page\" role=\"main\">\n  <nav role=\"navigation\">\n
        \   <ul id=\"nav\" tabindex=\"0\">\n<!--      <li><a href=\"planner.html\">Trip
        planner</a></li>\n      <li><a href=\"live_times.html\">Live times</a></li>\n
        \     <li><a href=\"timetables.html\">Timetables</a></li>\n      <li><a href=\"news.html\">News</a></li>\n
        \     <li><a href=\"about.html\">About us</a></li>\n      <li><a href=\"contact.html\">Contact
        us</a></li> -->\n      \n     <li><a href=\"/Trip planner\">Trip planner</a></li>
        \    \n    <li><a href=\"/Stop by Stop\">Stop by Stop</a></li> \n   [...]
- request:
    body: null
    headers:
    method: GET
    uri: http://m.buses.gg/index.php?content=Timetables&show_route=11&short
  response:
    body: {string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\"/>\n<meta
        http-equiv=\"Content-Language\" content=\"en\"/>\n<title>Guernsey Buses</title>\n<meta
        name=\"title\" content=\"Welcome to Guernsey Buses\"/>\n<meta name=\"description\"
        content=\"Mobile website for Guernsey Buses\"/>\n<meta name=\"MSS[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://m.buses.gg/index.php?content=Timetables&show_route=11
  response:
    body: {string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\"/>\n<meta
        http-equiv=\"Content-Language\" content=\"en\"/>\n<title>Guernsey Buses</title>\n<meta
        name=\"title\" content=\"Welcome to Guernsey Buses\"/>\n<meta name=\"description\"
        content=\"Mobile website for Guernsey Buses\"/>\n<meta name=\"MSSmartTa[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://buses.gg/kmls/11.kml
  response:
    body: {string: "<?xml version=\"1.0\"?>\n<Document><Folder><Folder>\n   <name>Service:
        GYAO011</name>\n   <Folder>\n    <name>Track: 1</name>\n    <Placemark>\n
        \    \n     \n     <Style>\n      <LineStyle>\n       <color>ff00005a</color>\n
        \      <width>5</width>\n      </LineStyle>\n      <PolyStyle>\n       <color>ff00005a</color>\n
        \     </PolyStyle>\n     </Style>\n     <LineString>\n      <coordinates>-2.52102030032425,49.4991637190712,0\n-2.52076,49.49916,0\n-2.52051713039185,49.4991600001649,0\n-2.52036,49.49916,0\n-2.51947,49.49918,0\n-2.51912,49.49919,0\n-2.51886,49.49916,0\n-2.51853,49.49911,0\n-2.51835,49.49911,0\n-2.51747,49.4993,0\n-2.5172,49.49938,0\n-2.51674,49.49946,0\n-2.51588,49.49954,0\n-2.51573100295187,49.4995506427327,0\n</coordinates>\n
        \    </LineString>\n    </Placemark>\n    <Placemark>\n     \n     \n     <Style>\n
        \     <LineStyle>\n       <color>ff00005[...]
