interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://buses.gg/routes_and_times/timetables
  response:
    body: {string: "<!doctype html>\n<html lang=\"en-GB\" prefix=\"og: http://ogp.me/ns#\"
        class=\"no-js\">\n<head>\n<meta charset=\"UTF-8\">\n<title>Guernsey Buses
        - Guernsey bus timetables</title>\r\n\t\t\t\t<meta name=\"title\" content=\"Guernsey
        bus timetables\"><meta name=\"Description\" content=\"Full bus timetables
        for all routes \" />\r\n\t\t\t\t<meta name=\"Keywords\" content=\"buses.gg,
        Guernsey bus, Guernsey bus service, Guernsey bus route map, Guernsey buss
        pass, Guernsey bus timetables, Guernsey bus routes, Guernsey bus fares Ormer
        cards, Ormer cards Guernsey, Guernsey bus diversions, Guernsey bus twitter,
        Guernsey bus service updates,  visit Guernsey, Guernsey tourist information,
        Guernsey bus routes,  Island Coachways  \" /><style type=\"text/css\" media=\"all\">\n@import
        url(\"/stylesheets/screen.css\");\n@import url(\"/stylesheets/superfish.css\");\n</style>\n\n<!--[if
        lt IE 9]><link rel=\"stylesheet\" type=\"text/css\" href=\"stylesheets/ie.css\"
        /><![endif]-->\n<link rel=\"stylesheet\" href=\"/core/control.css\">\n\n\n<script
        type=\"text/javascript\" src=\"/js/jquery-1.11.2.min.js\"></script>\n<script
        type=\"text/javascript\" src=\"/js/jquery-ui-1.11.4/jquery-ui.js\"></script>\n<script
        type=\"text/javascript\" src=\"/js/auto.js\"></script>\n<script type=\"text/javascript\"
        src=\"/js/jquery.jscrollpane.min.js\"></script>\n<script type=\"text/javascript\"
        src=\"/js/jquery.betterTooltip.js\"></script>\n<script type=\"text/javascript\"
        src=\"/js/jquery.effects.core.js\"></script>\n<script type=\"text/javascript\"
        src=\"/js/jquery.scrollTo.js\"></script>\n<script type=\"text/javascript\"
        src=\"/js/pre-minification-gg.js\"></script>\n<script type=\"text/javascript\"
        src=\"/js/hoverIntent.js\"></scr[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://buses.gg/routes_and_times/timetables/11/FALSE
  response:
    body: {string: "<!doctype html>\n<html lang=\"en-GB\" prefix=\"og: http://ogp.me/ns#\"
        class=\"no-js\">\n<head>\n<meta charset=\"UTF-8\">\n<title>Guernsey Buses
        - Guernsey bus timetables</title>\r\n\t\t\t\t<meta name=\"title\" content=\"Guernsey
        bus timetables\"><meta name=\"Description\" content=\"Full bus timetables
        for all routes [...]
- request:
    body: null
    headers:
    method: GET
    uri: http://buses.gg/routes_and_times/timetables/11/TRUE
  response:
    body: {string: "<!doctype html>\n<html lang=\"en-GB\" prefix=\"og: http://ogp.me/ns#\"
        class=\"no-js\">\n<head>\n<meta charset=\"UTF-8\">\n<title>Guernsey Buses
        - Guernsey bus timetables</title>\r\n\t\t\t\t<meta name=\"title\" content=\"Guernsey
        bus timetables\"><meta name=\"Description\" content=\"Full bus timetables
        for all routes \[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://buses.gg/kmls/11.kml
  response:
    body: {string: "<?xml version=\"1.0\"?>\n<Document><Folder><Folder>\n   <name>Service:
        GYAO011</name>\n   <Folder>\n    <name>Track: 1</name>\n    <Placemark>\n
        \    \n     \n     <Style>\n      <LineStyle>\n       <color>ff00005a</color>\n
        \      <width>5</width>\n      </LineStyle>\n      <PolyStyle>\n       <color>ff00005a</color>\n
        \     </PolyStyle>\n     </Style>\n     <LineString>\n      <coordinates>-2.52102030032425,49.4991637190712,0\n-2.52076,49.49916,0\n-2.52051713039185,49.4991600001649,0\n-2.52036,49.49916,0\n-2.51947,49.49918,0\n-2.51912,49.49919,0\n-2.51886,49.49916,0\n-2.51853,49.49911,0\n-2.51835,49.49911,0\n-2.51747,49.4993,0\n-2.5172,49.49938,0\n-2.51674,49.49946,0\n-2.51588,49.49954,0\n-2.51573100295187,49.4995506427327,0\n</coordinates>\n
        \    </LineString>\n    </Placemark>\n    <Placemark>\n     \n     \n     <Style>\n
        \     <LineStyle>\n       <color>ff00005[...]
