interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://www.bus-man.com/BusMap/BusStopMarkers?NthEstLng=-3.8999999999999773&SthWstLng=-5.2000000000000455&SthWstLat=53.9&NthEstLat=54.54
  response:
    body: {string: '[{"StopPointID":1,"StopPointRef":891085000503,"CommonName":"Airport
        entrance","Longitude":-4.634823,"Latitude":54.086762,"IDCode":"L1"},{"StopPointID":2,"StopPointRef":891085000502,"CommonName":"Airport
        Roundabout - northbound","Longitude":-4.63249,"Latitude":54.08896,"IDCode":"L2"},{"StopPointID":3,"StopPointRef":891085000501,"CommonName":"Airport
        Roundabout - southbound","Longitude":-4.63249,"Latitude":54.08896,"IDCode":"L3"},{"StopPointID":4,"StopPointRef":891085000504,"CommonName":"Airport
        shelter","Longitude":-4.634823,"Latitude":54.086762,"IDCode":"L4"},{"StopPointID":5,"StopPointRef":89108502[...]
