interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://libertybus.je/routes_times/timetables
  response:
    body: {string: "<!DOCTYPE html>\r\n<!--[if lt IE 7]>      <html class=\"no-js
        lt-ie9 lt-ie8 lt-ie7\"> <![endif]-->\r\n<!--[if IE 7]>         <html class=\"no-js
        lt-ie9 lt-ie8\"> <![endif]-->\r\n<!--[if IE 8]>         <html class=\"no-js
        lt-ie9\"> <![endif]-->\r\n<!--[if gt IE 8]><!-->\r\n<html class=\"no-js\">\r\n<!--<![endif]-->\r\n\r\n<head>\r\n<meta
        charset=\"utf-8\">\r\n<meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge,chrome=1\">\r\n<title>Liberty
        Bus - </title><meta name=\"Description\" content=\"Add default descritpion
        here.\" />\n\t\t\t\t<meta name=\"Keywords\" content=\"Add defaults here\"
        />\n\t\t\t\t<link rel=\"shortcut icon\" href=\"favicon.ico\" />\r\n<link rel=\"apple-touch-icon\"
        sizes=\"129x129\" href=\"apple-touch-icon-129x129.png\" />\r\n<link rel=\"apple-touch-icon\"
        sizes=\"114x114\" href=\"apple-touch-icon-114x114.png\" />\r\n<link rel=\"apple-touch-icon\"
        sizes=\"72x72\" href=\"apple-touch-icon-72x72.png\" />\r\n<link rel=\"apple-touch-icon\"
        href=\"apple-touch-icon.png\" />\r\n<meta name=\"author\" content=\"wave\">\r\n<link
        rel=\"stylesheet\" h[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://libertybus.je/routes_times/timetables/1/FALSE
  response:
    body: {string: "<!DOCTYPE html>\r\n<!--[if lt IE 7]>      <html class=\"no-js
        lt-ie9 lt-ie8 lt-ie7\"> <![endif]-->\r\n<!--[if IE 7]>         <html class=\"no-js
        lt-ie9 lt-ie8\"> <![endif]-->\r\n<!--[if IE 8]>         <html class=\"no-js
        lt-ie9\"> <![endif]-->\r\n<!--[if gt IE 8]><!-->\r\n<html class=\"no-js\">\r\n<!--<![endif]-->\r\n\r\n<he[...]
