interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://naptan.app.dft.gov.uk/GridMethods/NPTGLastSubs_Load.ashx
  response:
    body: {string: '[{"Region":"S","LocalityName":"Shetland Islands","DataBaseID":"603","LastUpload":"03/09/2020",
        "ActiveStops":918,"PendingStops":0,"DeletedStops":45,"ArchivedStops":0,"ArchivedStopAreas":0,"ActiveStopAreas":378,
        "PendingStopAreas":0,"DeletedStopAreas":0,"PK":59}]'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://naptan.app.dft.gov.uk/DataRequest/Naptan.ashx?format=csv
  response:
    body: {string: this is all the data}
    headers:
      Content-Type: [application/zip]
      content-disposition: [attachment; filename=NaPTANcsv.zip]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://naptan.app.dft.gov.uk/DataRequest/Naptan.ashx?format=csv&LA=603
  response:
    body: {string: this is the shetland data}
    headers:
      Content-Type: [application/zip]
      content-disposition: [attachment; filename=NaPTANcsv.zip]
    status: {code: 200, message: OK}
version: 1
