interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://naptan.app.dft.gov.uk/GridMethods/NPTGLastSubs_Load.ashx
  response:
    body: {string: '{"page":1,"total":147,"records":147,"rows":[{"id":109,"cell":["S","Shetland
        Islands","603","20/09/2017","918","45","0","0","378","0","0","V2","10/1/2017"]}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://naptan.app.dft.gov.uk/DataRequest/Naptan.ashx?format=csv&LA=603
  response:
    body: {string: 'Problem with request Naptan download: V2nacsv'}
    headers:
      Content-Type: [text/plain]
      content-disposition: [attachment; filename=DATA_183645.zip]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://naptan.app.dft.gov.uk/DataRequest/Naptan.ashx?format=csv
  response:
    body:
      string: 'these pretzels are making me thirsty again'
    headers:
      Content-Type: [application/zip]
      content-disposition: [attachment; filename=NaPTANcsv.zip]
    status: {code: 200, message: OK}
version: 1
