interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://naptan.app.dft.gov.uk/GridMethods/NPTGLastSubs_Load.ashx
  response:
    body: {string: '{"page":1,"total":147,"records":147,"rows":[{"id":1,"cell":["S","Aberdeen","639","27/09/2017","1387","141","0","0","0","0","0","V2","10/1/2017"]},{"id":2,"cell":["S","Aberdeenshire","630","21/09/2017","2302","534","0","0","624","0","0","V2","10/1/2017"]},{"id":3,"cell":["S","Angus","649","29/08/2017","1764","2","0","0","401","5","1","V2","10/1/2017"]},{"id":4,"cell":["S","Argyll
        & Bute","607","01/09/2017","1416","115","0","5","526","11","0","V2","10/1/2017"]},{"id":5,"cell":["SW","Bath
        & North East Somerset","018","26/09/2017","1339","28[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://naptan.app.dft.gov.uk/DataRequest/Naptan.ashx?format=csv&LA=603
  response:
    body:
      string: 'these pretzels are making me thirsty'
    headers:
      Content-Type: [application/zip]
      content-disposition: [attachment; filename=DATA_165519.zip]
    status: {code: 200, message: OK}
version: 1
