interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://naptan.api.dft.gov.uk/v1/access-nodes?dataFormat=xml
  response:
    body: {string: '<?xml version="1.0" encoding="utf-8"?>
<NaPTAN xml:lang="en" CreationDateTime="2022-01-19T12:56:29" ModificationDateTime="2022-01-19T12:56:29" Modification="revise" RevisionNumber="359" xmlns="http://www.naptan.org.uk/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.naptan.org.uk/ http://www.naptan.org.uk/schema/2.1/NaPTAN.xsd" FileName="NaPTAN290.xml" SchemaVersion="2.1">
  <StopPoints>
    <StopPoint CreationDateTime="2011-05-18T11:53:59" ModificationDateTime="2016-02-23T14:56:19" Modification="revise" RevisionNumber="2" Status="inactive">
      <AtcoCode>2900FLEX1</AtcoCode>
      <Descriptor>
        <CommonName xml:lang="en">Wroxham</CommonName>
        <ShortCommonName xml:lang="en">Wroxham</ShortCommonName>
      </Descriptor>
      <Place>
        <LocalityCentre>0</LocalityCentre>
        <Location>
          <GridType>UKOS</GridType>
          <Easting>630237</Easting>
          <Northing>317922</Northing>
        </Location>
      </Place>
      <StopClassification>
        <StopType>BCT</StopType>
        <OnStreet>
          <Bus>
            <BusStopType>MKD</BusStopType>
            <TimingStatus>OTH</TimingStatus>
            <MarkedPoint>
              <Bearing>
                <CompassPoint>N</CompassPoint>
              </Bearing>
            </MarkedPoint>
          </Bus>
        </OnStreet>
      </StopClassification>
      <AdministrativeAreaRef>091</AdministrativeAreaRef>
      <StopAvailability>
        <StopValidity CreationDateTime="2011-05-18T11:55:15" ModificationDateTime="2011-05-18T11:55:15">
          <DateRange>
            <StartDate>2011-05-18</StartDate>
          </DateRange>
          <Suspended />
        </StopValidity>
      </StopAvailability>
    </StopPoint>
    <StopPoint CreationDateTime="2003-02-22T14:04:04" ModificationDateTime="2019-07-03T09:44:45" Modification="revise" RevisionNumber="4" Status="active">
      <AtcoCode>2900C1323</AtcoCode>
      <NaptanCode>NFOAJGDT</NaptanCode>
      <Descriptor>
        <CommonName xml:lang="en">Longe Road</CommonName>
        <Landmark xml:lang="en">Longe Lane</Landmark>
        <Street xml:lang="en">White Woman Lane</Street>
        <Indicator xml:lang="en">opp</Indicator>
      </Descriptor>
      <Place>
        <NptgLocalityRef>E0017763</NptgLocalityRef>
        <LocalityCentre>0</LocalityCentre>
        <Location>
          <GridType>UKOS</GridType>
          <Easting>623870</Easting>
          <Northing>312780</Northing>
        </Location>
      </Place>
      <StopClassification>
        <StopType>BCT</StopType>
        <OnStreet>
          <Bus>
            <BusStopType>CUS</BusStopType>
            <TimingStatus>OTH</TimingStatus>
            <UnmarkedPoint>
              <Bearing>
                <CompassPoint>W</CompassPoint>
              </Bearing>
            </UnmarkedPoint>
          </Bus>
        </OnStreet>
      </StopClassification>
      <StopAreas>
        <StopAreaRef CreationDateTime="2006-04-27T10:33:29" ModificationDateTime="2006-04-27T10:33:29" Modification="revise" RevisionNumber="0" Status="active">290G355</StopAreaRef>
      </StopAreas>
      <AdministrativeAreaRef>091</AdministrativeAreaRef>
    </StopPoint>
    <StopPoint CreationDateTime="2003-02-22T14:04:04" ModificationDateTime="2009-02-10T00:00:00" Modification="revise" RevisionNumber="2" Status="active">
      <AtcoCode>2900B482</AtcoCode>
      <NaptanCode>NFOAGJDM</NaptanCode>
      <Descript[...]
