interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://naptan.api.dft.gov.uk/v1/nptg
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"UTF-8\"?> <NationalPublicTransportGazetteer
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://www.naptan.org.uk/\"
        CreationDateTime=\"2022-08-29T19:57:00\" ModificationDateTime=\"2022-08-29T19:57:00\"
        Modification=\"revise\" RevisionNumber=\"4312\" FileName=\"NPTG.xml\" SchemaVersion=\"2.1\"
        xsi:schemaLocation=\"http://www.naptan.org.uk/ http://www.naptan.org.uk/schema/2.1/NPTG.xsd\"
        LocationSystem=\"Grid\"><Regions><Region CreationDateTime=\"2008-02-07T16:03:40\"
        ModificationDateTime=\"2008-02-07T16:03:46\" RevisionNumber=\"0\"><RegionCode>GB</RegionCode><Name
        xml:lang=\"en\">Great Britain</Name><Country>UK</Country><AdministrativeAreas><AdministrativeArea
        CreationDateTime=\"2006-01-25T07:54:33\" ModificationDateTime=\"2008-12-08T19:05:00\"
        Modification=\"revise\" RevisionNumber=\"1\"><AdministrativeAreaCode>110</AdministrativeAreaCode><AtcoAreaCode>910</AtcoAreaCode><Name>National
        - National Rail</Name><ShortName>National - Rail</ShortName><National>0</National><NaptanPrefixes><AlphaPrefix>nre</AlphaPrefix></NaptanPrefixes></AdministrativeArea><AdministrativeArea
        CreationDateTime=\"2006-01-25T07:54:33\" ModificationDateTime=\"2008-12-08T19:05:00\"
        Modification=\"revise\" RevisionNumber=\"1\"><AdministrativeAreaCode>143</AdministrativeAreaCode><AtcoAreaCode>900</AtcoAreaCode><Name>National
        - National Coach</Name><ShortName>National - Coach</ShortName><National>0</National><NaptanPrefixes><AlphaPrefix>nxg</AlphaPrefix></NaptanPrefixes></AdministrativeArea><Ad[...]
