interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: http://datamall2.mytransport.sg/ltaodataservice/BusStops?%24skip=0
  response:
    body: {string: '{"odata.metadata":"http://datamall2.mytransport.sg/ltaodataservice/$metadata#BusStops","value":[{"BusStopCode":"00481","RoadName":"Woodlands
        Rd","Description":"BT PANJANG TEMP BUS PK","Latitude":1.383764,"Longitude":103.7583},{"BusStopCode":"01012","RoadName":"Victoria
        St","Description":"Hotel Grand Pacific","Latitude":1.29684825487647,"Longitude":103.85253591654006},{"BusStopCode":"01013","RoadName":"Victoria
        St","Description":"St. Joseph''s Ch","Latitude":1.29770970610083,"Longitude":103.8532247463225},{"BusStopCode":"01019","RoadName":"Victoria
        St","Description":"Bras Basah Cplx","Latitude":1.29698951191332,"Longitude":103.85302201172507},{"BusStopCode":"01029","RoadName":"Nth
   [...]
- request:
    body: null
    headers: {}
    method: GET
    uri: http://datamall2.mytransport.sg/ltaodataservice/BusServices
  response:
    body: {string: '{"odata.metadata":"http://datamall2.mytransport.sg/ltaodataservice/$metadata#BusServices","value":[{"ServiceNo":"118","Operator":"GAS","Direction":1,"Category":"TRUNK","OriginCode":"65009","DestinationCode":"97009","AM_Peak_Freq":"06-08","AM_Offpeak_Freq":"08-15","PM_Peak_Freq":"10-12","PM_Offpeak_Freq":"11-15","LoopDesc":""},{"ServiceNo":"118","Operator":"GAS","Direction":2,"Category":"TRUNK","OriginCode":"97009","DestinationCode":"65009","AM_Peak_Freq":"10","AM_Offpeak_Freq":"10-12","PM_Peak_Freq":"05-11","PM_Offpeak_Freq":"10-15","LoopDesc":""},{"ServiceNo":"118A","Operator":"GAS","Direction":1,"Category":"TRUNK","OriginCode":"65199","DestinationCode":"96119","AM_Peak_Freq":"14-16","AM_Offpeak_Freq":"-","PM_Peak_Freq":"-","PM_Offpeak_Freq":"-","LoopDesc":""},{"ServiceNo":"118B","Operator":"GAS","Direction":1,"[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: http://datamall2.mytransport.sg/ltaodataservice/BusRoutes?%24skip=0
  response:
    body: {string: '{"odata.metadata":"http://datamall2.mytransport.sg/ltaodataservice/$metadataBusRoutes","value":[{"ServiceNo":"10","Operator":"SBST","Direction":1,"StopSequence":5,"BusStopCode":"01012","Distance":2.7,"WD_FirstBus":"0509","WD_LastBus":"2310","SAT_FirstBus":"0509","SAT_LastBus":"2311","SUN_FirstBus":"0508","SUN_LastBus":"2309"},{"ServiceNo":"10","Operator":"SBST","Direction":1,"StopSequence":6,"BusStopCode":"01341","Distance":3.3,"WD_FirstBus":"0511","WD_LastBus":"2312","SAT_FirstBus":"0511","SAT_LastBus":"2313","SUN_FirstBus":"0510","SUN_LastBus":"2311"}]}'}
    headers:
      Content-Language: [en-US]
      Content-Type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
