{% extends 'page.html' %}

{% block head %}
<style>
table {
    font-size: .875em;
    white-space: nowrap;
}

th, td {
    border-top: 0;
    border-bottom: 1px solid #fe9;
    border-right: 1px solid #fe9;
    text-align: right;
}

th:last-child,
td:last-child {
    padding-right: .5em;
    border-right: 1px solid #fe9;
}

th {
    position: sticky;
    left: 0;
    top: 0;
    background: #fff;
}

tr.head th {
    z-index: 1;
    white-space: normal;
    hyphens: auto;
    vertical-align: bottom;
}

/*
tbody tr:hover th,
td:hover {
    background: #eee;
}
*/
</style>
{% endblock %}

{% block bodyclass %}{% endblock %}

{% block content %}

    <h1>{{ object }}</h1>

    {{ object.source.credit }}

    {% for service in object.services.all %}
        <p><a href="{{ service.get_absolute_url }}">{{ service }}</a></p>
    {% endfor %}

    {% if form.fields.origin.choices %}
        <form>
            {{ form.as_p }}

            <input type="submit" value="Find fare">
        </form>

        {% for result in results %}
            {% if forloop.first %}<p>{{ result.start_zone }} to {{ result.end_zone }}:</p>{% endif %}
            <p>{{ result.html }}</p>
        {% endfor %}
    {% endif %}

    {% for price in object.price_set.all %}

        <p>{{ price.sales_offer_package }}:<br>{{ price.time_interval.name }} ({{ price.time_interval }}):<br>£{{ price.amount }}</p>

    {% endfor %}

    {% for zone in object.access_zones.all %}
        <p>{{ zone }}</p>
        <p>{{ zone.stops.all }}</p>
    {% endfor %}

    {% for table in object.faretable_set.all %}

        {% ifchanged table.name %}<h2>{{ table }}</h2>{% endifchanged %}

        <p>{{ table.user_profile }} {{ table.sales_offer_package }}</p>

        <table>
            <tbody>
                <tr class="head">
                    <th></th>
                    {% for column in table.column_set.all %}
                        <th scope="col">{{ column }}</th>
                    {% endfor %}
                </tr>
                {% for row in table.row_set.all %}
                    <tr>
                        <th>{{ row.name }}</th>
                        {% for cell in row.cell_set.all %}
                            <td>£{{ cell.price.amount }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
        </table>

    {% endfor %}

{% endblock %}

{% block ad %}{% endblock %}
