interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://opendata.translinkniplanner.co.uk/Ext_API/XML_ADDINFO_REQUEST?outputFormat=rapidJSON&filterPublicationStatus=current
  response:
    body:
      string: '{"version":"10.6.21.17","timestamp":"2025-11-12T09:13:25Z","infos":{"current":[{"type":"stopInfo","id":"ems-6965","version":79025,"priority":"normal","timestamps":{"creation":"2025-08-12T12:01:00Z","lastModification":"2025-08-13T09:58:00Z","availability":{"from":"2025-08-11T23:00:00Z","to":"2025-11-28T23:59:00Z"},"validity":[{"from":"2025-08-17T23:00:00Z","to":"2025-11-29T00:00:00Z"}],"expiration":"2025-11-29T00:00:59Z"},"infoLinks":[{"urlText":"Moira
        Train Station - Temporary Change to Traffic Flow","url":"https://ems.translinkniplanner.co.uk/info-link/5bc8b1f6-0d54-5488-bb54-05e19bd629aa?_=EMS","content":"<div>Park
        and Ride Car Park Upgrade - Temporary Road Closure</div>\n<div>&nbsp;</div>\n<div>A
        series of initial works will be undertaken to facilitate the park and ride
        upgrade project. Please note that diversions are in place effective from Monday
        18th August 2025, for a period of approximately 12 weeks. These will be clearly
        signposted.</div>\n<div>&nbsp;</div>\n<div>&bull; A one-way system will be
        in place on Station Road<br />&bull; All entry to Moira station is now only
        via A26 airport road or Chestnut Hill Road<br />&bull; Exit from Moira station
        is one way via Station Road towards Moira / M1<br />&bull; Diversion signs
        will be in place</div>\n<div>&nbsp;</div>\n<div>Moira Train Station and Moira
        Park and Ride are available as usual. There will be no impact on train services.</div>\n<div>&nbsp;</div>\n<div>Passengers
        are advised to plan their journey in advance. Please allo[...]
