interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://tfe-opendata.com/api/v1/live_bus_times/36238258
  response:
    body:
      string: ''
    headers:
      Location:
      - https://tfe-opendata.com/api/v1/live_bus_times/36238258
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://tfe-opendata.com/api/v1/live_bus_times/36238258
  response:
    body:
      string: '[{"routeName":"19","departures":[{"sms":"36238258","routeName":"19","destination":"Kings
        Road","tripId":"6592","vehicleId":"412","stopSequence":1,"isTerminatingHere":false,"ineoUTCTime":"13:18:41","departureTimeUnix":1655216321,"departureTime":"2022-06-14T14:18:41+01:00","displayTime":"14:18","isLive":true,"isDiverted":false,"stopPoint":null},{"sms":"36238258","routeName":"19","destination":"Kings
        Road","tripId":"6545","vehicleId":"425","stopSequence":10,"isTerminatingHere":false,"ineoUTCTime":"13:31:59","departureTimeUnix":1655217119,"departureTime":"2022-06-14T14:31:59+01:00","displayTime":"14:31","isLive":true,"isDiverted":false,"stopPoint":null},{"sms":"36238258","routeName":"19","destination":"Kings
        Road","tripId":"6624","vehicleId":"403","stopSequence":11,"isTerminatingHere":false,"ineoUTCTime":"13:46:59",[...]
