interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tfl.gov.uk/Line/Mode/bus/Route
  response:
    body:
      string: '[{"$type":"Tfl.Api.Presentation.Entities.Line, Tfl.Api.Presentation.Entities","id":"1","name":"1","modeName":"bus","disruptions":[],"created":"2022-09-13T16:57:51.643Z","modified":"2022-09-13T16:57:51.643Z","lineStatuses":[],"routeSections":[{"$type":"Tfl.Api.Presentation.Entities.MatchedRoute,
        Tfl.Api.Presentation.Entities","name":"Canada Water Bus Station - Tottenham
        Court Road","direction":"inbound","originationName":"Canada Water Bus Station","destinationName":"Tottenham
        Court Road","originator":"490004733C","destination":"490000235N","serviceType":"Regular","validTo":"2022-12-23T00:00:00Z","validFrom":"2022-09-10T00:00:00Z"},{"$type":"Tfl.Api.Presentation.Entities.MatchedRoute,
        Tfl.Api.Presentation.Entities","name":"New Oxford Street - Canada Water Bus
        Station","direction":"outbound","originationName":"New Oxford Street","destinationName":"Canada
        Water Bus Station","originator":"490000235Z","destination":"490004733D","serviceType":"Regular","validTo":"2022-12-23T00:00:00Z","validFrom":"2022-09-10T00:00:00Z"}],"serviceTypes":[{"$type":"Tfl.Api.Presentation.Entities.LineServiceTypeInfo,
        Tfl.Api.Presentation.Entities","name":"Regular","uri":"/Line/Route?ids=1&serviceTypes=Regular"}],"crowding":{"$type":"Tfl.Api.Presentation.Entities.Crowding,
        Tfl.Api.Presentation.Entities"}},{"$type":"Tfl.Api.Presentation.Entities.Line,
        Tfl.Api.Presentation.Entities","id":"100","name":"100","modeName":"bus","disruptions":[],"created":"2022-09-13T16:57:51.627Z","modified":"2022-09-13T16:57:51.627Z","lineStatuses":[],"routeSections":[{"$type":"Tfl.Api.Presentation.Entities.MatchedRoute,
        Tfl.Api.Presentation.Entities","name":"King Edward Street / St Pauls Station
        - St Geor[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tfl.gov.uk/Line/1/Route/Sequence/all
  response:
    body:
      string: '{"$type":"Tfl.Api.Presentation.Entities.RouteSequence, Tfl.Api.Presentation.Entities","lineId":"1","lineName":"1","direction":"all","isOutboundOnly":false,"mode":"bus","lineStrings":["[[[-0.049903,51.497756],[-0.049621,51.4976],[-0.049696,51.497529],[-0.049932,51.497407],[-0.050764,51.497143],[-0.051721,51.496673],[-0.052087,51.496467],[-0.05223,51.496323],[-0.052328,51.496296],[-0.052163,51.496104],[-0.051557,51.495699],[-0.05054,51.494914],[-0.05054,51.494914],[-0.050208,51.49466],[-0.050109,51.494596],[-0.049904,51.494514],[-0.049516,51.494325],[-0.048918,51.494064],[-0.048555,51.493886],[-0.048384,51.493829],[-0.048146,51.493691],[-0.04774,51.493511],[-0.047461,51.49353[...]
[...]
