interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://coachtracker.nationalexpress.com/api/eta/routes/491/O
  response:
    body:
      string: '{"name":"491","dir":"O","colour":"#7cd238","category":"London","depart":"LONDON
        VICTORIA Coach Station","arrival":"Great Yarmouth","time":"2022-06-25 14:40:38
        +0000","services":[{"date":"2022-06-25","linkDate":"25-06-2022","startTime":{"dateTime":"2022-06-25
        07:30:00","hrs":7,"mins":30,"time":"07:30"},"timetables":[{"arrive":{"dateTime":"2022-06-25
        07:30:00","hrs":7,"mins":30,"time":"07:30"},"depart":{"dateTime":"2022-06-25
        07:30:00","hrs":7,"mins":30,"time":"07:30"},"layover":0,"timingPoint":0,"fareStage":0,"distance":0,"status":null,"timeZone":"BST","actualStatus":-1,"duplicateCount":0,"delayed":false,"eta":{"etaArrive":{"dateTime":"2022-06-25
        06:30:01","hrs":6,"mins":30,"time":"06:30"},"etaDepart":{"dateTime":"2022-06-25
        07:31:01","hrs":7,"mins":31,"time":"07:31"},"etaLayover":61,"arrive":{"dateTime":"2022-06-25
        06:30:01","hrs":6,"mins":30,"time":"06:30"},"depart":{"dateTime":"2022-06-25
        07:30:50","hrs":7,"mins":30,"time":"07:30"},"atStop":false,"late":false,"status":"visited","timestamp":"2022-06-25
        06:30:01 +0000","gate":null},"stopActivity":null},{"arrive":{"dateTime":"2022-06-25
        08:15:00","hrs":8,"mins":15,"time":"08:15"},"depart":{"dateTime":"2022-06-25
        08:15:00","hrs":8,"mins":15,"time":"08:15"},"layover":0,"timingPoint":0,"fareStage":0,"distance":0,"status":null,"timeZone":"BST","actualStatus":-1,"duplicateCount":0,"delayed":false,"eta":{"etaArrive":{"dateTime":"2022-06-25
        08:10:21","hrs":8,"mins":10,"time":"08:10"},"etaDepart":{"dateTime":"2022-06-25
        08:14:21","hrs":8,"mins":14,"time":"08:14"},"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://coachtracker.nationalexpress.com/api/eta/routes/491/I
  response:
    body:
      string: '{"name":"491","dir":"I","colour":"#7cd238","category":"London","depart":"Great
        Yarmouth","arrival":"LONDON VICTORIA Coach Station","time":"2022-06-25 14:40:38
        +0000","services":[{"date":"2022-06-25","linkDate":"25-06-2022","startTime":{"dateTime":"2022-06-25
        07:30:00","hrs":7,"mins":30,"time":"07:30"},"timetable[...]
