interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.postcodes.io/postcodes/W1A1AA
  response:
    body:
      string: '{"status":200,"result":{"postcode":"W1A 1AA","quality":1,"eastings":528887,"northings":181593,"country":"England","nhs_ha":"London","longitude":-0.143799,"latitude":51.518561,"european_electoral_region":"London","primary_care_trust":"Westminster","region":"London","lsoa":"Westminster
        013D","msoa":"Westminster 013","incode":"1AA","outcode":"W1A","parliamentary_constituency":"Cities
        of London and Westminster","admin_district":"Westminster","parish":"Westminster,
        unparished area","admin_county":null,"date_of_introduction":"199002","admin_ward":"West
        End","ced":null,"ccg":"NHS North West London","nuts":"Westminster","pfa":"Metropolitan
        Police","codes":{"admin_district":"E09000033","admin_county":"E99999999","admin_ward":"E05013808","parish":"E43000236","parliamentary_constituency":"E14000639","ccg":"E38000256","ccg_id":"W2U3Z","ced":"E99999999","nuts":"TLI32","lsoa":"E01004765","msoa":"E02000972","lau2":"E09000033","pfa":"E23000001"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"3b1-YoiaZRpRYWak5ZxxE0E+NYsSNzw"
      x-gnu:
      - Michael J Blanchard
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.postcodes.io/outcodes/NR1
  response:
    body:
      string: '{"status":200,"result":{"outcode":"NR1","longitude":1.3067441578354,"latitude":52.6264808917699,"northings":308325,"eastings":623898,"admin_district":["Broadland","South
        Norfolk","Norwich"],"parish":["Caistor St Edmund and Bixley","Thorpe St. Andrew","Norwich,
        unparished area","Sprowston"],"admin_county":["Norfolk"],"admin_ward":["Mancroft","Catton
        Grove","Sewell","Town Close","Crome","Poringland, Framinghams & Trowse","Thorpe
        St Andrew South East","Sprowston East","Thorpe Hamlet","Lakenham"],"country":["England"],"parliamentary_constituency":["Norwich
        South","South Norfolk","Norwich North"]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"258-J0xM9VjMQguHI4uVMjGbpuczCxA"
      x-gnu:
      - Michael J Blanchard
    status:
      code: 200
      message: OK
version: 1
