interactions:
- request:
    body: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Siri xmlns=\"http://www.siri.org.uk/siri\"\
      \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" version=\"2.0\"\n\
      xsi:schemaLocation=\"http://www.siri.org.uk/siri http://www.siri.org.uk/schema/2.0/xsd/siri.xsd\"\
      >\n    <ServiceRequest>\n        <RequestorRef>hen hom</RequestorRef>\n   \
      \     <SituationExchangeRequest version=\"2.0\">\n        </SituationExchangeRequest>\n\
      \    </ServiceRequest>\n</Siri>"
    headers:
      Authorization:
      - Basic aGVuIGhvbTpyb2dlciBwb3VsdHJ5
      Content-Type:
      - application/xml
    method: POST
    uri: http://api.transportforthenorth.com/siri/sx
  response:
    body:
      string: "<Siri version=\"2.0\" xmlns=\"http://www.siri.org.uk/siri\" xmlns:xsi=\"\
        http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.siri.org.uk/siri\
        \ http://www.siri.org.uk/schema/2.0/xsd/siri.xsd\"><ServiceDelivery srsName=\"\
        \"><ResponseTimestamp>2020-05-11T17:27:25+01:00</ResponseTimestamp><ProducerRef>TransportAPI</ProducerRef><ResponseMessageIdentifier>SX_DR_10571_1589214445</ResponseMessageIdentifier><SituationExchangeDelivery\
        \ version=\"2.0\"><ResponseTimestamp>2020-05-11T17:27:25+01:00</ResponseTimestamp><Status>true</Status><ShortestPossibleCycle>PT10S</ShortestPossibleCycle><Situations><PtSituationElement><CreationTime>2020-05-11T13:31:08Z</CreationTime><ParticipantRef>ItoWorld</ParticipantRef><SituationNumber>RGlzcnVwdGlvbk5vZGU6MTA3NjM=</SituationNumber><Version>1</Version><Source><SourceType>feed</SourceType><TimeOfCommunication>2020-05-11T16:26:26Z</TimeOfCommunication></Source><Progress>open</Progress><ValidityPeriod><StartTime>2020-05-10T23:01:00Z</StartTime><EndTime>2020-05-14T17:00:00Z</EndTime></ValidityPeriod><PublicationWindow><StartTime>2020-05-10T23:00:00Z</StartTime><EndTime>2020-05-14T22:59:59Z</EndTime></PublicationWindow><MiscellaneousReason>roadworks</MiscellaneousReason><Planned>true</Planned><Summary\
        \ overridden=\"true\" xml:lang=\"EN\">East Didsbury bus service changes Monday\
        \ 11th May until Thursday 14th May. </Summary><Description overridden=\"true\"\
        \ xml:lang=\"EN\">Due to resurfacing works there will be bus service diversions\
        \ and bus stop closures from Monday 11th May until Thursday 14th may. </Description><InfoLinks><InfoLink><Uri>https://tfgm.com/travel-updates/bus-update</Uri></InfoLink></InfoLinks><Consequences><Consequence><Condition>unknown</Condition><Severity>slight</Severity><Affects><Networks><AffectedNetwork><VehicleMode>bus</VehicleMode><AffectedLine><AffectedOperator><OperatorRef>SCMN</OperatorRef><OperatorName\
        \ xml:lang=\"EN\">Stagecoach Greater Manchester</OperatorName></AffectedOperator><LineRef>142</LineRef><PublishedLineName>142</PublishedLineName></AffectedLine></AffectedNetwork></Networks><StopPoints><AffectedStopPoint><StopPointRef>1800SB14291</StopPointRef><StopPointName\
        \ xml:lang=\"EN\">Parrs Wood</StopPointName><Location srsName=\"wgs84\"><Longitude>-2.21932186711</Longitude><Latitude>53.40993347119</Latitude></Location><AffectedModes><Mode><VehicleMode>bus</VehicleMode></Mode></AffectedModes></AffectedStopPoint></StopPoints></Affects><Advice><Details\
        \ xml:lang=\"EN\">Towards East Didsbury terminus customers should alight opposite\
        \ East Didsbury Rail Station as this will be the last stop. From here its\
        \ a short walk to the terminus. \n\nTowards Manchester the 142 service will\
        \ begin outside Didsbury Cricket club . </Details></Advice><Blocking><JourneyPlanner>true</JourneyPlanner></Blocking></Consequence></Consequences></PtSituationElement><PtSituationElement><CreationTime>2020-05-11T12:14:12Z</CreationTime><ParticipantRef>ItoWorld</ParticipantRef><SituationNumber>RGlzcnVwdGlvbk5vZGU6MTA3NjE=</SituationNumber><Version>1</Version><Source><SourceType>feed</SourceType><TimeOfCommunication>2020-05-11T16:26:26Z</TimeOfCommunication></Source><Progress>open</Progress><ValidityPeriod><StartTime>2020-05-10T23:00:00Z</StartTime><EndTime>2020-05-13T22:59:00Z</E[...]
