interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tfl.gov.uk/StopPoint/Mode/bus/Disruption
  response:
    body:
      string: '[{"$type":"Tfl.Api.Presentation.Entities.DisruptedPoint, Tfl.Api.Presentation.Entities","atcoCode":"490010717E","fromDate":"2022-12-08T08:00:00Z","toDate":"2023-01-31T17:00:00Z","description":"Bus
        Stop Closed\\n  Please use next or previous\\n    stop to catch your bus \\n","commonName":"Padfield
        Road","type":"Closure","mode":"bus","stationAtcoCode":"490G000695","appearance":"Information"},{"$type":"Tfl.Api.Presentation.Entities.DisruptedPoint,
        Tfl.Api.Presentation.Entities","atcoCode":"490001097D","fromDate":"2022-12-14T14:23:00Z","toDate":"2023-01-13T19:00:00Z","description":"Bus
        Stop Closed\\n    Please use the next stop\\n      or the previous stop \\n       to
        catch your bus","commonName":"Eltham Station  / Sherard Road","type":"Closure","mode":"bus","stationAtcoCode":"490G00018661","appearance":"Information"},{"$type":"Tfl.Api.Presentat[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tfl.gov.uk/Line/Mode/bus/Status
  response:
    body:
      string: "[{\"$type\":\"Tfl.Api.Presentation.Entities.Line, Tfl.Api.Presentation.Entities\",\"id\":\"1\",\"name\":\"1\",\"modeName\":\"bus\",\"disruptions\":[],\"created\":\"2022-11-29T14:31:06.777Z\",\"modified\":\"2022-11-29T14:31:06.777Z\",\"lineStatuses\":[{\"$type\":\"Tfl.Api.Presentation.Entities.LineStatus,
        Tfl.Api.Presentation.Entities\",\"id\":0,\"statusSeverity\":10,\"statusSeverityDescription\":\"Good
        Service\",\"created\":\"0001-01-01T00:00:00\",\"validityPeriods\":[]}],\"routeSections\":[],\"serviceTypes\":[{\"$type\":\"Tfl.Api.Presentation.Entities.LineServiceTypeInfo,
        Tfl.Api.Presentation.Entities\",\"name\":\"Regular\",\"uri\":\"/Line/Route?ids=1&serviceTypes=Regular\"}],\"crowding\":{\"$type\":\"Tfl.Api.Presentation.Entities.Crowding,
        Tfl.Api.Presentation.Entities\"}},{\"$type\":\"Tfl.Api.Presentation.Entities.Line,
        Tfl.Api.Presentation.Entities\",\"id\":\"100\",\"name\":\"100\",\"modeName\":\"bus\",\"disruptions\":[],\"created\":\"2022-11-29T14:31:06.777Z\",\"modified\":\"2022-11-29T14:31:06.777Z\",\"lineStatuses\":[{\"$type\":\"Tfl.Api.Presentation.Entities.LineStatus,
        Tfl.Api.Presentation.Entities\",\"id\":0,\"statusSeverity\":10,\"statusSeverityD[...]
