interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.tfl.gov.uk/StopPoint/490014721F/arrivals
  response:
    body: {string: ''}
    headers:
      location: ['https://api.tfl.gov.uk/StopPoint/490014721F/arrivals']
      x-banning: ['']
    status: {code: 302, message: 'https://api.tfl.gov.uk/StopPoint/490014721F/arrivals'}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tfl.gov.uk/StopPoint/490014721F/arrivals
  response:
    body:
      string: '[{"$type":"Tfl.Api.Presentation.Entities.Prediction, Tfl.Api.Presentation.Entities","id":"-1658364304","operationType":1,"vehicleId":"PF52TFX","naptanId":"490014721F",
      "stationName":"Wilmot Street","lineId":"388","lineName":"388","platformName":"F","direction":"inbound","bearing":"79","destinationNaptanId":"","destinationName":"Stratford City",
      "timestamp":"2016-07-26T17:21:04Z","timeToStation":1403,"currentLocation":"","towards":"Hackney or Old Ford","expectedArrival":"2016-07-26T17:44:27.795969Z",
      "timeToLive":"2016-07-26T17:44:57.795969Z","modeName":"bus"},
      {"$type":"Tfl.Api.Presentation.Entities.Prediction, Tfl.Api.Presentation.Entities","id":"-1656638183","operationType":1,"vehicleId":"YR59NPF","naptanId":"490014721F",
      "stationName":"Wilmot Street","lineId":"388","lineName":"388","platformName":"F","direction":"inbound","bearing":"79","destinationNaptanId":"","destinationName":"Stratford City",
      "timestamp":"2016-07-26T17:21:04Z","timeToStation":331,"currentLocation":"","towards":"Hackney or Old Ford","expectedArrival":"2[...]
