interactions:
- request:
    body: "\n            <soap12:Envelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n
      \           xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap12=\"http://www.w3.org/2003/05/soap-envelope\">\n
      \               <soap12:Body>\n                    <GetArrivalsForStops xmlns=\"http://www.acishorizon.com/\">\n
      \                       <stopRefs>\n                            <string>700000001415</string>\n
      \                       </stopRefs>\n                        <maxResults>10</maxResults>\n
      \                   </GetArrivalsForStops>\n                </soap12:Body>\n
      \           </soap12:Envelope>\n        "
    headers:
      content-type: [application/soap+xml]
    method: POST
    uri: http://belfastapp.acishorizon.com/DataService.asmx
  response:
    body: {string: '<?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://www.w3.org/2003/05/soap-envelope"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetArrivalsForStopsResponse
        xmlns="http://www.acishorizon.com/"><GetArrivalsForStopsResult><ExtensionData
        /><ErrorCode>100</ErrorCode><PublicServices /><Stops><VirtualStop><ExtensionData
        /><StopArrivals><StopRealtime><ExtensionData /><Destination>City Centre</Destination><IsArrival>false</IsArrival><IsPredicted>false</IsPredicted><JourneyId>10791</JourneyId><JourneyPublicServiceCode>1A</JourneyPublicServiceCode><LocalServiceID>541</LocalServiceID><OperatorId>1</OperatorId><OperatorName>Translink
        Metro</OperatorName><StoppingAt /><Time>07:24</Time><TimeAsDateTime>2018-10-27T07:24:00</TimeAsDateTime><VehicleType
        /><IsCancelled>false</IsCancelled></StopRealtime><StopRealtime><ExtensionData
        /><Destination>City Centre</Destination><IsArrival>false</IsArrival><IsPredicted>true</IsPredicted><JourneyId>10792</JourneyId><JourneyPublicServiceCode>1A</JourneyPublicServiceCode><LocalServiceID>541</LocalServiceID><OperatorId>1</OperatorId><OperatorName>Translink
        Metro</OperatorName><StoppingAt /><Time>52 mins</Time><TimeAsDateTime>2018-10-27T07:54:57</TimeAsDateTime><VehicleType
        /><IsCancelled>false</IsCa[...]
- request:
    body: "\n            <s:Envelope xmlns:s=\"http://www.w3.org/2003/05/soap-envelope\">\n
      \               <s:Body>\n                    <GetArrivalsForStops xmlns=\"http://www.acishorizon.com/\">\n
      \                       <stopRefs>\n                            <string>700000000748</string>\n
      \                       </stopRefs>\n                        <maxResults>10</maxResults>\n
      \                   </GetArrivalsForStops>\n                </s:Body>\n            </s:Envelope>\n
      \       "
    headers:
      content-type: [application/soap+xml]
    method: POST
    uri: http://belfastapp.acishorizon.com/DataService.asmx
  response:
    body: {string: '<?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://www.w3.org/2003/05/soap-envelope"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetArrivalsForStopsResponse
        xmlns="http://www.acishorizon.com/"><GetArrivalsForStopsResult><ExtensionData
        /><ErrorCode>100</ErrorCode><PublicServices /><Stops><VirtualStop><ExtensionData
        /><StopArrivals><StopRealtime><ExtensionData /><Destination>No services</Destination><IsArrival>false</IsArrival><IsPredicted>false</IsPredicted><JourneyId>-1</JourneyId><JourneyPublicServiceCode
        /><LocalServiceID>0</LocalServiceID><OperatorId>-1</OperatorId><StoppingAt><string>currently
        running</string></StoppingAt><TimeAsDateTime xsi:nil="true" /><IsCancelled>false</IsCancelled></StopRealtime></StopArrivals><StopCancelled>false</StopCancelled><StopDistance>0</StopDistance><StopId>1571</StopId><StopLatitude>54.62755</StopLatitude><StopLongitude>-5.93461</StopLongitude><StopName>Fortwilliam
        Park</StopName><StopPredictedTime xsi:nil="true" /><StopRef>700000000748</StopRef><StopScheduledTime
        xsi:nil="true" /><StopSsi>0</StopSsi></VirtualStop></Stops><Vehicles /></GetArrivalsForStopsResult></GetArrivalsForStopsResponse></soap:Body></soap:Envelope>'}
    headers:
      Content-Type: [application/soap+xml; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
