{% extends 'page.html' %}

{% block bodyclass %}narrow{% endblock %}

{% block content %}

<h1>Data quality report</h1>

<h2>Possibly dubious SpecialDaysOperation</h2>

<ul>
    {% for route in routes %}
        {% ifchanged route.source_id %}
            {% if not forloop.first %}</ul></li>{% endif %}
            <li id="{{ route.source_id }}"><a href="#{{ route.source_id }}">{{ route.source }}</a><ul>
        {% endifchanged %}
        <li>
            <a href="{{ route.service.get_absolute_url }}/debug">{{ route }}</a>
            {{ route.code }}
        </li>
    {% endfor %}
    </ul></li>
</ul>

{% endblock %}
