{% extends 'bustimes/trip_detail.html' %}

{% block title %}{{ data.0.lineName }} to {{ data.0.destinationName }} – bustimes.org{% endblock %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'dist/js/app.css' %}">
    <style>
        {% for style in object.livery.get_styles %}
            {{ style }}
        {% endfor %}
    </style>
    {{ block.super }}
{% endblock %}

{% block foot %}
    <script>
        window.STOPS = {{ stops_json }};
        {% if object %}
            window.VEHICLE_ID = {{ object.id }};
        {% endif %}
    </script>
    <script src="{% static 'dist/js/app.js' %}"></script>
{% endblock %}
