{% extends 'page.html' %}

{% block title %}{{ data.0.lineName }} to {{ data.0.destinationName }} – bustimes.org{% endblock %}

{% block bodyclass %}{% endblock %}

{% block content %}

{% if stops_json %}
    <style>
        {% for style in object.livery.get_styles %}
            {{ style }}
        {% endfor %}
    </style>

    <div class="trip-map-wrapper">
        <div id="map" class="trip-map"></div>
    </div>
{% endif %}

<h2>{{ data.0.lineName }} to {{ data.0.destinationName }}</h2>

<table class="trip-timetable">
    <th></th><th>Expected</th>
    <tbody>
{% for item in data %}
    <tr>
        <td class="stop-name"><a href="/stops/{{ item.naptanId }}">{{ item.stationName }}{% if item.platformName %} ({{ item.platformName }}){% endif %}</a></td>
        <td>{{ item.expectedArrival|time }}</td>
    </tr>
{% endfor %}
</tbody>
</table>

<h2>{{ object }}</h2>

{% include 'vehicle_info.html' with vehicle=object %}

{% endblock %}

{% block ad %}{% endblock %}

{% load static %}

{% block foot %}
    {% if stops_json %}
        <link rel="stylesheet" href="{% static 'js/leaflet/leaflet.css' %}">
        <script src="{% static 'js/leaflet/leaflet.js' %}"></script>
        <script src="{% static 'js/leaflet.locatecontrol/dist/L.Control.Locate.min.js' %}"></script>
        <script src="{% static 'js/maps.js' %}"></script>
        <script src="{% static 'js/reqwest.min.js' %}"></script>
        <script>
            window.STOPS = {{ stops_json }};
            window.VEHICLE_ID = {{ object.id }};
        </script>
    {% endif %}
    <script src="{% static 'js/trip.js' %}">
{% endblock %}
