{% extends 'page.html' %}

{% block title %}{{ data.0.lineName }} to {{ data.0.destinationName }} – bustimes.org{% endblock %}

{% block canonical %}<meta name="robots" content="noindex,noarchive">{% endblock %}

{% block bodyclass %}{% endblock %}

{% block content %}

<h2>{{ data.0.lineName }} to {{ data.0.destinationName }}</h2>

<p><a href="{{ object.get_absolute_url }}">{{ object }}</a></p>

{% if stops_json %}
    <div class="trip-map-wrapper">
        <div id="map" class="trip-map"></div>
    </div>
{% endif %}

<table class="trip-timetable">
    <th></th><th>Expected</th>
    <tbody>
{% for item in data %}
    <tr>
        <td><a href="/stops/{{ item.naptanId }}">{{ item.stationName }}{% if item.platformName %} ({{ item.platformName }}){% endif %}</a></td>
        <td>{{ item.expectedArrival|time }}</td>
    </tr>
{% endfor %}
</tbody>
</table>

{% endblock %}

{% block ad %}{% endblock %}

{% load static %}

{% block foot %}
    {% if stops_json %}
        <link rel="stylesheet" href="{% static 'js/leaflet/leaflet.css' %}">
        <script src="{% static 'js/leaflet/leaflet.js' %}"></script>
        <script src="{% static 'js/leaflet.locatecontrol/L.Control.Locate.min.js' %}"></script>
        <script src="{% static 'js/maps.js' %}"></script>
        <script>
            window.STOPS = {{ stops_json }};
        </script>
    {% endif %}
    <script src="{% static 'js/trip.js' %}">
{% endblock %}
