{% extends 'page.html' %}

{% block title %}Log in to bustimes.org{% endblock %}

{% block bodyclass %}narrow{% endblock %}

{% block content %}

<h1>Log in</h1>

<form method="post" action="{% url 'login' %}">

{{ form.as_p }}

<input type="submit" value="Log in">

<input type="hidden" name="next" value="{{ next }}">

{% csrf_token %}

</form>

<p><a href="{% url 'register' %}?next={{ next }}">Create an account</a></p>

<p><a href="{% url 'password_reset' %}?next={{ next }}">Lost password?</a></p>

{% endblock %}

{% block ad %}{% endblock %}
