{% extends 'page.html' %}

{% block title %}{{ title }}{% endblock %}

{% block bodyclass %}narrow{% endblock %}

{% block content %}

{% if validlink %}
	<h1>{{ title }}</h1>

	<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

    <form method="post">
        {{ form.as_p }}

        {% csrf_token %}

        <input type="submit" value="Submit">
    </form>
{% else %}

    <p>The link was invalid, possibly because it has already been used. <a href="{% url 'password_reset' %}">Try resetting your password again?</a></p>
{% endif %}

{% endblock content %}
