# Name of your application. Used to uniquely configure containers.
service: bustimes

# Name of the container image.
image: jclgoodwin/bustimes-org

# Deploy to these servers.
servers:
  web:
    hosts:
      - 10.131.240.99
      - 10.131.240.98
      - 10.131.240.109
    env:
      clear:
        WEB_CONCURRENCY: 12
        EMAIL_HOST: email-smtp.eu-west-1.amazonaws.com
        DISABLE_EDITING: ""
        DISABLE_REGISTRATION: yes
        READ_ONLY_DB_HOST: private-jumbo-replica-do-user-1296332-0.d.db.ondigitalocean.com
      secret:
        - SECRET_KEY
        - DATABASE_URL
        - REDIS_URL
        - SENTRY_DSN
        - TURNSTILE_SECRET
        - EMAIL_HOST_USER
        - EMAIL_HOST_PASSWORD
        - TFL_APP_ID
        - TFL_APP_KEY
        - NTA_API_KEY
        - AWS_ACCESS_KEY_ID
        - AWS_SECRET_ACCESS_KEY
  tileserver:
    hosts:
      - 138.68.161.218

accessories:
  tileserver:
    image: maptiler/tileserver-gl-light
    role: tileserver
    port: 80:8080
    volumes:
      - /root/data:/data

    # to upgrade,
    # first run `docker image pull maptiler/tileserver-gl-light` on the host
    # then `kamal accessory reboot tileserver`

builder:
  arch: amd64
  cache:
    type: registry

# Credentials for your image host.
registry:
  # Specify the registry server, if you're not using Docker Hub
  server: registry.digitalocean.com/hobsbawm
  # see https://github.com/settings/tokens
  username:
    - KAMAL_REGISTRY_PASSWORD
  password:
    - KAMAL_REGISTRY_PASSWORD

asset_path: /staticfiles

proxy:
  app_port: 8000
  healthcheck:
    path: /version
  buffering:
    responses: false
  logging:
    request_headers:
      - Referer
    response_headers: []
