{% extends 'page.html' %}

{% block title %}Edit details – {{ vehicle }} – Bus Times{% endblock %}

{% block bodyclass %}narrow{% endblock %}

{% block content %}

{% if submitted %}

    <h1>Thank you</h1>

    <p>I’ll update those details shortly</p>

{% else %}

    <h1>Edit vehicle details</h1>

    {% if pending_edits %}
        <p class="message">❗ There’s already a pending edit for this vehicle</p>
    {% endif %}

    <p>(You can also <a href="{{ vehicle.operator.get_absolute_url }}/vehicles/edit">edit several {{ vehicle.operator }} vehicles at once</a>)</p>

    <form action="/vehicles/{{ vehicle.id }}/edit" method="POST">
        <p>Code:<br>
        {{ vehicle.code }}</p>

        {{ form.as_p }}

        <input type="submit" value="Save changes" />
    </form>

{% endif %}

{% if previous %}
    <p class="previous"><a href="{{ previous.get_absolute_url }}/edit">&larr; {{ previous }}</a></p>
{% endif %}

{% if next %}
    <p class="next"><a href="{{ next.get_absolute_url }}/edit">{{ next }} &rarr;</a></p>
{% endif %}

{% endblock %}

{% block ad %}{% endblock %}

{% block foot %}
    {% load static %}
    <script src="{% static 'js/accessible-autocomplete/accessible-autocomplete.min.js' %}"></script>
    <script>
        window.addEventListener('DOMContentLoaded', function() {
            accessibleAutocomplete.enhanceSelectElement({
                selectElement: document.getElementById('id_vehicle_type')
            });
        });
    </script>
{% endblock %}
