{% extends 'page.html' %}

{% block title %}Edit details – {{ vehicle }} – bustimes.org{% endblock %}

{% block fuse %}{% endblock %}

{% block bodyclass %}narrow{% endblock %}

{% block content %}

{% if not form %}

    <h1>Thank you</h1>

    {% if revision.pending %}
        <p>Your changes:</p>
    {% else %}
        <p>Details updated, and recorded in <a href="/vehicles/edits?status=approved">the changelog for all to see</a>:</p>
    {% endif %}

    <p>
        {% include "vehicle_revision.html" %}
    </p>


{% else %}

    <h1>Edit vehicle details</h1>

    {% if pending_edits %}
        <div class="message">
            <p>❗ There’s already a pending edit for this vehicle</p>

            {% include 'vehicle_revisions.html' with revisions=pending_edits %}
        </div>
    {% endif %}

    <p>ID:<br>
    <code>{{ vehicle.id }}</code> <button class="button" onclick="javascript:navigator.clipboard.writeText('{{ vehicle.id }}');this.blur()">Copy</button></p>

    <p>
        Ticket machine code:<br>
        {% if vehicle_unique_id and vehicle_unique_id != vehicle.code %}
            <code>{{ vehicle_unique_id }}</code> /
        {% endif %}
        <code>{{ vehicle.code }}</code>
    </p>

    <form action="{{ vehicle.get_edit_url }}" method="POST">
        <div class="edit-vehicle">
            {{ form.as_p }}
        </div>

        {% csrf_token %}

        <input type="submit" value="Save changes">
    </form>

    {{ form.media }}

    {% if livery %}
        <style>{% for css in livery.get_styles %}{{ css|safe }}{% endfor %}</style>
    {% endif %}

{% endif %}

{% if previous %}
    <p class="previous"><a href="{{ previous.get_edit_url }}">&larr; {{ previous }}</a></p>
{% endif %}

{% if next %}
    <p class="next"><a href="{{ next.get_edit_url }}">{{ next }} &rarr;</a></p>
{% endif %}

{% endblock %}
