{% if location.journey.service or location.journey.route_name %}
    {% if location.journey.service %}
        <a href="{{ location.journey.service.get_absolute_url }}">{{ location.journey.service.get_line_name_and_brand }}
    {% elif location.journey.route_name %}
        {{ location.journey.route_name }}
    {% endif %}

    {% if location.journey.destination %}
        to {{ location.journey.destination }}
    {% endif %}
    {% if location.journey.service %}</a>{% endif %}
{% endif %}

{% if location.journey.vehicle %}
    <a href="{{ location.journey.vehicle.get_absolute_url }}">{{ location.journey.vehicle }}</a>

    {% if location.journey.vehicle.vehicle_type.double_decker %}
        Double decker<br>
    {% elif location.journey.vehicle.vehicle_type.coach %}
        Coach<br>
    {% endif %}
{% endif %}
