{% extends 'page.html' %}

{% block content %}

<pre id="map"></pre>

<script>
(function () {
    'use strict';

    var foo = new WebSocket('ws://' + window.location.host + '/ws/vehicle_positions/foo');

    var map = document.getElementById('map');

    foo.onopen = function() {
        map.innerHTML += 'connected 🤗\n';
        foo.send(JSON.stringify([
            -4.037475585937501,
            51.6521108615692,
            3.8726806640625004,
            51.97472977494965
        ]));
    };

    foo.onclose = function() {
        map.innerHTML += 'CONNECTION CLOSED 😓\n';
    };

    foo.onerror = function() {
        map.innerHTML += 'ERROR ⚠️\n';
    };

    foo.onmessage = function(event) {
        // debugger;
        map.innerHTML += event.data;
    };

})();
</script>

{% endblock %}
