{% extends 'page.html' %}

{% block title %}Map – bustimes.org{% endblock %}

{% block head %}
<style>
.wide main {
    bottom: 0;
    max-width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 3.5em;
    width: 100%;
}

body {
    margin-bottom: 0;
}

.leaflet-popup-content a {
    display: inline;
}

.leaflet-popup-content .stop {
    display: block;
}

#vehicle {
    height: 0;
    background: #fff;
    border-radius: 1em 1em 0 0;
    bottom: 0;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    left: 0;
    position: absolute;
    right: 0;
    transition: height .25s;
    z-index: 1001;
}

#vehicle.active {
    height: 100px;
    padding: 1em;
}

@media (orientation: landscape) {
    #vehicle {
        border-radius: 1em 0 0 1em;
        bottom: 0;
        left: auto;
        right: 0;
        top: 0;
        transition: width .25s;
        width: 0;
    }

    #vehicle.active {
        width: 300px;
    }

    .active + #hugemap {
        margin-right: 300px;
    }

}

</style>
{% endblock %}

{% block cookies %}{% endblock %}

{% block header %}
   <header>
        <a href="/" class="site-name">bustimes.org</a>
    </header>
{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block content %}

<div id="vehicle"></div>
<div id="hugemap"></div>

{% endblock %}

{% block footer %}

{% load static %}
{% load pipeline %}
<link rel="stylesheet" href="{% static 'js/leaflet/leaflet.css' %}">
<script src="{% static 'js/leaflet/leaflet.js' %}"></script>
<script src="{% static 'js/reqwest.min.js' %}"></script>
<!-- <script src="{% static 'js/leaflet.markercluster/leaflet.markercluster.js' %}"></script> -->
<script>
(function () {
    'use strict';

    var map = L.map('hugemap', {
            minZoom: 8
        }),
        vehiclesGroup = L.layerGroup();
        // vehiclesGroup = L.markerClusterGroup({
        //     maxClusterRadius: 20,
        //     disableClusteringAtZoom: 9,
        //     iconCreateFunction: function(cluster) {
        //         return cluster.getAllChildMarkers()[0].getIcon();
        //     }
        // });

    // vehiclesGroup.on('clusterclick', function(event) {
    //     event.layer.getAllChildMarkers()[0].fire('click');
    // });
    vehiclesGroup.addTo(map);

    map.attributionControl.setPrefix('');

    L.tileLayer('https://tiles.stadiamaps.com/tiles/alidade_smooth/{z}/{x}/{y}{r}.png', {
        attribution: '<a href="https://stadiamaps.com/">© Stadia Maps</a> <a href="https://openmaptiles.org/">© OpenMapTiles</a> <a href="https://www.openstreetmap.org/about/">© OpenStreetMap contributors</a>',
    }).addTo(map);

    function getTransform(heading, scale) {
        if (heading === null) {
            return '';
        }
        var rotation = 'transform: rotate(' + heading + 'deg)';
        if (scale) {
            rotation += ' scale(1.5)';
        }
        return '-webkit-' + rotation + ';' + rotation;
    }

    function getBusIcon(item, big) {
        var heading = item.h;
        if (heading !== null) {
            var arrow = '<div class="arrow" style="' + getTransform(heading, big) + '"></div>';
            if (heading < 180) {
                heading -= 90;
            } else {
                heading -= 270;
            }
        }
        var className = 'bus';
        if (item.c) {
            var style = 'background:' + item.c;
            className += ' coloured';
            if (item.textColour) {
                className += ' white-text';
            }
            style += ';';
        } else {
            style = '';
        }
        style += getTransform(heading, big);
        var html = '<div class="' + className + '" style="' + style + '">';
        if (item.r) {
            html += item.r;
        }
        html += '</div>';
        if (arrow) {
            html += arrow;
        }
        return L.divIcon({
            iconSize: [20, 20],
            html: html,
            popupAnchor: [0, -5],
        });
    }

    map.on('click', function(event) {
        if (clickedMarker) {
            // deselect previous clicked marker
            var marker = vehicles[clickedMarker];
            if (marker) {
                marker.setIcon(getBusIcon(marker.options.item));
            }
        }
        // var vehiclePane = document.getElementById('vehicle');
        // vehiclePane.className = '';
        // vehiclePane.innerHTML = '';
    });

    var clickedMarker;

    function handleMarkerClick(event) {
        if (clickedMarker) {
            // deselect previous clicked marker
            var marker = vehicles[clickedMarker];
            if (marker) {
                marker.setIcon(getBusIcon(marker.options.item));
            }
        }
        marker = event.target;
        var item = marker.options.item;
        clickedMarker = item.i;
        marker.setIcon(getBusIcon(item, true));
        // var vehiclePane = document.getElementById('vehicle');
        // vehiclePane.className = 'active';

        reqwest(
            '/vehicles/locations/' + clickedMarker,
            function(data) {
                marker.bindPopup(data).openPopup();
            }
        );
    }

    var vehicles = {};

    function handleVehicle(item) {
        var icon = getBusIcon(item, item.i === clickedMarker),
            latLng = L.latLng(item.l[1], item.l[0]);

        if (item.i in vehicles) {
            var marker = vehicles[item.i];
            marker.setLatLng(latLng);
            marker.setIcon(icon);
            marker.options.item = item;
        } else {
            vehicles[item.i] = L.marker(latLng, {
                icon: icon,
                item: item
            }).addTo(vehiclesGroup).on('click', handleMarkerClick);
        }
    }

    var socket,
        backoff = 1000;

    function connect() {
        socket = new WebSocket('ws://' + window.location.host + '/ws/vehicle_positions/foo');

        socket.onopen = function() {
            var bounds = map.getBounds();
            socket.send(JSON.stringify([
                bounds.getWest(),
                bounds.getSouth(),
                bounds.getEast(),
                bounds.getNorth()
            ]));

            backoff = 1000;
        };

        socket.onclose = function() {
            window.setTimeout(connect, backoff);
            backoff += 500;
        };

        socket.onerror = function(event) {
            console.error(event);
        };

        socket.onmessage = function(event) {
            var vehicles = JSON.parse(event.data);
            for (var i = vehicles.length - 1; i >= 0; i--) {
                handleVehicle(vehicles[i]);
            }
        };
    }

    var parts;
    if (location.hash) {
        parts = location.hash.substring(1).split('/');
    } else if (localStorage && localStorage.vehicleMap) {
        parts = localStorage.vehicleMap.split('/');
    }
    if (parts) {
        if (parts.length === 1) {
            parts = parts[0].split(',');
        }
        try {
            if (parts.length === 3) {
                map.setView([parts[1], parts[2]], parts[0]);
            } else {
                map.setView([parts[0], parts[1]], 15);
            }
        } catch (error) {
            // oh well
        }
    }

    if (!map._loaded) {
        map.setView([51.9, 0.9], 9);
    }

    connect();

    function updateLocation() {
        var latLng = map.getCenter(),
            string = map.getZoom() + '/' + Math.round(latLng.lat * 10000) / 10000 + '/' + Math.round(latLng.lng * 10000) / 10000;

        if (history.replaceState) {
            try {
                history.replaceState(null, null, location.pathname + '#' + string);
            } catch (error) {
                // probably SecurityError (document is not fully active)
            }
        }
        if (window.localStorage) {
            try {
                localStorage.setItem('vehicleMap', string);
            } catch (error) {
                // never mind
            }
        }
    }

    function handleMoveEnd() {
        var bounds = map.getBounds();

        for (var id in vehicles) {
            var vehicle = vehicles[id];
            if (id != clickedMarker && !bounds.contains(vehicle.getLatLng())) {
                map.removeLayer(vehicle);
                delete vehicles[id];
            }
        }

        socket.send(JSON.stringify([
            bounds.getWest(),
            bounds.getSouth(),
            bounds.getEast(),
            bounds.getNorth()
        ]));

        updateLocation();
    }

    map.on('moveend', handleMoveEnd);
})();
</script>

{% endblock %}
