{% extends 'page.html' %}

{% block title %}{% if form %}Edit – {% endif %}Fleet list – {% firstof parent object %} – bustimes.org{% endblock %}

{% block canonical %}
    <link rel="canonical" href="https://bustimes.org{{ object.get_absolute_url }}/vehicles">
{% endblock %}

{% block bodyclass %}{% endblock %}

{% block content %}

<h1>{% firstof parent object %}</h1>

{% if form %}
    {% if moved %}
        <p class="message">{{ moved }} vehicle{{ moved|pluralize }} moved to {{ moved_to }}</p>
    {% endif %}

    {% if edits %}
        <p class="message">I’ll update {% if moved %}the other{% else %}those{% endif %} details ({{ edits }} vehicle{{ edits|pluralize }}) shortly</p>
    {% endif %}

    <p>Select vehicles to update:</p>

    <p><kbd>Shift</kbd> + click to select multiple consecutive vehicles</p>
{% else %}
    <p>This is an <strong>unofficial</strong> and probably incomplete list of {% firstof parent object %}
    {% if parent %} ({% for operator in operators %}{% if not forloop.first and not forloop.last %}, {% elif forloop.last and not forloop.first %} and {% endif %}{{ operator }}{% endfor %}){% endif %} vehicles (well, ticket machines) that have ever appeared in the live bus tracking system.</p>

    <p>Thanks to the marvels of modern technology,
    you can see where a particular vehicle has been recently,
    and which vehicles have operated a particular service.
    <strong>This is sometimes inaccurate</strong>,
    e.g. when ticket machines/tracking equipment are moved between vehicles.</p>

    {% if not parent and object.parent %}
        <p>There’s also <a href="/groups/{{ object.parent}}/vehicles">a list of all {{ object.parent }} vehicles</a>.</p>
    {% endif %}

    {% if user.is_authenticated %}
        <p><a href="{% url 'admin:vehicles_vehicle_changelist' %}?o=2&amp;operator__id__exact={{ object.id }}">Edit</a></p>
    {% endif %}
{% endif %}

{% if form %}
    <form action="{{ object.get_absolute_url }}/vehicles/edit" method="POST">
{% elif not parent %}
    <p><a class="button" href="{{ object.get_absolute_url }}/vehicles/edit">Edit</a></p>
{% endif %}

<table class="fleet">
    <thead>
        <tr>
            {% if form %}<th></th>{% endif %}
            <th scope="col" colspan="{% if code_column %}3{% else %}2{% endif %}"></th>
            {% if not parent %}<th scope="col" colspan="2">Last tracked</th>{% endif %}
            <th scope="col">Type</th>
            <th scope="col">Livery</th>
            {% if branding_column %}<th scope="col">Branding</th>{% endif %}
            {% if name_column %}<th scope="col">Name</th>{% endif %}
            {% if notes_column %}<th scope="col">Notes</th>{% endif %}
            {% for col in columns %}<th scope="col">{{ col }}</th>{% endfor %}
            {% if features_column %}<th scope="col">Special features</th>{% endif %}
            {% if parent %}<th>Operator</th>{% endif %}
        </tr>
    </thead>
    <tbody>
        {% for vehicle in vehicles %}
            <tr>
                {% if form %}
                    <td>
                        <input type="checkbox" name="vehicle" value="{{ vehicle.id }}">
                    </td>
                {% endif %}
                {% if code_column %}
                    <td class="number">{% if vehicle.fleet_number_mismatch %}{{ vehicle.code }}{% endif %}</td>
                {% endif %}
                <td class="number">
                    {% if vehicle.fleet_code or vehicle.fleet_number %}
                        <a href="{{ vehicle.get_absolute_url }}">{% firstof vehicle.fleet_code vehicle.fleet_number %}</a>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ vehicle.get_absolute_url }}">{% if vehicle.reg %}{{ vehicle.get_reg }}{% elif not vehicle.fleet_number and not vehicle.fleet_code %}{{ vehicle }}{% endif %}</a>
                </td>
                {% if not parent %}<td class="last-seen">
                    {% if vehicle.latest_location %}
                        {% if vehicle.latest_location.journey.service %}
                            {{ vehicle.latest_location.journey.service.get_line_name_and_brand }}
                        {% else %}
                            {{ vehicle.latest_location.journey.route_name }}
                        {% endif %}
                    {% else %}
                        {% for journey in vehicle.latest_journeys %}
                            {% if journey.service %}
                                {{ journey.service.get_line_name_and_brand }}
                            {% else %}
                                {{ journey.route_name }}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </td>
                <td class="last-seen">
                    {% if vehicle.latest_location %}
                        {% if vehicle.latest_location.datetime.date == today %}
                            {{ vehicle.latest_location.datetime | time }}
                        {% else %}
                            {{ vehicle.latest_location.datetime }}
                        {% endif %}
                    {% else %}
                        {% for journey in vehicle.latest_journeys %}
                            {% if journey.datetime.date == today %}
                                {{ journey.datetime | time }}
                            {% else %}
                                {{ journey.datetime }}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </td>{% endif %}
                <td>{% if vehicle.notes == 'Spare ticket machine' %}{{ vehicle.notes }}{% else %}{{ vehicle.vehicle_type|default:"" }}{% endif %}</td>
                <td{% if vehicle.colours and vehicle.colours != 'Other' or vehicle.livery %} class="livery-cell"{% endif %}>
                    {% if vehicle.colours == 'Other' %}
                        {{ vehicle.colours }}
                    {% elif vehicle.colours or vehicle.livery %}
                        <div class="livery" style="background:{{ vehicle.get_livery }}"></div>
                        {{ vehicle.livery|default:"" }}
                    {% endif %}
                </td>
                {% if vehicle.branding %}<td>{{ vehicle.branding }}</td>{% endif %}
                {% if name_column %}<td>{{ vehicle.name }}</td>{% endif %}
                {% if notes_column %}<td>{% if vehicle.notes != 'Spare ticket machine' %}{{ vehicle.notes }}{% endif %}</td>{% endif %}
                {% for value in vehicle.column_values %}<td>{{ value|default:"" }}</td>{% endfor %}
                {% if features_column %}<td>{{ vehicle.features.all|join:", " }}</td>{% endif %}
                {% if parent %}<td>{{ vehicle.operator }}</td>{% endif %}
                {% if vehicle.editable %}
                    <td>{{ vehicle.get_flickr_link }}</td>
                    {% if not form %}
                        <td>
                            <a href="{{ vehicle.get_absolute_url }}/edit">Edit</a>{% if vehicle.pending_edits %}<abbr title="pending edits">*</abbr>{% endif %}
                        </td>
                    {% elif vehicle.pending_edits %}
                        <td>
                            <abbr title="pending edits">*</abbr>
                        </td>
                    {% endif %}
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>

{% if vehicles.has_previous %}
    <p class="previous"><a href="?page={{ vehicles.previous_page_number }}" rel="prev">&larr; Page {{ vehicles.previous_page_number }}</a>
{% endif %}

{% if vehicles.has_next %}
    <p class="next"><a href="?page={{ vehicles.next_page_number }}" rel="next">Page {{ vehicles.next_page_number }} &rarr;</a>
{% endif %}

{% if form %}

    {{ form.as_p }}

    <datalist id="depots">
        {% for depot in depots %}{% if depot %}<option value="{{ depot }}">{% endif %}{% endfor %}
    </datalist>

    <input type="submit" value="Save changes">

    </form>

{% endif %}

{% endblock %}

{% block foot %}
    {% if form %}
        {% load static %}
        <script src="{% static 'js/accessible-autocomplete/accessible-autocomplete.min.js' %}"></script>
        <script src="{% static 'js/edit-vehicles.js' %}"></script>
    {% endif %}
{% endblock %}
