{% extends 'page.html' %}

{% block title %}Map – {{ object }} – bustimes.org{% endblock %}

{% block head %}
    <style>
    #map {
        bottom: 3em;
        position: absolute;
        top: 7.5em;
        width: 100%;
    }

    footer {
        bottom: 0;
        position: absolute;
        width: 100%;
    }

    footer ul,
    .breadcrumb {
        border: 0;
    }
    </style>
{% endblock %}

{% block bodyclass %}{% endblock %}

{% block content %}

    <div id="map">
        <noscript>Sorry, the map requires JavaScript. You can still use most of the rest of the website.</noscript>
    </div>

{% endblock %}

{% block ad %}{% endblock %}

{% block foot %}
    {% load static %}
    <script>EXTENT = [{{ extent|join:"," }}];OPERATOR_ID="{{ operator_id }}";</script>
    <link rel="stylesheet" href="{% static 'js/leaflet/leaflet.css' %}">
    <script src="{% static 'js/leaflet/leaflet.js' %}"></script>
        <script src="{% static 'js/leaflet.locatecontrol/L.Control.Locate.min.js' %}"></script>
    <script src="{% static 'js/reqwest.min.js' %}"></script>
    <script src="{% static 'js/maps.js' %}"></script>
    <script async src="{% static 'js/operator-map.js' %}"></script>
    <link rel="stylesheet" href="/liveries.{{ liveries_css_version }}.css">
{% endblock %}
