{% extends 'page.html' %}

{% block title %}Bus tracker map – {{ object }} – bustimes.org{% endblock %}

{% block canonical %}
    <link rel="canonical" href="https://bustimes.org{{ object.get_absolute_url }}/map">
{% endblock %}

{% block head %}
    <style>
    #map {
        bottom: 104px;
        position: absolute;
        top: 42px;
        width: 100%;
    }

    .sorry {
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: center;
    }

    footer {
        bottom: 0;
        margin-bottom: 0;
        position: absolute;
        width: 100%;
    }

    footer ul,
    .breadcrumb {
        border: 0;
    }
    </style>
{% endblock %}

{% block bodyclass %}{% endblock %}

{% block content %}

    <div id="map">
        <noscript>Sorry, the map requires JavaScript. You can still use most of the rest of the website.</noscript>
    </div>

{% endblock %}

{% block ad %}{% endblock %}

{% block foot %}
    {% load static %}
    <script>OPERATOR_ID="{{ operator.id }}";</script>
    <link rel="stylesheet" href="{% static 'js/leaflet/leaflet.css' %}">
    <script src="{% static 'js/leaflet/leaflet.js' %}"></script>
    <script src="{% static 'js/leaflet.locatecontrol/dist/L.Control.Locate.min.js' %}"></script>
    <script src="{% static 'js/reqwest.min.js' %}"></script>
    <script src="{% static 'js/maps.js' %}"></script>
    <script async src="{% static 'js/operator-map.js' %}"></script>
    <link rel="stylesheet" href="/liveries.{{ liveries_css_version }}.css">
{% endblock %}
