{% extends 'page.html' %}

{% block title %}Fleet list – {% firstof parent object %} – Bus Times{% endblock %}

{% block canonical %}
    <link rel="canonical" href="https://bustimes.org{{ object.get_absolute_url }}/vehicles" />
{% endblock %}

{% block bodyclass %}{% endblock %}

{% block content %}

<h1>{% firstof parent object %}</h1>

{% if edit %}
    {% if submitted %}

        <p class="message">Thank you. I’ll update those details ({{ submitted }} vehicle{{ submitted|pluralize }}) shortly</p>
    {% endif %}

    <p>Select vehicles to update:</p>

    <p><kbd>Shift</kbd> + click to select multiple consecutive vehicles</p>
{% else %}
    <p>This is an <strong>unofficial</strong> and probably incomplete fleet list for {% firstof parent object %}
    {% if parent %}({% for operator in operators %}{% if not forloop.first and not forloop.last %}, {% elif forloop.last and not forloop.first %} and {% endif %}{{ operator }}{% endfor %}){% endif %}.</p>

    <p>It only lists vehicles that have ever appeared in the live bus tracking system.</p>

    <p>Thanks to the marvels of modern technology,
    you can see where a particular vehicle has been recently,
    and which vehicles have operated a particular service.
    <strong>This is sometimes inaccurate</strong>,
    e.g. when ticket machines/tracking equipment are swapped between vehicles.</p>

    {% if not parent and object.parent %}
        <p>There’s also <a href="/groups/{{ object.parent}}/vehicles">a list of all {{ object.parent }} vehicles</a>.</p>
    {% endif %}

    {% if user.is_authenticated %}
        <p><a href="{{ edit_url }}?o=2&amp;operator__id__exact={{ object.id }}">Edit</a></p>
    {% endif %}
{% endif %}

{% if edit %}
    <form action="{{ object.get_absolute_url }}/vehicles/edit" method="POST">
{% else %}
    <p><a class="button" href="{{ object.get_absolute_url }}/vehicles/edit">Edit</a></p>
{% endif %}

<table class="fleet">
    <thead>
        <tr>
            {% if edit %}<th></th>{% endif %}
            <th scope="col" colspan="{% if code_column %}3{% else %}2{% endif %}"></th>
            <th scope="col" colspan="2">Last seen</th>
            <th scope="col">Type</th>
            <th scope="col">Livery</th>
            {% if branding_column %}<th scope="col">Branding</th>{% endif %}
            {% if name_column %}<th scope="col">Name</th>{% endif %}
            {% if notes_column %}<th scope="col">Notes</th>{% endif %}
            {% for col in columns %}<th scope="col">{{ col }}</th>{% endfor %}
            {% if parent %}<th>Operator</th>{% endif %}
        </tr>
    </thead>
    <tbody>
        {% for vehicle in vehicles %}
            <tr>
                {% if edit %}
                    <td>
                        <input type="checkbox" name="vehicle" value="{{ vehicle.id }}" />
                    </td>
                {% endif %}
                {% if code_column %}
                    <td>{% if vehicle.fleet_number_mismatch %}{{ vehicle.code }}{% endif %}</td>
                {% endif %}
                <td class="tabular">
                    {% if vehicle.fleet_code or vehicle.fleet_number %}
                        <a href="{{ vehicle.get_absolute_url }}">{% firstof vehicle.fleet_code vehicle.fleet_number %}</a>
                    {% endif %}
                </td>
                <td class="tabular">
                    <a href="{{ vehicle.get_absolute_url }}">{% if vehicle.reg %}{{ vehicle.get_reg }}{% elif not vehicle.fleet_number and not vehicle.fleet_code %}{{ vehicle }}{% endif %}</a>
                </td>
                <td>
                    {% if vehicle.latest_location %}
                        {% if vehicle.latest_location.journey.service %}
                            {{ vehicle.latest_location.journey.service.get_line_name_and_brand }}
                        {% elif vehicle.latest_location.journey.route_name %}
                            {{ vehicle.latest_location.journey.route_name }}
                        {% endif %}
                    {% else %}
                        {% for journey in vehicle.latest_journeys %}
                            {% if journey.service %}
                                {{ journey.service.get_line_name_and_brand }}
                            {% elif journey.route_name %}
                                {{ journey.route_name }}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </td>
                <td class="tabular">
                    {% if vehicle.latest_location %}
                        {% if vehicle.latest_location.datetime.date == today %}
                            {{ vehicle.latest_location.datetime | time }}
                        {% else %}
                            {{ vehicle.latest_location.datetime }}
                        {% endif %}
                    {% else %}
                        {% for journey in vehicle.latest_journeys %}
                            {% if journey.datetime.date == today %}
                                {{ journey.datetime | time }}
                            {% else %}
                                {{ journey.datetime }}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </td>
                <td>{{ vehicle.vehicle_type|default:"" }}</td>
                <td{% if vehicle.colours or vehicle.livery %} class="livery-cell">
                        <div class="livery" style="background:{{ vehicle.get_livery }}"></div>
                        {% if vehicle.livery %}
                            {{ vehicle.livery }}
                        {% endif %}
                    {% else %}>{% endif %}
                </td>
                {% if branding_column %}<td>{{ vehicle.branding }}</td>{% endif %}
                {% if name_column %}<td>{{ vehicle.name }}</td>{% endif %}
                {% if notes_column %}<td>{{ vehicle.notes }}</td>{% endif %}
                {% for value in vehicle.column_values %}<td>{{ value|default:"" }}</td>{% endfor %}
                {% if parent %}<td>{{ vehicle.operator }}</td>{% endif %}
                <td>{{ vehicle.get_flickr_link }}</td>
                {% if not edit %}
                    <td>
                        <a href="{{ vehicle.get_absolute_url }}/edit">Edit</a>{% if vehicle.pending_edits %}<abbr title="pending edits">*</abbr>{% endif %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>

{% if vehicles.has_previous %}
    <p class="previous"><a href="?page={{ vehicles.previous_page_number }}" rel="prev">&larr; Page {{ vehicles.previous_page_number }}</a>
{% endif %}

{% if vehicles.has_next %}
    <p class="next"><a href="?page={{ vehicles.next_page_number }}" rel="next">Page {{ vehicles.next_page_number }} &rarr;</a>
{% endif %}

{% if edit %}

    {{ form.as_p }}

    <input type="submit" value="Save changes" />

    </form>

{% endif %}

{% endblock %}

{% block ad %}{% endblock %}

{% block foot %}
    {% if edit %}
        {% load static %}
        <script src="{% static 'js/accessible-autocomplete/accessible-autocomplete.min.js' %}"></script>
        <script>
            window.addEventListener('DOMContentLoaded', function() {
                accessibleAutocomplete.enhanceSelectElement({
                    selectElement: document.getElementById('id_vehicle_type')
                });

                var lastInput;

                function handleBoxCheck(event) {
                    if (event.shiftKey && lastInput) {
                        var from = event.target.parentNode.parentNode.rowIndex - 1,
                            to = lastInput.parentNode.parentNode.rowIndex - 1,
                            min = Math.min(from, to),
                            max = Math.max(from, to),
                            checkboxes = document.querySelectorAll('.fleet input');
                        checkboxes.forEach(function(checkbox, i) {
                            if (i > min && i < max) {
                                checkbox.checked = lastInput.checked;
                                checkbox.parentNode.parentNode.style.background = checkbox.checked ? '#ef9' : '';
                            }
                        });
                    }
                    lastInput = event.target;
                    lastInput.parentNode.parentNode.style.background = lastInput.checked ? '#ef9' : '';
                }

                document.querySelectorAll('.fleet input').forEach(function(input) {
                    input.addEventListener('click', handleBoxCheck);
                });
            });
        </script>
    {% endif %}
{% endblock %}
