{% extends 'page.html' %}

{% block title %}Fleet list – {% firstof parent object %} – gladetimes{% endblock %}

{% block canonical %}
    <link rel="canonical" href="https://bustimes.org{{ object.get_absolute_url }}/vehicles">
{% endblock canonical %}

{% block head %}
    <link rel="stylesheet" href="/liveries.{{ liveries_css_version }}.css">
{% endblock head %}

{% block bodyclass %}{% endblock %}

{% block content %}

<h1>{% firstof parent object %}</h1>

{% if not parent %}
    <ul class="tabs">
        <li><a href="{{ object.get_absolute_url }}">Routes</a></li>
        {% if map %}
            <li><a href="{{ object.get_absolute_url }}/map">Map</a></li>
        {% endif %}
        <li>{{ vehicles|length }} vehicle{{ vehicles|length|pluralize }}</li>
    </ul>
{% endif %}

<p>This is <strong>intended to be a complete, <i>community attributed</i> fleet list</strong>. It’s really a list of<strong>
{% firstof parent object %}
{% if parent and operators and operators|length < 10 %}
    ({% for operator in operators %}{% if not forloop.first and not forloop.last %}, {% elif forloop.last and not forloop.first %} and {% endif %}{{ operator }}{% endfor %})
{% endif %}</strong>'s ticket machines, with the added benefit of <strong>live vehicle tracking</strong>.</p>

<p>Remember:</p>

<ul class="bulleted">
    <li>Ticket machines IDs sometimes don’t correspond with the actual vehicles they’re attached to. (Equipment gets swapped between vehicles, etc.)</li>
    <li>Vehicles don’t always track all the time. If a journey isn’t listed, it doesn’t necessarily mean it didn’t operate.</li>
    {% if garage_column %}
        <li>“Garage” information is worked out automatically, using the Garage field in the operator’s timetable data and the last trip a vehicle worked.</li>
    {% endif %}
</ul>

{% if not parent and object.parent %}
    <p>There’s also <a href="/groups/{{ object.parent }}/vehicles">a list of all {{ object.parent }} vehicles</a>.</p>
{% endif %}

{% if not parent %}
    <ul class="horizontal">
        <li><a href="/vehicles/edits?operator={{ object.noc }}&status=approved">Recent changes</a></li>
        {% if request.user.is_superuser %}
            <li><a href="/vehicles/edits?operator={{ object.noc }}&status=pending">Pending vehicle edits</a></li>
            <li><a href="{% url 'admin:vehicles_vehicle_changelist' %}?operator={{ object.noc }}">✎</a></li>
        {% endif %}
    </ul>
{% endif %}

<div class="table-wrapper">
<table class="fleet compact">
    <thead>
        <tr>
            <th scope="col" colspan="2"></th>
            {% if not parent %}<th scope="col" colspan="2">Last tracked</th>{% endif %}
            <th scope="col">Livery</th>
            <th scope="col">Type</th>
            {% if name_column %}<th scope="col" class="trivia">Name</th>{% endif %}
            {% if notes_column %}<th scope="col" class="trivia">Notes</th>{% endif %}
            {% if garage_column %}<th scope="col" class="trivia">Garage</th>{% endif %}
            {% for col in columns %}<th scope="col" class="trivia">{{ col }}</th>{% endfor %}
            {% if features_column %}<th scope="col" class="trivia">Special features</th>{% endif %}
            {% if parent %}<th>Operator</th>{% endif %}
        </tr>
    </thead>
    <tbody>
        {% for vehicle in vehicles %}
            <tr id="{{ vehicle.slug }}">
                <td class="tabular"{% if not vehicle.reg %} colspan="2"{% endif %}>
                    <a href="{{ vehicle.get_absolute_url }}">
                        {% if vehicle.fleet_code or vehicle.fleet_number %}
                            {% firstof vehicle.fleet_code vehicle.fleet_number %}
                        {% elif not vehicle.reg %}
                            {{ vehicle.code }}
                        {% endif %}
                    </a>
                </td>
                {% if vehicle.reg %}
                    <td>
                        <a href="{{ vehicle.get_absolute_url }}" class="reg">
                            {{ vehicle.get_reg }}
                        </a>
                    </td>
                {% endif %}
                {% if not parent %}<td class="last-seen">
                    {{ vehicle.last_seen.service }}
                </td>
                <td class="last-seen">
                    {% if vehicle.last_seen.today %}
                        {{ vehicle.last_seen.when|time:"H:i" }}
                    {% elif vehicle.last_seen.when.year == today.year %}
                        {{ vehicle.last_seen.when|date:"j M" }}
                    {% else %}
                        {{ vehicle.last_seen.when|date:"j M Y" }}
                    {% endif %}
                </td>{% endif %}
                <td{% if vehicle.colours or vehicle.livery_id %} class="livery-cell"{% endif %}>
                    {% if vehicle.colours or vehicle.livery_id %}<div class="livery{% if vehicle.livery_id %} livery-{{ vehicle.livery_id }}{% else %}" style="background:{{ vehicle.get_livery }}{% endif %}"{% if vehicle.livery_name %} title="{{ vehicle.livery_name }}"{% endif %}></div>{% endif %}
                </td>
                <td>{% if vehicle.is_spare_ticket_machine %}{{ vehicle.notes }}{% else %}{{ vehicle.vehicle_type_name|default:"" }}{% endif %}</td>
                {% if name_column %}<td class="trivia">{{ vehicle.name }}</td>{% endif %}
                {% if notes_column %}<td class="trivia">{% if not vehicle.is_spare_ticket_machine %}{{ vehicle.notes }}{% endif %}</td>{% endif %}
                {% if garage_column %}<td class="trivia">{{ vehicle.garage_name|default:'' }}</td>{% endif %}
                {% for value in vehicle.column_values %}<td class="trivia">{{ value }}</td>{% endfor %}
                {% if features_column %}<td class="trivia">{{ vehicle.feature_names }}</td>{% endif %}
                {% if parent %}<td>{{ vehicle.operator }}</td>{% endif %}
                <td>{{ vehicle.get_flickr_link }}</td>
                {% if vehicle.is_editable %}
                    <td><a href="{{ vehicle.get_edit_url }}">Edit{% if vehicle.pending_edits %}<abbr title="pending edits">*</abbr>{% endif %}</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% include 'pagination.html' with page=vehicles %}

{% endblock content %}
