{% load humanize %}

<table class="compact">
    <thead>
        <tr>
            {% if not vehicle and perms.vehicles_change_vehicle %}<th scope="col"></th>{% endif %}
            <th scope="col">date</th>
            <th scope="col">user</th>
            {% if not vehicle %}
                <th scope="col">vehicle</th>
                <th scope="col"><a href="?{{ toggle_order.vehicle }}" title="sort by vehicle's number of edits">*</a></th>
                <th scope="col"></th>
            {% endif %}
            <th scope="col">proposed changes</th>
            <th scope="col">{% if toggle_order %}<a href="?{{ toggle_order.score }}">score</a>{% else %}score{% endif %}</th>
            <th scope="col" colspan="4"></th>
        </tr>
    </thead>
    <tbody>
        {% for edit in edits %}
            <tr>
                {% if not vehicle and perms.vehicles_change_vehicle %}
                    <td>{% if edit.approved is None %}<input type="checkbox" name="edit" value="{{ edit.id }}">{% endif %}</td>
                {% endif %}
                <td>{{ edit.datetime|naturaltime }}</td>
                <td class="link">
                    <a href="{{ edit.user.get_absolute_url }}">
                        {% if perms.accounts.change_user %}
                            {{ edit.user.username }}
                        {% elif edit.user == user %}
                            <strong>you</strong>
                        {% else %}
                            {{ edit.user }}
                        {% endif %}
                    </a>
                </td>
                {% if not vehicle %}
                    <td class="link"><a href="{{ edit.vehicle.get_absolute_url }}">{{ edit.vehicle }}</a></td>
                    <td>{{ edit.edit_count }}</td>
                    <td><div class="livery{% if edit.vehicle.livery_id %} livery-{{ edit.vehicle.livery_id }}{% else %}" style="background:{{ edit.vehicle.get_livery }}{% endif %}"></div></td>
                {% endif %}
                <td>{% for key, value in edit.get_changes.items %}
                    {% if key == 'features' %}
                        {% for feature in value %}{{ feature|safe }}{% if not forloop.last %}, {% endif %}{% endfor %}
                    {% elif key == 'colours' %}
                        colours: <div class="livery" style="background:{{ edit.get_css }}"></div>
                    {% elif key == 'livery_id' %}
                        livery:
                        {% if edit.vehicle.livery %}{{ edit.vehicle.livery.name }} to {% endif %}
                        <div class="livery livery-{{ value }}"></div> {{ edit.livery.name }}
                    {% else %}{{ key }}: {{ value }}
                    {% endif %}
                    <br>{% endfor %}
                    {% if edit.url %}<div class="wrap">{{ edit.url|urlize }}</div>{% endif %}
                </td>
                <td class="score">{{ edit.score }}</td>
                {% if edit.approved is None %}
                    {% if perms.vehicles_change_vehicle or user.trusted and edit.is_simple %}
                        <td><button class="action" data-url="{{ edit.id }}/apply" style="background:#0f0">👍 apply</button></td>
                        {% if perms.vehicles_change_vehicle %}
                            <td><button class="action" data-url="{{ edit.id }}/approve">approve</button></td>
                        {% endif %}
                        <td><button class="action" data-url="{{ edit.id }}/disapprove" style="color:#fff;background:#f00">👎 disapprove</button></td>
                    {% elif edit.user == user %}
                        <td colspan="2"><button class="action" data-url="{{ edit.id }}/disapprove" style="color:#fff;background:#f00">cancel</button></td>
                    {% else %}
                        <td><button class="action" data-url="{{ edit.id }}/vote/up">👍</button></td>
                        <td><button class="action" data-url="{{ edit.id }}/vote/down">👎</button></td>
                    {% endif %}
                {% else %}
                    <td>{% if not edit.approved %}dis{% endif %}approved{% if edit.arbiter_id %} by {{ edit.arbiter_id }}{% endif %}</td>
                {% endif %}
                {% if not vehicle %}
                    <td class="link">{{ edit.vehicle.get_flickr_link }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>

<script>
(function () {
    'use strict';

    for (const button of document.querySelectorAll('button.action')) {
        let row = button.parentElement.parentElement;
        button.onclick = function(event) {
            let url = '/vehicles/edits/' + this.dataset.url;
            let params = new URLSearchParams();
            params.append('csrfmiddlewaretoken', document.querySelector("[name='csrfmiddlewaretoken']").value);
            fetch(url, {
                method: 'POST',
                body: params,
                redirect: 'error',
                credentials: 'same-origin',
            }).then(function(response) {
                if (response.ok) {
                    button.style.opacity = '.5';
                    response.text().then(text => {
                        if (text && !isNaN(parseInt(text))) {
                            row.querySelector('.score').innerText = text;
                        }
                    });
                    if (url.endsWith('/up')) {
                        button.style.transition = 'transform .5s';
                        button.style.transform = 'scale(0)';
                    } else if (url.endsWith('/down')) {
                        button.style.transition = 'transform .5s';
                        button.style.transform = 'scale(0)';
                    }
                }
            });
            return false;
        };
    }
})();
</script>
