{% load humanize %}

<ul class="revisions-list">
    {% for revision in revisions %}
        <li>
            <p>
                {% if not vehicle %}
                    <a href="{{ revision.vehicle.get_absolute_url }}">{{ revision.vehicle }}</a> &bull;
                {% endif %}
                {{ revision.created_at|naturaltime }}
                {% if not by_user %}
                    {% if revision.user %}
                        &bull; <a href="{{ revision.user.get_absolute_url }}">{{ revision.user }}</a>
                    {% endif %}
                {% endif %}
                {% if request.user.is_superuser %}
                    &bull; <a href="{% url 'admin:vehicles_vehiclerevision_change' revision.pk %}">✎</a>
                {% endif %}
            <p>
                {% for key, from, to in revision.list_changes %}
                    <strong>{{ key }}</strong>
                    {% if from %}
                        from {{ from }}
                    {% endif %}
                    {% if to %}
                        to
                        {{ to }}
                    {% endif %}
                    <br>
                {% endfor %}
                {% for feature in revision.vehiclerevisionfeature_set.all %}
                    {{ feature }}
                {% endfor %}
                {% if revision.message %}
                    <p>{{ revision.message|urlize|linebreaksbr }}
                {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
