{% extends 'page.html' %}

{% block title %}Vehicle edits – bustimes.org{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/liveries.{{ liveries_css_version }}.css">
{% endblock %}

{% block bodyclass %}{% endblock %}

{% block topad %}
    {% include 'ad.html' %}
{% endblock %}

{% block content %}

<ul class="tabs">
    <li><a href="/vehicles/history">Recent changes</a></li>
    <li>Pending vehicle edits</li>
</ul>

<h1>Pending vehicle edits</h1>

<div class="sidebar">
    <form>
        {{ filter.form.as_p }}

        <p><input type="submit" value="Search"></p>
    </form>
</div>

{% if edits %}

{% if perms.vehicles_change_vehicle %}
    <form id="edits" method="POST">

    <p>
        <input type="submit" name="action" value="apply">
        <input type="submit" name="action" value="approve">
        <input type="submit" name="action" value="disapprove">
    </p>
{% endif %}

<div class="table-wrapper">
    {% include 'vehicle_edits_table.html' %}
</div>

{% if perms.vehicles_change_vehicle %}
    <p>
        <input type="submit" name="action" value="apply">
        <input type="submit" name="action" value="approve">
        <input type="submit" name="action" value="disapprove">
    </p>

    </form>
{% endif %}

{% include 'pagination.html' with page=edits %}

{% endif %}

{% endblock %}

{% block ad %}{% endblock %}

{% block foot %}

{% load static %}
<script async src="{% static 'js/edit-vehicles.js' %}"></script>

{% endblock %}
