{% load humanize %}
{% load static %}

<script src="{% static 'js/htmx.org/htmx.min.js' %}"></script>

<ul class="revisions-list" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% for revision in revisions %}
        <li id="revision-{{ revision.id }}">
            <p>
                {% if not vehicle %}
                    <a href="{{ revision.vehicle.get_absolute_url }}">{{ revision.vehicle }}</a> &bull;
                {% endif %}
                {{ revision.created_at|naturaltime }}
                {% if not by_user %}
                    {% if revision.user %}
                        &bull; <a href="{{ revision.user.get_absolute_url }}">{{ revision.user }}</a>
                    {% endif %}
                {% endif %}
                {% if user.is_superuser %}
                    &bull; <a href="{% url 'admin:vehicles_vehiclerevision_change' revision.pk %}">✎</a>
                {% endif %}
            <p>
                {% include "vehicle_revision.html" %}

            {% if revision.disapproved %}
                <p><strong>Disapproved</strong> by user {{ revision.approved_by_id }}
            {% elif revision.approved_by_id %}
                <p><strong>Approved</strong> by user {{ revision.approved_by_id }}
            {% endif %}

            <p class="actions" hx-target="#revision-{{ revision.id }} .score">
                <span class="score">{{ revision.score }}</span>
                    {% if revision.pending %}
                        {% if revision.user_id == user.id %}
                            <button class="button" hx-post="/vehicles/revisions/{{ revision.id }}/disapprove" hx-target="#revision-{{ revision.id }}">☠️ Undo</button>
                        {% elif user.trusted %}
                            <button class="button" hx-post="/vehicles/revisions/{{ revision.id }}/approve">👍 Approve</button>
                            <button class="button" hx-post="/vehicles/revisions/{{ revision.id }}/disapprove">☠️ Disapprove</button>
                        {% elif user.trusted is not False %}
                            <button class="button" hx-post="/vehicles/revisions/{{ revision.id }}/vote/up">👍 Yes</button>
                            <button class="button" hx-post="/vehicles/revisions/{{ revision.id }}/vote/down">☠️ No</button>
                        {% endif %}
                    {% elif user.trusted is not False %}
                        {% if revision.user_id != user.id %}
                            <button class="button" hx-post="/vehicles/revisions/{{ revision.id }}/vote/up">👍 Thanks</button>
                        {% endif %}
                        {% if user.is_superuser %}
                            <button class="button" hx-post="/vehicles/history/{{ revision.id }}/revert">☠️ Revert</button>
                        {% endif %}
                {% endif %}
        </li>
    {% endfor %}
</ul>
