{% load humanize %}

<div class="table-wrapper">
<table class="compact">
    <thead>
        {% if not by_user %}<th scope="col">User</th>{% endif %}
        <th scope="col">Date</th>
        {% if not vehicle %}<th scope="col">Vehicle</th>{% endif %}
        <th scope="col">Changed</th>
    </thead>
    <tbody>
        {% for revision in revisions %}
        <tr>
            {% if not by_user %}<td class="link">{% if revision.user %}<a href="{{ revision.user.get_absolute_url }}">{{ revision.user }}</a>{% endif %}</td>{% endif %}
            <td>{{ revision.datetime|naturaltime }}</td>
            {% if not vehicle %}
                <td class="link"><a href="{{ revision.vehicle.get_absolute_url }}">{{ revision.vehicle }}</a></td>
            {% endif %}
            <td>
                {% for key, from, to in revision.list_changes %}
                    {{ key }}
                    {% if from %}
                        from {{ from }}
                    {% endif %}
                    {% if to %}
                        to
                        {{ to }}
                    {% endif %}
                    <br>
                {% endfor %}
                {% for feature in revision.vehiclerevisionfeature_set.all %}
                    {{ feature }}
                {% endfor %}
                {% if revision.message %}
                    <div class="wrap">{{ revision.message|urlize }}</div>
                {% endif %}
            </td>
            {% if request.user.is_superuser %}
                <td>
                    <button class="action" data-url="{{ revision.id }}/revert">revert</button>
                </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<script>
(function () {
    'use strict';

    for (const button of document.querySelectorAll('button.action')) {
        let row = button.parentElement.parentElement;
        button.onclick = function(event) {
            let url = '/vehicles/history/' + this.dataset.url;
            fetch(url, {
                method: 'POST',
                redirect: 'error',
            }).then(function(response) {
                if (response.ok) {
                    response.text().then(text => {
                        if (text) {
                            window.alert(text);
                        }
                    });
                }
            });
            return false;
        };
    }
})();
</script>
