{% extends 'page.html' %}

{% block title %}{% if vehicle %}History – {{ vehicle }}{% else %}Recent changes {% endif %} – bustimes.org{% endblock %}

{% block canonical %}<meta name="robots" content="noindex,noarchive">{% endblock %}

{% block bodyclass %}{% endblock %}
    
{% block content %}

{% if vehicle %}
    <h1>History</h1>

    <p>(You can also <a href="/vehicles/history">list recent changes to all vehicles</a>)</p>
{% else %}
    <ul class="tabs">
        <li>Recent changes</li>
        <li><a href="/vehicles/edits">Pending vehicle edits</a></li>
    </ul>

    <h1>Recent changes</h1>

    <form>
        {{ filter.form.as_p }}

        <p><input type="submit" value="Search"></p>
    </form>
{% endif %}

{% include 'vehicle_revisions.html' with revisions=revisions %}

{% if not vehicle %}
    {% include 'pagination.html' with page=revisions %}
{% endif %}

{% endblock %}

{% block ad %}{% endblock %}

