{% extends 'page.html' %}

{% block title %}{% if vehicle %}History – {{ vehicle }}{% else %}Recent changes {% endif %} – bustimes.org{% endblock %}

{% block canonical %}<meta name="robots" content="noindex">{% endblock %}

{% block content %}

{% if vehicle %}
    <h1>History</h1>

    <p>(You can also <a href="/vehicles/history">list recent changes to all vehicles</a>)</p>
{% else %}
    <h1>Recent changes</h1>

    <p>This is a list of recent changes that people have made to certain vehicle details.</p>
    <p>They haven’t been verified or moderated. 😮</p>
{% endif %}

<table>
    <thead>
        <th scope="col">Date</th>
        {% if not vehicle %}<th scope="col">Vehicle</th>{% endif %}
        <th scope="col">Changed</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
    </thead>
    <tbody>
        {% for revision in revisions %}
            {% for key, from, to in revision.list_changes %}
                <tr>
                    <td>{{ revision.datetime }}</td>
                    {% if not vehicle %}
                        <td><a href="{{ revision.vehicle.get_absolute_url }}">{{ revision.vehicle }}</a></td>
                    {% endif %}
                    <td>{{ key }}</td>
                    <td>{{ from }}</td>
                    <td>{{ to }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>

{% if not vehicle %}
    {% include 'pagination.html' with page=revisions %}
{% endif %}

{% endblock %}

{% block ad %}{% endblock %}
    