{% extends 'page.html' %}

{% block title %}User {{ object.id }} – bustimes.org{% endblock %}

{% block fuse %}{% endblock %}

{% block content %}

    <h1>Hello, user {{ object.id }}</h1>

    <h2>Name</h2>

    <form>
        <p>Display your name on the website?</p>

        <p><label><input type="radio" name="name" value="anon"> No thank you, just call me “user {{ object.id }}” please</label></p>

        <p><label><input type="radio" name="name"> Yes please, I am called <input type="text"> and I don’t care who knows it</label></p>

        <input type="submit" value="Save changes">
    </form>

{% endblock %}
