{% extends 'page.html' %}

{% block title %}Create an account – bustimes.org{% endblock %}

{% block canonical %}<meta name="robots" content="noindex,noarchive">{% endblock %}

{% block bodyclass %}narrow{% endblock %}

{% block content %}

{% if form.user %}
    <p>Check your email ({{ form.user.email }})</p>
{% else %}
    <h1>Create an account</h1>

    {% load email_obfuscator %}

    <p>An invite code is required.</p>

    <p>If you’re a bus operator or transport authority,
    updating the information about your vehicles on this website may not be a high priority,
    but you’re welcome to request an invite code by emailing
    {{ 'hallo@bustimes.org?subject=Invitation request'|obfuscate_mailto:'hallo@bustimes.org' }}
    from an official-looking email address.</p>

    <p>If not, you can still enjoy all the main features of bustimes.org without an account.
    You can also suggest edits (in line with <a href="/rules">the rules</a>) <a href="/contact">by email</a> or <a href="https://discord.com/invite/gY4PdDFau7">on Discord</a>.</p>

    <form method="post" action="{% url 'register' %}">

        {{ form.as_p }}

        <input type="submit" value="Continue">

        <input type="hidden" name="next" value="{{ next }}">

        {% csrf_token %}

    </form>
{% endif %}

{% endblock content %}
