{% extends 'page.html' %}

{% block title %}Create an account – bustimes.org{% endblock %}

{% block canonical %}<meta name="robots" content="noindex,noarchive">{% endblock %}

{% block bodyclass %}narrow{% endblock %}

{% block content %}

{% if form.user %}
    <p>Check your email ({{ form.user.email }})</p>
{% else %}
    <h1>Create an account</h1>

    <form method="post" action="{% url 'register' %}">

        {{ form.as_p }}

        <input type="submit" value="Continue">

        <input type="hidden" name="next" value="{{ next }}">

        {% csrf_token %}

    </form>
{% endif %}

{% endblock content %}
