{% extends 'page.html' %}

{% block title %}User {{ object.id }} – bustimes.org{% endblock %}

{% block canonical %}<meta name="robots" content="noindex,noarchive">{% endblock %}

{% block fuse %}{% endblock %}

{% block content %}

    <h1>{% if object.trusted is False %}<del>{% endif %}User {{ object.id }}{% if object.trusted is False %}</del>{% endif %}</h1>

    {% if perms.accounts_change_user %}
        {{ object.username }}
    {% endif %}

    {% if object == user %}
        <p>That's you!</p>
    {% endif %}

    {% if form %}
        <form method="POST">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Save changes">
        </form>
    {% endif %}

    {% for ou in object.operatoruser_set.all %}
        <p>{{ ou.operator }} expert</p>
    {% endfor %}

    {% if object.trusted is not False %}
        <p>{% if object.trusted %}They appear to be trustworthy, so they have the power to edit some bits of information without moderation.
        If you disagree{% else %}If you notice any vandalism etc{% endif %}, please <a href="/contact?message=User+{{ object.id }}">let us know</a>.</p>
    {% endif %}

    <ul class="tabs">
        <li>Recent changes</li>
        <li><a href="/vehicles/edits?user={{ object.id }}">Pending edits</a></li>
    </ul>

    {% include 'pagination.html' with page=revisions %}

    {% include 'vehicle_revisions.html' with revisions=revisions by_user=object %}

    {% include 'pagination.html' with page=revisions %}

{% endblock %}
