{% extends 'page.html' %}

{% block title %}User {{ object.id }} – bustimes.org{% endblock %}

{% block canonical %}<meta name="robots" content="noindex,noarchive">{% endblock %}

{% block fuse %}{% endblock %}

{% block bodyclass %}narrow{% endblock %}

{% block content %}

    <h1>
        {% if object.trusted is False %}<del>{% endif %}
        User {{ object.id }}
        {% if object.trusted is False %}</del>{% endif %}
    </h1>

    {% if request.user.is_superuser %}
        <p><a href="{% url 'admin:accounts_user_change' object.id %}">✎</a></p>
    {% endif %}

    {% if object == user %}
        <p>That's you!</p>
    {% endif %}

    {% if object.score %}
        <dl>
            <dt>Score</dt>
            <dd>{{ object.score }}</dd>
        </dl>
    {% endif %}

    {% if form %}
        <form method="POST" autocomplete="off">
            <p>
                Email address<br>
                {{ object.email }}
            </p>

            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Save changes">
        </form>

        <h2>Delete your account?</h2>

        <form method="POST" autocomplete="off">
            {% csrf_token %}
            {{ delete_form.as_p }}
            <input type="submit" value="☠️ Delete my account!">
        </form>
    {% endif %}

    {% for ou in object.operatoruser_set.all %}
        <p>{{ ou.operator }}</p>
    {% endfor %}

    <h2>Activity</h2>

    {% include 'pagination.html' with page=revisions %}

    {% include 'vehicle_revisions.html' with revisions=revisions by_user=object %}

    {% include 'pagination.html' with page=revisions %}

{% endblock %}
