{% extends 'page.html' %}

{% block title %}{{ title }} – {{ operator }} – bustimes.org{% endblock %}

{% block content %}

<h2>{{ title }}</h2>

<p>{{ description }}</p>

{% for category in categories %}

    <a href="https://mytrip.today/app/view-product/{{ category.id }}" class="ticket">
        <h3>{{ category.title }}</h3>

        <p class="price">£{{ category.price }}</p>

        <p>{{ category.description }}</p>
    </a>

{% endfor %}

{{ json_ld }}

{% endblock %}

{% block ad %}{% endblock %}
