{% extends 'page.html' %}

{% block title %}{{ object }} – {{ object.name }} – bustimes.org{% endblock %}

{% block head %}
<link rel="alternate" type="application/rss+xml" href="{{ object.get_absolute_url }}/rss" title="RSS feed for {{ object }} – {{ object.name }}">
{% endblock head %}

{% block content %}

<h1>{{ object }}</h1>

{% if operators %}
    <p>({% for operator in operators %}<a href="{{ operator.get_absolute_url }}">{{ operator }}</a>{% if not forloop.last %}, {% endif %}{% endfor %})</p>
{% endif %}

<table>
    <tbody>
        <tr>
            <th>Name</th>
            <td>{{ object.name }}</td>
        </tr>
        {% if object.trading_name %}
            <tr>
                <th>Trading name</th>
                <td>{{ object.trading_name|linebreaksbr }}</td>
            </tr>
        {% endif %}
        <tr>
            <th>Licence type</th>
            <td>{{ object.description }}</td>
        </tr>
        <tr>
            <th>Traffic area</th>
            <td>{{ object.get_traffic_area_display }}</td>
        </tr>
        <tr>
            <th>Discs</th>
            <td>{{ object.discs }}</td>
        </tr>
        <tr>
            <th>Authorised discs</th>
            <td>{{ object.authorised_discs }}</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>{{ object.address }}</td>
        </tr>
        {% if object.granted_date %}
            <tr>
                <th>Granted date</th>
                <td>{{ object.granted_date }}</td>
            </tr>
        {% endif %}
        {% if object.expiry_date %}
            <tr>
                <th>Expiry date</th>
                <td>{{ object.expiry_date }}</td>
            </tr>
        {% endif %}
    </tbody>
</table>

<p class="credit">Powered by <a href="https://www.data.gov.uk/dataset/9ea90ed8-de54-4274-92c6-272edd518bfb/traffic-commissioners-local-bus-service-registration">Traffic Commissioners’ local bus service registration data</a></p>

<p><a href="{{ object.get_absolute_url }}/rss">RSS feed</a></p>

{% if registrations %}
    <h2>Current and future bus service registrations</h2>

    <table>
        <thead>
            <tr>
                <th colspan="2"></th>
                <th scope="col">From</th>
                <th scope="col">To</th>
                <th scope="col">Via</th>
                <th scope="col">Last changed</th>
            </tr>
        </thead>
        <tbody>
            {% for registration in registrations %}
                <tr>
                    <td><a href="{{ registration.get_absolute_url }}">{{ registration.registration_number }}</a></td>
                    <td>{{ registration.service_number }}</td>
                    <td>{{ registration.start_point }}</td>
                    <td>{{ registration.finish_point }}</td>
                    <td>{{ registration.via }}</td>
                    <td>{{ registration.effective_date|date:"j M y" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if cancelled %}
    <h2>Cancelled bus service registrations</h2>

    <table>
        <thead>
            <tr>
                <th colspan="2"></th>
                <th scope="col">From</th>
                <th scope="col">To</th>
                <th scope="col">Via</th>
                <th scope="col">Cancelled</th>
            </tr>
        </thead>
        <tbody>
            {% for registration in cancelled %}
                <tr>
                    <td><a href="{{ registration.get_absolute_url }}">{{ registration.registration_number }}</a></td>
                    <td>{{ registration.service_number }}</td>
                    <td>{{ registration.start_point }}</td>
                    <td>{{ registration.finish_point }}</td>
                    <td>{{ registration.via }}</td>
                    <td>{{ registration.effective_date|date:"j M y" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% endblock content %}
