{% extends 'page.html' %}

{% block title %}{{ object.registration_number }} – bustimes.org{% endblock %}

{% block content %}

<h1>{{ object.registration_number }}</h1>

<table>
    <tbody>
        <tr>
            <th scope="row"></th>
            <td>{{ object.service_number }}</td>
        </tr>
        <tr>
            <th scope="row">From</th>
            <td>{{ object.start_point }}</td>
        </tr>
        <tr>
            <th scope="row">To</th>
            <td>{{ object.finish_point }}</td>
        </tr>
        <tr>
            <th scope="row">Via</th>
            <td>{{ object.via }}</td>
        </tr>
        <tr>
            <th scope="row">Supported by subsidy?</th>
            <td>{{ object.subsidies_description }}<br>{{ object.subsidies_details }} </td>
        </tr>
        <tr>
            <th scope="row">Status</th>
            <td>{{ object.registration_status }}</td>
        </tr>
    </tbody>
</table>

<p class="credit">Powered by <a href="https://data.gov.uk/dataset/9ea90ed8-de54-4274-92c6-272edd518bfb/traffic-commissioners-local-bus-service-registration">Traffic Commissioners’ local bus service registration data</a></p>

<h2>History</h2>

<table>
    <thead>
        <th scope="col">#</th>
        <th scope="col">Received</th>
        <th scope="col">Effective date</th>
        <th scope="col">Status</th>
        <th scope="col">Details</th>
        <th scope="col">Publication text</th>
    </thead>
    <tbody>
        {% for variation in variations %}
            <tr>
                <td>{{ variation.variation_number }}</td>
                <td>{% firstof variation.date_received|date:"j M y" '' %}</td>
                <td>{% firstof variation.effective_date|date:"j M y" '' %}</td>
                <td>{{ variation.registration_status }}</td>
                <td>{{ variation.service_type_other_details|linebreaksbr }}</td>
                <td>{{ variation.publication_text|linebreaksbr }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
