.bus {
  background: #fff;
  border: 1px solid #fff;
  height: 16px;
  line-height: 16px;
  overflow: hidden;
  fill: #000;
  paint-order: stroke;
}

.bus text {
  stroke-linejoin: round;
  stroke-width: 2.5px;
  text-anchor: middle;
}

.white-text {
  color: #fff;
  fill: #fff;
}

.leaflet-div-icon {
  background: none;
  border: 0;
  font-size: 12px;
  text-align: center;
}

.leaflet-div-icon .arrow {
  border: 4px solid transparent;
  border-right: 5px solid #000;
  border-left: 0;
  left: -6px;
  position: absolute;
  top: 5px;
  transform-origin: 19px 4px;
}

.stop-arrow {
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid #fff;
  border-radius: 0 8px 8px;
  height: 9px;
  width: 9px;
}

.no-direction {
  border-radius: 8px;
}

.stop-arrow {
  position: absolute;
  top: 0;
  z-index: -1; /* reveal label */
  width: 14px;
  height: 14px;
}

.stop {
  color: #fff;
  font-size: 9px;
  line-height: 16px;
  text-align: center;
}

/*
        &.stop-0 {
            .stop-arrow {
                height: 10px;
                left: 2px;
                top: 2px;
                width: 10px;
            }
        }

        &.stop-1 {  // one character - bigger text
            font-size: 11px;
        }
    }


        &:hover .bus,
        .selected {
            box-shadow: rgba(0, 0, 0, .5) 0 0 5px;
        }

        .white-text {
            color: $white;
            fill: $white;
        }

        // bus arrow
    }

    .stop-arrow,
    .rail {
        background: rgba(0, 0, 0, .6);
        border: 1px solid $white;
        border-radius: 0 8px 8px;
        height: 9px;
        width: 9px;
    }
*/

.zoomed-out .bus {
  height: 12px;
  width: 18px;
  margin: 2px 3px;
  font-size: 10px;
}

.zoomed-out .leaflet-marker-icon.leaflet-div-icon .arrow {
  left: -3px;
  transform-origin: 16px 4px;
}
