name: Build base Docker image

on:
    workflow_dispatch:

jobs:
  build-and-push-docker-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v6

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -f .github/Dockerfile -t ghcr.io/jclgoodwin/bustimes.org/bustimes-base:3.14 .

      - name: Push Docker image
        run: |
          docker push ghcr.io/jclgoodwin/bustimes.org/bustimes-base:3.14
