name: Run tests

on:
  push:
  pull_request:

jobs:
  test-frontend:
    runs-on: ubuntu-24.04
    timeout-minutes: 5

    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'npm'

    - run: npm ci
    - run: npm run lint
    - run: npm test
    - run: npm run build

    - uses: actions/upload-artifact@v4.4.3
      with:
        name: dist
        path: busstops/static
        if-no-files-found: error

  test-backend:
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    needs: test-frontend
    container:
      image: ghcr.io/jclgoodwin/bustimes.org/bustimes-base:test

    permissions:
      # Gives the action the necessary permissions for publishing new
      # comments in pull requests.
      pull-requests: write
      # Gives the action the necessary permissions for pushing data to the
      # python-coverage-comment-action branch, and for editing existing
      # comments (to avoid publishing multiple comments in the same PR)
      contents: write

    services:
      postgres:
        image: postgis/postgis:18-3.6

        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_INITDB_ARGS: "--no-sync"
        options: >-
          --mount type=tmpfs,destination=/var/lib/postgresql
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
    - uses: actions/checkout@v4

    - uses: astral-sh/setup-uv@v5

    - run: uv sync --group test --frozen

    - run: rm -r busstops/static

    - uses: actions/download-artifact@v4
      with:
        name: dist
        path: busstops/static

    - name: run tests
      env:
        DATABASE_URL: postgis://postgres:postgres@postgres/postgres
        SECRET_KEY: secret
      run: |
        uv run ./manage.py collectstatic --noinput && \
        uv run coverage run --concurrency=multiprocessing ./manage.py test --parallel 2 --keepdb

    - name: generate coverage report
      run: uv run coverage combine && uv run coverage html

    - name: Coverage comment
      uses: py-cov-action/python-coverage-comment-action@v3
      with:
        GITHUB_TOKEN: ${{ github.token }}
