<ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a itemprop="item" href="/">
            <span itemprop="name">Home</span>
        </a><meta itemprop="position" content="0"></li>{% for item in breadcrumb %}{% if item %}<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemprop="item" href="{{ item.get_absolute_url() }}">
    <span itemprop="name">{{ item }}</span>
</a><meta itemprop="position" content="{{ loop.index }}"></li>{% endif %}{% endfor %}
</ol>
