<!doctype html>
<html lang="en-GB">
<head>
<meta charset="utf-8">
<title>{% block title %}{% if object %}{{ object.get_long_name or object.get_qualified_name or object }} – {% endif %}Bus Times{% endblock %}</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="theme-color" content="#ffff9e" media="(prefers-color-scheme: light)">
<meta name="theme-color" content="#222" media="(prefers-color-scheme: dark)">
<meta name="color-scheme" content="dark light">
{% block canonical %}
    {% if object.get_absolute_url %}
        <link rel="canonical" href="https://bustimes.org{{ object.get_absolute_url() }}">
    {% endif %}
{% endblock canonical %}
<script type="application/ld+json">{"@context":"http://schema.org","@type":"WebSite","url":"https://bustimes.org","name":"bustimes.org","potentialAction":{"@type":"SearchAction","target":"https://bustimes.org/search?q={q}","query-input":"required name=q"}}</script>
<link rel="icon" sizes="48x48" type="image/png" href="/favicon.ico">
<link rel="icon" sizes="any" type="image/svg+xml" href="{{ static('svg/bimi.svg') }}">
<link rel="manifest" href="{{ static('manifest.webmanifest') }}">
<link rel="stylesheet" href="{{ static('dist/css/style.css') }}">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@bustimes_org">

{% block head %}{% endblock %}

{% block fuse %}
{% if ad %}
<script src="{{ static('consent.js') }}"></script>
<script>if(typeof Array.prototype.includes!=="undefined"){s=document.getElementsByTagName('script')[0];var sc=document.createElement('script');sc.async=true;sc.src='https://cdn.adfirst.media/hb/bustimes.js?v'+Math.floor(new Date().getTime()/600000);s.parentNode.insertBefore(sc,s);}</script>
{% endif %}
{% endblock fuse %}

<script async data-domain="bustimes.org" src="https://plausible.bustimes.org.uk/js/script.js"></script>

</head>
<body class="{% block bodyclass %}wide{% endblock %}{% if ad is false %} no-ads{% endif %}">
<script>
(function () {
    var a = localStorage && localStorage["map-style"];
    var m = window.matchMedia && window.matchMedia("(prefers-color-scheme: dark)").matches;
    if ((!a || a === "alidade_satellite") && m || a && a.indexOf("_dark") !== -1) {
        document.body.classList.add("dark-mode")
    }
})();
</script>
<a href="#content" class="skip">Skip to main content</a>
{% block header %}
<header class="site-header">
    <div>
        <a href="/" class="site-name{% if object.mode == 'ferry' %} ferry{% endif %}">{% if object.mode == 'ferry' %}Ferry Times{% else %}bustimes.org{% endif %}</a>
        <ul>
            <li><a href="/map{% if object.latlong %}#16/{{ object.latlong.y }}/{{ object.latlong.x }}{% endif %}">Map</a></li>
        </ul>
        <form method="GET" action="/search" class="search">
            <label>
                Search
                <input name="q" placeholder="Search" type="search" value="" required>
            </label>
            <input type="submit" value="Search">
        </form>
    </div>
</header>
{% endblock header %}
<main>
    {% block breadcrumb %}{% include 'breadcrumb.html' %}{% endblock %}
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</main>

{% block footer %}
<footer>
    {% if request.user.is_authenticated %}
        <form action="{{ url('logout') }}" method="POST">
            <ul class="user">
                <li><a href="{{ url('user_detail', args=[request.user.id]) }}">user {{ request.user.id }}</a></li>
                <li><a href="/rules">Rules & FAQ</a></li>
                <li><a href="https://discord.com/invite/gY4PdDFau7">Discord</a></li>
            </ul>
        </form>
    {% endif %}
    <ul>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/data">Data sources</a></li>
        <li><a href="/privacy">Privacy policy</a></li>
        {% if ad %}<li><a href="javascript:window.__tcfapi('displayConsentUi',2,function(){})">Privacy settings</a></li>{% endif %}
    </ul>
</footer>
{% endblock footer %}

{% block foot %}{% endblock %}

</body>
</html>
