{% if timetable %}
    <form class="timetable-date" autocomplete="off" onchange="this.submit()">
        {% if timetable.calendar_options %}
            <select name="calendar" aria-label="Date">
                {% for id, description in timetable.calendar_options %}
                    <option{% if id == timetable.calendar.id %} selected{% endif %} value="{{ id }}">
                        {{ description }}
                    </option>
                {% endfor %}
            </select>
        {% elif timetable.calendar %}
            <p>{{ timetable.calendar.describe_for_timetable() }}</p>
        {% elif timetable.date_options %}
            <select name="date" aria-label="Date">
                {% for option in timetable.date_options %}
                    <option{% if option == timetable.date %} selected{% endif %} value="{{ option }}">{{ option.strftime("%A %-d %B %Y") }}</option>
                {% endfor %}
            </select>
        {% elif timetable.date %}
            <input type="date" name="date" aria-label="Date" value="{{ timetable.date }}">
        {% endif %}
        {% if timetable.detailed %}
            <label>{{ form.detailed }} {{ form.detailed.label }}</label>
            <label>{{ form.vehicles }} {{ form.vehicles.label }}</label>
        {% endif %}
        {% if form.service %}{{ form.service }}{% endif %}
        <noscript><input type="submit" value="Go"></noscript>
    </form>
    <noscript>{{ timetable.date }}</noscript>

    {% cache timetable.cache_key ~ form.vehicles.value(), 3600 %}

    {% for grouping in timetable.render().groupings %}
        {% if loop.first %}<div class="groupings">{% endif %}

        <div class="grouping">

        {% if loop.first != loop.last %}
            <h2>{{ linebreaksbr(grouping) }}</h2>
        {% endif %}

        <div class="timetable-wrapper-wrapper">
            {% if grouping.has_minor_stops() %}
                <input type="radio" name="show-all-stops-{{ loop.index }}" id="timing-points-{{ loop.index }}" checked
                ><label for="timing-points-{{ loop.index }}">Timing points</label>
                <input type="radio" name="show-all-stops-{{ loop.index }}" id="show-all-stops-{{ loop.index }}"{% if (grouping.rows|length) < 25 %} checked{% endif %}
                ><label for="show-all-stops-{{ loop.index }}">All stops</label>
            {% endif %}
            <div class="timetable-wrapper{% if grouping.width() > 3 %} timetable-wrapper--wide{% endif %}">
                <table class="timetable">
                    {% if grouping.routes or timetable.detailed or timetable.has_multiple_operators %}
                        <thead>
                            {% if grouping.routes %}<tr class="link">
                                <th></th>
                                {% for head in grouping.routes %}
                                    <td{% if head.span > 1 %} colspan="{{ head.span }}"{% endif %}>
                                        {% if object.id != head.content.service_id %}
                                            <a href="{{ head.content.service.get_absolute_url() }}">{{ head.content.line_name }}</a>
                                        {% else %}
                                            {{ head.content.line_name }}
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            </tr>
                            {% endif %}
                            {% if timetable.has_multiple_operators %}
                                <tr>
                                    <th scope="row">Operator</th>
                                    {% for head in grouping.get_operators() %}
                                        <td{% if head.span > 1 %} colspan="{{ head.span }}"{% endif %}>
                                            {{ head.content }}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endif %}
                            {% if timetable.detailed %}
                                {% if timetable.any_trip_has("block") %}
                                    <tr class="link">
                                        <th scope="col">Block</th>
                                        {% for trip in grouping.trips %}
                                            <td><a href="{{ trip.get_absolute_url() }}/block{% if timetable.date %}?date={{ timetable.date }}{% endif %}">{{ trip.block }}</a></td>
                                        {% endfor %}
                                    </tr>
                                {% endif %}
                                {% if timetable.any_trip_has("vehicle_type_id") %}
                                    <tr>
                                        <th scope="col">Vehicle type</th>
                                        {% for head in grouping.get_vehicle_types() %}
                                            {{ head.get_html() }}
                                        {% endfor %}
                                    </tr>
                                {% endif %}
                                {% if timetable.any_trip_has("garage_id") %}
                                    <tr>
                                        <th scope="col">Garage</th>
                                        {% for head in grouping.get_garages() %}
                                            {{ head.get_html() }}
                                        {% endfor %}
                                    </tr>
                                {% endif %}
                                {% if timetable.any_trip_has("ticket_machine_code") %}
                                    <tr class="link">
                                        <th scope="col">Ticket machine code</th>
                                        {% for trip in grouping.trips %}
                                            <td><a href="{{ trip.get_absolute_url() }}">{{ trip.ticket_machine_code }}</a></td>
                                        {% endfor %}
                                    </tr>
                                {% endif %}
                                {% if timetable.any_trip_has("vehicle_journey_code") %}
                                    <tr>
                                        <th scope="col">Vehicle journey code</th>
                                        {% for trip in grouping.trips %}
                                            <td>{{ trip.vehicle_journey_code }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endif %}
                                {% if form.vehicles.value() %}{% for date, vjs in grouping.vehicles_by_date() %}
                                    <tr>
                                        <th scope="col" >{{ date }}</th>
                                        {% for vj in vjs %}
                                            <td class="link">{% if vj %}<a href="{{ vj.get_absolute_url() }}">{{ vj.vehicle }}</a>{% endif %}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}{% endif %}
                            {% endif %}
                        </thead>
                    {% endif %}
                    <tbody>
                        {% for row in grouping.rows %}
                            <tr{% if row.is_minor() %} class="minor{% if row.od %} od{% endif %}"{% endif %}>
                                <th{% if row.has_waittimes %} rowspan="2"{% endif %} class="stop-name" scope="row">
                                    {% if row.stop.pk %}<a href="{{ row.stop.get_absolute_url() }}">{% if row.stop.situation %}⚠️&#xfe0f; {% endif %}{{ row.stop.get_qualified_name() }}</a>{% else %}{{ row.stop }}{% endif %}
                                </th>
                            {% for cell in row.times %}{% if cell.colspan %}<td{% if grouping.routes or grouping.column_feet or timetable.has_multiple_operators %} colspan="{{ cell.colspan }}"{% endif %} rowspan="{{ cell.rowspan }}" class="then-every">{{ cell }}</td>{% else %}<td{% if row.has_waittimes and not cell.wait_time and not cell.first and not cell.last %} rowspan="2"{% endif %}>{% if cell %}{% if not row.has_waittimes or cell.wait_time or not cell.first %}{{ cell }}{% if cell.set_down_only() %}<abbr title="set down only">s</abbr>{% elif cell.pick_up_only() %}<abbr title="pick up only">p</abbr>{% endif %}{% endif %}{% if cell.stoptime.note %}<strong>{{ cell.stoptime.note.code }}</strong>{% endif %}{% endif %}</td>{% endif %}{% endfor %}
                            </tr>
                            {% if row.has_waittimes %}
                                <tr class="{% if row.is_minor() %}minor {% if row.od %}od {% endif %}{% endif %}dep">
                                    {% for cell in row.times %}{% if cell.wait_time or cell.first or cell.last %}<td>{% if cell %}{% if cell.wait_time or not cell.last %}{{ cell.departure_time() }}{% if cell.set_down_only() %}<abbr title="set down only">s</abbr>{% elif cell.pick_up_only() %}<abbr title="pick up only">p</abbr>{% endif %}{% endif %}{% if cell.stoptime.note %}<strong>{{ cell.stoptime.note.code }}</strong>{% endif %}{% endif %}</td>{% endif %}{% endfor %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                {% if grouping.column_feet %}<tfoot>
                    {% for row in grouping.column_feet.values() %}
                        {% if (row|length) > 1 %}
                            <tr><th></th>
                            {% for foot in row %}
                                <td{% if foot.span > 1 %} colspan="{{ foot.span }}"{% endif %}>
                                    {% if foot.note %}{% if foot.note.stoptimes %}<strong>{{ foot.note.code }}</strong> {% endif %}{{ urlise(foot.note.text) }}{% endif %}
                                </td>
                            {% endfor %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tfoot>{% endif %}
                </table>
            </div>
        </div>


        {% for row in grouping.column_feet.values() %}
            {% if (row|length) == 1 %}
                {% for foot in row %}
                    <p>{% if foot.note.stoptimes %}<strong>{{ foot.note.code }}</strong> {% endif %}{{ urlise(foot.note.text) }}</p>
                {% endfor %}
            {% endif %}
        {% endfor %}


        {% if grouping.has_set_down_only() %}
            <p>Times marked <strong>s</strong> – “set down only” – the {{ object.mode }} will only stop to drop passengers off</p>
        {% endif %}

        {% if grouping.has_pick_up_only() %}
            <p>Times marked <strong>p</strong> –  “pick up only” – the {{ object.mode }} will only stop to pick up passengers</p>
        {% endif %}

        </div>

        {% if loop.last %}</div>{% endif %}
    {% else %}
        {% if timetable.date %}
            <p>Sorry, no journeys found</p>
        {% endif %}

        {% if timetable.expired %}
            <p>Try a previous date like <a href="?date={{ timetable.expired }}">{{ timetable.expired.strftime("%A %-d %B %Y") }}</a>?</p>
        {% endif %}

        {% include 'route.html' %}
    {% endfor %}

    {% for credit in timetable.credits() %}{% if loop.first %}
        <p class="credit">Timetable data from {% else %}, {% endif %}{{ credit }}{% if loop.last %}
    </p>{% endif %}{% endfor %}

    {% endcache %}

{% else %}
    {% include 'route.html' %}
{% endif %}
